openapi: 3.1.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Access Tokens Dynamic Emergency Endpoints API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Dynamic Emergency Endpoints
  name: Dynamic Emergency Endpoints
paths:
  /dynamic_emergency_endpoints:
    get:
      description: Returns the dynamic emergency endpoints according to filters
      operationId: ListDynamicEmergencyEndpoints
      parameters:
      - $ref: '#/components/parameters/emergency_PageConsolidated'
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[status], filter[country_code]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            country_code:
              description: Filter by country code.
              type: string
            status:
              description: Filter by status.
              enum:
              - pending
              - activated
              - rejected
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/listDynamicEmergencyEndpoints'
        '400':
          $ref: '#/components/responses/emergency_BadRequestResponse'
        '401':
          $ref: '#/components/responses/emergency_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/emergency_NotFoundResponse'
        '422':
          $ref: '#/components/responses/emergency_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/emergency_GenericErrorResponse'
      summary: List dynamic emergency endpoints
      tags:
      - Dynamic Emergency Endpoints
      x-latency-category: responsive
    post:
      description: Creates a dynamic emergency endpoints.
      operationId: CreateDynamicEmergencyEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicEmergencyEndpoint'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/DynamicEmergencyEndpointResponse'
        '400':
          $ref: '#/components/responses/emergency_BadRequestResponse'
        '401':
          $ref: '#/components/responses/emergency_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/emergency_NotFoundResponse'
        '422':
          $ref: '#/components/responses/emergency_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/emergency_GenericErrorResponse'
      summary: Create a dynamic emergency endpoint.
      tags:
      - Dynamic Emergency Endpoints
      x-latency-category: responsive
  /dynamic_emergency_endpoints/{id}:
    delete:
      description: Deletes the dynamic emergency endpoint based on the ID provided
      operationId: DeleteDynamicEmergencyEndpoint
      parameters:
      - description: Dynamic Emergency Endpoint id
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DynamicEmergencyEndpointResponse'
        '400':
          $ref: '#/components/responses/emergency_BadRequestResponse'
        '401':
          $ref: '#/components/responses/emergency_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/emergency_NotFoundResponse'
        '422':
          $ref: '#/components/responses/emergency_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/emergency_GenericErrorResponse'
      summary: Delete a dynamic emergency endpoint
      tags:
      - Dynamic Emergency Endpoints
      x-latency-category: responsive
    get:
      description: Returns the dynamic emergency endpoint based on the ID provided
      operationId: GetDynamicEmergencyEndpoint
      parameters:
      - description: Dynamic Emergency Endpoint id
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DynamicEmergencyEndpointResponse'
        '400':
          $ref: '#/components/responses/emergency_BadRequestResponse'
        '401':
          $ref: '#/components/responses/emergency_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/emergency_NotFoundResponse'
        '422':
          $ref: '#/components/responses/emergency_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/emergency_GenericErrorResponse'
      summary: Get a dynamic emergency endpoint
      tags:
      - Dynamic Emergency Endpoints
      x-latency-category: responsive
components:
  responses:
    emergency_NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/emergency_Errors'
      description: The requested resource doesn't exist.
    emergency_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/emergency_Errors'
      description: Unexpected error
    emergency_UnauthorizedResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/emergency_Errors'
      description: Unauthorized
    emergency_BadRequestResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/emergency_Errors'
      description: Bad request, the request was unacceptable, often due to missing a required parameter.
    listDynamicEmergencyEndpoints:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/DynamicEmergencyEndpoint'
                type: array
              meta:
                $ref: '#/components/schemas/Metadata'
            type: object
      description: Dynamic Emergency Endpoints Responses
    emergency_UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/emergency_Errors'
      description: Unprocessable entity. Check the 'detail' field in response for details.
    DynamicEmergencyEndpointResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/DynamicEmergencyEndpoint'
            type: object
      description: Dynamic Emergency Endpoint Response
  parameters:
    emergency_PageConsolidated:
      description: 'Consolidated page parameter (deepObject style). Originally: page[size], page[number]'
      explode: true
      in: query
      name: page
      schema:
        properties:
          number:
            default: 1
            description: The page number to load
            minimum: 1
            type: integer
          size:
            default: 20
            description: The size of the page
            maximum: 250
            minimum: 1
            type: integer
        type: object
      style: deepObject
  schemas:
    emergency_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/emergency_Error'
          type: array
      type: object
    Metadata:
      properties:
        page_number:
          description: Current Page based on pagination settings (included when defaults are used.)
          example: 3
          format: integer
          type: number
        page_size:
          description: Number of results to return per page based on pagination settings (included when defaults are used.)
          example: 1
          format: integer
          type: number
        total_pages:
          description: Total number of pages based on pagination settings
          example: 13
          format: integer
          type: number
        total_results:
          description: Total number of results
          example: 13
          format: integer
          type: number
      title: Metadata
      type: object
    DynamicEmergencyEndpoint:
      properties:
        callback_number:
          example: '+13125550000'
          type: string
        caller_name:
          example: Jane Doe Desk Phone
          type: string
        created_at:
          description: ISO 8601 formatted date of when the resource was created
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        dynamic_emergency_address_id:
          description: An id of a currently active dynamic emergency location.
          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
          type: string
        id:
          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
          readOnly: true
          type: string
        record_type:
          description: Identifies the type of the resource.
          example: dynamic_emergency_endpoint
          readOnly: true
          type: string
        sip_from_id:
          example: FXDFWEDF
          readOnly: true
          type: string
        status:
          description: Status of dynamic emergency address
          enum:
          - pending
          - activated
          - rejected
          example: pending
          readOnly: true
          type: string
        updated_at:
          description: ISO 8601 formatted date of when the resource was last updated
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
      required:
      - dynamic_emergency_address_id
      - callback_number
      - caller_name
      type: object
    emergency_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
