openapi: 3.2.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Mobile Network Operators API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Mobile network operators operations
  name: Mobile Network Operators
paths:
  /mobile_network_operators:
    get:
      description: Telnyx has a set of GSM mobile operators partners that are available through our mobile network roaming. This resource is entirely managed by Telnyx and may change over time. That means that this resource won't allow any write operations for it. Still, it's available so it can be used as a support resource that can be related to other resources or become a configuration option.
      operationId: GetMobileNetworkOperators
      parameters:
      - $ref: '#/components/parameters/FilterMobileNetworkOperatorsConsolidated'
      - $ref: '#/components/parameters/wireless_PageConsolidated'
      responses:
        '200':
          $ref: '#/components/responses/SearchMobileNetworkOperatorsResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: List mobile network operators
      tags:
      - Mobile Network Operators
      x-latency-category: responsive
components:
  schemas:
    MobileNetworkOperator:
      properties:
        country_code:
          description: The mobile operator two-character (ISO 3166-1 alpha-2) origin country code.
          example: US
          type: string
        id:
          description: Identifies the resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          readOnly: true
          type: string
        mcc:
          description: 'MCC stands for Mobile Country Code. It''s a three decimal digit that identifies a country.<br/><br/>

            This code is commonly seen joined with a Mobile Network Code (MNC) in a tuple that allows identifying a carrier known as PLMN (Public Land Mobile Network) code.'
          example: '310'
          type: string
        mnc:
          description: "MNC stands for Mobile Network Code. It's a two to three decimal digits that identify a network.<br/><br/>\n This code is commonly seen joined with a Mobile Country Code (MCC) in a tuple that allows identifying a carrier known as PLMN (Public Land Mobile Network) code."
          example: '410'
          type: string
        name:
          description: The network operator name.
          example: AT&T Mobility (USACG)
          type: string
        network_preferences_enabled:
          description: Indicate whether the mobile network operator can be set as preferred in the Network Preferences API.
          example: true
          readOnly: true
          type: boolean
        record_type:
          description: Identifies the type of the resource.
          example: mobile_network_operator
          readOnly: true
          type: string
        tadig:
          description: TADIG stands for Transferred Account Data Interchange Group. The TADIG code is a unique identifier for network operators in GSM mobile networks.
          example: USACG
          type: string
      title: MobileNetworkOperator
      type: object
    wireless_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    PaginationMeta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      type: object
    wireless_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/wireless_Error'
          type: array
      type: object
  parameters:
    wireless_PageConsolidated:
      description: 'Consolidated pagination parameter (deepObject style). Originally: page[number], page[size]'
      explode: true
      in: query
      name: page
      schema:
        properties:
          number:
            default: 1
            description: The page number to load.
            minimum: 1
            type: integer
          size:
            default: 20
            description: The size of the page.
            maximum: 250
            minimum: 1
            type: integer
        type: object
    FilterMobileNetworkOperatorsConsolidated:
      description: 'Consolidated filter parameter for mobile network operators (deepObject style). Originally: filter[name][starts_with], filter[name][contains], filter[name][ends_with], filter[country_code], filter[mcc], filter[mnc], filter[tadig], filter[network_preferences_enabled]'
      explode: true
      in: query
      name: filter
      schema:
        properties:
          country_code:
            description: Filter by exact country_code.
            example: US
            type: string
          mcc:
            description: Filter by exact MCC.
            example: '310'
            type: string
          mnc:
            description: Filter by exact MNC.
            example: '410'
            type: string
          name:
            description: Advanced name filtering operations
            properties:
              contains:
                description: Filter by name containing match.
                example: T&T
                type: string
              ends_with:
                description: Filter by name ending with.
                example: T
                type: string
              starts_with:
                description: Filter by name starting with.
                example: AT
                type: string
            type: object
          network_preferences_enabled:
            description: Filter by network_preferences_enabled.
            example: true
            type: boolean
          tadig:
            description: Filter by exact TADIG.
            example: USACG
            type: string
        type: object
  responses:
    wireless_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unexpected error
    SearchMobileNetworkOperatorsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/MobileNetworkOperator'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful Response
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
