openapi: 3.2.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx OTA updates API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: OTA updates operations
  name: OTA updates
paths:
  /ota_updates:
    get:
      operationId: ListOtaUpdates
      parameters:
      - $ref: '#/components/parameters/FilterOTAUpdatesConsolidated'
      - $ref: '#/components/parameters/wireless_PageConsolidated'
      responses:
        '200':
          $ref: '#/components/responses/SearchOTAUpdateResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: List OTA updates
      tags:
      - OTA updates
      x-latency-category: responsive
  /ota_updates/{id}:
    get:
      description: This API returns the details of an Over the Air (OTA) update.
      operationId: GetOtaUpdate
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/OTAUpdateResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get OTA update
      tags:
      - OTA updates
      x-latency-category: responsive
components:
  schemas:
    wireless_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/wireless_Error'
          type: array
      type: object
    CompleteOTAUpdate:
      description: This object represents an Over the Air (OTA) update request. It allows tracking the current status of a operation that apply settings in a particular SIM card. <br/><br/>
      example:
        created_at: '2018-02-02T22:25:27.521Z'
        id: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        record_type: ota_update
        settings:
          mobile_network_operators_preferences:
          - mobile_network_operator_id: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
            mobile_network_operator_name: AT&T Mobility (USACG)
            priority: 0
        sim_card_id: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        status: in-progress
        type: sim_card_network_preferences
        updated_at: '2018-02-02T22:25:27.521Z'
      properties:
        created_at:
          description: ISO 8601 formatted date-time indicating when the resource was created.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        id:
          description: Identifies the resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          readOnly: true
          type: string
        record_type:
          example: ota_update
          readOnly: true
          type: string
        settings:
          description: A JSON object representation of the operation. The information present here will relate directly to the source of the OTA request.
          properties:
            mobile_network_operators_preferences:
              $ref: '#/components/schemas/MobileNetworkOperatorsPreferencesResponse'
          type: object
        sim_card_id:
          description: The identification UUID of the related SIM card resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          type: string
        status:
          enum:
          - in-progress
          - completed
          - failed
          example: in-progress
          type: string
        type:
          description: Represents the type of the operation requested. This will relate directly to the source of the request.
          enum:
          - sim_card_network_preferences
          example: sim_card_network_preferences
          type: string
        updated_at:
          description: ISO 8601 formatted date-time indicating when the resource was updated.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
      title: OTAUpdate
      type: object
    wireless_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    PaginationMeta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      type: object
    MobileNetworkOperatorPreferencesResponse:
      description: ''
      properties:
        mobile_network_operator_id:
          description: The mobile network operator resource identification UUID.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          type: string
        mobile_network_operator_name:
          description: The mobile network operator resource name.
          example: AT&T Mobility (USACG)
          type: string
        priority:
          description: It determines what is the priority of a specific network operator that should be assumed by a SIM card when connecting to a network. The highest priority is 0, the second highest is 1 and so on.
          example: 0
          type: integer
      type: object
    SimplifiedOTAUpdate:
      description: This object represents an Over the Air (OTA) update request. It allows tracking the current status of a operation that apply settings in a particular SIM card. <br/><br/>
      properties:
        created_at:
          description: ISO 8601 formatted date-time indicating when the resource was created.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        id:
          description: Identifies the resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          readOnly: true
          type: string
        record_type:
          example: ota_update
          readOnly: true
          type: string
        sim_card_id:
          description: The identification UUID of the related SIM card resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          type: string
        status:
          enum:
          - in-progress
          - completed
          - failed
          example: in-progress
          type: string
        type:
          description: Represents the type of the operation requested. This will relate directly to the source of the request.
          enum:
          - sim_card_network_preferences
          example: sim_card_network_preferences
          type: string
        updated_at:
          description: ISO 8601 formatted date-time indicating when the resource was updated.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
      title: OTAUpdate
      type: object
    MobileNetworkOperatorsPreferencesResponse:
      description: A list of mobile network operators and the priority that should be applied when the SIM is connecting to the network.
      items:
        $ref: '#/components/schemas/MobileNetworkOperatorPreferencesResponse'
      type: array
  responses:
    OTAUpdateResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/CompleteOTAUpdate'
            type: object
      description: Successful response
    SearchOTAUpdateResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/SimplifiedOTAUpdate'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    wireless_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unexpected error
  parameters:
    wireless_PageConsolidated:
      description: 'Consolidated pagination parameter (deepObject style). Originally: page[number], page[size]'
      explode: true
      in: query
      name: page
      schema:
        properties:
          number:
            default: 1
            description: The page number to load.
            minimum: 1
            type: integer
          size:
            default: 20
            description: The size of the page.
            maximum: 250
            minimum: 1
            type: integer
        type: object
    FilterOTAUpdatesConsolidated:
      description: 'Consolidated filter parameter for OTA updates (deepObject style). Originally: filter[status], filter[sim_card_id], filter[type]'
      explode: true
      in: query
      name: filter
      schema:
        properties:
          sim_card_id:
            description: The SIM card identification UUID.
            type: string
          status:
            description: Filter by a specific status of the resource's lifecycle.
            enum:
            - in-progress
            - completed
            - failed
            example: in-progress
            type: string
          type:
            description: Filter by type.
            enum:
            - sim_card_network_preferences
            example: sim_card_network_preferences
            type: string
        type: object
    ResourceId:
      description: Identifies the resource.
      in: path
      name: id
      required: true
      schema:
        example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        format: uuid
        type: string
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
