openapi: 3.2.0
info:
  title: Telnyx Dynamic Emergency Endpoints API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Dynamic Emergency Endpoints across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Dynamic Emergency Endpoints
  name: Dynamic Emergency Endpoints
paths:
  /dynamic_emergency_endpoints:
    get:
      description: Returns the dynamic emergency endpoints according to filters
      operationId: ListDynamicEmergencyEndpoints
      parameters:
      - $ref: '#/components/parameters/emergency_PageConsolidated'
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[status], filter[country_code]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            country_code:
              description: Filter by country code.
              type: string
            status:
              description: Filter by status.
              enum:
              - pending
              - activated
              - rejected
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/listDynamicEmergencyEndpoints'
        '400':
          $ref: '#/components/responses/emergency_BadRequestResponse'
        '401':
          $ref: '#/components/responses/emergency_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/emergency_NotFoundResponse'
        '422':
          $ref: '#/components/responses/emergency_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/emergency_GenericErrorResponse'
      summary: List dynamic emergency endpoints
      tags:
      - Dynamic Emergency Endpoints
      x-latency-category: responsive
    post:
      description: Creates a dynamic emergency endpoints.
      operationId: CreateDynamicEmergencyEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicEmergencyEndpoint'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/DynamicEmergencyEndpointResponse'
        '400':
          $ref: '#/components/responses/emergency_BadRequestResponse'
        '401':
          $ref: '#/components/responses/emergency_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/emergency_NotFoundResponse'
        '422':
          $ref: '#/components/responses/emergency_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/emergency_GenericErrorResponse'
      summary: Create a dynamic emergency endpoint
      tags:
      - Dynamic Emergency Endpoints
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /dynamic_emergency_endpoints/{id}:
    delete:
      description: Deletes the dynamic emergency endpoint based on the ID provided
      operationId: DeleteDynamicEmergencyEndpoint
      parameters:
      - description: Dynamic Emergency Endpoint id
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DynamicEmergencyEndpointResponse'
        '400':
          $ref: '#/components/responses/emergency_BadRequestResponse'
        '401':
          $ref: '#/components/responses/emergency_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/emergency_NotFoundResponse'
        '422':
          $ref: '#/components/responses/emergency_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/emergency_GenericErrorResponse'
      summary: Delete a dynamic emergency endpoint
      tags:
      - Dynamic Emergency Endpoints
      x-latency-category: responsive
    get:
      description: Returns the dynamic emergency endpoint based on the ID provided
      operationId: GetDynamicEmergencyEndpoint
      parameters:
      - description: Dynamic Emergency Endpoint id
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DynamicEmergencyEndpointResponse'
        '400':
          $ref: '#/components/responses/emergency_BadRequestResponse'
        '401':
          $ref: '#/components/responses/emergency_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/emergency_NotFoundResponse'
        '422':
          $ref: '#/components/responses/emergency_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/emergency_GenericErrorResponse'
      summary: Get a dynamic emergency endpoint
      tags:
      - Dynamic Emergency Endpoints
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
components:
  responses:
    emergency_UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/emergency_Errors'
      description: Unprocessable entity. Check the 'detail' field in response for details.
    emergency_UnauthorizedResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/emergency_Errors'
      description: Unauthorized
    DynamicEmergencyEndpointResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/DynamicEmergencyEndpoint'
            type: object
      description: Dynamic Emergency Endpoint Response
    listDynamicEmergencyEndpoints:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/DynamicEmergencyEndpoint'
                type: array
              meta:
                $ref: '#/components/schemas/Metadata'
            type: object
      description: Dynamic Emergency Endpoints Responses
    emergency_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/emergency_Errors'
      description: Unexpected error
    emergency_BadRequestResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/emergency_Errors'
      description: Bad request, the request was unacceptable, often due to missing a required parameter.
    emergency_NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/emergency_Errors'
      description: The requested resource doesn't exist.
    UnprocessableEntity:
      description: Unprocessable entity. Check the 'detail' field in response for details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10027'
              title: Unprocessable Entity
              detail: The server understood the syntax of the request but was unable to process the instructions.
    emergency_UnauthorizedResponse_2:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10009'
              title: Authentication failed
              detail: The required authentication headers were either invalid or not included in the request.
    emergency_GenericErrorResponse_2:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10007'
              title: Unexpected error
              detail: An unexpected error occured.
    emergency_BadRequestResponse_2:
      description: Bad request, the request was unacceptable, often due to missing a required parameter.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10015'
              title: Bad Request
              detail: The request failed because it was not well-formed.
    emergency_NotFoundResponse_2:
      description: The requested resource doesn't exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10005'
              title: Resource not found
              detail: The requested resource or URL could not be found.
  schemas:
    DynamicEmergencyEndpoint:
      properties:
        callback_number:
          example: '+13125550000'
          type: string
        caller_name:
          example: Jane Doe Desk Phone
          type: string
        created_at:
          description: ISO 8601 formatted date of when the resource was created
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        dynamic_emergency_address_id:
          description: An id of a currently active dynamic emergency location.
          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
          type: string
        id:
          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
          readOnly: true
          type: string
        record_type:
          description: Identifies the type of the resource.
          example: dynamic_emergency_endpoint
          readOnly: true
          type: string
        sip_from_id:
          example: FXDFWEDF
          readOnly: true
          type: string
        status:
          description: Status of dynamic emergency address
          enum:
          - pending
          - activated
          - rejected
          example: pending
          readOnly: true
          type: string
        updated_at:
          description: ISO 8601 formatted date of when the resource was last updated
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
      required:
      - dynamic_emergency_address_id
      - callback_number
      - caller_name
      type: object
    emergency_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/emergency_Error'
          type: array
      type: object
    Metadata:
      properties:
        page_number:
          description: Current Page based on pagination settings (included when defaults are used.)
          example: 3
          format: integer
          type: number
        page_size:
          description: Number of results to return per page based on pagination settings (included when defaults are used.)
          example: 1
          format: integer
          type: number
        total_pages:
          description: Total number of pages based on pagination settings
          example: 13
          format: integer
          type: number
        total_results:
          description: Total number of results
          example: 13
          format: integer
          type: number
      title: Metadata
      type: object
    emergency_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    Errors:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/billing-group_Error'
      type: object
    billing-group_Error:
      type: object
      required:
      - code
      - title
      properties:
        code:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          properties: {}
          additionalProperties: true
  parameters:
    emergency_PageConsolidated:
      description: 'Consolidated page parameter (deepObject style). Originally: page[size], page[number]'
      explode: true
      in: query
      name: page
      schema:
        properties:
          number:
            default: 1
            description: The page number to load
            minimum: 1
            type: integer
          size:
            default: 20
            description: The size of the page
            maximum: 250
            minimum: 1
            type: integer
        type: object
      style: deepObject
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
