openapi: 3.2.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Coverage API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- name: Coverage
paths:
  /network_coverage:
    get:
      description: List all locations and the interfaces that region supports
      operationId: ListNetworkCoverage
      parameters:
      - description: 'Consolidated filters parameter (deepObject style). Originally: filters[available_services][contains]'
        explode: true
        in: query
        name: filters
        schema:
          additionalProperties: false
          properties:
            available_services:
              oneOf:
              - $ref: '#/components/schemas/AvailableService'
                description: Filter by exact available service match
              - additionalProperties: false
                description: Available service filtering operations
                properties:
                  contains:
                    $ref: '#/components/schemas/AvailableService'
                    description: Filter by available services containing the specified service
                type: object
          type: object
        style: deepObject
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[location.region], filter[location.site], filter[location.pop], filter[location.code]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            location.code:
              description: The code of associated location to filter on.
              example: silicon_valley-ca
              type: string
            location.pop:
              description: The POP of associated location to filter on.
              example: SV1
              type: string
            location.region:
              description: The region of associated location to filter on.
              example: AMER
              type: string
            location.site:
              description: The site of associated location to filter on.
              example: SJC
              type: string
          type: object
        style: deepObject
      - $ref: '#/components/parameters/PageConsolidated'
      responses:
        '200':
          $ref: '#/components/responses/NetworkCoverageListResponse'
        '422':
          $ref: '#/components/responses/netapps_GenericErrorResponse'
        default:
          $ref: '#/components/responses/netapps_GenericErrorResponse'
      summary: List network coverage locations
      tags:
      - Coverage
      x-latency-category: responsive
components:
  responses:
    netapps_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/netapps_Errors'
      description: Unexpected error
    NetworkCoverageListResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/NetworkCoverage'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
  schemas:
    netapps_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    netapps_Location:
      properties:
        code:
          description: Location code.
          example: chicago-il
          type: string
        name:
          description: Human readable name of location.
          example: Chicago IL, US
          type: string
        pop:
          description: Point of presence of location.
          example: CH1
          type: string
        region:
          description: Identifies the geographical region of location.
          example: AMER
          type: string
        site:
          description: Site of location.
          example: ORD
          type: string
      title: Location
      type: object
    NetworkCoverage:
      properties:
        available_services:
          description: List of interface types supported in this region.
          items:
            oneOf:
            - $ref: '#/components/schemas/AvailableService'
          type: array
        location:
          $ref: '#/components/schemas/netapps_Location'
        record_type:
          description: Identifies the type of the resource.
          example: network_coverage
          readOnly: true
          type: string
      title: NetworkCoverage
      type: object
    PaginationMeta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      type: object
    AvailableService:
      enum:
      - cloud_vpn
      - private_wireless_gateway
      - virtual_cross_connect
      title: Available service
      type: string
    netapps_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/netapps_Error'
          type: array
      type: object
  parameters:
    PageConsolidated:
      description: 'Consolidated page parameter (deepObject style). Originally: page[number], page[size]'
      explode: true
      in: query
      name: page
      schema:
        properties:
          number:
            default: 1
            description: The page number to load
            minimum: 1
            type: integer
          size:
            default: 20
            description: The size of the page
            maximum: 250
            minimum: 1
            type: integer
        type: object
      style: deepObject
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
