openapi: 3.2.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Dynamic Emergency Addresses API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Dynamic emergency address operations
  name: Dynamic Emergency Addresses
paths:
  /dynamic_emergency_addresses:
    get:
      description: Returns the dynamic emergency addresses according to filters
      operationId: ListDynamicEmergencyAddresses
      parameters:
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[status], filter[country_code]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            country_code:
              description: Filter by country code.
              type: string
            status:
              description: Filter by status.
              enum:
              - pending
              - activated
              - rejected
              type: string
          type: object
        style: deepObject
      - $ref: '#/components/parameters/emergency_PageConsolidated'
      responses:
        '200':
          $ref: '#/components/responses/listDynamicEmergencyAddresses'
        '400':
          $ref: '#/components/responses/emergency_BadRequestResponse'
        '401':
          $ref: '#/components/responses/emergency_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/emergency_NotFoundResponse'
        '422':
          $ref: '#/components/responses/emergency_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/emergency_GenericErrorResponse'
      summary: List dynamic emergency addresses
      tags:
      - Dynamic Emergency Addresses
      x-latency-category: responsive
    post:
      description: Creates a dynamic emergency address.
      operationId: CreateDynamicEmergencyAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicEmergencyAddress'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/DynamicEmergencyAddressResponse'
        '400':
          $ref: '#/components/responses/emergency_BadRequestResponse'
        '401':
          $ref: '#/components/responses/emergency_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/emergency_NotFoundResponse'
        '422':
          $ref: '#/components/responses/emergency_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/emergency_GenericErrorResponse'
      summary: Create a dynamic emergency address.
      tags:
      - Dynamic Emergency Addresses
      x-latency-category: responsive
  /dynamic_emergency_addresses/{id}:
    delete:
      description: Deletes the dynamic emergency address based on the ID provided
      operationId: DeleteDynamicEmergencyAddress
      parameters:
      - description: Dynamic Emergency Address id
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DynamicEmergencyAddressResponse'
        '400':
          $ref: '#/components/responses/emergency_BadRequestResponse'
        '401':
          $ref: '#/components/responses/emergency_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/emergency_NotFoundResponse'
        '422':
          $ref: '#/components/responses/emergency_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/emergency_GenericErrorResponse'
      summary: Delete a dynamic emergency address
      tags:
      - Dynamic Emergency Addresses
      x-latency-category: responsive
    get:
      description: Returns the dynamic emergency address based on the ID provided
      operationId: GetDynamicEmergencyAddress
      parameters:
      - description: Dynamic Emergency Address id
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DynamicEmergencyAddressResponse'
        '400':
          $ref: '#/components/responses/emergency_BadRequestResponse'
        '401':
          $ref: '#/components/responses/emergency_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/emergency_NotFoundResponse'
        '422':
          $ref: '#/components/responses/emergency_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/emergency_GenericErrorResponse'
      summary: Get a dynamic emergency address
      tags:
      - Dynamic Emergency Addresses
      x-latency-category: responsive
components:
  parameters:
    emergency_PageConsolidated:
      description: 'Consolidated page parameter (deepObject style). Originally: page[size], page[number]'
      explode: true
      in: query
      name: page
      schema:
        properties:
          number:
            default: 1
            description: The page number to load
            minimum: 1
            type: integer
          size:
            default: 20
            description: The size of the page
            maximum: 250
            minimum: 1
            type: integer
        type: object
      style: deepObject
  schemas:
    Metadata:
      properties:
        page_number:
          description: Current Page based on pagination settings (included when defaults are used.)
          example: 3
          format: integer
          type: number
        page_size:
          description: Number of results to return per page based on pagination settings (included when defaults are used.)
          example: 1
          format: integer
          type: number
        total_pages:
          description: Total number of pages based on pagination settings
          example: 13
          format: integer
          type: number
        total_results:
          description: Total number of results
          example: 13
          format: integer
          type: number
      title: Metadata
      type: object
    emergency_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    DynamicEmergencyAddress:
      properties:
        administrative_area:
          example: TX
          type: string
        country_code:
          enum:
          - US
          - CA
          - PR
          example: US
          type: string
        created_at:
          description: ISO 8601 formatted date of when the resource was created
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        extended_address:
          type: string
        house_number:
          example: '600'
          type: string
        house_suffix:
          type: string
        id:
          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f1
          readOnly: true
          type: string
        locality:
          example: Austin
          type: string
        postal_code:
          example: '78701'
          type: string
        record_type:
          description: Identifies the type of the resource.
          example: dynamic_emergency_address
          readOnly: true
          type: string
        sip_geolocation_id:
          description: Unique location reference string to be used in SIP INVITE from / p-asserted headers.
          example: XYZ123
          readOnly: true
          type: string
        status:
          description: Status of dynamic emergency address
          enum:
          - pending
          - activated
          - rejected
          example: pending
          readOnly: true
          type: string
        street_name:
          example: Congress
          type: string
        street_post_directional:
          type: string
        street_pre_directional:
          type: string
        street_suffix:
          example: St
          type: string
        updated_at:
          description: ISO 8601 formatted date of when the resource was last updated
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
      required:
      - house_number
      - street_name
      - locality
      - administrative_area
      - postal_code
      - country_code
      type: object
    emergency_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/emergency_Error'
          type: array
      type: object
  responses:
    listDynamicEmergencyAddresses:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/DynamicEmergencyAddress'
                type: array
              meta:
                $ref: '#/components/schemas/Metadata'
            type: object
      description: Dynamic Emergency Address Responses
    emergency_BadRequestResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/emergency_Errors'
      description: Bad request, the request was unacceptable, often due to missing a required parameter.
    emergency_UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/emergency_Errors'
      description: Unprocessable entity. Check the 'detail' field in response for details.
    emergency_NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/emergency_Errors'
      description: The requested resource doesn't exist.
    emergency_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/emergency_Errors'
      description: Unexpected error
    DynamicEmergencyAddressResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/DynamicEmergencyAddress'
            type: object
      description: Dynamic Emergency Address Response
    emergency_UnauthorizedResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/emergency_Errors'
      description: Unauthorized
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
