openapi: 3.2.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx MCP Servers API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- name: MCP Servers
paths:
  /ai/mcp_servers:
    get:
      description: Retrieve a list of MCP servers.
      operationId: list_mcp_servers
      parameters:
      - in: query
        name: type
        required: false
        schema:
          title: Type
          type: string
      - in: query
        name: url
        required: false
        schema:
          title: Url
          type: string
      - in: query
        name: page[size]
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          title: Page[Size]
          type: integer
      - in: query
        name: page[number]
        required: false
        schema:
          default: 1
          minimum: 1
          title: Page[Number]
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPServersListResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List MCP Servers
      tags:
      - MCP Servers
      x-latency-category: responsive
    post:
      description: Create a new MCP server.
      operationId: create_mcp_server
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMCPServerRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPServer'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create MCP Server
      tags:
      - MCP Servers
      x-latency-category: responsive
  /ai/mcp_servers/{mcp_server_id}:
    delete:
      description: Delete a specific MCP server.
      operationId: delete_mcp_server
      parameters:
      - in: path
        name: mcp_server_id
        required: true
        schema:
          title: Mcp Server Id
          type: string
      responses:
        '200':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete MCP Server
      tags:
      - MCP Servers
      x-latency-category: responsive
    get:
      description: Retrieve details for a specific MCP server.
      operationId: get_mcp_server
      parameters:
      - in: path
        name: mcp_server_id
        required: true
        schema:
          title: Mcp Server Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPServer'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get MCP Server
      tags:
      - MCP Servers
      x-latency-category: responsive
    put:
      description: Update an existing MCP server.
      operationId: update_mcp_server
      parameters:
      - in: path
        name: mcp_server_id
        required: true
        schema:
          title: Mcp Server Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMCPServerRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPServer'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update MCP Server
      tags:
      - MCP Servers
      x-latency-category: responsive
components:
  schemas:
    MCPServer:
      properties:
        allowed_tools:
          items:
            type: string
          title: Allowed Tools
          type:
          - array
          - 'null'
        api_key_ref:
          title: Api Key Ref
          type:
          - string
          - 'null'
        created_at:
          format: date-time
          title: Created At
          type: string
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
        type:
          title: Type
          type: string
        url:
          title: Url
          type: string
      required:
      - id
      - name
      - type
      - url
      - created_at
      title: MCPServer
      type: object
    CreateMCPServerRequest:
      properties:
        allowed_tools:
          items:
            type: string
          title: Allowed Tools
          type:
          - array
          - 'null'
        api_key_ref:
          title: Api Key Ref
          type:
          - string
          - 'null'
        name:
          title: Name
          type: string
        type:
          title: Type
          type: string
        url:
          title: Url
          type: string
      required:
      - name
      - type
      - url
      title: CreateMCPServerRequest
      type: object
    UpdateMCPServerRequest:
      properties:
        allowed_tools:
          items:
            type: string
          title: Allowed Tools
          type:
          - array
          - 'null'
        api_key_ref:
          title: Api Key Ref
          type:
          - string
          - 'null'
        created_at:
          format: date-time
          title: Created At
          type: string
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
        type:
          title: Type
          type: string
        url:
          title: Url
          type: string
      title: UpdateMCPServerRequest
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    MCPServersListResponse:
      items:
        $ref: '#/components/schemas/MCPServer'
      title: MCPServersListResponse
      type: array
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
