openapi: 3.2.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Assistants API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Configure AI assistant specifications
  name: Assistants
paths:
  /ai/assistants:
    get:
      description: Retrieve a list of all AI Assistants configured by the user.
      operationId: get_assistants_public_assistants_get
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantsListData'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List assistants
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      description: Create a new AI Assistant.
      operationId: create_new_assistant_public_assistants_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssistantRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_Assistant'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create an assistant
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/import:
    post:
      description: Import assistants from external providers. Any assistant that has already been imported will be overwritten with its latest version from the importing provider.
      operationId: import_assistants_public_assistants_import_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportAssistantsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantsListData'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Import assistants from external provider
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/tags:
    get:
      operationId: get_all_assistant_tags
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get All Tags
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/tests:
    get:
      description: Retrieves a paginated list of assistant tests with optional filtering capabilities
      operationId: get_assistant_tests_public_assistants_tests_get
      parameters:
      - description: Filter tests by test suite name
        in: query
        name: test_suite
        required: false
        schema:
          description: Filter tests by test suite name
          title: Test Suite
          type: string
      - description: Filter tests by communication channel (e.g., 'web_chat', 'sms')
        in: query
        name: telnyx_conversation_channel
        required: false
        schema:
          description: Filter tests by communication channel (e.g., 'web_chat', 'sms')
          title: Telnyx Conversation Channel
          type: string
      - description: Filter tests by destination (phone number, webhook URL, etc.)
        in: query
        name: destination
        required: false
        schema:
          description: Filter tests by destination (phone number, webhook URL, etc.)
          title: Destination
          type: string
      - description: 'Consolidated page parameter (deepObject style). Originally: page[size], page[number]'
        explode: true
        in: query
        name: page
        schema:
          properties:
            number:
              default: 1
              description: Page number to retrieve (1-based indexing)
              minimum: 1
              title: Page[Number]
              type: integer
            size:
              default: 20
              description: Number of tests to return per page (1-100)
              maximum: 100
              minimum: 1
              title: Page[Size]
              type: integer
          type: object
        style: deepObject
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAssistantTestList'
          description: Returns paginated test list with metadata for navigation and filtering
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List assistant tests with pagination
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      description: Creates a comprehensive test configuration for evaluating AI assistant performance
      operationId: create_assistant_test_public_assistants_tests_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssistantTestRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantTestResponse'
          description: Returns the created test configuration with assigned test ID
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create a new assistant test
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/tests/test-suites:
    get:
      description: Retrieves a list of all distinct test suite names available to the current user
      operationId: fetch_test_suites_public_assistants_tests_test_suites_get
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestSuitesResponse'
          description: Returns an array of unique test suite names for filtering and organization
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get all test suite names
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/tests/test-suites/{suite_name}/runs:
    get:
      description: Retrieves paginated history of test runs for a specific test suite with filtering options
      operationId: get_test_suite_runs_for_test_public_assistants_tests_test_suites__suite_name__runs_get
      parameters:
      - in: path
        name: suite_name
        required: true
        schema:
          title: Suite Name
          type: string
      - description: Filter runs by execution status (pending, running, completed, failed, timeout)
        in: query
        name: status
        required: false
        schema:
          description: Filter runs by execution status (pending, running, completed, failed, timeout)
          title: Status
          type: string
      - description: Filter runs by specific suite execution batch ID
        in: query
        name: test_suite_run_id
        required: false
        schema:
          description: Filter runs by specific suite execution batch ID
          title: Test Suite Run Id
          type: string
      - description: 'Consolidated page parameter (deepObject style). Originally: page[size], page[number]'
        explode: true
        in: query
        name: page
        schema:
          properties:
            number:
              default: 1
              description: Page number to retrieve (1-based indexing)
              minimum: 1
              title: Page[Number]
              type: integer
            size:
              default: 20
              description: Number of test runs to return per page (1-100)
              maximum: 100
              minimum: 1
              title: Page[Size]
              type: integer
          type: object
        style: deepObject
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTestRunList'
          description: Returns paginated list of test runs within the specified suite
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get test suite run history
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      description: Executes all tests within a specific test suite as a batch operation
      operationId: trigger_test_suite_runs_public_assistants_tests_test_suites__suite_name__runs_post
      parameters:
      - in: path
        name: suite_name
        required: true
        schema:
          title: Suite Name
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerTestSuiteRunsRequest'
              title: Request
      responses:
        '201':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TestRunResponse'
                title: Response Trigger Test Suite Runs Public Assistants Tests Test Suites  Suite Name  Runs Post
                type: array
          description: Returns array of created test runs for all tests in the suite
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Trigger test suite execution
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/tests/{test_id}:
    delete:
      description: Permanently removes an assistant test and all associated data
      operationId: delete_assistant_test_public_assistants_tests__test_id__delete
      parameters:
      - in: path
        name: test_id
        required: true
        schema:
          title: Test Id
          type: string
      responses:
        '200':
          description: Returns success status when test is successfully deleted
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete an assistant test
      tags:
      - Assistants
      x-latency-category: responsive
    get:
      description: Retrieves detailed information about a specific assistant test
      operationId: get_assistant_test_public_assistants_tests__test_id__get
      parameters:
      - in: path
        name: test_id
        required: true
        schema:
          title: Test Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantTestResponse'
          description: Returns complete test configuration including rubric, schedule, and metadata
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get assistant test by ID
      tags:
      - Assistants
      x-latency-category: responsive
    put:
      description: Updates an existing assistant test configuration with new settings
      operationId: update_assistant_test_public_assistants_tests__test_id__put
      parameters:
      - in: path
        name: test_id
        required: true
        schema:
          title: Test Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssistantTestRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantTestResponse'
          description: Returns the updated test configuration with all changes applied
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update an assistant test
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/tests/{test_id}/runs:
    get:
      description: Retrieves paginated execution history for a specific assistant test with filtering options
      operationId: get_test_runs_for_test_public_assistants_tests__test_id__runs_get
      parameters:
      - in: path
        name: test_id
        required: true
        schema:
          title: Test Id
          type: string
      - description: Filter runs by execution status (pending, running, completed, failed, timeout)
        in: query
        name: status
        required: false
        schema:
          description: Filter runs by execution status (pending, running, completed, failed, timeout)
          title: Status
          type: string
      - description: 'Consolidated page parameter (deepObject style). Originally: page[size], page[number]'
        explode: true
        in: query
        name: page
        schema:
          properties:
            number:
              default: 1
              description: Page number to retrieve (1-based indexing)
              minimum: 1
              title: Page[Number]
              type: integer
            size:
              default: 20
              description: Number of test runs to return per page (1-100)
              maximum: 100
              minimum: 1
              title: Page[Size]
              type: integer
          type: object
        style: deepObject
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTestRunList'
          description: Returns paginated list of test runs for the specified test
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get test run history for a specific test
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      description: Initiates immediate execution of a specific assistant test
      operationId: trigger_test_run_public_assistants_tests__test_id__runs_post
      parameters:
      - in: path
        name: test_id
        required: true
        schema:
          title: Test Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerTestRunRequest'
              title: Request
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestRunResponse'
          description: Returns the created test run with execution details and status
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Trigger a manual test run
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/tests/{test_id}/runs/{run_id}:
    get:
      description: Retrieves detailed information about a specific test run execution
      operationId: get_test_run_public_assistants_tests__test_id__runs__run_id__get
      parameters:
      - in: path
        name: test_id
        required: true
        schema:
          title: Test Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          title: Run Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestRunResponse'
          description: Returns complete test run details including results, logs, and performance metrics
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get specific test run details
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/{assistant_id}:
    delete:
      description: Delete an AI Assistant by `assistant_id`.
      operationId: delete_assistant_public_assistants__assistant_id__delete
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantDeletedResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete an assistant
      tags:
      - Assistants
      x-latency-category: responsive
    get:
      description: Retrieve an AI Assistant configuration by `assistant_id`.
      operationId: get_assistant_public_assistants__assistant_id__get
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: query
        name: fetch_dynamic_variables_from_webhook
        required: false
        schema:
          default: false
          title: Fetch Dynamic Variables From Webhook
          type: boolean
      - in: query
        name: from
        required: false
        schema:
          title: From
          type: string
      - in: query
        name: to
        required: false
        schema:
          title: To
          type: string
      - in: query
        name: call_control_id
        required: false
        schema:
          title: Call Control Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_Assistant'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get an assistant
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      description: Update an AI Assistant's attributes.
      operationId: update_assistant_public_assistants__assistant_id__post
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssistantRequestWithPromotion'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_Assistant'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update an assistant
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/{assistant_id}/canary-deploys:
    delete:
      description: 'Endpoint to delete a canary deploy configuration for an assistant.


        Removes all canary deploy configurations for the specified assistant.'
      operationId: delete_canary_deploy_assistants__assistant_id__canary_deploys_delete
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete Canary Deploy
      tags:
      - Assistants
      x-latency-category: responsive
    get:
      description: 'Endpoint to get a canary deploy configuration for an assistant.


        Retrieves the current canary deploy configuration with all version IDs and their

        traffic percentages for the specified assistant.'
      operationId: get_canary_deploy_assistants__assistant_id__canary_deploys_get
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanaryDeployResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Canary Deploy
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      description: 'Endpoint to create a canary deploy configuration for an assistant.


        Creates a new canary deploy configuration with multiple version IDs and their traffic

        percentages for A/B testing or gradual rollouts of assistant versions.'
      operationId: create_canary_deploy_assistants__assistant_id__canary_deploys_post
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CanaryDeployRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanaryDeployResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create Canary Deploy
      tags:
      - Assistants
      x-latency-category: responsive
    put:
      description: "Endpoint to update a canary deploy configuration for an assistant.\n\nUpdates the existing canary deploy configuration with new version IDs and percentages.\n  All old versions and percentages are replaces by new ones from this request."
      operationId: update_canary_deploy_assistants__assistant_id__canary_deploys_put
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CanaryDeployRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanaryDeployResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update Canary Deploy
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/{assistant_id}/chat:
    post:
      description: This endpoint allows a client to send a chat message to a specific AI Assistant. The assistant processes the message and returns a relevant reply based on the current conversation context. Refer to the Conversation API to [create a conversation](https://developers.telnyx.com/api-reference/conversations/create-a-conversation), [filter existing conversations](https://developers.telnyx.com/api-reference/conversations/list-conversations), [fetch messages for a conversation](https://developers.telnyx.com/api-reference/conversations/get-conversation-messages), and [manually add messages to a conversation](https://developers.telnyx.com/api-reference/conversations/create-message).
      operationId: assistant_chat_public_assistants__assistant_id__chat_post
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssistantChatReq'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantChatResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Assistant Chat (BETA)
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/{assistant_id}/chat/sms:
    post:
      description: "Send an SMS message for an assistant. This endpoint: \n1. Validates the assistant exists and has messaging profile configured \n2. If should_create_conversation is true, creates a new conversation with metadata \n3. Sends the SMS message (If `text` is set, this will be sent. Otherwise, if this is the first message in the conversation and the assistant has a `greeting` configured, this will be sent. Otherwise the assistant will generate the text to send.) \n4. Updates conversation metadata if provided \n5. Returns the conversation ID"
      operationId: assistant_sms_chat_assistants__assistant_id__chat_sms_post
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssistantSmsChatReq'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantSmsChatResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Assistant Sms Chat
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/{assistant_id}/clone:
    post:
      description: Clone an existing assistant, excluding telephony and messaging settings.
      operationId: clone_assistant_public_assistants__assistant_id__clone_post
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_Assistant'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Clone Assistant
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/{assistant_id}/scheduled_events:
    get:
      description: Get scheduled events for an assistant with pagination and filtering
      operationId: get_scheduled_events
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: query
        name: from_date
        required: false
        schema:
          format: date-time
          title: From Date
          type: string
      - in: query
        name: to_date
        required: false
        schema:
          format: date-time
          title: To Date
          type: string
      - in: query
        name: conversation_channel
        required: false
        schema:
          $ref: '#/components/schemas/ConversationChannelType'
          title: Conversation Channel
      - description: 'Consolidated page parameter (deepObject style). Originally: page[size], page[number]'
        explode: true
        in: query
        name: page
        schema:
          properties:
            number:
              default: 1
              minimum: 1
              title: Page[Number]
              type: integer
            size:
              default: 20
              maximum: 100
              minimum: 1
              title: Page[Size]
              type: integer
          type: object
        style: deepObject
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedScheduledEventList'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List scheduled events
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      description: Create a scheduled event for an assistant
      operationId: create_scheduled_event
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScheduledEventRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledEventResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create a scheduled event
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/{assistant_id}/scheduled_events/{event_id}:
    delete:
      description: If the event is pending, this will cancel the event. Otherwise, this will simply remove the record of the event.
      operationId: delete_scheduled_event
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: event_id
        required: true
        schema:
          title: Event Id
          type: string
      responses:
        '200':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete a scheduled event
      tags:
      - Assistants
      x-latency-category: responsive
    get:
      description: Retrieve a scheduled event by event ID
      operationId: get_scheduled_event
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: event_id
        required: true
        schema:
          title: Event Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledEventResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get a scheduled event
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/{assistant_id}/tags:
    post:
      operationId: add_assistant_tag
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTagRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Add Assistant Tag
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/{assistant_id}/tags/{tag}:
    delete:
      operationId: remove_assistant_tag
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: tag
        required: true
        schema:
          title: Tag
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Remove Assistant Tag
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/{assistant_id}/texml:
    get:
      description: Get an assistant texml by `assistant_id`.
      operationId: get_assistant_texml_public_assistants__assistant_id__texml_get
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get assistant texml
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/{assistant_id}/tools/{tool_id}:
    delete:
      operationId: remove_assistant_tool
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: tool_id
        required: true
        schema:
          title: Tool Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Remove Assistant Tool
      tags:
      - Assistants
      x-latency-category: responsive
    put:
      operationId: add_assistant_tool
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: tool_id
        required: true
        schema:
          title: Tool Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Add Assistant Tool
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/{assistant_id}/tools/{tool_id}/test:
    post:
      description: Test a webhook tool for an assistant
      operationId: test_assistant_tool_public_assistants__assistant_id__tools__tool_id__test_post
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: tool_id
        required: true
        schema:
          title: Tool Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestWebhookToolRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestWebhookToolResponseData'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Test Assistant Tool
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/{assistant_id}/versions:
    get:
      description: Retrieves all versions of a specific assistant with complete configuration and metadata
      operationId: get_assistant_versions_public_assistants__assistant_id__versions_get
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantsListData'
          description: Returns list of assistant versions ordered by creation date (newest first)
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get all versions of an assistant
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/{assistant_id}/versions/{version_id}:
    delete:
      description: Permanently removes a specific version of an assistant. Can not delete main version
      operationId: delete_assistant_version_public_assistants__assistant_id__versions__version_id__delete
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: version_id
        required: true
        schema:
          title: Version Id
          type: string
      responses:
        '204':
          description: Returns HTTP 204 No Content on successful deletion
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete a specific assistant version
      tags:
      - Assistants
      x-latency-category: responsive
    get:
      description: Retrieves a specific version of an assistant by assistant_id and version_id
      operationId: get_assistant_version_public_assistants__assistant_id__versions__version_id__get
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: version_id
        required: true
        schema:
          title: Version Id
          type: string
      - in: query
        name: include_mcp_servers
        required: false
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_Assistant'
          description: Returns the specific assistant version configuration
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get a specific assistant version
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      description: Updates the configuration of a specific assistant version. Can not update main version
      operationId: update_assistant_version_public_assistants__assistant_id__versions__version_id__post
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: version_id
        required: true
        schema:
          title: Version Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssistantRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_Assistant'
          description: Returns the updated assistant version configuration
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update a specific assistant version
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/assistants/{assistant_id}/versions/{version_id}/promote:
    post:
      description: Promotes a specific version to be the main/current version of the assistant. This will delete any existing canary deploy configuration and send all live production traffic to this version.
      operationId: promote_assistant_version_public_assistants__assistant_id__versions__version_id__promote_post
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: version_id
        required: true
        schema:
          title: Version Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_Assistant'
          description: Returns the promoted assistant configuration
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Promote an assistant version to main
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/tools:
    get:
      operationId: list_tools
      parameters:
      - in: query
        name: filter[type]
        required: false
        schema:
          title: Filter[Type]
          type: string
      - in: query
        name: filter[name]
        required: false
        schema:
          title: Filter[Name]
          type: string
      - in: query
        name: page[size]
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          title: Page[Size]
          type: integer
      - in: query
        name: page[number]
        required: false
        schema:
          default: 1
          minimum: 1
          title: Page[Number]
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedToolListResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List Tools
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      operationId: create_tool_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSharedToolRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedToolResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create Tool
      tags:
      - Assistants
      x-latency-category: responsive
  /ai/tools/{tool_id}:
    delete:
      operationId: delete_tool_tool_id
      parameters:
      - in: path
        name: tool_id
        required: true
        schema:
          title: Tool Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete Tool
      tags:
      - Assistants
      x-latency-category: responsive
    get:
      operationId: get_tool_tool_id
      parameters:
      - in: path
        name: tool_id
        required: true
        schema:
          title: Tool Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedToolResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Tool
      tags:
      - Assistants
      x-latency-category: responsive
    patch:
      operationId: update_tool_tool_id
      parameters:
      - in: path
        name: tool_id
        required: true
        schema:
          title: Tool Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSharedToolRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedToolResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update Tool
      tags:
      - Assistants
      x-latency-category: responsive
components:
  schemas:
    AssistantTools:
      description: Deprecated for new integrations. Inline tool definitions available to the assistant. Prefer `tool_ids` to attach shared tools created with the AI Tools endpoints.
      items:
        oneOf:
        - $ref: '#/components/schemas/inference-embedding_WebhookTool'
        - $ref: '#/components/schemas/RetrievalTool'
        - $ref: '#/components/schemas/HandoffTool'
        - $ref: '#/components/schemas/HangupTool'
        - $ref: '#/components/schemas/inference-embedding_TransferTool'
        - $ref: '#/components/schemas/InviteTool'
        - $ref: '#/components/schemas/SIPReferTool'
        - $ref: '#/components/schemas/DTMFTool'
        - $ref: '#/components/schemas/SendMessageTool'
        - $ref: '#/components/schemas/SkipTurnTool'
      type: array
    PromptSyncStatus:
      description: 'Whether to auto-publish the assistant''s instructions as a Langfuse prompt.


        When ENABLED + prompt_name set, every assistant create/update pushes

        `instructions` to Langfuse via create_prompt and stores the returned

        version in prompt_version.'
      enum:
      - enabled
      - disabled
      title: PromptSyncStatus
      type: string
    TelephonySettings:
      properties:
        default_texml_app_id:
          description: Default Texml App used for voice calls with your assistant. This will be created automatically on assistant creation.
          type: string
        noise_suppression:
          description: The noise suppression engine to use. Use 'disabled' to turn off noise suppression.
          enum:
          - krisp
          - deepfilternet
          - disabled
          type: string
        noise_suppression_config:
          description: Configuration for noise suppression. Only applicable when noise_suppression is 'deepfilternet'.
          properties:
            attenuation_limit:
              default: 100
              description: 'Attenuation limit for noise suppression. Range: 0-100.'
              maximum: 100
              minimum: 0
              type: integer
            mode:
              description: Mode for noise suppression configuration.
              enum:
              - advanced
              type: string
          type: object
        recording_settings:
          description: Configuration for call recording format and channel settings.
          properties:
            channels:
              default: dual
              description: The number of channels for the recording. 'single' for mono, 'dual' for stereo.
              enum:
              - single
              - dual
              type: string
            enabled:
              default: true
              description: Whether call recording is enabled. When set to false, calls will not be recorded regardless of other recording configuration.
              type: boolean
            format:
              default: mp3
              description: The format of the recording file.
              enum:
              - wav
              - mp3
              type: string
          type: object
        supports_unauthenticated_web_calls:
          description: When enabled, allows users to interact with your AI assistant directly from your website without requiring authentication. This is required for FE widgets that work with assistants that have telephony enabled.
          type: boolean
        time_limit_secs:
          default: 1800
          description: Maximum duration in seconds for the AI assistant to participate on the call. When this limit is reached the assistant will be stopped. This limit does not apply to portions of a call without an active assistant (for instance, a call transferred to a human representative).
          maximum: 14400
          minimum: 30
          type: integer
        user_idle_reply_secs:
          default: 10
          description: Duration in seconds of end user silence before the assistant checks in on the user. When this limit is reached the assistant will prompt the user to respond. This is distinct from user_idle_timeout_secs which stops the assistant entirely.
          minimum: 0
          type: integer
        user_idle_timeout_secs:
          description: Maximum duration in seconds of end user silence on the call. When this limit is reached the assistant will be stopped. This limit does not apply to portions of a call without an active assistant (for instance, a call transferred to a human representative).
          maximum: 14400
          minimum: 10
          type: integer
        voicemail_detection:
          description: 'Configuration for voicemail detection (AMD - Answering Machine Detection) on outgoing calls. These settings only apply if AMD is enabled on the Dial command. See [TeXML Dial documentation](https://developers.telnyx.com/api-reference/texml-rest-commands/initiate-an-outbound-call) for enabling AMD. Recommended settings: MachineDetection=Enable, AsyncAmd=true, DetectionMode=Premium.'
          properties:
            on_voicemail_detected:
              description: Action to take when voicemail is detected.
              properties:
                action:
                  description: The action to take when voicemail is detected.
                  enum:
                  - stop_assistant
                  - leave_message_and_stop_assistant
                  - continue_assistant
                  type: string
                voicemail_message:
                  description: Configuration for the voicemail message to leave. Only applicable when action is 'leave_message_and_stop_assistant'.
                  properties:
                    message:
                      description: The specific message to leave as voicemail. Only applicable when type is 'message'.
                      type: string
                    prompt:
                      description: The prompt to use for generating the voicemail message. Only applicable when type is 'prompt'.
                      type: string
                    type:
                      description: The type of voicemail message. Use 'prompt' to have the assistant generate a message based on a prompt, or 'message' to leave a specific message.
                      enum:
                      - prompt
                      - message
                      type: string
                  type: object
              type: object
          type: object
      title: TelephonySettings
      type: object
    Observability:
      properties:
        host:
          title: Host
          type: string
        prompt_label:
          title: Prompt Label
          type: string
        prompt_name:
          title: Prompt Name
          type: string
        prompt_sync:
          $ref: '#/components/schemas/PromptSyncStatus'
          default: disabled
        prompt_version:
          minimum: 1.0
          title: Prompt Version
          type: integer
        public_key_ref:
          title: Public Key Ref
          type: string
        secret_key_ref:
          title: Secret Key Ref
          type: string
        status:
          $ref: '#/components/schemas/ObservabilityStatus'
          default: disabled
      title: Observability
      type: object
    RetrievalTool:
      properties:
        retrieval:
          $ref: '#/components/schemas/BucketIds'
        type:
          enum:
          - retrieval
          type: string
      required:
      - type
      - retrieval
      title: RetrievalTool
      type: object
    CreateScheduledEventRequest:
      properties:
        conversation_metadata:
          additionalProperties:
            anyOf:
            - type: string
            - type: integer
            - type: boolean
          description: Metadata associated with the conversation. Telnyx provides several pieces of metadata, but customers can also add their own.
          title: Conversation Metadata
          type: object
        dynamic_variables:
          additionalProperties:
            type: string
          description: A map of dynamic variable names to values. These variables can be referenced in the assistant's instructions and messages using {{variable_name}} syntax.
          title: Dynamic Variables
          type: object
        max_retries_client_errors:
          default: 0
          description: 'Configure number of retries on client errors: busy, no-answer, failed, canceled (caller hung up before the callee answered)'
          maximum: 10.0
          minimum: 0.0
          title: Max Retries Client Errors
          type: integer
        retry_interval_secs:
          maximum: 86400.0
          minimum: 60.0
          title: Retry Interval Secs
          type: integer
        scheduled_at_fixed_datetime:
          description: The datetime at which the event should be scheduled. Formatted as ISO 8601.
          example: '2025-04-15T13:07:28.764Z'
          format: date-time
          title: Scheduled At Fixed Datetime
          type: string
        telnyx_agent_target:
          description: The phone number, SIP URI, to schedule the call or text from.
          title: Telnyx Agent Target
          type: string
        telnyx_conversation_channel:
          $ref: '#/components/schemas/ConversationChannelType'
        telnyx_end_user_target:
          description: The phone number, SIP URI, to schedule the call or text to.
          title: Telnyx End User Target
          type: string
        text:
          description: Required for sms scheduled events. The text to be sent to the end user.
          type: string
      required:
      - telnyx_conversation_channel
      - telnyx_end_user_target
      - telnyx_agent_target
      - scheduled_at_fixed_datetime
      title: CreateScheduledEventRequest
      type: object
    ExternalLLM:
      properties:
        authentication_method:
          $ref: '#/components/schemas/AuthenticationMethod'
        base_url:
          description: Base URL for the external LLM endpoint.
          type: string
        certificate_ref:
          description: Integration secret identifier for the client certificate used with certificate authentication.
          type: string
        forward_metadata:
          default: false
          description: 'When `true`, Telnyx forwards the assistant''s dynamic variables to the external LLM endpoint as a top-level `extra_metadata` object on the chat completion request body. Defaults to `false`. Example payload sent to the external endpoint: `{"extra_metadata": {"customer_name": "Jane", "account_id": "acct_789", "telnyx_agent_target": "+13125550100", "telnyx_end_user_target": "+13125550123"}}`. Distinct from OpenAI''s native `metadata` field, which has its own size and type limits.'
          type: boolean
        llm_api_key_ref:
          description: Integration secret identifier for the external LLM API key.
          type: string
        model:
          description: Model identifier to use with the external LLM endpoint.
          type: string
        token_retrieval_url:
          description: URL used to retrieve an access token when certificate authentication is enabled.
          type: string
      required:
      - model
      - base_url
      title: ExternalLLM
      type: object
    AssistantSmsChatResponse:
      properties:
        conversation_id:
          title: Conversation Id
          type: string
      title: AssistantSmsChatResponse
      type: object
    PaginatedAssistantTestList:
      description: 'Paginated list of assistant tests with metadata.


        Returns a subset of tests based on pagination parameters along with

        metadata for implementing pagination controls in the UI.'
      properties:
        data:
          description: Array of assistant test objects for the current page.
          items:
            $ref: '#/components/schemas/AssistantTestResponse'
          title: Data
          type: array
        meta:
          allOf:
          - $ref: '#/components/schemas/Meta'
          description: Pagination metadata including total counts and current page info.
      required:
      - meta
      - data
      title: PaginatedAssistantTestList
      type: object
    PostConversationSettings:
      description: Configuration for post-conversation processing. When enabled, the assistant receives one additional LLM turn after the conversation ends, allowing it to execute tool calls such as logging to a CRM or sending a summary. The assistant can execute multiple parallel or sequential tools during this phase. Telephony-control tools (e.g. hangup, transfer) are unavailable post-conversation. Beta feature.
      properties:
        enabled:
          default: false
          description: Whether post-conversation processing is enabled. When true, the assistant will be invoked after the conversation ends to perform any final tool calls. Defaults to false.
          type: boolean
      type: object
    SharedToolResponse:
      properties:
        created_at:
          title: Created At
          type: string
        display_name:
          title: Display Name
          type: string
        id:
          title: Id
          type: string
        timeout_ms:
          default: 5000
          title: Timeout Ms
          type: integer
        tool_definition:
          additionalProperties: true
          title: Tool Definition
          type: object
        type:
          title: Type
          type: string
      required:
      - id
      - type
      - tool_definition
      title: SharedToolResponse
      type: object
    ImportMetadata:
      properties:
        import_id:
          description: ID of the assistant in the provider's system.
          type: string
        import_provider:
          description: Provider the assistant was imported from.
          enum:
          - elevenlabs
          - vapi
          - retell
          type: string
      type: object
    AudioVisualizerConfig:
      properties:
        color:
          description: The color theme for the audio visualizer.
          enum:
          - verdant
          - twilight
          - bloom
          - mystic
          - flare
          - glacier
          type: string
        preset:
          description: The preset style for the audio visualizer.
          type: string
      title: AudioVisualizerConfig
      type: object
    ObservabilityReq:
      properties:
        host:
          title: Host
          type: string
        prompt_label:
          title: Prompt Label
          type: string
        prompt_name:
          title: Prompt Name
          type: string
        prompt_sync:
          $ref: '#/components/schemas/PromptSyncStatus'
          default: disabled
        prompt_version:
          minimum: 1.0
          title: Prompt Version
          type: integer
        public_key_ref:
          title: Public Key Ref
          type: string
        secret_key_ref:
          title: Secret Key Ref
          type: string
        status:
          $ref: '#/components/schemas/ObservabilityStatus'
          default: disabled
      title: ObservabilityReq
      type: object
    UpdateAssistantRequest:
      properties:
        description:
          type: string
        dynamic_variables:
          additionalProperties: true
          description: Map of dynamic variables and their default values
          type: object
        dynamic_variables_webhook_timeout_ms:
          default: 1500
          description: Timeout in milliseconds for the dynamic variables webhook. Must be between 1 and 10000 ms. If the webhook does not respond within this timeout, the call proceeds with default values. See the [dynamic variables guide](https://developers.telnyx.com/docs/inference/ai-assistants/dynamic-variables).
          maximum: 10000
          minimum: 1
          type: integer
        dynamic_variables_webhook_url:
          description: 'If `dynamic_variables_webhook_url` is set, Telnyx sends a POST request to this URL at the start of the conversation to resolve dynamic variables. **Gotcha:** the webhook response must wrap variables under a top-level `dynamic_variables` object, e.g. `{"dynamic_variables": {"customer_name": "Jane"}}`. Returning a flat object will be ignored and variables will fall back to their defaults. See the [dynamic variables guide](https://developers.telnyx.com/docs/inference/ai-assistants/dynamic-variables) for the full request/response format and timeout behavior.'
          type: string
        enabled_features:
          items:
            $ref: '#/components/schemas/EnabledFeatures'
          type: array
          uniqueItems: true
        external_llm:
          $ref: '#/components/schemas/ExternalLLMReq'
        fallback_config:
          $ref: '#/components/schemas/FallbackConfigReq'
        greeting:
          description: Text that the assistant will use to start the conversation. This may be templated with [dynamic variables](https://developers.telnyx.com/docs/inference/ai-assistants/dynamic-variables). Use an empty string to have the assistant wait for the user to speak first. Use the special value `<assistant-speaks-first-with-model-generated-message>` to have the assistant generate the greeting based on the system instructions.
          type: string
        insight_settings:
          $ref: '#/components/schemas/InsightSettings'
        instructions:
          description: System instructions for the assistant. These may be templated with [dynamic variables](https://developers.telnyx.com/docs/inference/ai-assistants/dynamic-variables)
          type: string
        integrations:
          default: []
          description: Connected integrations attached to the assistant. The catalog of available integrations is at `/ai/integrations`; the user's connected integrations are at `/ai/integrations/connections`. Each item references a catalog integration by `integration_id`.
          items:
            $ref: '#/components/schemas/AssistantIntegration'
          type: array
        interruption_settings:
          $ref: '#/components/schemas/inference-embedding_InterruptionSettings'
        llm_api_key_ref:
          description: 'This is only needed when using third-party inference providers selected by `model`. The `identifier` for an integration secret [/v2/integration_secrets](https://developers.telnyx.com/api-reference/integration-secrets/create-a-secret) that refers to your LLM provider''s API key. For bring-your-own endpoint authentication, use `external_llm.llm_api_key_ref` instead. Warning: Free plans are unlikely to work with this integration.'
          type: string
        mcp_servers:
          default: []
          description: MCP servers attached to the assistant. Create MCP servers with `/ai/mcp_servers`, then reference them by `id` here.
          items:
            $ref: '#/components/schemas/AssistantMCPServer'
          type: array
        messaging_settings:
          $ref: '#/components/schemas/MessagingSettings'
        model:
          description: ID of the model to use when `external_llm` is not set. You can use the [Get models API](https://developers.telnyx.com/api-reference/chat/get-available-models) to see available models. If `external_llm` is provided, the assistant uses `external_llm` instead of this field. If neither `model` nor `external_llm` is provided, Telnyx applies the default model.
          type: string
        name:
          type: string
        observability_settings:
          $ref: '#/components/schemas/ObservabilityReq'
        post_conversation_settings:
          $ref: '#/components/schemas/PostConversationSettingsReq'
        privacy_settings:
          $ref: '#/components/schemas/PrivacySettings'
        tags:
          default: []
          description: Tags associated with the assistant. Tags can also be managed with the assistant tag endpoints.
          items:
            type: string
          type: array
        telephony_settings:
          $ref: '#/components/schemas/TelephonySettings'
        tool_ids:
          description: IDs of shared tools to attach to the assistant. New integrations should prefer `tool_ids` over inline `tools`.
          items:
            type: string
          title: Ids of shared tools
          type: array
        tools:
          $ref: '#/components/schemas/AssistantTools'
          description: Deprecated for new integrations. Inline tool definitions available to the assistant. Prefer `tool_ids` to attach shared tools created with the AI Tools endpoints.
        transcription:
          $ref: '#/components/schemas/TranscriptionSettings'
        version_name:
          default: New assistant
          description: Human-readable name for the assistant version.
          maxLength: 50
          type: string
        voice_settings:
          $ref: '#/components/schemas/VoiceSettings'
        widget_settings:
          $ref: '#/components/schemas/WidgetSettings'
      title: UpdateAssistantRequest
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    TestRunResponse:
      description: 'Response model containing test run execution details and results.


        Provides comprehensive information about a test execution including

        status, timing, logs, and detailed evaluation results.'
      properties:
        completed_at:
          description: Timestamp when the test run finished execution.
          format: date-time
          title: Completed At
          type: string
        conversation_id:
          description: Identifier of the conversation created during test execution.
          title: Conversation Id
          type: string
        conversation_insights_id:
          description: Identifier for conversation analysis and insights data.
          title: Conversation Insights Id
          type: string
        created_at:
          description: Timestamp when the test run was created and queued.
          example: '2024-01-23T10:30:00Z'
          format: date-time
          title: Created At
          type: string
        detail_status:
          description: Detailed evaluation results for each rubric criteria. Name is name of the criteria from the rubric and status is the result of the evaluation. This list will have a result for every criteria in the rubric section.
          items:
            $ref: '#/components/schemas/TestRunDetailResult'
          title: Detail Status
          type: array
        logs:
          description: Detailed execution logs and debug information.
          title: Logs
          type: string
        run_id:
          description: Unique identifier for this specific test run execution.
          example: 987fcdeb-51a2-43d1-b456-426614174000
          format: uuid
          title: Run Id
          type: string
        status:
          $ref: '#/components/schemas/TestStatus'
        test_id:
          description: Identifier of the assistant test that was executed.
          example: 123e4567-e89b-12d3-a456-426614174000
          format: uuid
          title: Test Id
          type: string
        test_suite_run_id:
          description: Identifier linking this run to a test suite execution batch.
          format: uuid
          title: Test Suite Run Id
          type: string
        triggered_by:
          description: How this test run was initiated (manual, scheduled, or API).
          example: cron
          title: Triggered By
          type: string
        updated_at:
          description: Timestamp of the last update to this test run.
          format: date-time
          title: Updated At
          type: string
      required:
      - run_id
      - test_id
      - status
      - triggered_by
      - created_at
      title: TestRunResponse
      type: object
    inference-embedding_InterruptionSettings:
      description: Settings for interruptions and how the assistant decides the user has finished speaking. These timings are most relevant when using non turn-taking transcription models. For turn-taking models like `deepgram/flux`, end-of-turn behavior is controlled by the transcription end-of-turn settings under `transcription.settings` (`eot_threshold`, `eot_timeout_ms`, `eager_eot_threshold`).
      properties:
        disable_greeting_interruption:
          description: When true, disables user interruptions while the assistant greeting is playing.
          type: boolean
        enable:
          default: true
          description: Whether users can interrupt the assistant while it is speaking.
          type: boolean
        start_speaking_plan:
          $ref: '#/components/schemas/StartSpeakingPlan'
      title: InterruptionSettings
      type: object
    Rule-Output:
      description: 'A targeting rule: ``match`` clauses (AND) gate ``serve``.


        An empty ``match`` is a catch-all (always fires).'
      properties:
        match:
          items:
            $ref: '#/components/schemas/Clause'
          title: Match
          type: array
        serve:
          $ref: '#/components/schemas/Serve'
      required:
      - serve
      title: Rule
      type: object
    TestSuitesResponse:
      description: 'Response containing all available test suite names.


        Returns a list of distinct test suite names that can be used for

        filtering and organizing tests.'
      properties:
        data:
          description: Array of unique test suite names available to the user.
          example:
          - customer-support
          - sales-flow
          - onboarding
          items:
            type: string
          title: Data
          type: array
      required:
      - data
      title: TestSuitesResponse
      type: object
    SkipTurnToolParams:
      properties:
        description:
          default: This tool is used to skip the assistant turn without producing a response.
          description: The description of the function that will be passed to the assistant.
          type: string
      title: SkipTurnToolParams
      type: object
    UpdateAssistantRequestWithPromotion:
      allOf:
      - $ref: '#/components/schemas/UpdateAssistantRequest'
      - properties:
          promote_to_main:
            default: true
            description: Indicates whether the assistant should be promoted to the main version. Defaults to true.
            type: boolean
        type: object
    inference-embedding_WebhookTool:
      properties:
        type:
          enum:
          - webhook
          type: string
        webhook:
          $ref: '#/components/schemas/WebhookToolParams'
      required:
      - type
      - webhook
      title: WebhookTool
      type: object
    TestWebhookToolResponse:
      description: Response model for webhook tool test results
      properties:
        content_type:
          title: Content Type
          type: string
        request:
          additionalProperties: true
          title: Request
          type: object
        response:
          title: Response
          type: string
        status_code:
          title: Status Code
          type: integer
        success:
          title: Success
          type: boolean
      required:
      - success
      - status_code
      - content_type
      - response
      - request
      title: TestWebhookToolResponse
      type: object
    SIPReferTool:
      properties:
        refer:
          $ref: '#/components/schemas/SIPReferToolParams'
        type:
          enum:
          - refer
          type: string
      required:
      - type
      - refer
      title: SIPReferTool
      type: object
    ObservabilityStatus:
      enum:
      - enabled
      - disabled
      title: ObservabilityStatus
      type: string
    AssistantChatReq:
      properties:
        content:
          description: The message content sent by the client to the assistant
          example: Tell me a joke about cats
          title: Content
          type: string
        conversation_id:
          description: A unique identifier for the conversation thread, used to maintain context
          example: 42b20469-1215-4a9a-8964-c36f66b406f4
          title: Conversation Id
          type: string
        name:
          description: The optional display name of the user sending the message
          example: Charlie
          title: Name
          type: string
      required:
      - content
      - conversation_id
      title: AssistantChatReq
      type: object
    TelnyxConversationChannel:
      enum:
      - phone_call
      - web_call
      - sms_chat
      - web_chat
      title: TelnyxConversationChannel
      type: string
    AssistantIntegration:
      description: Reference to a connected integration attached to an assistant. Discover available integrations with `/ai/integrations` and connected integrations with `/ai/integrations/connections`.
      properties:
        allowed_list:
          description: Optional per-assistant allowlist of integration tool names. When omitted or empty, all tools allowed by the connected integration are available to the assistant.
          items:
            type: string
          type: array
        integration_id:
          description: Catalog integration ID to attach. This is the `id` from the integrations catalog at `/ai/integrations` (the same value also appears as `integration_id` on entries returned by `/ai/integrations/connections`). It is **not** the connection-level `id` from `/ai/integrations/connections`.
          type: string
      required:
      - integration_id
      title: AssistantIntegration
      type: object
    ConversationChannelType:
      enum:
      - phone_call
      - sms_chat
      title: ConversationChannelType
      type: string
    UpdateAssistantTestRequest:
      description: 'Request model for updating an existing assistant test.


        All fields are optional, allowing partial updates of test configuration.

        Only provided fields will be updated, others remain unchanged.'
      properties:
        description:
          description: Updated description of the test's purpose and evaluation criteria.
          maxLength: 1000
          title: Description
          type: string
        destination:
          description: Updated target destination for test conversations.
          minLength: 1
          title: Destination
          type: string
        instructions:
          description: Updated test scenario instructions and objectives.
          maxLength: 5000
          minLength: 1
          title: Instructions
          type: string
        max_duration_seconds:
          description: Updated maximum test duration in seconds.
          maximum: 3600.0
          minimum: 1.0
          title: Max Duration Seconds
          type: integer
        name:
          description: Updated name for the assistant test. Must be unique and descriptive.
          maxLength: 255
          minLength: 1
          title: Name
          type: string
        rubric:
          description: Updated evaluation criteria for assessing assistant performance.
          items:
            additionalProperties: false
            properties:
              criteria:
                description: Specific guidance on how to assess the assistant’s performance for this rubric item.
                type: string
              name:
                description: Label for the evaluation criterion, e.g., Empathy, Accuracy, Clarity.
                type: string
            required:
            - name
            - criteria
            type: object
          minItems: 1
          title: Rubric
          type: array
        telnyx_conversation_channel:
          $ref: '#/components/schemas/TelnyxConversationChannel'
          description: Updated communication channel for the test execution.
        test_suite:
          description: Updated test suite assignment for better organization.
          maxLength: 100
          title: Test Suite
          type: string
      title: UpdateAssistantTestRequest
      type: object
    SendMessageTool:
      description: The send_message tool allows the assistant to send SMS or MMS messages to the end user. The 'to' and 'from' addresses are automatically determined from the conversation context, and the message text is generated by the assistant unless a message_template is provided for runtime variable substitution.
      properties:
        send_message:
          additionalProperties: true
          properties:
            message_template:
              description: Optional message template with dynamic variable support using mustache syntax (e.g., {{variable_name}}). When set, the assistant will use this template for the SMS body instead of generating one. Dynamic variables like {{telnyx_end_user_target}}, {{telnyx_agent_target}}, and custom webhook-provided variables will be resolved at runtime.
              type:
              - string
              - 'null'
          type: object
        type:
          enum:
          - send_message
          type: string
      required:
      - type
      - send_message
      title: SendMessageTool
      type: object
    ExternalLLMReq:
      properties:
        authentication_method:
          $ref: '#/components/schemas/AuthenticationMethod'
        base_url:
          description: Base URL for the external LLM endpoint.
          type: string
        certificate_ref:
          description: Integration secret identifier for the client certificate used with certificate authentication.
          type: string
        forward_metadata:
          default: false
          description: 'When `true`, Telnyx forwards the assistant''s dynamic variables to the external LLM endpoint as a top-level `extra_metadata` object on the chat completion request body. Defaults to `false`. Example payload sent to the external endpoint: `{"extra_metadata": {"customer_name": "Jane", "account_id": "acct_789", "telnyx_agent_target": "+13125550100", "telnyx_end_user_target": "+13125550123"}}`. Distinct from OpenAI''s native `metadata` field, which has its own size and type limits.'
          type: boolean
        llm_api_key_ref:
          description: Integration secret identifier for the external LLM API key.
          type: string
        model:
          description: Model identifier to use with the external LLM endpoint.
          type: string
        token_retrieval_url:
          description: URL used to retrieve an access token when certificate authentication is enabled.
          type: string
      required:
      - model
      - base_url
      title: ExternalLLMReq
      type: object
    Serve:
      description: "What a rule serves when matched.\n\nExactly one of:\n- ``version_id`` — serve a specific version\n- ``rollout`` — weighted random across versions; weights must sum to\n  less than 100, with the leftover routing to the main version"
      properties:
        rollout:
          items:
            $ref: '#/components/schemas/RolloutSlot'
          title: Rollout
          type: array
        version_id:
          title: Version Id
          type: string
      title: Serve
      type: object
    TranscriptionSettingsConfig:
      properties:
        eager_eot_threshold:
          default: 0.4
          description: Available only for deepgram/flux. Confidence threshold for eager end of turn detection. Must be lower than or equal to eot_threshold. Setting this equal to eot_threshold effectively disables eager end of turn.
          maximum: 0.9
          minimum: 0.3
          title: Eager Eot Threshold
          type: number
        end_of_turn_confidence_threshold:
          default: 0.4
          description: Available only for assemblyai/universal-streaming. Confidence level required to trigger an end of turn. Higher values require more certainty before ending a turn.
          maximum: 1
          minimum: 0
          title: End Of Turn Confidence Threshold
          type: number
        eot_threshold:
          default: 0.8
          description: Available only for deepgram/flux. Confidence required to trigger an end of turn. Higher values = more reliable turn detection but slightly increased latency.
          maximum: 0.9
          minimum: 0.5
          title: Eot Threshold
          type: number
        eot_timeout_ms:
          default: 5000
          description: Available only for deepgram/flux. Maximum milliseconds of silence before forcing an end of turn, regardless of confidence.
          maximum: 10000
          minimum: 500
          title: Eot Timeout Ms
          type: integer
        keyterm:
          description: Available only for deepgram/nova-3 and deepgram/flux. A comma-separated list of key terms to boost for recognition during transcription. Helps improve accuracy for domain-specific terminology, proper nouns, or uncommon words. This field may be templated with [dynamic variables](https://developers.telnyx.com/docs/inference/ai-assistants/dynamic-variables) using mustache syntax (e.g. `Telnyx,{{customer_name}},VoIP`). Variables are resolved at call time before the value is sent to the speech-to-text engine.
          title: Keyterm
          type: string
        max_turn_silence:
          default: 1280
          description: Available only for assemblyai/universal-streaming. Maximum duration of silence in milliseconds before forcing an end of turn.
          maximum: 5000
          minimum: 100
          title: Max Turn Silence
          type: integer
        min_turn_silence:
          default: 400
          description: Available only for assemblyai/universal-streaming. Minimum duration of silence in milliseconds before a turn can end. Must be less than or equal to max_turn_silence.
          maximum: 5000
          minimum: 100
          title: Min Turn Silence
          type: integer
        numerals:
          title: Numerals
          type: boolean
        smart_format:
          title: Smart Format
          type: boolean
      title: TranscriptionSettingsConfig
      type: object
    ImportAssistantsRequest:
      properties:
        api_key_ref:
          description: Integration secret pointer that refers to the API key for the external provider. This should be an identifier for an integration secret created via /v2/integration_secrets.
          type: string
        import_ids:
          description: Optional list of assistant IDs to import from the external provider. If not provided, all assistants will be imported.
          items:
            type: string
          type: array
        provider:
          description: The external provider to import assistants from.
          enum:
          - elevenlabs
          - vapi
          - retell
          type: string
      required:
      - provider
      - api_key_ref
      title: ImportAssistantsRequest
      type: object
    MessagingSettings:
      properties:
        conversation_inactivity_minutes:
          description: If more than this many minutes have passed since the last message, the assistant will start a new conversation instead of continuing the existing one.
          maximum: 10000000
          minimum: 1
          type: integer
        default_messaging_profile_id:
          description: Default Messaging Profile used for messaging exchanges with your assistant. This will be created automatically on assistant creation.
          type: string
        delivery_status_webhook_url:
          description: The URL where webhooks related to delivery statused for assistant messages will be sent.
          type: string
      type: object
    InferenceEmbeddingTransferToolParams:
      properties:
        custom_headers:
          description: Custom headers to be added to the SIP INVITE for the transfer command.
          items:
            properties:
              name:
                type: string
              value:
                description: The value of the header. Note that we support mustache templating for the value. For example you can use `{{#integration_secret}}test-secret{{/integration_secret}}` to pass the value of the integration secret.
                type: string
            type: object
          type: array
        from:
          description: Number or SIP URI placing the call.
          example: '+35319605860'
          type: string
        targets:
          description: The different possible targets of the transfer. The assistant will be able to choose one of the targets to transfer the call to. This can also be a dynamic variable string like `{{ targets }}` where `targets` is returned by the dynamic variables webhook and resolves to an array of target objects at runtime.
          oneOf:
          - items:
              properties:
                name:
                  description: The name of the target.
                  example: Support
                  type: string
                to:
                  description: The destination number or SIP URI of the call.
                  example: '+13129457420'
                  type: string
              required:
              - to
              type: object
            type: array
          - description: A dynamic variable string like `{{ targets }}` where `targets` is returned by the dynamic variables webhook and resolves to an array of target objects at runtime.
            example: '{{ targets }}'
            type: string
        voicemail_detection:
          description: Configuration for voicemail detection (AMD - Answering Machine Detection) on the transferred call. Allows the assistant to detect when a voicemail system answers the transferred call and take appropriate action.
          properties:
            detection_config:
              description: Advanced AMD detection configuration parameters. All values are optional - Telnyx will use defaults if not specified.
              properties:
                after_greeting_silence_millis:
                  description: Duration of silence after greeting detection before finalizing the result.
                  maximum: 5000
                  minimum: 100
                  type: integer
                between_words_silence_millis:
                  description: Maximum silence duration between words during greeting.
                  maximum: 5000
                  minimum: 10
                  type: integer
                greeting_duration_millis:
                  description: Expected duration of greeting speech.
                  maximum: 10000
                  minimum: 100
                  type: integer
                greeting_silence_duration_millis:
                  description: Duration of silence after the greeting to wait before considering the greeting complete.
                  maximum: 50000
                  minimum: 500
                  type: integer
                greeting_total_analysis_time_millis:
                  description: Maximum time to spend analyzing the greeting.
                  maximum: 300000
                  minimum: 500
                  type: integer
                initial_silence_millis:
                  description: Maximum silence duration at the start of the call before speech.
                  maximum: 500000
                  minimum: 100
                  type: integer
                maximum_number_of_words:
                  description: Maximum number of words expected in a human greeting.
                  maximum: 50
                  minimum: 1
                  type: integer
                maximum_word_length_millis:
                  description: Maximum duration of a single word.
                  maximum: 5000
                  minimum: 50
                  type: integer
                min_word_length_millis:
                  description: Minimum duration for audio to be considered a word.
                  maximum: 1000
                  minimum: 1
                  type: integer
                silence_threshold:
                  description: Audio level threshold for silence detection.
                  maximum: 1000
                  minimum: 1
                  type: integer
                total_analysis_time_millis:
                  description: Total time allowed for AMD analysis.
                  maximum: 60000
                  minimum: 500
                  type: integer
              type: object
            detection_mode:
              description: The AMD detection mode to use. 'premium' enables premium answering machine detection. 'disabled' turns off AMD detection.
              enum:
              - disabled
              - premium
              type: string
            on_voicemail_detected:
              description: Action to take when voicemail is detected on the transferred call.
              properties:
                action:
                  description: The action to take when voicemail is detected. 'stop_transfer' hangs up immediately. 'leave_message_and_stop_transfer' leaves a message then hangs up.
                  enum:
                  - stop_transfer
                  - leave_message_and_stop_transfer
                  type: string
                voicemail_message:
                  description: Configuration for the voicemail message to leave. Only applicable when action is 'leave_message_and_stop_transfer'.
                  properties:
                    message:
                      description: The specific message to leave as voicemail (converted to speech). Only applicable when type is 'message'.
                      type: string
                    type:
                      description: The type of voicemail message. Use 'message' to leave a specific TTS message, or 'warm_transfer_instructions' to play the warm transfer audio.
                      enum:
                      - message
                      - warm_transfer_instructions
                      type: string
                  type: object
              type: object
          type: object
        warm_message_delay_ms:
          description: Optional delay in milliseconds before playing the warm message audio when the transferred call is answered. When set, the audio_url is not included in the dial command; instead, playback starts after the specified delay. When not set, existing behavior (audio_url in dial) is preserved.
          example: 2000
          type:
          - integer
          - 'null'
        warm_transfer_instructions:
          description: Natural language instructions for your agent for how to provide context for the transfer recipient.
          example: Briefly greet the transfer recipient and provide any relevant information from the call. Let them know you will bridge the call right after.
          type: string
      required:
      - targets
      - from
      title: TransferToolParams
      type: object
    UpdateSharedToolRequest:
      additionalProperties: true
      description: Request model for updating a shared tool.
      properties:
        display_name:
          title: Display Name
          type: string
        function:
          additionalProperties: true
          title: Function
          type: object
        handoff:
          additionalProperties: true
          title: Handoff
          type: object
        invite:
          additionalProperties: true
          title: Invite
          type: object
        retrieval:
          additionalProperties: true
          title: Retrieval
          type: object
        timeout_ms:
          title: Timeout Ms
          type: integer
        type:
          title: Type
          type: string
        webhook:
          additionalProperties: true
          title: Webhook
          type: object
      title: UpdateSharedToolRequest
      type: object
    TriggerTestSuiteRunsRequest:
      description: 'Request model for triggering test suite runs.


        Optional request body for the trigger test suite runs endpoint.'
      properties:
        destination_version_id:
          description: Optional assistant version ID to use for all test runs in this suite. If provided, the version must exist or a 400 error will be returned. If not provided, test will run on main version
          example: 123e4567-e89b-12d3-a456-426614174000
          title: Destination Version Id
          type: string
      title: TriggerTestSuiteRunsRequest
      type: object
    InsightSettings:
      properties:
        insight_group_id:
          description: Reference to an Insight Group. Insights in this group will be run automatically for all the assistant's conversations.
          type: string
      type: object
    InviteToolConfig:
      properties:
        custom_headers:
          description: Custom headers to be added to the SIP INVITE for the invite command.
          items:
            properties:
              name:
                type: string
              value:
                description: The value of the header. Note that we support mustache templating for the value. For example you can use `{{#integration_secret}}test-secret{{/integration_secret}}` to pass the value of the integration secret.
                type: string
            type: object
          type: array
        from:
          description: Number or SIP URI placing the call.
          example: '+35319605860'
          type: string
        targets:
          description: The different possible targets of the invite. The assistant will be able to choose one of the targets to invite to the call. This can also be a dynamic variable string like `{{ targets }}` where `targets` is returned by the dynamic variables webhook and resolves to an array of target objects at runtime. If omitted or null, the invite tool can still be configured and targets may be supplied dynamically at runtime.
          oneOf:
          - items:
              properties:
                name:
                  description: The name of the target.
[...]
