openapi: 3.2.0
info:
  title: Telnyx Call Commands API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Call Commands across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Call Control command operations
  name: Call Commands
paths:
  /calls:
    post:
      description: 'Dial a number or SIP URI from a given connection. A successful response will include a `call_leg_id` which can be used to correlate the command with subsequent webhooks.


        **Expected Webhooks:**


        - `call.initiated`

        - `call.answered` or `call.hangup`

        - `call.hold` and `call.unhold` if the call is held/unheld

        - `call.machine.detection.ended` if `answering_machine_detection` was requested

        - `call.machine.greeting.ended` if `answering_machine_detection` was requested to detect the end of machine greeting

        - `call.machine.premium.detection.ended` if `answering_machine_detection=premium` was requested

        - `call.machine.premium.greeting.ended` if `answering_machine_detection=premium` was requested and a beep was detected

        - `call.deepfake_detection.result` if `deepfake_detection` was enabled

        - `call.deepfake_detection.error` if `deepfake_detection` was enabled and an error occurred

        - `streaming.started`, `streaming.stopped` or `streaming.failed` if `stream_url` was set


        When the `record` parameter is set to `record-from-answer`, the response will include a `recording_id` field.'
      operationId: DialCall
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallRequest'
        description: Call request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/RetrieveCallStatusResponseWithRecordingId'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Dial
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/ai_assistant_add_messages:
    post:
      description: Add messages to the conversation started by an AI assistant on the call.
      operationId: CallAddMessagesToAIAssistant
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIAssistantAddMessagesRequest'
        description: AI Assistant add messages request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Add messages to AI Assistant
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/ai_assistant_join:
    post:
      description: Add a participant to an existing AI assistant conversation. Use this command to bring an additional call leg into a running AI conversation.
      operationId: CallJoinAIAssistant
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIAssistantJoinRequest'
        description: AI Assistant Join request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponseWithConversationId'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Join AI Assistant Conversation
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/ai_assistant_start:
    post:
      description: 'Start an AI assistant on the call.


        **Expected Webhooks:**


        - `call.conversation.ended`

        - `call.conversation_insights.generated`'
      operationId: CallStartAIAssistant
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIAssistantStartRequest'
        description: AI Assistant request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponseWithConversationId'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Start AI Assistant
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/ai_assistant_stop:
    post:
      description: Stop an AI assistant on the call.
      operationId: CallStopAIAssistant
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIAssistantStopRequest'
        description: AI Assistant request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Stop AI Assistant
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/answer:
    post:
      description: 'Answer an incoming call. You must issue this command before executing subsequent commands on an incoming call.


        **Expected Webhooks:**


        - `call.answered`

        - `call.hold` and `call.unhold` if the call is held/unheld

        - `call.deepfake_detection.result` if `deepfake_detection` was enabled

        - `call.deepfake_detection.error` if `deepfake_detection` was enabled and an error occurred

        - `streaming.started`, `streaming.stopped` or `streaming.failed` if `stream_url` was set


        When the `record` parameter is set to `record-from-answer`, the response will include a `recording_id` field.'
      operationId: AnswerCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerRequest'
        description: Answer call request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponseWithRecordingId'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Answer call
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/bridge:
    post:
      description: 'Bridge two call control calls.


        **Expected Webhooks:**


        - `call.bridged` for Leg A

        - `call.bridged` for Leg B'
      operationId: BridgeCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BridgeRequest'
        description: Bridge call request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Bridge calls
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/client_state_update:
    put:
      description: Updates client state
      operationId: UpdateClientState
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientStateUpdateRequest'
        description: Updates client state for every subsequent webhook
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Update client state
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/enqueue:
    post:
      description: Put the call in a queue.
      operationId: EnqueueCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnqueueRequest'
        description: Enqueue call request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Enqueue call
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/fork_start:
    post:
      description: 'Call forking allows you to stream the media from a call to a specific target in realtime.

        This stream can be used to enable realtime audio analysis to support a

        variety of use cases, including fraud detection, or the creation of AI-generated audio responses.

        Requests must specify either the `target` attribute or the `rx` and `tx` attributes.


        **Expected Webhooks:**


        - `call.fork.started`

        - `call.fork.stopped`'
      operationId: StartCallFork
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartForkingRequest'
        description: Fork media request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Forking start
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/fork_stop:
    post:
      description: 'Stop forking a call.


        **Expected Webhooks:**


        - `call.fork.stopped`'
      operationId: StopCallFork
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopForkingRequest'
        description: Stop forking media request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Forking stop
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/gather:
    post:
      description: 'Gather DTMF signals to build interactive menus.


        You can pass a list of valid digits. The `Answer` command must be issued before the `gather` command.


        **Expected Webhooks:**


        - `call.dtmf.received` (you may receive many of these webhooks)

        - `call.gather.ended`'
      operationId: GatherCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatherRequest'
        description: Gather
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Gather
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/gather_stop:
    post:
      description: 'Stop current gather.


        **Expected Webhooks:**


        - `call.gather.ended`'
      operationId: StopCallGather
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopGatherRequest'
        description: Stop current gather
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Gather stop
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/gather_using_ai:
    post:
      description: 'Gather parameters defined in the request payload using a voice assistant.


        You can pass parameters described as a JSON Schema object and the voice assistant will attempt to gather these informations.


        **Expected Webhooks:**


        - `call.ai_gather.ended`

        - `call.conversation.ended`

        - `call.ai_gather.partial_results` (if `send_partial_results` is set to `true`)

        - `call.ai_gather.message_history_updated` (if `send_message_history_updates` is set to `true`)'
      operationId: callGatherUsingAI
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatherUsingAIRequest'
        description: Gather using AI request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponseWithConversationId'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Gather using AI
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/gather_using_audio:
    post:
      description: 'Play an audio file on the call until the required DTMF signals are gathered to build interactive menus.


        You can pass a list of valid digits along with an ''invalid_audio_url'', which will be played back at the beginning of each prompt. Playback will be interrupted when a DTMF signal is received. The `Answer command must be issued before the `gather_using_audio` command.


        **Expected Webhooks:**


        - `call.playback.started`

        - `call.playback.ended`

        - `call.dtmf.received` (you may receive many of these webhooks)

        - `call.gather.ended`'
      operationId: GatherUsingAudio
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatherUsingAudioRequest'
        description: Gather using audio request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Gather using audio
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/gather_using_speak:
    post:
      description: 'Convert text to speech and play it on the call until the required DTMF signals are gathered to build interactive menus.


        You can pass a list of valid digits along with an ''invalid_payload'', which will be played back at the beginning of each prompt. Speech will be interrupted when a DTMF signal is received. The `Answer` command must be issued before the `gather_using_speak` command.


        **Expected Webhooks:**


        - `call.dtmf.received` (you may receive many of these webhooks)

        - `call.gather.ended`'
      operationId: GatherUsingSpeak
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatherUsingSpeakRequest'
        description: Gather using speak request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Gather using speak
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/hangup:
    post:
      description: 'Hang up the call.


        **Expected Webhooks:**


        - `call.hangup`

        - `call.recording.saved`'
      operationId: HangupCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HangupRequest'
        description: Hangup request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Hangup call
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/leave_queue:
    post:
      description: Removes the call from a queue.
      operationId: LeaveQueue
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveQueueRequest'
        description: Removes the call from the queue, the call currently is enqueued in.
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Remove call from a queue
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/playback_start:
    post:
      description: 'Play an audio file on the call. If multiple play audio commands are issued consecutively,

        the audio files will be placed in a queue awaiting playback.


        *Notes:*


        - When `overlay` is enabled, `target_legs` is limited to `self`.

        - A customer cannot Play Audio with `overlay=true` unless there is a Play Audio with `overlay=false` actively playing.


        **Expected Webhooks:**


        - `call.playback.started`

        - `call.playback.ended`'
      operationId: StartCallPlayback
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayAudioUrlRequest'
        description: Play audio URL request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Play audio URL
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/playback_stop:
    post:
      description: 'Stop audio being played on the call.


        **Expected Webhooks:**


        - `call.playback.ended` or `call.speak.ended`'
      operationId: StopCallPlayback
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaybackStopRequest'
        description: Stop audio playback request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Stop audio playback
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/record_pause:
    post:
      description: 'Pause recording the call. Recording can be resumed via Resume recording command.


        **Expected Webhooks:**


        There are no webhooks associated with this command.'
      operationId: PauseCallRecording
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PauseRecordingRequest'
        description: Pause recording call request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Record pause
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/record_resume:
    post:
      description: 'Resume recording the call.


        **Expected Webhooks:**


        There are no webhooks associated with this command.'
      operationId: ResumeCallRecording
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumeRecordingRequest'
        description: Resume recording call request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Record resume
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/record_start:
    post:
      description: 'Start recording the call. Recording will stop on call hang-up, or can be initiated via the Stop Recording command.


        **Expected Webhooks:**


        - `call.recording.saved`

        - `call.recording.transcription.saved`

        - `call.recording.error`'
      operationId: StartCallRecord
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRecordingRequest'
        description: Start recording audio request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Recording start
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/record_stop:
    post:
      description: 'Stop recording the call.


        **Expected Webhooks:**


        - `call.recording.saved`'
      operationId: StopCallRecording
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopRecordingRequest'
        description: Stop recording call request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Recording stop
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/refer:
    post:
      description: 'Initiate a SIP Refer on a Call Control call. You can initiate a SIP Refer at any point in the duration of a call.


        **Expected Webhooks:**


        - `call.refer.started`

        - `call.refer.completed`

        - `call.refer.failed`'
      operationId: ReferCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReferRequest'
        description: Refer request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: SIP Refer a call
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/reject:
    post:
      description: 'Reject an incoming call.


        **Expected Webhooks:**


        - `call.hangup`'
      operationId: RejectCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectRequest'
        description: Reject request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Reject a call
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/send_dtmf:
    post:
      description: 'Sends DTMF tones from this leg. DTMF tones will be heard by the other end of the call.


        **Expected Webhooks:**


        There are no webhooks associated with this command.'
      operationId: SendDTMF
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendDTMFRequest'
        description: Send DTMF request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Send DTMF
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/send_sip_info:
    post:
      description: 'Sends SIP info from this leg.


        **Expected Webhooks:**


        - `call.sip_info.received` (to be received on the target call leg)'
      operationId: SendSIPInfo
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendSIPInfoRequest'
        description: Send SIP INFO request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Send SIP info
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/siprec_start:
    post:
      description: 'Start siprec session to configured in SIPREC connector SRS.


        **Expected Webhooks:**


        - `siprec.started`

        - `siprec.stopped`

        - `siprec.failed`'
      operationId: StartSiprecSession
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartSiprecRequest'
        description: Start siprec session to configured in SIPREC connector SRS.
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: SIPREC start
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/siprec_stop:
    post:
      description: 'Stop SIPREC session.


        **Expected Webhooks:**


        - `siprec.stopped`'
      operationId: StopSiprecSession
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopSiprecRequest'
        description: Stop siprec session
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: SIPREC stop
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/speak:
    post:
      description: 'Convert text to speech and play it back on the call. If multiple speak text commands are issued consecutively, the audio files will be placed in a queue awaiting playback.


        **Expected Webhooks:**


        - `call.speak.started`

        - `call.speak.ended`'
      operationId: SpeakCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpeakRequest'
        description: Speak request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Speak text
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/streaming_start:
    post:
      description: 'Start streaming the media from a call to a specific WebSocket address or Dialogflow connection in near-realtime. Audio will be delivered as base64-encoded RTP payload (raw audio), wrapped in JSON payloads.


        Please find more details about media streaming messages specification under the link.'
      operationId: StartCallStreaming
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartStreamingRequest'
        description: Start streaming media request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Streaming start
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/streaming_stop:
    post:
      description: 'Stop streaming a call to a WebSocket.


        **Expected Webhooks:**


        - `streaming.stopped`'
      operationId: StopCallStreaming
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopStreamingRequest'
        description: Stop streaming media request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Streaming stop
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/suppression_start:
    post:
      operationId: noiseSuppressionStart
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoiseSuppressionStart'
        description: Start noise suppression request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Noise Suppression Start (BETA)
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/suppression_stop:
    post:
      operationId: noiseSuppressionStop
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoiseSuppressionStop'
        description: Stop noise suppression request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Noise Suppression Stop (BETA)
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/switch_supervisor_role:
    post:
      description: Switch the supervisor role for a bridged call. This allows switching between different supervisor modes during an active call
      operationId: SwitchSupervisorRole
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwitchSupervisorRoleRequest'
        description: Switch supervisor role request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Switch supervisor role
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/transcription_start:
    post:
      description: 'Start real-time transcription. Transcription will stop on call hang-up, or can be initiated via the Transcription stop command.


        **Expected Webhooks:**


        - `call.transcription`'
      operationId: StartCallTranscription
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscriptionStartRequest'
        description: Transcription start request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Transcription start
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/transcription_stop:
    post:
      description: Stop real-time transcription.
      operationId: StopCallTranscription
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscriptionStopRequest'
        description: Transcription stop request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Transcription stop
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/transfer:
    post:
      description: 'Transfer a call to a new destination. If the transfer is unsuccessful, a `call.hangup` webhook for the other call (Leg B) will be sent indicating that the transfer could not be completed. The original call will remain active and may be issued additional commands, potentially transfering the call to an alternate destination.


        **Expected Webhooks:**


        - `call.initiated`

        - `call.bridged` to Leg B

        - `call.answered` or `call.hangup`

        - `call.machine.detection.ended` if `answering_machine_detection` was requested

        - `call.machine.greeting.ended` if `answering_machine_detection` was requested to detect the end of machine greeting

        - `call.machine.premium.detection.ended` if `answering_machine_detection=premium` was requested

        - `call.machine.premium.greeting.ended` if `answering_machine_detection=premium` was requested and a beep was detected'
      operationId: TransferCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferCallRequest'
        description: Transfer call request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Transfer call
      tags:
      - Call Commands
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /calls/{call_control_id}/actions/conversation_relay_start:
    post:
      summary: Start Conversation Relay
      description: 'Start a Conversation Relay session on an active call. Conversation Relay connects the call audio to your WebSocket so your application can exchange realtime messages with the caller while Telnyx handles speech recognition and text-to-speech. Only one AI Assistant or Conversation Relay session can be active on a call at a time.


        **Expected Webhooks:**


        - `call.conversation.ended` - Sent when the Conversation Relay session ends. If the customer WebSocket disconnects, the webhook payload `reason` is `customer_disconnect`.'
      operationId: CallStartConversationRelay
      tags:
      - Call Commands
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        description: Conversation Relay start request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationRelayStartRequest'
      responses:
        '200':
          description: Successful response upon starting Conversation Relay.
          content:
            application/json:
              schema:
                type: object
                title: Call Control Command Response With Conversation Relay ID
                properties:
                  data:
                    $ref: '#/components/schemas/CallControlCommandResultWithConversationRelayId'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse_2'
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /calls/{call_control_id}/actions/conversation_relay_stop:
    post:
      summary: Stop Conversation Relay
      description: Stop the active Conversation Relay session on a call.
      operationId: CallStopConversationRelay
      tags:
      - Call Commands
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        description: Conversation Relay stop request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationRelayStopRequest'
      responses:
        '200':
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                type: object
                title: Call Control Command Response
                properties:
                  data:
                    $ref: '#/components/schemas/CallControlCommandResult'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse_2'
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /calls/{call_control_id}/actions/pay:
    post:
      summary: Process a payment
      description: 'Collect payment details from the caller using DTMF and either charge or tokenize the payment method through a configured Pay connector. Pay pauses active call recordings while sensitive payment details are collected.


        When `payment_token` is supplied, the DTMF collection steps are skipped and the existing token is sent to the connector.


        **Expected Webhooks:**


        - `call.payment.progress`

        - `call.payment.completed`


        **Test mode card numbers:** `4111111111111111` (Visa), `5555555555554444` (Mastercard), `378282246310005` (American Express), `6011111111111117` (Discover), `3065930009020004` (Diners Club), `3566002020360505` (JCB), `6200000000000005` (UnionPay), and `6771798021000008` (Maestro). Test-mode connectors reject other card numbers before contacting the configured processor. The UnionPay and Maestro numbers are accepted for processor testing, but Pay currently does not emit a card type for them.'
      operationId: PayCall
      tags:
      - Call Commands
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        description: Pay request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayRequest'
      responses:
        '200':
          description: Successful response upon making a call control command.
          content:
            application/json:
              schema:
                type: object
                title: Call Control Command Response
                properties:
                  data:
                    $ref: '#/components/schemas/CallControlCommandResult'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse_2'
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
components:
  schemas:
    ToolMessage:
      example:
        content: Hello, I'm John.
        role: tool
        tool_call_id: call_123
      properties:
        content:
          description: The contents of the tool message.
          type: string
        metadata:
          $ref: '#/components/schemas/MessageMetadata'
        role:
          description: The role of the messages author, in this case `tool`.
          enum:
          - tool
          type: string
        tool_call_id:
          description: Tool call that this message is responding to.
          type: string
      required:
      - role
      - content
      - tool_call_id
      title: Tool Message
      type: object
    CallControlCommandResultWithConversationId:
      example:
        conversation_id: d7e9c1d4-8b2a-4b8f-b3a7-9a671c9e9b0a
        result: ok
      properties:
        conversation_id:
          description: The ID of the conversation created by the command.
          example: d7e9c1d4-8b2a-4b8f-b3a7-9a671c9e9b0a
          format: uuid
          type: string
        result:
          example: ok
          type: string
      title: Call Control Command Result With Conversation ID
      type: object
    TranscriptionEngineTelnyxConfig:
      properties:
        language:
          $ref: '#/components/schemas/TelnyxTranscriptionLanguage'
        transcription_engine:
          description: Engine identifier for Telnyx transcription service
          enum:
          - Telnyx
          type: string
        transcription_model:
          default: openai/whisper-tiny
          description: The model to use for transcription.
          enum:
          - openai/whisper-tiny
          - openai/whisper-large-v3-turbo
          type: string
      title: Transcription engine Telnyx config
      type: object
    call-control_Error:
      properties:
        code:
          format: integer
          type: string
        detail:
          type: string
        meta:
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              format: json-pointer
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
    SendSIPInfoRequest:
      example:
        body: '{"key": "value", "numValue": 100}'
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        content_type: application/json
      properties:
        body:
          description: Content of the SIP INFO
          example: '{"key": "value", "numValue": 100}'
          type: string
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        content_type:
          description: Content type of the INFO body. Must be MIME type compliant. There is a 1,400 bytes limit
          example: application/json
          type: string
      required:
      - content_type
      - body
      title: Send SIP Info Request
      type: object
    ReferRequest:
      example:
        sip_address: sip:username@sip.non-telnyx-address.com
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid execution of duplicate commands. Telnyx will ignore subsequent commands with the same `command_id` as one that has already been executed.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        custom_headers:
          description: Custom headers to be added to the SIP INVITE.
          example:
          - name: head_1
            value: val_1
          - name: head_2
            value: val_2
          items:
            $ref: '#/components/schemas/CustomSipHeader'
          type: array
        sip_address:
          description: The SIP URI to which the call will be referred to.
          example: sip:username@sip.non-telnyx-address.com
          type: string
        sip_auth_password:
          description: SIP Authentication password used for SIP challenges.
          type: string
        sip_auth_username:
          description: SIP Authentication username used for SIP challenges.
          type: string
        sip_headers:
          description: SIP headers to be added to the request. Currently only User-to-User header is supported.
          example:
          - name: User-to-User
            value: value
          items:
            $ref: '#/components/schemas/SipHeader'
          type: array
      required:
      - sip_address
      title: Refer request
      type: object
    TranscriptionLanguage:
      default: en-US
      description: 'Language code for transcription. Note: Not all languages are supported by all transcription engines (google, telnyx, deepgram). See engine-specific documentation for supported values.'
      enum:
      - af
      - af-ZA
      - am
      - am-ET
      - ar
      - ar-AE
      - ar-BH
      - ar-DZ
      - ar-EG
      - ar-IL
      - ar-IQ
      - ar-JO
      - ar-KW
      - ar-LB
      - ar-MA
      - ar-MR
      - ar-OM
      - ar-PS
      - ar-QA
      - ar-SA
      - ar-TN
      - ar-YE
      - as
      - auto_detect
      - az
      - az-AZ
      - ba
      - be
      - bg
      - bg-BG
      - bn
      - bn-BD
      - bn-IN
      - bo
      - br
      - bs
      - bs-BA
      - ca
      - ca-ES
      - cs
      - cs-CZ
      - cy
      - da
      - da-DK
      - de
      - de-AT
      - de-CH
      - de-DE
      - el
      - el-GR
      - en
      - en-AU
      - en-CA
      - en-GB
      - en-GH
      - en-HK
      - en-IE
      - en-IN
      - en-KE
      - en-NG
      - en-NZ
      - en-PH
      - en-PK
      - en-SG
      - en-TZ
      - en-US
      - en-ZA
      - es
      - es-419
      - es-AR
      - es-BO
      - es-CL
      - es-CO
      - es-CR
      - es-DO
      - es-EC
      - es-ES
      - es-GT
      - es-HN
      - es-MX
      - es-NI
      - es-PA
      - es-PE
      - es-PR
      - es-PY
      - es-SV
      - es-US
      - es-UY
      - es-VE
      - et
      - et-EE
      - eu
      - eu-ES
      - fa
      - fa-IR
      - fi
      - fi-FI
      - fil-PH
      - fo
      - fr
      - fr-BE
      - fr-CA
      - fr-CH
      - fr-FR
      - gl
      - gl-ES
      - gu
      - gu-IN
      - ha
      - haw
      - he
      - hi
      - hi-IN
      - hr
      - hr-HR
      - ht
      - hu
      - hu-HU
      - hy
      - hy-AM
      - id
      - id-ID
      - is
      - is-IS
      - it
      - it-CH
      - it-IT
      - iw-IL
      - ja
      - ja-JP
      - jv-ID
      - jw
      - ka
      - ka-GE
      - kk
      - kk-KZ
      - km
      - km-KH
      - kn
      - kn-IN
      - ko
      - ko-KR
      - la
      - lb
      - ln
      - lo
      - lo-LA
      - lt
      - lt-LT
      - lv
      - lv-LV
      - mg
      - mi
      - mk
      - mk-MK
      - ml
      - ml-IN
      - mn
      - mn-MN
      - mr
      - mr-IN
      - ms
      - ms-MY
      - mt
      - my
      - my-MM
      - ne
      - ne-NP
      - nl
      - nl-BE
      - nl-NL
      - nn
      - 'no'
      - no-NO
      - oc
      - pa
      - pa-Guru-IN
      - pl
      - pl-PL
      - ps
      - pt
      - pt-BR
      - pt-PT
      - ro
      - ro-RO
      - ru
      - ru-RU
      - rw-RW
      - sa
      - sd
      - si
      - si-LK
      - sk
      - sk-SK
      - sl
      - sl-SI
      - sn
      - so
      - sq
      - sq-AL
      - sr
      - sr-RS
      - ss-latn-za
      - st-ZA
      - su
      - su-ID
      - sv
      - sv-SE
      - sw
      - sw-KE
      - sw-TZ
      - ta
      - ta-IN
      - ta-LK
      - ta-MY
      - ta-SG
      - te
      - te-IN
      - tg
      - th
      - th-TH
      - tk
      - tl
      - tn-latn-za
      - tr
      - tr-TR
      - ts-ZA
      - tt
      - uk
      - uk-UA
      - ur
      - ur-IN
      - ur-PK
      - uz
      - uz-UZ
      - ve-ZA
      - vi
      - vi-VN
      - xh-ZA
      - yi
      - yo
      - yue-Hant-HK
      - zh
      - zh-TW
      - zu-ZA
      example: en-US
      title: Transcription Language
      type: string
    BridgeRequest:
      example:
        call_control_id: v3:MdI91X4lWFEs7IgbBEOT9M4AigoY08M0WWZFISt1Yw2axZ_IiE4pqg
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        park_after_unbridge: self
      properties:
        call_control_id:
          description: The Call Control ID of the call you want to bridge with, can't be used together with queue parameter or video_room_id parameter.
          example: v3:MdI91X4lWFEs7IgbBEOT9M4AigoY08M0WWZFISt1Yw2axZ_IiE4pqg
          type: string
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        hold_after_unbridge:
          description: Specifies behavior after the bridge ends. If set to `true`, the current leg will be put on hold after unbridge instead of being hung up.
          example: true
          type: boolean
        mute_dtmf:
          default: none
          description: When enabled, DTMF tones are not passed to the call participant. The webhooks containing the DTMF information will be sent.
          enum:
          - none
          - both
          - self
          - opposite
          example: opposite
          type: string
        park_after_unbridge:
          description: Specifies behavior after the bridge ends (i.e. the opposite leg either hangs up or is transferred). If supplied with the value `self`, the current leg will be parked after unbridge. If not set, the default behavior is to hang up the leg.
          example: self
          type: string
        play_ringtone:
          default: false
          description: Specifies whether to play a ringtone if the call you want to bridge with has not yet been answered.
          example: true
          type: boolean
        prevent_double_bridge:
          default: false
          description: When set to `true`, it prevents bridging if the target call is already bridged to another call. Disabled by default.
          example: true
          type: boolean
        queue:
          description: The name of the queue you want to bridge with, can't be used together with call_control_id parameter or video_room_id parameter. Bridging with a queue means bridging with the first call in the queue. The call will always be removed from the queue regardless of whether bridging succeeds. Returns an error when the queue is empty.
          example: support
          type: string
        record:
          description: Start recording automatically after an event. Disabled by default.
          enum:
          - record-from-answer
          example: record-from-answer
          type: string
        record_channels:
          default: dual
          description: Defines which channel should be recorded ('single' or 'dual') when `record` is specified.
          enum:
          - single
          - dual
          example: single
          type: string
        record_custom_file_name:
          description: The custom recording file name to be used instead of the default `call_leg_id`. Telnyx will still add a Unix timestamp suffix.
          example: my_recording_file_name
          maxLength: 40
          minLength: 1
          type: string
        record_format:
          default: mp3
          description: Defines the format of the recording ('wav' or 'mp3') when `record` is specified.
          enum:
          - wav
          - mp3
          example: wav
          type: string
        record_max_length:
          default: 0
          description: Defines the maximum length for the recording in seconds when `record` is specified. The minimum value is 0. The maximum value is 43200. The default value is 0 (infinite).
          example: 1000
          format: int32
          type: integer
        record_timeout_secs:
          default: 0
          description: The number of seconds that Telnyx will wait for the recording to be stopped if silence is detected when `record` is specified. The timer only starts when the speech is detected. Please note that call transcription is used to detect silence and the related charge will be applied. The minimum value is 0. The default value is 0 (infinite).
          example: 100
          format: int32
          type: integer
        record_track:
          default: both
          description: The audio track to be recorded. Can be either `both`, `inbound` or `outbound`. If only single track is specified (`inbound`, `outbound`), `channels` configuration is ignored and it will be recorded as mono (single channel).
          enum:
          - both
          - inbound
          - outbound
          example: outbound
          type: string
        record_trim:
          description: When set to `trim-silence`, silence will be removed from the beginning and end of the recording.
          enum:
          - trim-silence
          example: trim-silence
          type: string
        ringtone:
          default: us
          description: Specifies which country ringtone to play when `play_ringtone` is set to `true`. If not set, the US ringtone will be played.
          enum:
          - at
          - au
          - be
          - bg
          - br
          - ch
          - cl
          - cn
          - cz
          - de
          - dk
          - ee
          - es
          - fi
          - fr
          - gr
          - hu
          - il
          - in
          - it
          - jp
          - lt
          - mx
          - my
          - nl
          - 'no'
          - nz
          - ph
          - pl
          - pt
          - ru
          - se
          - sg
          - th
          - tw
          - uk
          - us-old
          - us
          - ve
          - za
          example: pl
          type: string
        video_room_context:
          description: The additional parameter that will be passed to the video conference. It is a text field and the user can decide how to use it. For example, you can set the participant name or pass JSON text. It can be used only with video_room_id parameter.
          example: Alice
          type: string
        video_room_id:
          description: The ID of the video room you want to bridge with, can't be used together with call_control_id parameter or queue parameter.
          example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
          format: uuid
          type: string
      required:
      - call_control_id
      title: Bridge Request
      type: object
    StopStreamingRequest:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        stream_id: 1edb94f9-7ef0-4150-b502-e0ebadfd9491
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        stream_id:
          description: Identifies the stream. If the `stream_id` is not provided the command stops all streams associated with a given `call_control_id`.
          example: 1edb94f9-7ef0-4150-b502-e0ebadfd9491
          format: uuid
          type: string
      title: Stop Streaming Request
      type: object
    GoogleTranscriptionLanguage:
      default: en
      description: Language to use for speech recognition
      enum:
      - af
      - sq
      - am
      - ar
      - hy
      - az
      - eu
      - bn
      - bs
      - bg
      - my
      - ca
      - yue
      - zh
      - hr
      - cs
      - da
      - nl
      - en
      - et
      - fil
      - fi
      - fr
      - gl
      - ka
      - de
      - el
      - gu
      - iw
      - hi
      - hu
      - is
      - id
      - it
      - ja
      - jv
      - kn
      - kk
      - km
      - ko
      - lo
      - lv
      - lt
      - mk
      - ms
      - ml
      - mr
      - mn
      - ne
      - 'no'
      - fa
      - pl
      - pt
      - pa
      - ro
      - ru
      - rw
      - sr
      - si
      - sk
      - sl
      - ss
      - st
      - es
      - su
      - sw
      - sv
      - ta
      - te
      - th
      - tn
      - tr
      - ts
      - uk
      - ur
      - uz
      - ve
      - vi
      - xh
      - zu
      example: en
      title: Google transcription engine list of languages
      type: string
    ElevenLabsVoiceSettings:
      properties:
        api_key_ref:
          description: 'The `identifier` for an integration secret [/v2/integration_secrets](https://developers.telnyx.com/api/secrets-manager/integration-secrets/create-integration-secret) that refers to your ElevenLabs API key. Warning: Free plans are unlikely to work with this integration.'
          example: my_elevenlabs_api_key
          type: string
        type:
          description: Voice settings provider type
          enum:
          - elevenlabs
          type: string
      required:
      - type
      title: ElevenLabs Voice Settings
      type: object
    InterruptionSettings:
      description: Settings for handling user interruptions during assistant speech
      properties:
        enable:
          default: true
          description: When true, allows users to interrupt the assistant while speaking
          type: boolean
      type: object
    SipHeader:
      example:
        name: User-to-User
        value: value
      properties:
        name:
          description: The name of the header to add.
          enum:
          - User-to-User
          example: User-to-User
          type: string
        value:
          description: The value of the header.
          example: value
          type: string
      required:
      - name
      - value
      title: SIP Header
      type: object
    AIAssistantStartRequest:
      properties:
        assistant:
          $ref: '#/components/schemas/CallAssistantRequest'
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        greeting:
          description: Text that will be played when the assistant starts, if none then nothing will be played when the assistant starts. The greeting can be text for any voice or SSML for `AWS.Polly.<voice_id>` voices. There is a 3,000 character limit.
          example: Hello, can you tell me your age and where you live?
          type: string
        interruption_settings:
          $ref: '#/components/schemas/InterruptionSettings'
        message_history:
          default: []
          description: A list of messages to seed the conversation history before the assistant starts. Follows the same message format as the `ai_assistant_add_messages` command.
          items:
            discriminator:
              mapping:
                assistant: '#/components/schemas/AssistantMessage'
                developer: '#/components/schemas/DeveloperMessage'
                system: '#/components/schemas/SystemMessage'
                tool: '#/components/schemas/ToolMessage'
                user: '#/components/schemas/UserMessage'
              propertyName: role
            oneOf:
            - $ref: '#/components/schemas/UserMessage'
            - $ref: '#/components/schemas/AssistantMessage'
            - $ref: '#/components/schemas/ToolMessage'
            - $ref: '#/components/schemas/SystemMessage'
            - $ref: '#/components/schemas/DeveloperMessage'
          type: array
        participants:
          default: []
          description: A list of participants to add to the conversation when it starts.
          items:
            $ref: '#/components/schemas/AIAssistantJoinParticipant'
          type: array
        send_message_history_updates:
          default: false
          description: When `true`, a webhook is sent each time the conversation message history is updated.
          type: boolean
        transcription:
          $ref: '#/components/schemas/TranscriptionConfig'
        voice:
          $ref: '#/components/schemas/VoiceConfig'
        voice_settings:
          description: The settings associated with the voice selected
          discriminator:
            mapping:
              aws: '#/components/schemas/AWSVoiceSettings'
              azure: '#/components/schemas/AzureVoiceSettings'
              elevenlabs: '#/components/schemas/ElevenLabsVoiceSettings'
              resemble: '#/components/schemas/ResembleVoiceSettings'
              rime: '#/components/schemas/RimeVoiceSettings'
              telnyx: '#/components/schemas/TelnyxVoiceSettings'
              xai: '#/components/schemas/XAIVoiceSettings'
            propertyName: type
          oneOf:
          - $ref: '#/components/schemas/ElevenLabsVoiceSettings'
          - $ref: '#/components/schemas/TelnyxVoiceSettings'
          - $ref: '#/components/schemas/AWSVoiceSettings'
          - $ref: '#/components/schemas/AzureVoiceSettings'
          - $ref: '#/components/schemas/RimeVoiceSettings'
          - $ref: '#/components/schemas/ResembleVoiceSettings'
          - $ref: '#/components/schemas/XAIVoiceSettings'
      type: object
    NoiseSuppressionStop:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
      title: Noise Suppression Stop Request
      type: object
    StartRecordingRequest:
      example:
        channels: single
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        format: wav
        max_length: 0
        play_beep: true
        timeout_secs: 0
        transcription: true
        transcription_engine: B
        transcription_language: en
      properties:
        channels:
          description: When `dual`, final audio file will be stereo recorded with the first leg on channel A, and the rest on channel B.
          enum:
          - single
          - dual
          example: single
          type: string
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        custom_file_name:
          description: The custom recording file name to be used instead of the default `call_leg_id`. Telnyx will still add a Unix timestamp suffix.
          example: my_recording_file_name
          maxLength: 40
          minLength: 1
          type: string
        format:
          description: The audio file format used when storing the call recording. Can be either `mp3` or `wav`.
          enum:
          - wav
          - mp3
          example: mp3
          type: string
        max_length:
          default: 0
          description: Defines the maximum length for the recording in seconds. The minimum value is 0. The maximum value is 14400. The default value is 0 (infinite)
          example: 100
          format: int32
          type: integer
        play_beep:
          description: If enabled, a beep sound will be played at the start of a recording.
          example: true
          type: boolean
        recording_track:
          default: both
          description: The audio track to be recorded. Can be either `both`, `inbound` or `outbound`. If only single track is specified (`inbound`, `outbound`), `channels` configuration is ignored and it will be recorded as mono (single channel).
          enum:
          - both
          - inbound
          - outbound
          example: outbound
          type: string
        timeout_secs:
          default: 0
          description: The number of seconds that Telnyx will wait for the recording to be stopped if silence is detected. The timer only starts when the speech is detected. Please note that call transcription is used to detect silence and the related charge will be applied. The minimum value is 0. The default value is 0 (infinite)
          example: 100
          format: int32
          type: integer
        transcription:
          default: false
          description: Enable post recording transcription. The default value is false.
          example: true
          type: boolean
        transcription_engine:
          default: A
          description: 'Engine to use for speech recognition. `A` - `Google`, `B` - `Telnyx`, `deepgram/nova-3` - `Deepgram Nova-3`. Note: `deepgram/nova-3` supports only `en` and `en-{Region}` languages.'
          enum:
          - A
          - B
          - deepgram/nova-3
          example: A
          type: string
        transcription_language:
          $ref: '#/components/schemas/TranscriptionLanguage'
        transcription_max_speaker_count:
          default: 6
          description: Defines maximum number of speakers in the conversation. Applies to `google` engine only.
          example: 4
          format: int32
          type: integer
        transcription_min_speaker_count:
          default: 2
          description: Defines minimum number of speakers in the conversation. Applies to `google` engine only.
          example: 4
          format: int32
          type: integer
        transcription_profanity_filter:
          default: false
          description: Enables profanity_filter. Applies to `google` engine only.
          example: true
          type: boolean
        transcription_speaker_diarization:
          default: false
          description: Enables speaker diarization. Applies to `google` engine only.
          example: true
          type: boolean
        trim:
          description: When set to `trim-silence`, silence will be removed from the beginning and end of the recording.
          enum:
          - trim-silence
          example: trim-silence
          type: string
      required:
      - format
      - channels
      title: Start Recording Request
      type: object
    SendDTMFRequest:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        digits: 1www2WABCDw9
        duration_millis: 500
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        digits:
          description: 'DTMF digits to send. Valid digits are 0-9, A-D, *, and #. Pauses can be added using w (0.5s) and W (1s).'
          example: 1www2WABCDw9
          type: string
        duration_millis:
          default: 250
          description: Specifies for how many milliseconds each digit will be played in the audio stream. Ranges from 100 to 500ms
          example: 500
          format: int32
          type: integer
      required:
      - digits
      title: Send DTMF Request
      type: object
    GatherUsingAIRequest:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        greeting: Hello, can you tell me your age and where you live?
        message_history:
        - content: Hello, what's your name?
          role: assistant
        - content: Hello, I'm John.
          role: user
        parameters:
          properties:
            age:
              description: The age of the customer.
              type: integer
            location:
              description: The location of the customer.
              type: string
          required:
          - age
          - location
          type: object
        send_message_history_updates: true
        send_partial_results: true
        user_response_timeout_ms: 5000
        voice: Telnyx.KokoroTTS.af
      properties:
        assistant:
          $ref: '#/components/schemas/Assistant'
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        gather_ended_speech:
          description: Text that will be played when the gathering has finished. There is a 3,000 character limit.
          example: Thank you for providing the information.
          maxLength: 3000
          type: string
        greeting:
          description: Text that will be played when the gathering starts, if none then nothing will be played when the gathering starts. The greeting can be text for any voice or SSML for `AWS.Polly.<voice_id>` voices. There is a 3,000 character limit.
          example: Hello, can you tell me your age and where you live?
          type: string
        interruption_settings:
          $ref: '#/components/schemas/InterruptionSettings'
        language:
          oneOf:
          - $ref: '#/components/schemas/GoogleTranscriptionLanguage'
        message_history:
          description: The message history you want the voice assistant to be aware of, this can be useful to keep the context of the conversation, or to pass additional information to the voice assistant.
          items:
            properties:
              content:
                description: The content of the message
                example: Hello, I'm 29 and I live in Paris.
                type: string
              role:
                description: The role of the message sender
                enum:
                - assistant
                - user
                example: user
                type: string
            type: object
          type: array
        parameters:
          description: The parameters described as a JSON Schema object that needs to be gathered by the voice assistant. See the [JSON Schema reference](https://json-schema.org/understanding-json-schema) for documentation about the format
          example:
            properties:
              age:
                description: The age of the customer.
                type: integer
              location:
                description: The location of the customer.
                type: string
            required:
            - age
            - location
            type: object
          type: object
        send_message_history_updates:
          description: Default is `false`. If set to `true`, the voice assistant will send updates to the message history via the `call.ai_gather.message_history_updated` callback in real time as the message history is updated.
          example: false
          type: boolean
        send_partial_results:
          description: Default is `false`. If set to `true`, the voice assistant will send partial results via the `call.ai_gather.partial_results` callback in real time as individual fields are gathered. If set to `false`, the voice assistant will only send the final result via the `call.ai_gather.ended` callback.
          example: false
          type: boolean
        transcription:
          $ref: '#/components/schemas/TranscriptionConfig'
        user_response_timeout_ms:
          default: 10000
          description: The maximum time in milliseconds to wait for user response before timing out.
          example: 15000
          type: integer
        voice:
          $ref: '#/components/schemas/VoiceConfig'
        voice_settings:
          description: The settings associated with the voice selected
          discriminator:
            mapping:
              aws: '#/components/schemas/AWSVoiceSettings'
              azure: '#/components/schemas/AzureVoiceSettings'
              elevenlabs: '#/components/schemas/ElevenLabsVoiceSettings'
              resemble: '#/components/schemas/ResembleVoiceSettings'
              rime: '#/components/schemas/RimeVoiceSettings'
              telnyx: '#/components/schemas/TelnyxVoiceSettings'
              xai: '#/components/schemas/XAIVoiceSettings'
            propertyName: type
          oneOf:
          - $ref: '#/components/schemas/ElevenLabsVoiceSettings'
          - $ref: '#/components/schemas/TelnyxVoiceSettings'
          - $ref: '#/components/schemas/AWSVoiceSettings'
          - $ref: '#/components/schemas/AzureVoiceSettings'
          - $ref: '#/components/schemas/RimeVoiceSettings'
          - $ref: '#/components/schemas/ResembleVoiceSettings'
          - $ref: '#/components/schemas/XAIVoiceSettings'
      required:
      - parameters
      title: Gather Using AI Request
      type: object
    DeveloperMessage:
      description: Developer-provided instructions that the model should follow, regardless of messages sent by the user.
      example:
        content: Get the user's favorite color
        role: developer
      properties:
        content:
          description: The contents of the developer message.
          type: string
        metadata:
          $ref: '#/components/schemas/MessageMetadata'
        role:
          description: The role of the messages author, in this case developer.
          enum:
          - developer
          type: string
      required:
      - role
      - content
      title: Developer Message
      type: object
    UserMessage:
      description: Messages sent by an end user
      example:
        content: Hello, I would like some help.
        role: user
      properties:
        content:
          description: The contents of the user message.
          type: string
        metadata:
          $ref: '#/components/schemas/MessageMetadata'
        role:
          description: The role of the messages author, in this case `user`.
          enum:
          - user
          type: string
      required:
      - role
      - content
      title: User message.
      type: object
    MessageMetadata:
      description: Metadata to add to the message
      type: object
    TranscriptionEngineAzureConfig:
      properties:
        api_key_ref:
          description: Reference to the API key for authentication. See [integration secrets documentation](https://developers.telnyx.com/api/secrets-manager/integration-secrets/create-integration-secret) for details. The parameter is optional as defaults are available for some regions.
          type: string
        language:
          $ref: '#/components/schemas/AzureTranscriptionLanguage'
        region:
          $ref: '#/components/schemas/AzureTranscriptionRegion'
        transcription_engine:
          description: Engine identifier for Azure transcription service
          enum:
          - Azure
          type: string
      required:
      - transcription_engine
      - region
      title: Transcription engine Azure config
      type: object
    GatherRequest:
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        gather_id:
          description: An id that will be sent back in the corresponding `call.gather.ended` webhook. Will be randomly generated if not specified.
          example: my_gather_id
          maxLength: 40
          minLength: 1
          type: string
        initial_timeout_millis:
          default: 5000
          description: The number of milliseconds to wait for the first DTMF.
          example: 10000
          format: int32
          type: integer
        inter_digit_timeout_millis:
          default: 5000
          description: The number of milliseconds to wait for input between digits.
          example: 10000
          format: int32
          type: integer
        maximum_digits:
          default: 128
          description: The maximum number of digits to fetch. This parameter has a maximum value of 128.
          example: 10
          format: int32
          type: integer
        minimum_digits:
          default: 1
          description: The minimum number of digits to fetch. This parameter has a minimum value of 1.
          example: 1
          format: int32
          type: integer
        terminating_digit:
          default: '#'
          description: The digit used to terminate input if fewer than `maximum_digits` digits have been gathered.
          example: '#'
          type: string
        timeout_millis:
          default: 60000
          description: The number of milliseconds to wait to complete the request.
          example: 60000
          format: int32
          type: integer
        valid_digits:
          default: 0123456789#*
          description: A list of all digits accepted as valid.
          example: '123'
          type: string
      title: Gather
      type: object
    DeepgramNova3TranscriptionLanguage:
      default: en
      description: Language to use for speech recognition with nova-3 model
      enum:
      - en
      - en-US
      - en-AU
      - en-GB
      - en-IN
      - en-NZ
      - de
      - nl
      - sv
      - sv-SE
      - da
      - da-DK
      - es
      - es-419
      - fr
      - fr-CA
      - pt
      - pt-BR
      - pt-PT
      - auto_detect
      example: en
      title: Deepgram nova-3 transcription engine list of languages
      type: string
    TranscriptionConfig:
      description: The settings associated with speech to text for the voice assistant. This is only relevant if the assistant uses a text-to-text language model. Any assistant using a model with native audio support (e.g. `fixie-ai/ultravox-v0_4`) will ignore this field.
      properties:
        language:
          default: auto
          description: 'The language of the audio to be transcribed. If not set, or if set to `auto`, supported models will automatically detect the language. Supported and meaningful values depend on the selected transcription `model`. For `deepgram/flux`, supported values are: `auto` (Telnyx language detection controls the language hint), `multi` (no language hint), and language-specific hints `en`, `es`, `fr`, `de`, `hi`, `ru`, `pt`, `ja`, `it`, and `nl`.'
          example: auto
          type: string
        model:
          default: distil-whisper/distil-large-v2
          description: 'The speech to text model to be used by the voice assistant. Supported models include:


            - `deepgram/flux` (or `flux`) for live streaming turn-taking.

            - `deepgram/nova-3` and `deepgram/nova-2` for live streaming transcription.

            - `speechmatics/standard` and `speechmatics/enhanced` for live streaming transcription.

            - `assemblyai/universal-streaming` for live streaming transcription.

            - `xai/grok-stt` for live streaming transcription.

            - `azure/fast` and `azure/realtime`; Azure models require `region`, and unsupported regions require `api_key_ref`.

            - `google/latest_long` for non-streaming multilingual transcription.

            - `distil-whisper/distil-large-v2` for lower-latency English-only non-streaming transcription.

            - `openai/whisper-large-v3-turbo` for multilingual non-streaming transcription with automatic language detection.'
          enum:
          - deepgram/flux
          - flux
          - deepgram/nova-3
          - deepgram/nova-2
          - speechmatics/standard
          - speechmatics/enhanced
          - assemblyai/universal-streaming
          - xai/grok-stt
          - azure/fast
          - azure/realtime
          - google/latest_long
          - distil-whisper/distil-large-v2
          - openai/whisper-large-v3-turbo
          example: distil-whisper/distil-large-v2
          type: string
      type: object
    DeepgramNova3Config:
      example:
        keywords_boosting:
          krieger: 1
          snuffleupagus: 5
          systrom: 2
        language: en
        transcription_engine: Deepgram
        transcription_model: deepgram/nova-3
      properties:
        interim_results:
          default: false
          description: Whether to send also interim results. If set to false, only final results will be sent.
          example: true
          type: boolean
        keywords_boosting:
          additionalProperties:
            description: Boost intensifier for the keyword. Higher values increase recognition confidence.
            type: number
          default: null
          description: 'Keywords and their respective intensifiers (boosting values) to improve transcription accuracy for specific words or phrases. The intensifier should be a numeric value. Example: `{"snuffleupagus": 5, "systrom": 2, "krieger": 1}`.'
          example:
            krieger: 1
            snuffleupagus: 5
            systrom: 2
          type: object
        language:
          $ref: '#/components/schemas/DeepgramNova3TranscriptionLanguage'
        transcription_engine:
          enum:
          - Deepgram
          type: string
        transcription_model:
          enum:
          - deepgram/nova-3
          type: string
        utterance_end_ms:
          default: 1000
          description: Number of milliseconds of silence to consider an utterance ended. Ranges from 0 to 5000 ms.
          example: 800
          maximum: 5000
          minimum: 0
          type: integer
      required:
      - transcription_engine
      - transcription_model
      title: DeepgramNova3Config
      type: object
    InworldVoiceSettings:
      properties:
        type:
          description: Voice settings provider type
          enum:
          - inworld
          type: string
      required:
      - type
      title: Inworld Voice Settings
      type: object
    BookAppointmentTool:
      properties:
        book_appointment:
          $ref: '#/components/schemas/BookAppointmentToolParams'
        type:
          enum:
          - book_appointment
          type: string
      required:
      - type
      - book_appointment
      title: BookAppointmentTool
      type: object
    StopRecordingRequest:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        recording_id: 6e00ab49-9487-4364-8ad6-23965965afb2
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        recording_id:
          description: Uniquely identifies the resource.
          example: 6e00ab49-9487-4364-8ad6-23965965afb2
          format: uuid
          type: string
      title: Stop Recording Request
      type: object
    ResumeRecordingRequest:
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        recording_id:
          description: Uniquely identifies the resource.
          example: 6e00ab49-9487-4364-8ad6-23965965afb2
          format: uuid
          type: string
      title: Resume Recording Request
      type: object
    ResembleVoiceSettings:
      properties:
        format:
          default: mp3
          description: Output audio format.
          enum:
          - wav
          - mp3
          type: string
        precision:
          default: PCM_32
          description: Audio precision format.
          enum:
          - PCM_16
          - PCM_24
          - PCM_32
          - MULAW
          type: string
        sample_rate:
          $ref: '#/components/schemas/ResembleSampleRate'
        type:
          description: Voice settings provider type
          enum:
          - resemble
          type: string
      required:
      - type
      title: Resemble Voice Settings
      type: object
    CallControlCommandResult:
      example:
        result: ok
      properties:
        result:
          example: ok
          type: string
      title: Call Control Command Result
      type: object
    RejectRequest:
      example:
        cause: USER_BUSY
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
      properties:
        cause:
          description: Cause for call rejection.
          enum:
          - CALL_REJECTED
          - USER_BUSY
          example: USER_BUSY
          type: string
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
      required:
      - cause
      title: Reject Request
      type: object
    PlaybackStopRequest:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        overlay: false
        stop: all
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        overlay:
          default: false
          description: When enabled, it stops the audio being played in the overlay queue.
          example: true
          type: boolean
        stop:
          default: all
          description: Use `current` to stop the current audio being played. Use `all` to stop the current audio file being played and clear all audio files from the queue.
          example: current
          type: string
      title: Playback Stop Request
      type: object
    CallControlWebhookToolParams:
      properties:
        body_parameters:
          description: The body parameters the webhook tool accepts, described as a JSON Schema object. These parameters will be passed to the webhook as the body of the request. See the [JSON Schema reference](https://json-schema.org/understanding-json-schema) for documentation about the format
          example:
            properties:
              age:
                description: The age of the customer.
                type: integer
              location:
                description: The location of the customer.
                type: string
            required:
            - age
            - location
            type: object
          properties:
[...]
