openapi: 3.2.0
info:
  title: Telnyx Integrations API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Integrations across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- name: Integrations
paths:
  /ai/integrations:
    get:
      description: List all available integrations.
      operationId: list_integrations_public_integrations_get
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationsListResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List Integrations
      tags:
      - Integrations
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/integrations/connections:
    get:
      description: List user setup integrations
      operationId: list_user_integrations_public_integrations_connections_get
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationConnectionsListResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List User Integrations
      tags:
      - Integrations
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/integrations/connections/{user_connection_id}:
    delete:
      description: Delete a specific integration connection.
      operationId: delete_integration_connection
      parameters:
      - description: The user integration connection identifier
        in: path
        name: user_connection_id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content - Integration connection deleted successfully
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete Integration Connection
      tags:
      - Integrations
      x-latency-category: responsive
    get:
      description: Get user setup integrations
      operationId: get_user_integration_by_id_public_integrations_connections__user_connection_id__get
      parameters:
      - description: The connection id
        in: path
        name: user_connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationConnectionResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get User Integration connection By Id
      tags:
      - Integrations
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/integrations/{integration_id}:
    get:
      description: Retrieve integration details
      operationId: list_integration_by_id_public_integrations__integration_id__get
      parameters:
      - description: The integration id
        in: path
        name: integration_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List Integration By Id
      tags:
      - Integrations
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
components:
  schemas:
    IntegrationsListResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Integration'
          title: Data
          type: array
      required:
      - data
      title: IntegrationsListResponse
      type: object
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    IntegrationConnection:
      properties:
        allowed_tools:
          items:
            type: string
          title: Allowed Tools
          type: array
        id:
          title: Id
          type: string
        integration_id:
          title: Integration Id
          type: string
      required:
      - id
      - integration_id
      - allowed_tools
      title: IntegrationConnection
      type: object
    IntegrationConnectionResponse:
      properties:
        data:
          $ref: '#/components/schemas/IntegrationConnection'
      required:
      - data
      title: IntegrationConnectionResponse
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    IntegrationConnectionsListResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/IntegrationConnection'
          title: Data
          type: array
      required:
      - data
      title: IntegrationConnectionsListResponse
      type: object
    Integration:
      properties:
        available_tools:
          items:
            type: string
          title: Available Tools
          type: array
        description:
          title: Description
          type: string
        display_name:
          title: Display Name
          type: string
        id:
          title: Id
          type: string
        logo_url:
          title: Logo Url
          type: string
        name:
          title: Name
          type: string
        status:
          enum:
          - disconnected
          - connected
          title: Status
          type: string
      required:
      - id
      - name
      - display_name
      - description
      - logo_url
      - status
      - available_tools
      title: Integration
      type: object
    HTTPValidationError_2:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
      example:
        detail:
        - loc:
          - body
          - name
          msg: Field required
          type: missing
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
