openapi: 3.2.0
info:
  title: Telnyx Assistants API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Assistants across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Configure AI assistant specifications
  name: Assistants
paths:
  /ai/assistants:
    get:
      description: Retrieve a list of all AI Assistants configured by the user.
      operationId: get_assistants_public_assistants_get
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantsListData'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List assistants
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      description: Create a new AI Assistant.
      operationId: create_new_assistant_public_assistants_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssistantRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_Assistant'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create an assistant
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/import:
    post:
      description: Import assistants from external providers. Any assistant that has already been imported will be overwritten with its latest version from the importing provider.
      operationId: import_assistants_public_assistants_import_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportAssistantsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantsListData'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Import assistants from external provider
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/tags:
    get:
      operationId: get_all_assistant_tags
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get All Tags
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/tests:
    get:
      description: Retrieves a paginated list of assistant tests with optional filtering capabilities
      operationId: get_assistant_tests_public_assistants_tests_get
      parameters:
      - description: Filter tests by test suite name
        in: query
        name: test_suite
        required: false
        schema:
          description: Filter tests by test suite name
          title: Test Suite
          type: string
      - description: Filter tests by communication channel (e.g., 'web_chat', 'sms')
        in: query
        name: telnyx_conversation_channel
        required: false
        schema:
          description: Filter tests by communication channel (e.g., 'web_chat', 'sms')
          title: Telnyx Conversation Channel
          type: string
      - description: Filter tests by destination (phone number, webhook URL, etc.)
        in: query
        name: destination
        required: false
        schema:
          description: Filter tests by destination (phone number, webhook URL, etc.)
          title: Destination
          type: string
      - description: 'Consolidated page parameter (deepObject style). Originally: page[size], page[number]'
        explode: true
        in: query
        name: page
        schema:
          properties:
            number:
              default: 1
              description: Page number to retrieve (1-based indexing)
              minimum: 1
              title: Page[Number]
              type: integer
            size:
              default: 20
              description: Number of tests to return per page (1-100)
              maximum: 100
              minimum: 1
              title: Page[Size]
              type: integer
          type: object
        style: deepObject
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAssistantTestList'
          description: Returns paginated test list with metadata for navigation and filtering
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List assistant tests with pagination
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      description: Creates a comprehensive test configuration for evaluating AI assistant performance
      operationId: create_assistant_test_public_assistants_tests_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssistantTestRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantTestResponse'
          description: Returns the created test configuration with assigned test ID
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create a new assistant test
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/tests/test-suites:
    get:
      description: Retrieves a list of all distinct test suite names available to the current user
      operationId: fetch_test_suites_public_assistants_tests_test_suites_get
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestSuitesResponse'
          description: Returns an array of unique test suite names for filtering and organization
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get all test suite names
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/tests/test-suites/{suite_name}/runs:
    get:
      description: Retrieves paginated history of test runs for a specific test suite with filtering options
      operationId: get_test_suite_runs_for_test_public_assistants_tests_test_suites__suite_name__runs_get
      parameters:
      - in: path
        name: suite_name
        required: true
        schema:
          title: Suite Name
          type: string
      - description: Filter runs by execution status (pending, running, completed, failed, timeout)
        in: query
        name: status
        required: false
        schema:
          description: Filter runs by execution status (pending, running, completed, failed, timeout)
          title: Status
          type: string
      - description: Filter runs by specific suite execution batch ID
        in: query
        name: test_suite_run_id
        required: false
        schema:
          description: Filter runs by specific suite execution batch ID
          title: Test Suite Run Id
          type: string
      - description: 'Consolidated page parameter (deepObject style). Originally: page[size], page[number]'
        explode: true
        in: query
        name: page
        schema:
          properties:
            number:
              default: 1
              description: Page number to retrieve (1-based indexing)
              minimum: 1
              title: Page[Number]
              type: integer
            size:
              default: 20
              description: Number of test runs to return per page (1-100)
              maximum: 100
              minimum: 1
              title: Page[Size]
              type: integer
          type: object
        style: deepObject
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTestRunList'
          description: Returns paginated list of test runs within the specified suite
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get test suite run history
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      description: Executes all tests within a specific test suite as a batch operation
      operationId: trigger_test_suite_runs_public_assistants_tests_test_suites__suite_name__runs_post
      parameters:
      - in: path
        name: suite_name
        required: true
        schema:
          title: Suite Name
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerTestSuiteRunsRequest'
              title: Request
      responses:
        '201':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TestRunResponse'
                title: Response Trigger Test Suite Runs Public Assistants Tests Test Suites  Suite Name  Runs Post
                type: array
          description: Returns array of created test runs for all tests in the suite
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Trigger test suite execution
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/tests/{test_id}:
    delete:
      description: Permanently removes an assistant test and all associated data
      operationId: delete_assistant_test_public_assistants_tests__test_id__delete
      parameters:
      - in: path
        name: test_id
        required: true
        schema:
          title: Test Id
          type: string
      responses:
        '200':
          description: Returns success status when test is successfully deleted
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete an assistant test
      tags:
      - Assistants
      x-latency-category: responsive
    get:
      description: Retrieves detailed information about a specific assistant test
      operationId: get_assistant_test_public_assistants_tests__test_id__get
      parameters:
      - in: path
        name: test_id
        required: true
        schema:
          title: Test Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantTestResponse'
          description: Returns complete test configuration including rubric, schedule, and metadata
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get assistant test by ID
      tags:
      - Assistants
      x-latency-category: responsive
    put:
      description: Updates an existing assistant test configuration with new settings
      operationId: update_assistant_test_public_assistants_tests__test_id__put
      parameters:
      - in: path
        name: test_id
        required: true
        schema:
          title: Test Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssistantTestRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantTestResponse'
          description: Returns the updated test configuration with all changes applied
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update an assistant test
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/tests/{test_id}/runs:
    get:
      description: Retrieves paginated execution history for a specific assistant test with filtering options
      operationId: get_test_runs_for_test_public_assistants_tests__test_id__runs_get
      parameters:
      - in: path
        name: test_id
        required: true
        schema:
          title: Test Id
          type: string
      - description: Filter runs by execution status (pending, running, completed, failed, timeout)
        in: query
        name: status
        required: false
        schema:
          description: Filter runs by execution status (pending, running, completed, failed, timeout)
          title: Status
          type: string
      - description: 'Consolidated page parameter (deepObject style). Originally: page[size], page[number]'
        explode: true
        in: query
        name: page
        schema:
          properties:
            number:
              default: 1
              description: Page number to retrieve (1-based indexing)
              minimum: 1
              title: Page[Number]
              type: integer
            size:
              default: 20
              description: Number of test runs to return per page (1-100)
              maximum: 100
              minimum: 1
              title: Page[Size]
              type: integer
          type: object
        style: deepObject
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTestRunList'
          description: Returns paginated list of test runs for the specified test
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get test run history for a specific test
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      description: Initiates immediate execution of a specific assistant test
      operationId: trigger_test_run_public_assistants_tests__test_id__runs_post
      parameters:
      - in: path
        name: test_id
        required: true
        schema:
          title: Test Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerTestRunRequest'
              title: Request
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestRunResponse'
          description: Returns the created test run with execution details and status
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Trigger a manual test run
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/tests/{test_id}/runs/{run_id}:
    get:
      description: Retrieves detailed information about a specific test run execution
      operationId: get_test_run_public_assistants_tests__test_id__runs__run_id__get
      parameters:
      - in: path
        name: test_id
        required: true
        schema:
          title: Test Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          title: Run Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestRunResponse'
          description: Returns complete test run details including results, logs, and performance metrics
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get specific test run details
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/{assistant_id}:
    delete:
      description: Delete an AI Assistant by `assistant_id`.
      operationId: delete_assistant_public_assistants__assistant_id__delete
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantDeletedResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete an assistant
      tags:
      - Assistants
      x-latency-category: responsive
    get:
      description: Retrieve an AI Assistant configuration by `assistant_id`.
      operationId: get_assistant_public_assistants__assistant_id__get
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: query
        name: fetch_dynamic_variables_from_webhook
        required: false
        schema:
          default: false
          title: Fetch Dynamic Variables From Webhook
          type: boolean
      - in: query
        name: from
        required: false
        schema:
          title: From
          type: string
      - in: query
        name: to
        required: false
        schema:
          title: To
          type: string
      - in: query
        name: call_control_id
        required: false
        schema:
          title: Call Control Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_Assistant'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get an assistant
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      description: Update an AI Assistant's attributes.
      operationId: update_assistant_public_assistants__assistant_id__post
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssistantRequestWithPromotion'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_Assistant'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update an assistant
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/{assistant_id}/canary-deploys:
    delete:
      description: 'Endpoint to delete a canary deploy configuration for an assistant.


        Removes all canary deploy configurations for the specified assistant.'
      operationId: delete_canary_deploy_assistants__assistant_id__canary_deploys_delete
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete Canary Deploy
      tags:
      - Assistants
      x-latency-category: responsive
    get:
      description: 'Endpoint to get a canary deploy configuration for an assistant.


        Retrieves the current canary deploy configuration with all version IDs and their

        traffic percentages for the specified assistant.'
      operationId: get_canary_deploy_assistants__assistant_id__canary_deploys_get
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanaryDeployResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Canary Deploy
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      description: 'Endpoint to create a canary deploy configuration for an assistant.


        Creates a new canary deploy configuration with multiple version IDs and their traffic

        percentages for A/B testing or gradual rollouts of assistant versions.'
      operationId: create_canary_deploy_assistants__assistant_id__canary_deploys_post
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CanaryDeployRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanaryDeployResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create Canary Deploy
      tags:
      - Assistants
      x-latency-category: responsive
    put:
      description: 'Endpoint to update a canary deploy configuration for an assistant.


        Updates the existing canary deploy configuration with new version IDs and percentages.

        All old versions and percentages are replaces by new ones from this request.'
      operationId: update_canary_deploy_assistants__assistant_id__canary_deploys_put
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CanaryDeployRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanaryDeployResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update Canary Deploy
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/{assistant_id}/chat:
    post:
      description: This endpoint allows a client to send a chat message to a specific AI Assistant. The assistant processes the message and returns a relevant reply based on the current conversation context. Refer to the Conversation API to create a conversation, filter existing conversations, fetch messages for a conversation, and manually add messages to a conversation.
      operationId: assistant_chat_public_assistants__assistant_id__chat_post
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssistantChatReq'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantChatResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Assistant Chat (BETA)
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/{assistant_id}/chat/sms:
    post:
      description: 'Send an SMS message for an assistant. This endpoint:

        1. Validates the assistant exists and has messaging profile configured

        2. If should_create_conversation is true, creates a new conversation with metadata

        3. Sends the SMS message (If `text` is set, this will be sent. Otherwise, if this is the first message in the conversation and the assistant has a `greeting` configured, this will be sent. Otherwise the assistant will generate the text to send.)

        4. Updates conversation metadata if provided

        5. Returns the conversation ID'
      operationId: assistant_sms_chat_assistants__assistant_id__chat_sms_post
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssistantSmsChatReq'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantSmsChatResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Assistant Sms Chat
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/{assistant_id}/clone:
    post:
      description: Clone an existing assistant, excluding telephony and messaging settings.
      operationId: clone_assistant_public_assistants__assistant_id__clone_post
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_Assistant'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Clone Assistant
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/{assistant_id}/scheduled_events:
    get:
      description: Get scheduled events for an assistant with pagination and filtering
      operationId: get_scheduled_events
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: query
        name: from_date
        required: false
        schema:
          format: date-time
          title: From Date
          type: string
      - in: query
        name: to_date
        required: false
        schema:
          format: date-time
          title: To Date
          type: string
      - in: query
        name: conversation_channel
        required: false
        schema:
          $ref: '#/components/schemas/ConversationChannelType'
          title: Conversation Channel
      - description: 'Consolidated page parameter (deepObject style). Originally: page[size], page[number]'
        explode: true
        in: query
        name: page
        schema:
          properties:
            number:
              default: 1
              minimum: 1
              title: Page[Number]
              type: integer
            size:
              default: 20
              maximum: 100
              minimum: 1
              title: Page[Size]
              type: integer
          type: object
        style: deepObject
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedScheduledEventList'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List scheduled events
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      description: Create a scheduled event for an assistant
      operationId: create_scheduled_event
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScheduledEventRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledEventResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create a scheduled event
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/{assistant_id}/scheduled_events/{event_id}:
    delete:
      description: If the event is pending, this will cancel the event. Otherwise, this will simply remove the record of the event.
      operationId: delete_scheduled_event
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: event_id
        required: true
        schema:
          title: Event Id
          type: string
      responses:
        '200':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete a scheduled event
      tags:
      - Assistants
      x-latency-category: responsive
    get:
      description: Retrieve a scheduled event by event ID
      operationId: get_scheduled_event
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: event_id
        required: true
        schema:
          title: Event Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledEventResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get a scheduled event
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/{assistant_id}/tags:
    post:
      operationId: add_assistant_tag
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTagRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Add Assistant Tag
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/{assistant_id}/tags/{tag}:
    delete:
      operationId: remove_assistant_tag
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: tag
        required: true
        schema:
          title: Tag
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Remove Assistant Tag
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/{assistant_id}/texml:
    get:
      description: Get an assistant texml by `assistant_id`.
      operationId: get_assistant_texml_public_assistants__assistant_id__texml_get
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get assistant texml
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/{assistant_id}/tools/{tool_id}:
    delete:
      operationId: remove_assistant_tool
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: tool_id
        required: true
        schema:
          title: Tool Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Remove Assistant Tool
      tags:
      - Assistants
      x-latency-category: responsive
    put:
      operationId: add_assistant_tool
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: tool_id
        required: true
        schema:
          title: Tool Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Add Assistant Tool
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/{assistant_id}/tools/{tool_id}/test:
    post:
      description: Test a webhook tool for an assistant
      operationId: test_assistant_tool_public_assistants__assistant_id__tools__tool_id__test_post
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: tool_id
        required: true
        schema:
          title: Tool Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestWebhookToolRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestWebhookToolResponseData'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Test Assistant Tool
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/{assistant_id}/versions:
    get:
      description: Retrieves all versions of a specific assistant with complete configuration and metadata
      operationId: get_assistant_versions_public_assistants__assistant_id__versions_get
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantsListData'
          description: Returns list of assistant versions ordered by creation date (newest first)
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get all versions of an assistant
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/{assistant_id}/versions/{version_id}:
    delete:
      description: Permanently removes a specific version of an assistant. Can not delete main version
      operationId: delete_assistant_version_public_assistants__assistant_id__versions__version_id__delete
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: version_id
        required: true
        schema:
          title: Version Id
          type: string
      responses:
        '204':
          description: Returns HTTP 204 No Content on successful deletion
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete a specific assistant version
      tags:
      - Assistants
      x-latency-category: responsive
    get:
      description: Retrieves a specific version of an assistant by assistant_id and version_id
      operationId: get_assistant_version_public_assistants__assistant_id__versions__version_id__get
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: version_id
        required: true
        schema:
          title: Version Id
          type: string
      - in: query
        name: include_mcp_servers
        required: false
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_Assistant'
          description: Returns the specific assistant version configuration
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get a specific assistant version
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      description: Updates the configuration of a specific assistant version. Can not update main version
      operationId: update_assistant_version_public_assistants__assistant_id__versions__version_id__post
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: version_id
        required: true
        schema:
          title: Version Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssistantRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_Assistant'
          description: Returns the updated assistant version configuration
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update a specific assistant version
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/{assistant_id}/versions/{version_id}/promote:
    post:
      description: Promotes a specific version to be the main/current version of the assistant. This will delete any existing canary deploy configuration and send all live production traffic to this version.
      operationId: promote_assistant_version_public_assistants__assistant_id__versions__version_id__promote_post
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          title: Assistant Id
          type: string
      - in: path
        name: version_id
        required: true
        schema:
          title: Version Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_Assistant'
          description: Returns the promoted assistant configuration
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Promote an assistant version to main
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/tools:
    get:
      operationId: list_tools
      parameters:
      - in: query
        name: filter[type]
        required: false
        schema:
          title: Filter[Type]
          type: string
      - in: query
        name: filter[name]
        required: false
        schema:
          title: Filter[Name]
          type: string
      - in: query
        name: page[size]
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          title: Page[Size]
          type: integer
      - in: query
        name: page[number]
        required: false
        schema:
          default: 1
          minimum: 1
          title: Page[Number]
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedToolListResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List Tools
      tags:
      - Assistants
      x-latency-category: responsive
    post:
      operationId: create_tool_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSharedToolRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedToolResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create Tool
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/tools/{tool_id}:
    delete:
      operationId: delete_tool_tool_id
      parameters:
      - in: path
        name: tool_id
        required: true
        schema:
          title: Tool Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete Tool
      tags:
      - Assistants
      x-latency-category: responsive
    get:
      operationId: get_tool_tool_id
      parameters:
      - in: path
        name: tool_id
        required: true
        schema:
          title: Tool Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedToolResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Tool
      tags:
      - Assistants
      x-latency-category: responsive
    patch:
      operationId: update_tool_tool_id
      parameters:
      - in: path
        name: tool_id
        required: true
        schema:
          title: Tool Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSharedToolRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedToolResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update Tool
      tags:
      - Assistants
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ai/assistants/deleted:
    get:
      tags:
      - Assistants
      summary: List deleted assistants
      description: 'List the organization''s soft-deleted assistants in the Recently Deleted list.


        Each entry includes `deleted_at` and `permanently_deleted_at`, the point after which the assistant is erased automatically and can no longer be restored.'
      operationId: get_deleted_assistants_public_assistants_deleted_get
      parameters:
      - name: page[number]
        in: query
        description: Page number to retrieve (1-based).
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
          title: Page[Number]
      - name: page[size]
        in: query
        description: Number of items to return per page.
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 20
          title: Page[Size]
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDeletedAssistantsResponse'
              example:
                data:
                - id: assistant_7f3c2a1b
                  name: Support Assistant
                  created_at: '2025-08-14T09:24:11.000000Z'
                  model: telnyx-gpt
                  instructions: You are a support assistant.
                  deleted_at: '2026-10-02T00:46:15.245000Z'
                  permanently_deleted_at: '2026-11-01T00:46:15.245000Z'
                meta:
                  total_pages: 1
                  total_results: 1
                  page_number: 1
                  page_size: 20
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError_2'
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /ai/assistants/{assistant_id}/chat/whatsapp:
    post:
      tags:
      - Assistants
      summary: Assistant WhatsApp Chat
      description: 'Start a WhatsApp conversation with a customer from the business side. This endpoint:

        1. Validates that `from` is a WhatsApp number on your account whose messaging profile has this assistant configured

        2. Creates a new `whatsapp_chat` conversation with the provided metadata

        3. Asks the assistant to pick one of its approved WhatsApp templates and fill its variables from `content`

        4. Sends the template from `from` to `to`

        5. Returns the conversation ID and the message ID


        When the customer replies, the reply is routed to the same conversation and the assistant answers within the 24-hour customer service window. The assistant needs a `whatsapp_template` tool with at least one approved template, data retention enabled and PII redaction disabled.'
      operationId: assistant_whatsapp_chat_assistants__assistant_id__chat_w_1byyum7
      parameters:
      - name: assistant_id
        in: path
        description: Unique identifier of the assistant. Must be the assistant configured on the messaging profile of the `from` number.
        required: true
        schema:
          type: string
          title: Assistant Id
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssistantWhatsappChatReq'
            example:
              from: '+13125550001'
              to: '+13125550002'
              content: Send the login verification code 482913 to the customer.
              conversation_metadata:
                order_id: A1
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantWhatsappChatResponse'
              example:
                conversation_id: 59f1f39e-180c-4f5d-81e9-393b46ca4077
                message_id: 4031a0e8-f724-4e22-a086-0f18720ac829
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
        '400':
          description: Bad Request. Missing required fields or a reserved `conversation_metadata` key, or the assistant is not the one configured on the messaging profile of `from` (10015). Invalid JSON (10023). A field of the wrong type, for example a non-string `from`, `to` or `content`, or a `conversation_metadata` value that is not a string, integer or boolean (10026). `from` is not a valid WhatsApp number on a messaging profile (40305). `to` is not a valid E.164 number or BSUID (40310). Invalid, duplicate, empty, malformed, or overlong Idempotency-Key headers are rejected by Edge with HTTP 400 and error code 10015.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_ErrorResponse'
        '401':
          description: Authentication Failed (10009). The API key is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_ErrorResponse'
        '403':
          description: Forbidden. The `from` number is not associated with your account (10010), messaging is disabled on the account (40314), or the account is inactive (20012), blocked (20013) or unverified (20014).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_ErrorResponse'
        '404':
          description: Not Found (10005). The assistant does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_ErrorResponse'
        '409':
          description: Conflict. The messaging profile of `from` is disabled (40312), or a request with the same Idempotency-Key is still being processed (10036), in which case retry later with the same key and request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_ErrorResponse'
              example:
                errors:
                - code: '10036'
                  title: Resource is being processed
                  detail: A request with this Idempotency-Key is already being processed.
                  source:
                    pointer: /header/Idempotency-Key
        '413':
          description: Payload Too Large. A request sent with an Idempotency-Key whose body exceeds the endpoint's Edge replay-protection limit (256 KB) is rejected before it reaches the service. Requests sent without the header are not subject to this limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_ErrorResponse'
        '422':
          description: Unprocessable Entity (10027). The assistant did not return a WhatsApp template, or its privacy settings do not allow storing conversations. Reusing an Idempotency-Key with a different request body also returns 422 with error code 10027.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_ErrorResponse'
        '503':
          description: Service Unavailable (10037). The assistant could not be looked up, the conversation could not be started, or the template could not be sent. Retry the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_ErrorResponse'
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /ai/assistants/{assistant_id}/deleted:
    get:
      tags:
      - Assistants
      summary: Get a deleted assistant
      description: Retrieve a soft-deleted assistant from the Recently Deleted list by `assistant_id`, including its `deleted_at` and `permanently_deleted_at` timestamps. This is a read-only view; the assistant cannot be modified while it remains deleted.
      operationId: get_deleted_assistant_public_assistants__assistant_id__d_1juqh7o
      parameters:
      - name: assistant_id
        in: path
        description: Unique identifier of the assistant.
        required: true
        schema:
          type: string
          title: Assistant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedAssistant'
              example:
                id: assistant_7f3c2a1b
                name: Support Assistant
                created_at: '2025-08-14T09:24:11.000000Z'
                model: telnyx-gpt
                instructions: You are a support assistant.
                deleted_at: '2026-10-02T00:46:15.245000Z'
                permanently_deleted_at: '2026-11-01T00:46:15.245000Z'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError_2'
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /ai/assistants/{assistant_id}/instructions/enhance:
    post:
      tags:
      - Assistants
      summary: Enhance Assistant Instructions
      description: 'Enhance an assistant''s instructions using an LLM. The endpoint reads the assistant''s current instructions and tools, then streams back improved instructions as they are generated.


        Optionally provide an `enhancement_prompt` to steer the changes (for example, "make the instructions more concise" or "add error handling guidance"). When omitted, the assistant''s existing instructions are used as the basis for the enhancement.


        The enhancement focuses on tool-calling reliability, clarity and precision, completeness and error handling, tool schema alignment, and conversation flow structure.


        The response is streamed as `text/plain` using chunked transfer encoding; consume the body incrementally to render the enhanced instructions as they arrive.'
      operationId: enhance_assistant_instructions_public_assistants__assist_14cwph5
      parameters:
      - name: assistant_id
        in: path
        description: Unique identifier of the assistant.
        required: true
        schema:
          type: string
          title: Assistant Id
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnhanceInstructionsRequest'
            example:
              enhancement_prompt: string
              instructions: string
      responses:
        '200':
          description: A stream of enhanced instruction text. The body is sent as `text/plain` using chunked transfer encoding.
          content:
            text/plain:
              schema:
                type: string
                title: Enhanced Instructions Stream
              example: Enhanced Instructions Stream
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError_2'
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /ai/assistants/{assistant_id}/restore:
    post:
      tags:
      - Assistants
      summary: Restore an assistant
      description: 'Restore a soft-deleted assistant from the Recently Deleted list.


        The assistant becomes fully active again with its versions and TeXML application as they were at deletion time. Restoring does not re-enable numbers or connections that were released separately after the deletion.'
      operationId: restore_assistant_public_assistants__assistant_id__restore_post
      parameters:
      - name: assistant_id
        in: path
        description: Unique identifier of the assistant.
        required: true
        schema:
          type: string
          title: Assistant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inference-embedding_Assistant_2'
              example:
                id: assistant_7f3c2a1b
                name: Support Assistant
                created_at: '2025-08-14T09:24:11.000000Z'
                model: telnyx-gpt
                instructions: You are a support assistant.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError_2'
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
components:
  schemas:
    ObservabilityStatus:
      enum:
      - enabled
      - disabled
      title: ObservabilityStatus
      type: string
    PrivacySettings:
      properties:
        data_retention:
          description: If true, conversation history and insights will be stored. If false, they will not be stored. This in‑tool toggle governs solely the retention of conversation history and insights via the AI assistant. It has no effect on any separate recording, transcription, or storage configuration that you have set at the account, number, or application level. All such external settings remain in force regardless of your selection here.
          type: boolean
      type: object
    CreateScheduledEventRequest:
      properties:
        conversation_metadata:
          additionalProperties:
            anyOf:
            - type: string
            - type: integer
            - type: boolean
          description: Metadata associated with the conversation. Telnyx provides several pieces of metadata, but customers can also add their own.
          title: Conversation Metadata
          type: object
        dynamic_variables:
          additionalProperties:
            type: string
          description: A map of dynamic variable names to values. These variables can be referenced in the assistant's instructions and messages using {{variable_name}} syntax.
          title: Dynamic Variables
          type: object
        max_retries_client_errors:
          default: 0
          description: 'Configure number of retries on client errors: busy, no-answer, failed, canceled (caller hung up before the callee answered)'
          maximum: 10.0
          minimum: 0.0
          title: Max Retries Client Errors
          type: integer
        retry_interval_secs:
          maximum: 86400.0
          minimum: 60.0
          title: Retry Interval Secs
          type: integer
        scheduled_at_fixed_datetime:
          description: The datetime at which the event should be scheduled. Formatted as ISO 8601.
          example: '2025-04-15T13:07:28.764Z'
          format: date-time
          title: Scheduled At Fixed Datetime
          type: string
        telnyx_agent_target:
          description: The phone number, SIP URI, to schedule the call or text from.
          title: Telnyx Agent Target
          type: string
        telnyx_conversation_channel:
          $ref: '#/components/schemas/ConversationChannelType'
        telnyx_end_user_target:
          description: The phone number, SIP URI, to schedule the call or text to.
          title: Telnyx End User Target
          type: string
        text:
          description: Required for sms scheduled events. The text to be sent to the end user.
          type: string
      required:
      - telnyx_conversation_channel
      - telnyx_end_user_target
      - telnyx_agent_target
      - scheduled_at_fixed_datetime
      title: CreateScheduledEventRequest
      type: object
    TestWebhookToolRequest:
      description: Request model for testing a webhook tool
      properties:
        arguments:
          additionalProperties: true
          description: Key-value arguments to use for the webhook test
          title: Arguments
          type: object
        dynamic_variables:
          additionalProperties: true
          description: Key-value dynamic variables to use for the webhook test
          title: Dynamic Variables
          type: object
      title: TestWebhookToolRequest
      type: object
    ScheduledEventResponse:
      anyOf:
      - $ref: '#/components/schemas/ScheduledPhoneCallEventResponse'
      - $ref: '#/components/schemas/ScheduledSmsEventResponse'
      description: Union type for different scheduled event response types
      title: ScheduledEventResponse
    AddTagRequest:
      properties:
        tag:
          title: Tag
          type: string
      required:
      - tag
      title: AddTagRequest
      type: object
    TelephonySettings:
      properties:
        default_texml_app_id:
          description: Default Texml App used for voice calls with your assistant. This will be created automatically on assistant creation.
          type: string
        noise_suppression:
          description: The noise suppression engine to use. Use 'disabled' to turn off noise suppression.
          enum:
          - krisp
          - deepfilternet
          - disabled
          type: string
        noise_suppression_config:
          description: Configuration for noise suppression. Only applicable when noise_suppression is 'deepfilternet'.
          properties:
            attenuation_limit:
              default: 100
              description: 'Attenuation limit for noise suppression. Range: 0-100.'
              maximum: 100
              minimum: 0
              type: integer
            mode:
              description: Mode for noise suppression configuration.
              enum:
              - advanced
              type: string
          type: object
        recording_settings:
          description: Configuration for call recording format and channel settings.
          properties:
            channels:
              default: dual
              description: The number of channels for the recording. 'single' for mono, 'dual' for stereo.
              enum:
              - single
              - dual
              type: string
            enabled:
              default: true
              description: Whether call recording is enabled. When set to false, calls will not be recorded regardless of other recording configuration.
              type: boolean
            format:
              default: mp3
              description: The format of the recording file.
              enum:
              - wav
              - mp3
              type: string
          type: object
        supports_unauthenticated_web_calls:
          description: When enabled, allows users to interact with your AI assistant directly from your website without requiring authentication. This is required for FE widgets that work with assistants that have telephony enabled.
          type: boolean
        time_limit_secs:
          default: 1800
          description: Maximum duration in seconds for the AI assistant to participate on the call. When this limit is reached the assistant will be stopped. This limit does not apply to portions of a call without an active assistant (for instance, a call transferred to a human representative).
          maximum: 14400
          minimum: 30
          type: integer
        user_idle_reply_secs:
          default: 10
          description: Duration in seconds of end user silence before the assistant checks in on the user. When this limit is reached the assistant will prompt the user to respond. This is distinct from user_idle_timeout_secs which stops the assistant entirely.
          minimum: 0
          type: integer
        user_idle_timeout_secs:
          description: Maximum duration in seconds of end user silence on the call. When this limit is reached the assistant will be stopped. This limit does not apply to portions of a call without an active assistant (for instance, a call transferred to a human representative).
          maximum: 14400
          minimum: 10
          type: integer
        voicemail_detection:
          description: 'Configuration for voicemail detection (AMD - Answering Machine Detection) on outgoing calls. These settings only apply if AMD is enabled on the Dial command. See [TeXML Dial documentation](https://developers.telnyx.com/api-reference/texml-rest-commands/initiate-an-outbound-call) for enabling AMD. Recommended settings: MachineDetection=Enable, AsyncAmd=true, DetectionMode=Premium.'
          properties:
            on_voicemail_detected:
              description: Action to take when voicemail is detected.
              properties:
                action:
                  description: The action to take when voicemail is detected.
                  enum:
                  - stop_assistant
                  - leave_message_and_stop_assistant
                  - continue_assistant
                  type: string
                voicemail_message:
                  description: Configuration for the voicemail message to leave. Only applicable when action is 'leave_message_and_stop_assistant'.
                  properties:
                    message:
                      description: The specific message to leave as voicemail. Only applicable when type is 'message'.
                      type: string
                    prompt:
                      description: The prompt to use for generating the voicemail message. Only applicable when type is 'prompt'.
                      type: string
                    type:
                      description: The type of voicemail message. Use 'prompt' to have the assistant generate a message based on a prompt, or 'message' to leave a specific message.
                      enum:
                      - prompt
                      - message
                      type: string
                  type: object
              type: object
          type: object
      title: TelephonySettings
      type: object
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    TranscriptionSettingsConfig:
      properties:
        eager_eot_threshold:
          default: 0.4
          description: Available only for deepgram/flux. Confidence threshold for eager end of turn detection. Must be lower than or equal to eot_threshold. Setting this equal to eot_threshold effectively disables eager end of turn.
          maximum: 0.9
          minimum: 0.3
          title: Eager Eot Threshold
          type: number
        end_of_turn_confidence_threshold:
          default: 0.4
          description: Available only for assemblyai/universal-streaming. Confidence level required to trigger an end of turn. Higher values require more certainty before ending a turn.
          maximum: 1
          minimum: 0
          title: End Of Turn Confidence Threshold
          type: number
        eot_threshold:
          default: 0.8
          description: Available only for deepgram/flux. Confidence required to trigger an end of turn. Higher values = more reliable turn detection but slightly increased latency.
          maximum: 0.9
          minimum: 0.5
          title: Eot Threshold
          type: number
        eot_timeout_ms:
          default: 5000
          description: Available only for deepgram/flux. Maximum milliseconds of silence before forcing an end of turn, regardless of confidence.
          maximum: 10000
          minimum: 500
          title: Eot Timeout Ms
          type: integer
        keyterm:
          description: Available only for deepgram/nova-3 and deepgram/flux. A comma-separated list of key terms to boost for recognition during transcription. Helps improve accuracy for domain-specific terminology, proper nouns, or uncommon words. This field may be templated with [dynamic variables](https://developers.telnyx.com/docs/inference/ai-assistants/dynamic-variables) using mustache syntax (e.g. `Telnyx,{{customer_name}},VoIP`). Variables are resolved at call time before the value is sent to the speech-to-text engine.
          title: Keyterm
          type: string
        max_turn_silence:
          default: 1280
          description: Available only for assemblyai/universal-streaming. Maximum duration of silence in milliseconds before forcing an end of turn.
          maximum: 5000
          minimum: 100
          title: Max Turn Silence
          type: integer
        min_turn_silence:
          default: 400
          description: Available only for assemblyai/universal-streaming. Minimum duration of silence in milliseconds before a turn can end. Must be less than or equal to max_turn_silence.
          maximum: 5000
          minimum: 100
          title: Min Turn Silence
          type: integer
        numerals:
          title: Numerals
          type: boolean
        smart_format:
          title: Smart Format
          type: boolean
      title: TranscriptionSettingsConfig
      type: object
    InsightSettings:
      properties:
        insight_group_id:
          description: Reference to an Insight Group. Insights in this group will be run automatically for all the assistant's conversations.
          type: string
      type: object
    Observability:
      properties:
        host:
          title: Host
          type: string
        prompt_label:
          title: Prompt Label
          type: string
        prompt_name:
          title: Prompt Name
          type: string
        prompt_sync:
          $ref: '#/components/schemas/PromptSyncStatus'
          default: disabled
        prompt_version:
          minimum: 1.0
          title: Prompt Version
          type: integer
        public_key_ref:
          title: Public Key Ref
          type: string
        secret_key_ref:
          title: Secret Key Ref
          type: string
        status:
          $ref: '#/components/schemas/ObservabilityStatus'
          default: disabled
      title: Observability
      type: object
    PostConversationSettingsReq:
      description: Configuration for post-conversation processing. When enabled, the assistant receives one additional LLM turn after the conversation ends, allowing it to execute tool calls such as logging to a CRM or sending a summary. The assistant can execute multiple parallel or sequential tools during this phase. Telephony-control tools (e.g. hangup, transfer) are unavailable post-conversation. Beta feature.
      properties:
        enabled:
          default: false
          description: Whether post-conversation processing is enabled. When true, the assistant will be invoked after the conversation ends to perform any final tool calls. Defaults to false.
          type: boolean
      type: object
    HandoffTool:
      description: The handoff tool allows the assistant to hand off control of the conversation to another AI assistant. By default, this will happen transparently to the end user.
      properties:
        handoff:
          $ref: '#/components/schemas/HandoffToolParams'
        type:
          enum:
          - handoff
          type: string
      required:
      - type
      - handoff
      title: HandoffTool
      type: object
    AssistantScheduledCallAttempt:
      description: One row in `call_attempts` — captures the terminal outcome of a single dispatch.
      properties:
        attempt_number:
          title: Attempt Number
          type: integer
        attempted_at:
          format: date-time
          title: Attempted At
          type: string
        call_duration:
          description: Duration of the call in seconds
          title: Call Duration
          type: integer
        call_status:
          description: 'Values: busy, canceled, no-answer, ringing, completed, failed, in-progress'
          title: Call Status
          type: string
        telnyx_call_control_id:
          title: Telnyx Call Control Id
          type: string
      required:
      - attempt_number
      - attempted_at
      - call_status
      title: AssistantScheduledCallAttempt
      type: object
    ObservabilityReq:
      properties:
        host:
          title: Host
          type: string
        prompt_label:
          title: Prompt Label
          type: string
        prompt_name:
          title: Prompt Name
          type: string
        prompt_sync:
          $ref: '#/components/schemas/PromptSyncStatus'
          default: disabled
        prompt_version:
          minimum: 1.0
          title: Prompt Version
          type: integer
        public_key_ref:
          title: Public Key Ref
          type: string
        secret_key_ref:
          title: Secret Key Ref
          type: string
        status:
          $ref: '#/components/schemas/ObservabilityStatus'
          default: disabled
      title: ObservabilityReq
      type: object
    TriggerTestSuiteRunsRequest:
      description: 'Request model for triggering test suite runs.


        Optional request body for the trigger test suite runs endpoint.'
      properties:
        destination_version_id:
          description: Optional assistant version ID to use for all test runs in this suite. If provided, the version must exist or a 400 error will be returned. If not provided, test will run on main version
          example: 123e4567-e89b-12d3-a456-426614174000
          title: Destination Version Id
          type: string
      title: TriggerTestSuiteRunsRequest
      type: object
    AssistantDeletedResponse:
      description: 'Aligns with the OpenAI API:

        https://platform.openai.com/docs/api-reference/assistants/deleteAssistant'
      properties:
        deleted:
          title: Deleted
          type: boolean
        id:
          title: Id
          type: string
        object:
          title: Object
          type: string
      required:
      - id
      - object
      - deleted
      title: AssistantDeletedResponse
      type: object
    AssistantIntegration:
      description: Reference to a connected integration attached to an assistant. Discover available integrations with `/ai/integrations` and connected integrations with `/ai/integrations/connections`.
      properties:
        allowed_list:
          description: Optional per-assistant allowlist of integration tool names. When omitted or empty, all tools allowed by the connected integration are available to the assistant.
          items:
            type: string
          type: array
        integration_id:
          description: Catalog integration ID to attach. This is the `id` from the integrations catalog at `/ai/integrations` (the same value also appears as `integration_id` on entries returned by `/ai/integrations/connections`). It is **not** the connection-level `id` from `/ai/integrations/connections`.
          type: string
      required:
      - integration_id
      title: AssistantIntegration
      type: object
    CreateAssistantTestRequest:
      description: 'Request model for creating a new assistant test.


        This model defines all the required and optional parameters needed to create

        a comprehensive test for an AI assistant, including test configuration,

        evaluation criteria, and scheduling options.'
      properties:
        description:
          description: Optional detailed description of what this test evaluates and its purpose. Helps team members understand the test's objectives.
          maxLength: 1000
          title: Description
          type: string
        destination:
          description: 'The target destination for the test conversation. Format depends on the channel: phone number for SMS/voice, webhook URL for web chat, etc.'
          example: '+15551234567'
          minLength: 1
          title: Destination
          type: string
        instructions:
          description: Detailed instructions that define the test scenario and what the assistant should accomplish. This guides the test execution and evaluation.
          example: Act as a frustrated customer who received a damaged product. Ask for a refund and escalate if not satisfied with the initial response.
          maxLength: 5000
          minLength: 1
          title: Instructions
          type: string
        max_duration_seconds:
          description: Maximum duration in seconds that the test conversation should run before timing out. If not specified, uses system default timeout.
          maximum: 3600.0
          minimum: 1.0
          title: Max Duration Seconds
          type: integer
        name:
          description: A descriptive name for the assistant test. This will be used to identify the test in the UI and reports.
          example: Customer Support Bot Test
          maxLength: 255
          minLength: 1
          title: Name
          type: string
        rubric:
          description: Evaluation criteria used to assess the assistant's performance. Each rubric item contains a name and specific criteria for evaluation.
          example:
          - criteria: Assistant responds within 30 seconds
            name: Response Time
          - criteria: Provides correct product information
            name: Accuracy
          items:
            additionalProperties: false
            properties:
              criteria:
                description: Specific guidance on how to assess the assistant’s performance for this rubric item.
                type: string
              name:
                description: Label for the evaluation criterion, e.g., Empathy, Accuracy, Clarity.
                type: string
            required:
            - name
            - criteria
            type: object
          minItems: 1
          title: Rubric
          type: array
        telnyx_conversation_channel:
          allOf:
          - $ref: '#/components/schemas/TelnyxConversationChannel'
          default: web_chat
          description: The communication channel through which the test will be conducted. Determines how the assistant will receive and respond to test messages.
          example: web_chat
        test_suite:
          description: Optional test suite name to group related tests together. Useful for organizing tests by feature, team, or release cycle.
          maxLength: 100
          title: Test Suite
          type: string
      required:
      - name
      - destination
      - instructions
      - rubric
      title: CreateAssistantTestRequest
      type: object
    EnabledFeatures:
      description: If `telephony` is enabled, the assistant will be able to make and receive calls. If `messaging` is enabled, the assistant will be able to send and receive messages.
      enum:
      - telephony
      - messaging
      type: string
    PaginatedScheduledEventList:
      properties:
        data:
          items:
            anyOf:
            - $ref: '#/components/schemas/ScheduledPhoneCallEventResponse'
            - $ref: '#/components/schemas/ScheduledSmsEventResponse'
          title: Data
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      required:
      - meta
      - data
      title: PaginatedScheduledEventList
      type: object
    CanaryDeployRequest:
      description: 'Create/update request body. Accepts:

        - ``rules`` — canonical ordered list of routing rules'
      properties:
        rules:
          items:
            $ref: '#/components/schemas/Rule-Input'
          title: Rules
          type: array
      title: CanaryDeployRequest
      type: object
    AuthenticationMethod:
      default: token
      description: Authentication method used when connecting to the external LLM endpoint.
      enum:
      - token
      - certificate
      title: AuthenticationMethod
      type: string
    TelnyxConversationChannel:
      enum:
      - phone_call
      - web_call
      - sms_chat
      - web_chat
      title: TelnyxConversationChannel
      type: string
    CreateSharedToolRequest:
      additionalProperties: true
      description: Request model for creating a shared (org-level) tool.
      properties:
        display_name:
          title: Display Name
          type: string
        function:
          additionalProperties: true
          title: Function
          type: object
        handoff:
          additionalProperties: true
          title: Handoff
          type: object
        invite:
          additionalProperties: true
          title: Invite
          type: object
        retrieval:
          additionalProperties: true
          title: Retrieval
          type: object
        timeout_ms:
          default: 5000
          title: Timeout Ms
          type: integer
        type:
          title: Type
          type: string
        webhook:
          additionalProperties: true
          title: Webhook
          type: object
      required:
      - type
      - display_name
      title: CreateSharedToolRequest
      type: object
    DTMFTool:
      properties:
        send_dtmf:
          additionalProperties: true
          type: object
        type:
          enum:
          - send_dtmf
          type: string
      required:
      - type
      - send_dtmf
      title: DTMFTool
      type: object
    Rule-Input:
      description: 'A targeting rule: ``match`` clauses (AND) gate ``serve``.


        An empty ``match`` is a catch-all (always fires).'
      properties:
        match:
          items:
            $ref: '#/components/schemas/Clause'
          title: Match
          type: array
        serve:
          $ref: '#/components/schemas/Serve'
      required:
      - serve
      title: Rule
      type: object
    UpdateAssistantTestRequest:
      description: 'Request model for updating an existing assistant test.


        All fields are optional, allowing partial updates of test configuration.

        Only provided fields will be updated, others remain unchanged.'
      properties:
        description:
          description: Updated description of the test's purpose and evaluation criteria.
          maxLength: 1000
          title: Description
          type: string
        destination:
          description: Updated target destination for test conversations.
          minLength: 1
          title: Destination
          type: string
        instructions:
          description: Updated test scenario instructions and objectives.
          maxLength: 5000
          minLength: 1
          title: Instructions
          type: string
        max_duration_seconds:
          description: Updated maximum test duration in seconds.
          maximum: 3600.0
          minimum: 1.0
          title: Max Duration Seconds
          type: integer
        name:
          description: Updated name for the assistant test. Must be unique and descriptive.
          maxLength: 255
          minLength: 1
          title: Name
          type: string
        rubric:
          description: Updated evaluation criteria for assessing assistant performance.
          items:
            additionalProperties: false
            properties:
              criteria:
                description: Specific guidance on how to assess the assistant’s performance for this rubric item.
                type: string
              name:
                description: Label for the evaluation criterion, e.g., Empathy, Accuracy, Clarity.
                type: string
            required:
            - name
            - criteria
            type: object
          minItems: 1
          title: Rubric
          type: array
        telnyx_conversation_channel:
          $ref: '#/components/schemas/TelnyxConversationChannel'
          description: Updated communication channel for the test execution.
        test_suite:
          description: Updated test suite assignment for better organization.
          maxLength: 100
          title: Test Suite
          type: string
      title: UpdateAssistantTestRequest
      type: object
    AssistantTools:
      description: Deprecated for new integrations. Inline tool definitions available to the assistant. Prefer `tool_ids` to attach shared tools created with the AI Tools endpoints.
      items:
        oneOf:
        - $ref: '#/components/schemas/inference-embedding_WebhookTool'
        - $ref: '#/components/schemas/RetrievalTool'
        - $ref: '#/components/schemas/HandoffTool'
        - $ref: '#/components/schemas/HangupTool'
        - $ref: '#/components/schemas/inference-embedding_TransferTool'
        - $ref: '#/components/schemas/InviteTool'
        - $ref: '#/components/schemas/SIPReferTool'
        - $ref: '#/components/schemas/DTMFTool'
        - $ref: '#/components/schemas/SendMessageTool'
        - $ref: '#/components/schemas/SkipTurnTool'
      type: array
    ImportMetadata:
      properties:
        import_id:
          description: ID of the assistant in the provider's system.
          type: string
        import_provider:
          description: Provider the assistant was imported from.
          enum:
          - elevenlabs
          - vapi
          - retell
          type: string
      type: object
    HangupToolParams:
      properties:
        description:
          default: This tool is used to hang up the call.
          description: The description of the function that will be passed to the assistant.
          type: string
      title: HangupToolParams
      type: object
    inference-embedding_WebhookTool:
      properties:
        type:
          enum:
          - webhook
          type: string
        webhook:
          $ref: '#/components/schemas/WebhookToolParams'
      required:
      - type
      - webhook
      title: WebhookTool
      type: object
    MessagingSettings:
      properties:
        conversation_inactivity_minutes:
          description: If more than this many minutes have passed since the last message, the assistant will start a new conversation instead of continuing the existing one.
          maximum: 10000000
          minimum: 1
          type: integer
        default_messaging_profile_id:
          description: Default Messaging Profile used for messaging exchanges with your assistant. This will be created automatically on assistant creation.
          type: string
        delivery_status_webhook_url:
          description: The URL where webhooks related to delivery statused for assistant messages will be sent.
          type: string
      type: object
    TestRunResponse:
      description: 'Response model containing test run execution details and results.


        Provides comprehensive information about a test execution including

        status, timing, logs, and detailed evaluation results.'
      properties:
        completed_at:
          description: Timestamp when the test run finished execution.
          format: date-time
          title: Completed At
          type: string
        conversation_id:
          description: Identifier of the conversation created during test execution.
          title: Conversation Id
          type: string
        conversation_insights_id:
          description: Identifier for conversation analysis and insights data.
          title: Conversation Insights Id
          type: string
        created_at:
          description: Timestamp when the test run was created and queued.
          example: '2024-01-23T10:30:00Z'
          format: date-time
          title: Created At
          type: string
        detail_status:
          description: Detailed evaluation results for each rubric criteria. Name is name of the criteria from the rubric and status is the result of the evaluation. This list will have a result for every criteria in the rubric section.
          items:
            $ref: '#/components/schemas/TestRunDetailResult'
          title: Detail Status
          type: array
        logs:
          description: Detailed execution logs and debug information.
          title: Logs
          type: string
        run_id:
          description: Unique identifier for this specific test run execution.
          example: 987fcdeb-51a2-43d1-b456-426614174000
          format: uuid
          title: Run Id
          type: string
        status:
          $ref: '#/components/schemas/TestStatus'
        test_id:
          description: Identifier of the assistant test that was executed.
          example: 123e4567-e89b-12d3-a456-426614174000
          format: uuid
          title: Test Id
          type: string
        test_suite_run_id:
          description: Identifier linking this run to a test suite execution batch.
          format: uuid
          title: Test Suite Run Id
          type: string
        triggered_by:
          description: How this test run was initiated (manual, scheduled, or API).
          example: cron
          title: Triggered By
          type: string
        updated_at:
          description: Timestamp of the last update to this test run.
          format: date-time
          title: Updated At
          type: string
      required:
      - run_id
      - test_id
      - status
      - triggered_by
      - created_at
      title: TestRunResponse
      type: object
    TestWebhookToolResponseData:
      description: Response model for webhook tool test results
      properties:
        data:
          $ref: '#/components/schemas/TestWebhookToolResponse'
      required:
      - data
      title: TestWebhookToolResponseData
      type: object
    Rule-Output:
      description: 'A targeting rule: ``match`` clauses (AND) gate ``serve``.


        An empty ``match`` is a catch-all (always fires).'
      properties:
        match:
          items:
            $ref: '#/components/schemas/Clause'
          title: Match
          type: array
        serve:
          $ref: '#/components/schemas/Serve'
      required:
      - serve
      title: Rule
      type: object
    TagsResponse:
      properties:
        tags:
          items:
            type: string
          title: Tags
          type: array
      required:
      - tags
      title: TagsResponse
      type: object
    inference-embedding_Assistant:
      properties:
        created_at:
          format: date-time
          type: string
        description:
          type: string
        dynamic_variables:
          additionalProperties: true
          description: Map of dynamic variables and their values
          type: object
        dynamic_variables_webhook_timeout_ms:
          default: 1500
          description: Timeout in milliseconds for the dynamic variables webhook. Must be between 1 and 10000 ms. If the webhook does not respond within this timeout, the call proceeds with default values. See the [dynamic variables guide](https://developers.telnyx.com/docs/inference/ai-assistants/dynamic-variables).
          maximum: 10000
          minimum: 1
          type: integer
        dynamic_variables_webhook_url:
          description: 'If `dynamic_variables_webhook_url` is set, Telnyx sends a POST request to this URL at the start of the conversation to resolve dynamic variables. **Gotcha:** the webhook response must wrap variables under a top-level `dynamic_variables` object, e.g. `{"dynamic_variables": {"customer_name": "Jane"}}`. Returning a flat object will be ignored and variables will fall back to their defaults. See the [dynamic variables guide](https://developers.telnyx.com/docs/inference/ai-assistants/dynamic-variables) for the full request/response format and timeout behavior.'
          type: string
        enabled_features:
          items:
            $ref: '#/components/schemas/EnabledFeatures'
[...]
