openapi: 3.1.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Access Tokens Advanced Number Orders API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- name: Advanced Number Orders
paths:
  /advanced_orders:
    get:
      operationId: list_advanced_orders_v2
      responses:
        '200':
          $ref: '#/components/responses/ListAdvancedOrderResponse'
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: List Advanced Orders
      tags:
      - Advanced Number Orders
      x-latency-category: responsive
    post:
      operationId: create_advanced_order_v2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvancedOrderRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/AdvancedOrderResponse'
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Create Advanced Order
      tags:
      - Advanced Number Orders
      x-latency-category: responsive
  /advanced_orders/{advanced-order-id}/requirement_group:
    patch:
      operationId: update_advanced_order_v2
      parameters:
      - in: path
        name: advanced-order-id
        required: true
        schema:
          format: uuid
          title: Order Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvancedOrderRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/AdvancedOrderResponse'
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Update Advanced Order
      tags:
      - Advanced Number Orders
      x-latency-category: responsive
  /advanced_orders/{order_id}:
    get:
      operationId: get_advanced_order_v2
      parameters:
      - in: path
        name: order_id
        required: true
        schema:
          format: uuid
          title: Order Id
          type: string
      responses:
        '200':
          $ref: '#/components/responses/AdvancedOrderResponse'
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Get Advanced Order
      tags:
      - Advanced Number Orders
      x-latency-category: responsive
components:
  schemas:
    AdvancedOrder:
      properties:
        area_code:
          default: ''
          maxLength: 3
          title: Area Code
          type: string
        comments:
          default: ''
          maxLength: 255
          title: Comments
          type: string
        country_code:
          default: US
          maxLength: 2
          minLength: 2
          title: Country Code
          type: string
        customer_reference:
          default: ''
          title: Customer Reference
          type: string
        features:
          items:
            enum:
            - sms
            - mms
            - voice
            - fax
            - emergency
          title: Features
          type: array
          uniqueItems: true
        id:
          format: uuid
          title: Id
          type: string
        orders:
          items:
            format: uuid
            type: string
          title: Orders
          type: array
          uniqueItems: true
        phone_number_type:
          default: ''
          items:
            enum:
            - local
            - mobile
            - toll_free
            - shared_cost
            - national
            - landline
        quantity:
          default: 1
          maximum: 10000
          minimum: 1
          title: Quantity
          type: integer
        requirement_group_id:
          description: The ID of the requirement group associated with this advanced order
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
          format: uuid
          title: Requirement Group ID
          type: string
        status:
          items:
            enum:
            - pending
            - processing
            - ordered
            type: string
      title: Advanced Order
      type: object
    numbers_Error:
      properties:
        code:
          example: '10007'
          type: string
        detail:
          example: An unexpected error occured.
          type: string
        meta:
          properties:
            url:
              description: URL with additional information on the error.
              example: https://developers.telnyx.com/docs/overview/errors/10015
              type: string
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              example: /base
              type: string
          type: object
        title:
          example: Unexpected error
          type: string
      type: object
    numbers_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/numbers_Error'
          type: array
      type: object
    AdvancedOrderRequest:
      properties:
        area_code:
          default: ''
          maxLength: 3
          title: Area Code
          type: string
        comments:
          default: ''
          maxLength: 255
          title: Comments
          type: string
        country_code:
          default: US
          maxLength: 2
          minLength: 2
          title: Country Code
          type: string
        customer_reference:
          default: ''
          title: Customer Reference
          type: string
        features:
          items:
            enum:
            - sms
            - mms
            - voice
            - fax
            - emergency
          title: Features
          type: array
          uniqueItems: true
        phone_number_type:
          default: local
          enum:
          - local
          - mobile
          - toll_free
          - shared_cost
          - national
          - landline
          type: string
        quantity:
          default: 1
          maximum: 10000
          minimum: 1
          title: Quantity
          type: integer
        requirement_group_id:
          description: The ID of the requirement group to associate with this advanced order
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
          format: uuid
          title: Requirement Group ID
          type: string
      title: AdvancedOrderRequest
      type: object
  responses:
    numbers_UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Unprocessable entity. Check the 'detail' field in response for details.
    AdvancedOrderResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AdvancedOrder'
      description: An Advanced Order Response
    numbers_NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: The requested resource doesn't exist.
    numbers_UnauthorizedResponse:
      content:
        application/json:
          examples:
            Authentication Failed:
              value:
                errors:
                - code: '10009'
                  detail: Could not understand the provided credentials.
                  meta:
                    url: https://developers.telnyx.com/docs/overview/errors/10009
                  title: Authentication failed
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Unauthorized
    ListAdvancedOrderResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/AdvancedOrder'
                type: array
            type: object
      description: An array of Advanced Order Responses
    numbers_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Unexpected error
    numbers_BadRequestResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Bad request, the request was unacceptable, often due to missing a required parameter.
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
