openapi: 3.2.0
info:
  title: Telnyx Speech To Text over WebSockets API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Speech To Text over WebSockets across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Speech to text command operations
  name: Speech To Text over WebSockets
paths:
  /speech-to-text/transcription:
    get:
      description: 'Open a WebSocket connection to stream audio and receive transcriptions in real-time. Authentication is provided via the standard `Authorization: Bearer ` header.


        Supported engines: `Azure`, `Deepgram`, `Google`, `Telnyx`, `xAI`, `Speechmatics`.


        **Connection flow:**

        1. Open WebSocket with query parameters specifying engine, input format, and language.

        2. Send binary audio frames (mp3/wav format).

        3. Receive JSON transcript frames with `transcript`, `is_final`, and `confidence` fields.

        4. Close connection when done.'
      operationId: TranscriptionOverWs
      parameters:
      - $ref: '#/components/parameters/transcription_engine'
      - $ref: '#/components/parameters/input_format'
      - $ref: '#/components/parameters/language'
      - $ref: '#/components/parameters/interim_results'
      - $ref: '#/components/parameters/model'
      - $ref: '#/components/parameters/endpointing'
      - $ref: '#/components/parameters/redact'
      - $ref: '#/components/parameters/keyterm'
      - $ref: '#/components/parameters/keywords'
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/SttClientEvent'
        description: Client sends binary audio frames (mp3 or wav format) over the WebSocket. See `SttClientEvent` schema.
      responses:
        '101':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SttServerEvent'
          description: 'WebSocket connection established. Communication proceeds via binary audio frames (client) and JSON transcript frames (server).


            **Client → Server:** Binary audio data (mp3/wav).

            **Server → Client:** See `TranscriptFrame` and `SttErrorFrame` schemas.'
        '200':
          description: WebSocket upgrade successful — this response is not returned directly. See 101 for frame documentation.
        '400':
          description: Invalid parameters — engine not supported or missing required fields.
        '401':
          description: Authentication failed — missing or invalid Authorization header.
        '422':
          $ref: '#/components/responses/speech-to-text_UnprocessableEntityResponse'
      summary: Speech to text over WebSocket
      tags:
      - Speech To Text over WebSockets
      x-latency-category: interactive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
components:
  schemas:
    speech-to-text_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/speech-to-text_Error'
          type: array
    SttErrorFrame:
      description: Server-to-client frame indicating an error during transcription. The connection may be closed shortly after.
      properties:
        error:
          description: Error message describing what went wrong.
          type: string
        type:
          const: error
          description: Frame type identifier.
          type: string
      required:
      - type
      - error
      type: object
    google_models:
      enum:
      - latest_long
      - latest_short
      - command_and_search
      - phone_call
      - video
      - default
      - medical_conversation
      - medical_dictation
      type: string
    speech-to-text_Error:
      properties:
        code:
          format: integer
          type: string
        detail:
          type: string
        meta:
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              format: json-pointer
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
    xai_models:
      enum:
      - xai/grok-stt
      type: string
    speechmatics_models:
      enum:
      - speechmatics/standard
      type: string
    SttClientEvent:
      description: Binary audio data in mp3 or wav format.
      format: binary
      type: string
    azure_models:
      enum:
      - fast
      type: string
    TranscriptFrame:
      description: Server-to-client frame containing a transcription result.
      properties:
        confidence:
          description: Confidence score of the transcription, ranging from 0 to 1.
          type: number
        is_final:
          description: Whether this is a final transcription result. When `false`, this is an interim result that may be refined.
          type: boolean
        transcript:
          description: The transcribed text from the audio.
          type: string
        type:
          const: transcript
          description: Frame type identifier.
          type: string
      required:
      - type
      - transcript
      type: object
    telnyx_models:
      enum:
      - openai/whisper-tiny
      - openai/whisper-large-v3-turbo
      type: string
    deepgram_models:
      enum:
      - deepgram/nova-2
      - deepgram/nova-3
      type: string
    SttServerEvent:
      description: Union of all server-to-client WebSocket events for STT streaming.
      discriminator:
        mapping:
          error: '#/components/schemas/SttErrorFrame'
          transcript: '#/components/schemas/TranscriptFrame'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/TranscriptFrame'
      - $ref: '#/components/schemas/SttErrorFrame'
    soniox_models:
      type: string
      enum:
      - soniox/stt-rt-v4
    reson8_models:
      type: string
      enum:
      - reson8/turns
    cohere_ar_stt_models:
      type: string
      enum:
      - cohere/ar-stt
    SttClientEvent_2:
      type: string
      format: binary
      description: Binary audio data in mp3, wav, linear16, or linear32 format, per `input_format`.
    TranscriptFrame_2:
      type: object
      description: Server-to-client frame containing a transcription result.
      properties:
        type:
          type: string
          const: transcript
          description: Frame type identifier.
        transcript:
          type: string
          description: The transcribed text from the audio.
        is_final:
          type: boolean
          description: Whether this is a final transcription result. When `false`, this is an interim result that may be refined.
        confidence:
          type:
          - number
          - 'null'
          description: Confidence score of the transcription, ranging from 0 to 1. `cohere/ar-stt` frames return `null` here rather than omitting the field.
      required:
      - type
      - transcript
    parakeet_models:
      type: string
      enum:
      - nvidia/parakeet-v3
      - omi-health/omi-med-stt-v1
    humain_models:
      type: string
      enum:
      - humain/realtime
  parameters:
    input_format:
      description: The format of input audio stream.
      example: mp3
      in: query
      name: input_format
      required: true
      schema:
        enum:
        - mp3
        - wav
        type: string
    interim_results:
      description: Whether to receive interim transcription results.
      example: true
      in: query
      name: interim_results
      required: false
      schema:
        type: boolean
    endpointing:
      description: Silence duration (in milliseconds) that triggers end-of-speech detection. When set, the engine uses this value to determine when a speaker has stopped talking. Supported by `xAI`, `Deepgram`, `Google`, and `Speechmatics`. Other engines may not support this parameter.
      example: 500
      in: query
      name: endpointing
      required: false
      schema:
        type: integer
    keywords:
      description: Comma-separated list of keywords to boost in the transcription. The engine will prioritize recognition of these words.
      example: Telnyx,SIP,WebRTC
      in: query
      name: keywords
      required: false
      schema:
        type: string
    model:
      description: The specific model to use within the selected transcription engine.
      in: query
      name: model
      schema:
        oneOf:
        - $ref: '#/components/schemas/azure_models'
        - $ref: '#/components/schemas/deepgram_models'
        - $ref: '#/components/schemas/google_models'
        - $ref: '#/components/schemas/telnyx_models'
        - $ref: '#/components/schemas/xai_models'
        - $ref: '#/components/schemas/speechmatics_models'
    redact:
      description: Enable redaction of sensitive information (e.g., PCI data, SSN) from transcription results. Supported values depend on the transcription engine.
      example: pci
      in: query
      name: redact
      required: false
      schema:
        type: string
    language:
      description: The language spoken in the audio stream.
      example: en-US
      in: query
      name: language
      required: false
      schema:
        type: string
    transcription_engine:
      description: The transcription engine to use for processing the audio stream.
      example: Telnyx
      in: query
      name: transcription_engine
      required: true
      schema:
        enum:
        - Azure
        - Deepgram
        - Google
        - Telnyx
        - xAI
        - Speechmatics
        type: string
    keyterm:
      description: A key term to boost in the transcription. The engine will be more likely to recognize this term. Can be specified multiple times for multiple terms.
      example: Telnyx
      in: query
      name: keyterm
      required: false
      schema:
        type: string
    input_format_2:
      name: input_format
      in: query
      required: true
      description: The format of input audio stream.
      schema:
        type: string
        enum:
        - mp3
        - wav
        - linear16
        - linear32
      example: mp3
    endpointing_2:
      name: endpointing
      in: query
      required: false
      description: Silence duration (in milliseconds) that triggers end-of-speech detection. When set, the engine uses this value to determine when a speaker has stopped talking. Supported by `xAI`, `Deepgram`, `Google`, `Speechmatics`, and `Soniox`. `Soniox` accepts values between 500 and 3000. Other engines may not support this parameter.
      schema:
        type: integer
      example: 500
    model_2:
      name: model
      in: query
      description: The specific model to use within the selected transcription engine.
      schema:
        oneOf:
        - $ref: '#/components/schemas/azure_models'
        - $ref: '#/components/schemas/deepgram_models'
        - $ref: '#/components/schemas/google_models'
        - $ref: '#/components/schemas/telnyx_models'
        - $ref: '#/components/schemas/xai_models'
        - $ref: '#/components/schemas/speechmatics_models'
        - $ref: '#/components/schemas/soniox_models'
        - $ref: '#/components/schemas/parakeet_models'
        - $ref: '#/components/schemas/humain_models'
        - $ref: '#/components/schemas/reson8_models'
        - $ref: '#/components/schemas/cohere_ar_stt_models'
    sample_rate:
      name: sample_rate
      in: query
      required: false
      description: Audio sample rate in Hz. Required when `input_format` is a raw encoding (`linear16`, `linear32`) — those formats carry no header metadata. Ignored for container formats (`mp3`, `wav`), which self-describe their rate.
      schema:
        type: integer
      example: 16000
    language_2:
      name: language
      in: query
      required: false
      description: The language spoken in the audio stream. For `cohere/ar-stt`, this must be `ar` or `en` — unlike other engines, Cohere does not auto-detect the language, and rejects unsupported values including `auto`; omitting it defaults to `ar`.
      schema:
        type: string
      example: en-US
    transcription_engine_2:
      name: transcription_engine
      in: query
      required: true
      description: The transcription engine to use for processing the audio stream.
      schema:
        type: string
        enum:
        - Azure
        - Deepgram
        - Google
        - Telnyx
        - xAI
        - Speechmatics
        - Soniox
        - Parakeet
        - Humain
        - Reson8
        - Cohere
      example: Telnyx
  responses:
    speech-to-text_UnprocessableEntityResponse:
      content:
        application/json:
          examples:
            missing_required_parameter:
              summary: Missing required parameter
              value:
                errors:
                - code: '10004'
                  detail: The 'transcription_engine' parameter is required and cannot be blank.
                  source:
                    pointer: /transcription_engine
                  title: Missing required parameter
          schema:
            $ref: '#/components/schemas/speech-to-text_Errors'
      description: Unprocessable entity. The request was well-formed but could not be processed due to semantic errors. This includes validation errors, invalid parameter values and business logic violations.
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
