openapi: 3.2.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx OAuth Grants API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- name: OAuth Grants
paths:
  /oauth_grants:
    get:
      description: Retrieve a paginated list of OAuth grants for the authenticated user
      operationId: ListOAuthGrants
      parameters:
      - description: Number of results per page
        in: query
        name: page[size]
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Page number
        in: query
        name: page[number]
        schema:
          default: 1
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/OAuthGrant'
                    type: array
                  meta:
                    $ref: '#/components/schemas/oauth_PaginationMeta'
                type: object
          description: List of OAuth grants
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth_Error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth_Error'
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List OAuth grants
      tags:
      - OAuth Grants
      x-latency-category: responsive
  /oauth_grants/{id}:
    delete:
      description: Revoke an OAuth grant
      operationId: RevokeOAuthGrant
      parameters:
      - description: OAuth grant ID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/OAuthGrant'
                type: object
          description: OAuth grant revoked successfully
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth_Error'
          description: OAuth grant not found
      security:
      - bearerAuth: []
      summary: Revoke OAuth grant
      tags:
      - OAuth Grants
      x-latency-category: responsive
    get:
      description: Retrieve a single OAuth grant by ID
      operationId: GetOAuthGrant
      parameters:
      - description: OAuth grant ID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/OAuthGrant'
                type: object
          description: OAuth grant details
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth_Error'
          description: OAuth grant not found
      security:
      - bearerAuth: []
      summary: Get OAuth grant
      tags:
      - OAuth Grants
      x-latency-category: responsive
components:
  schemas:
    oauth_Error:
      properties:
        error:
          description: Error code
          type: string
        error_description:
          description: Human-readable error description
          type: string
      required:
      - error
      type: object
    oauth_PaginationMeta:
      properties:
        page_number:
          description: Current page number
          type: integer
        page_size:
          description: Number of items per page
          type: integer
        total_pages:
          description: Total number of pages
          type: integer
        total_results:
          description: Total number of results
          type: integer
      type: object
    OAuthGrant:
      properties:
        client_id:
          description: OAuth client identifier
          type: string
        created_at:
          description: Timestamp when the grant was created
          format: date-time
          type: string
        id:
          description: Unique identifier for the OAuth grant
          format: uuid
          type: string
        last_used_at:
          description: Timestamp when the grant was last used
          format: date-time
          type:
          - string
          - 'null'
        record_type:
          description: Record type identifier
          enum:
          - oauth_grant
          type: string
        scopes:
          description: List of granted OAuth scopes
          items:
            type: string
          type: array
      required:
      - id
      - record_type
      - client_id
      - scopes
      - created_at
      type: object
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
