openapi: 3.1.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Access Tokens Phone Number Porting API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Determining portability of phone numbers
  name: Phone Number Porting
paths:
  /portability_checks:
    post:
      description: Runs a portability check, returning the results immediately.
      operationId: PostPortabilityCheck
      requestBody:
        content:
          application/json:
            schema:
              properties:
                phone_numbers:
                  description: The list of +E.164 formatted phone numbers to check for portability
                  example:
                  - '+13035550000'
                  - '+13035550001'
                  - '+13035550002'
                  items:
                    type: string
                  type: array
              type: object
        required: true
      responses:
        '201':
          $ref: '#/components/responses/PortabilityCheckResponse'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Run a portability check
      tags:
      - Phone Number Porting
      x-latency-category: responsive
components:
  responses:
    PortabilityCheckResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortabilityCheckDetails'
                type: array
            type: object
      description: PortabilityCheck Response
  schemas:
    PortabilityCheckDetails:
      properties:
        fast_portable:
          description: Indicates whether this phone number is FastPort eligible
          example: true
          readOnly: true
          type: boolean
        not_portable_reason:
          description: If this phone number is not portable, explains why. Empty string if the number is portable.
          example: No coverage
          readOnly: true
          type: string
        phone_number:
          description: The +E.164 formatted phone number this result is about
          example: '+13125550123'
          readOnly: true
          type: string
        portable:
          description: Indicates whether this phone number is portable
          example: true
          readOnly: true
          type: boolean
        record_type:
          description: Identifies the type of the resource.
          example: portability_check_result
          readOnly: true
          type: string
      type: object
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
