openapi: 3.2.0
info:
  title: Telnyx Traffic Policy Profiles API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Traffic Policy Profiles across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Traffic Policy Profiles operations
  name: Traffic Policy Profiles
paths:
  /traffic_policy_profiles:
    get:
      description: Get all traffic policy profiles belonging to the user that match the given filters.
      operationId: GetTrafficPolicyProfiles
      parameters:
      - $ref: '#/components/parameters/wireless_PageNumber'
      - $ref: '#/components/parameters/wireless_PageSize'
      - description: Filter by traffic policy profile type.
        example: whitelist
        in: query
        name: filter[type]
        required: false
        schema:
          enum:
          - whitelist
          - blacklist
          - throttling
          type: string
      - description: Filter by service ID.
        example: service_123
        in: query
        name: filter[service]
        required: false
        schema:
          type: string
      - description: Sorts traffic policy profiles by the given field. Defaults to ascending order unless field is prefixed with a minus sign.
        in: query
        name: sort
        required: false
        schema:
          enum:
          - service
          - -service
          - type
          - -type
          type: string
      responses:
        '200':
          $ref: '#/components/responses/GetTrafficPolicyProfilesResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get all traffic policy profiles
      tags:
      - Traffic Policy Profiles
      x-latency-category: responsive
    post:
      description: Create a new traffic policy profile. At least one of `services`, `ip_ranges`, or `domains` must be provided.
      operationId: CreateTrafficPolicyProfile
      requestBody:
        content:
          application/json:
            schema:
              properties:
                domains:
                  description: Array of domain names.
                  example:
                  - www.hbomax.com
                  - netflix.com
                  items:
                    type: string
                  type: array
                ip_ranges:
                  description: Array of IP ranges in CIDR notation.
                  example:
                  - 10.64.0.0/24
                  - 10.64.0.0/25
                  items:
                    type: string
                  type: array
                limit_bw_kbps:
                  description: Bandwidth limit in kbps. Must be 512 or 1024.
                  enum:
                  - 512
                  - 1024
                  example: 512
                  type: integer
                services:
                  description: Array of PCEF service IDs to include in the profile.
                  example:
                  - service_123
                  - service_456
                  items:
                    type: string
                  type: array
                type:
                  description: The type of the traffic policy profile.
                  enum:
                  - whitelist
                  - blacklist
                  example: whitelist
                  type: string
              required:
              - type
              type: object
        required: true
      responses:
        '201':
          $ref: '#/components/responses/CreateTrafficPolicyProfileResponse'
        '422':
          $ref: '#/components/responses/wireless_UnprocessableEntity'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Create a traffic policy profile
      tags:
      - Traffic Policy Profiles
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /traffic_policy_profiles/services:
    get:
      description: Get all available PCEF services that can be used in traffic policy profiles.
      operationId: GetTrafficPolicyProfileServices
      parameters:
      - $ref: '#/components/parameters/wireless_PageNumber'
      - $ref: '#/components/parameters/wireless_PageSize'
      - description: Filter services by group.
        example: Social Media
        in: query
        name: filter[group]
        required: false
        schema:
          type: string
      - description: Filter services by name.
        example: Netflix
        in: query
        name: filter[name]
        required: false
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/GetTrafficPolicyProfileServicesResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get all available traffic policy profile services
      tags:
      - Traffic Policy Profiles
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /traffic_policy_profiles/{id}:
    delete:
      description: Deletes the traffic policy profile.
      operationId: DeleteTrafficPolicyProfile
      parameters:
      - $ref: '#/components/parameters/TrafficPolicyProfileId'
      responses:
        '200':
          $ref: '#/components/responses/DeleteTrafficPolicyProfileResponse'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Delete a traffic policy profile
      tags:
      - Traffic Policy Profiles
      x-latency-category: responsive
    get:
      description: Returns the details regarding a specific traffic policy profile.
      operationId: GetTrafficPolicyProfile
      parameters:
      - $ref: '#/components/parameters/TrafficPolicyProfileId'
      responses:
        '200':
          $ref: '#/components/responses/GetTrafficPolicyProfileResponse'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get a traffic policy profile
      tags:
      - Traffic Policy Profiles
      x-latency-category: responsive
    patch:
      description: Updates a traffic policy profile.
      operationId: UpdateTrafficPolicyProfile
      parameters:
      - $ref: '#/components/parameters/TrafficPolicyProfileId'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                domains:
                  description: Array of domain names.
                  example:
                  - netflix.com
                  items:
                    type: string
                  type: array
                ip_ranges:
                  description: Array of IP ranges in CIDR notation.
                  example:
                  - 10.64.0.0/24
                  items:
                    type: string
                  type: array
                limit_bw_kbps:
                  description: Bandwidth limit in kbps. Must be 512 or 1024, or null to remove.
                  enum:
                  - 512
                  - 1024
                  - null
                  example: 1024
                  type:
                  - integer
                  - 'null'
                services:
                  description: Array of PCEF service IDs to include in the profile.
                  example:
                  - service_123
                  items:
                    type: string
                  type: array
                type:
                  description: The type of the traffic policy profile.
                  enum:
                  - whitelist
                  - blacklist
                  - throttling
                  example: whitelist
                  type: string
              type: object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/UpdateTrafficPolicyProfileResponse'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        '422':
          $ref: '#/components/responses/wireless_UnprocessableEntity'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Update a traffic policy profile
      tags:
      - Traffic Policy Profiles
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /traffic/policy/profiles:
    get:
      summary: Get all traffic policy profiles
      description: Get all traffic policy profiles belonging to the user that match the given filters.
      operationId: getTrafficPolicyProfiles
      tags:
      - Traffic Policy Profiles
      parameters:
      - $ref: '#/components/parameters/wireless_PageNumber'
      - $ref: '#/components/parameters/wireless_PageSize'
      - name: filter[type]
        description: Filter by traffic policy profile type.
        in: query
        required: false
        schema:
          type: string
          enum:
          - whitelist
          - blacklist
          - throttling
        example: whitelist
      - name: filter[service]
        description: Filter by service ID.
        in: query
        required: false
        schema:
          type: string
        example: service_123
      - name: sort
        description: Sorts traffic policy profiles by the given field. Defaults to ascending order unless field is prefixed with a minus sign.
        in: query
        required: false
        schema:
          type: string
          enum:
          - service
          - -service
          - type
          - -type
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TrafficPolicyProfile'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/sim-cards-configuration_wireless_GenericErrorResponse'
      x-latency-category: responsive
      x-operation-id-source: normalized
      x-operation-id-original: GetTrafficPolicyProfiles
    post:
      summary: Create a traffic policy profile
      description: Create a new traffic policy profile. At least one of `services`, `ip_ranges`, or `domains` must be provided.
      operationId: postTrafficPolicyProfiles
      tags:
      - Traffic Policy Profiles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  description: The type of the traffic policy profile.
                  type: string
                  enum:
                  - whitelist
                  - blacklist
                  example: whitelist
                services:
                  description: Array of PCEF service IDs to include in the profile.
                  type: array
                  items:
                    type: string
                  example:
                  - service_123
                  - service_456
                ip_ranges:
                  description: Array of IP ranges in CIDR notation.
                  type: array
                  items:
                    type: string
                  example:
                  - 10.64.0.0/24
                  - 10.64.0.0/25
                domains:
                  description: Array of domain names.
                  type: array
                  items:
                    type: string
                  example:
                  - www.hbomax.com
                  - netflix.com
                limit_bw_kbps:
                  description: Bandwidth limit in kbps. Must be 512 or 1024.
                  type: integer
                  enum:
                  - 512
                  - 1024
                  example: 512
              required:
              - type
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TrafficPolicyProfile'
        '422':
          $ref: '#/components/responses/sim-cards-configuration_wireless_UnprocessableEntity'
        default:
          $ref: '#/components/responses/sim-cards-configuration_wireless_GenericErrorResponse'
      x-latency-category: responsive
      x-operation-id-source: normalized
      x-operation-id-original: CreateTrafficPolicyProfile
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /traffic/policy/profiles/services:
    get:
      summary: Get all available traffic policy profile services
      description: Get all available PCEF services that can be used in traffic policy profiles.
      operationId: getTrafficPolicyProfilesServices
      tags:
      - Traffic Policy Profiles
      parameters:
      - $ref: '#/components/parameters/wireless_PageNumber'
      - $ref: '#/components/parameters/wireless_PageSize'
      - name: filter[group]
        description: Filter services by group.
        in: query
        required: false
        schema:
          type: string
        example: Social Media
      - name: filter[name]
        description: Filter services by name.
        in: query
        required: false
        schema:
          type: string
        example: Netflix
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WirelessPcrfService'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/sim-cards-configuration_wireless_GenericErrorResponse'
      x-latency-category: responsive
      x-operation-id-source: normalized
      x-operation-id-original: GetTrafficPolicyProfileServices
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /traffic/policy/profiles/{id}:
    delete:
      summary: Delete a traffic policy profile
      description: Permanently deletes the specified traffic policy profile from your account.
      operationId: deleteTrafficPolicyProfilesById
      tags:
      - Traffic Policy Profiles
      parameters:
      - $ref: '#/components/parameters/TrafficPolicyProfileId'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Identifies the resource.
                        example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/sim-cards-configuration_wireless_GenericErrorResponse'
      x-latency-category: responsive
      x-operation-id-source: normalized
      x-operation-id-original: DeleteTrafficPolicyProfile
    get:
      summary: Get a traffic policy profile
      description: Returns the details regarding a specific traffic policy profile.
      operationId: getTrafficPolicyProfilesById
      tags:
      - Traffic Policy Profiles
      parameters:
      - $ref: '#/components/parameters/TrafficPolicyProfileId'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TrafficPolicyProfile'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/sim-cards-configuration_wireless_GenericErrorResponse'
      x-latency-category: responsive
      x-operation-id-source: normalized
      x-operation-id-original: GetTrafficPolicyProfile
    patch:
      summary: Update a traffic policy profile
      description: Updates the specified traffic policy profile and returns the updated profile.
      operationId: patchTrafficPolicyProfilesById
      tags:
      - Traffic Policy Profiles
      parameters:
      - $ref: '#/components/parameters/TrafficPolicyProfileId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  description: The type of the traffic policy profile.
                  type: string
                  enum:
                  - whitelist
                  - blacklist
                  - throttling
                  example: whitelist
                services:
                  description: Array of PCEF service IDs to include in the profile.
                  type: array
                  items:
                    type: string
                  example:
                  - service_123
                ip_ranges:
                  description: Array of IP ranges in CIDR notation.
                  type: array
                  items:
                    type: string
                  example:
                  - 10.64.0.0/24
                domains:
                  description: Array of domain names.
                  type: array
                  items:
                    type: string
                  example:
                  - netflix.com
                limit_bw_kbps:
                  description: Bandwidth limit in kbps. Must be 512 or 1024, or null to remove.
                  type:
                  - integer
                  - 'null'
                  enum:
                  - 512
                  - 1024
                  - null
                  example: 1024
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TrafficPolicyProfile'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        '422':
          $ref: '#/components/responses/sim-cards-configuration_wireless_UnprocessableEntity'
        default:
          $ref: '#/components/responses/sim-cards-configuration_wireless_GenericErrorResponse'
      x-latency-category: responsive
      x-operation-id-source: normalized
      x-operation-id-original: UpdateTrafficPolicyProfile
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
components:
  parameters:
    wireless_PageSize:
      description: The size of the page.
      in: query
      name: page[size]
      schema:
        default: 20
        maximum: 250
        minimum: 1
        type: integer
    TrafficPolicyProfileId:
      description: Identifies the traffic policy profile.
      in: path
      name: id
      required: true
      schema:
        example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        format: uuid
        type: string
    wireless_PageNumber:
      description: The page number to load.
      in: query
      name: page[number]
      schema:
        default: 1
        minimum: 1
        type: integer
    wireless_PageSize_c5290d5308:
      name: page[size]
      in: query
      description: The size of the page.
      schema:
        type: integer
        minimum: 1
        maximum: 250
        default: 20
    wireless_PageNumber_c5290d5308:
      name: page[number]
      in: query
      description: The page number to load.
      schema:
        type: integer
        minimum: 1
        default: 1
  schemas:
    wireless_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    PaginationMeta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      type: object
    TrafficPolicyProfile:
      properties:
        created_at:
          description: ISO 8601 formatted date-time indicating when the resource was created.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        domains:
          description: Array of domain names.
          example:
          - www.hbomax.com
          - netflix.com
          items:
            type: string
          type: array
        id:
          description: Identifies the resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          readOnly: true
          type: string
        ip_ranges:
          description: Array of IP ranges in CIDR notation.
          example:
          - 10.64.0.0/24
          - 10.64.0.0/25
          items:
            type: string
          type: array
        limit_bw_kbps:
          description: Bandwidth limit in kbps.
          example: 512
          type:
          - integer
          - 'null'
        record_type:
          example: traffic_policy_profile
          readOnly: true
          type: string
        services:
          description: Array of PCEF service IDs included in the profile.
          example:
          - service_123
          - service_456
          items:
            type: string
          type: array
        type:
          description: The type of the traffic policy profile.
          enum:
          - whitelist
          - blacklist
          - throttling
          example: whitelist
          type: string
        updated_at:
          description: ISO 8601 formatted date-time indicating when the resource was updated.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
      type: object
    wireless_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/wireless_Error'
          type: array
      type: object
    WirelessPcrfService:
      properties:
        group:
          description: The group the service belongs to.
          example: Streaming
          type: string
        id:
          description: The service identifier.
          example: service_123
          type: string
        name:
          description: The name of the service.
          example: Netflix
          type: string
        resource_type:
          example: wireless_pcrf_service
          readOnly: true
          type: string
      type: object
    Errors:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/billing-group_Error'
      type: object
    billing-group_Error:
      type: object
      required:
      - code
      - title
      properties:
        code:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          properties: {}
          additionalProperties: true
    documents_Error:
      required:
      - code
      - title
      properties:
        code:
          type: string
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          additionalProperties: true
      type: object
  responses:
    CreateTrafficPolicyProfileResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/TrafficPolicyProfile'
            type: object
      description: Successful Response
    GetTrafficPolicyProfileServicesResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/WirelessPcrfService'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful Response
    GetTrafficPolicyProfilesResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/TrafficPolicyProfile'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful Response
    wireless_UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unprocessable entity. Check the 'detail' field in response for details.
    DeleteTrafficPolicyProfileResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                properties:
                  id:
                    description: Identifies the resource.
                    example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
                    format: uuid
                    type: string
                type: object
            type: object
      description: Successful Response
    GetTrafficPolicyProfileResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/TrafficPolicyProfile'
            type: object
      description: Successful Response
    wireless_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unexpected error
    wireless_ResourceNotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Error'
      description: Resource not found
    UpdateTrafficPolicyProfileResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/TrafficPolicyProfile'
            type: object
      description: Successful Response
    wireless_UnprocessableEntity_c5290d5308:
      description: Unprocessable entity. Check the 'detail' field in response for details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            unprocessableEntity:
              summary: Request could not be processed
              value:
                errors:
                - code: '10027'
                  title: Unprocessable Entity
                  detail: The server understood the syntax of the request but was unable to process the instructions.
    sim-cards-configuration_wireless_UnprocessableEntity:
      description: Unprocessable entity. Check the 'detail' field in response for details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
          example:
            errors:
            - code: '10027'
              title: Unprocessable Entity
              detail: The server understood the syntax of the request but was unable to process the instructions.
    wireless_GenericErrorResponse_c5290d5308:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            unexpectedError:
              summary: Unexpected API error
              value:
                errors:
                - code: '10007'
                  title: Unexpected error
                  detail: An unexpected error occured.
    ResourceNotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/documents_Error'
    sim-cards-configuration_wireless_GenericErrorResponse:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
          example:
            errors:
            - code: '10007'
              title: Unexpected error
              detail: An unexpected error occured.
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
