openapi: 3.2.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Call Commands API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Call Control command operations
  name: Call Commands
paths:
  /calls:
    post:
      description: 'Dial a number or SIP URI from a given connection. A successful response will include a `call_leg_id` which can be used to correlate the command with subsequent webhooks.


        **Expected Webhooks:**


        - `call.initiated`

        - `call.answered` or `call.hangup`

        - `call.hold` and `call.unhold` if the call is held/unheld

        - `call.machine.detection.ended` if `answering_machine_detection` was requested

        - `call.machine.greeting.ended` if `answering_machine_detection` was requested to detect the end of machine greeting

        - `call.machine.premium.detection.ended` if `answering_machine_detection=premium` was requested

        - `call.machine.premium.greeting.ended` if `answering_machine_detection=premium` was requested and a beep was detected

        - `call.deepfake_detection.result` if `deepfake_detection` was enabled

        - `call.deepfake_detection.error` if `deepfake_detection` was enabled and an error occurred

        - `streaming.started`, `streaming.stopped` or `streaming.failed` if `stream_url` was set


        When the `record` parameter is set to `record-from-answer`, the response will include a `recording_id` field.

        '
      operationId: DialCall
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallRequest'
        description: Call request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/RetrieveCallStatusResponseWithRecordingId'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Dial
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/ai_assistant_add_messages:
    post:
      description: Add messages to the conversation started by an AI assistant on the call.
      operationId: CallAddMessagesToAIAssistant
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIAssistantAddMessagesRequest'
        description: AI Assistant add messages request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Add messages to AI Assistant
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/ai_assistant_join:
    post:
      description: Add a participant to an existing AI assistant conversation. Use this command to bring an additional call leg into a running AI conversation.
      operationId: CallJoinAIAssistant
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIAssistantJoinRequest'
        description: AI Assistant Join request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponseWithConversationId'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Join AI Assistant Conversation
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/ai_assistant_start:
    post:
      description: 'Start an AI assistant on the call.


        **Expected Webhooks:**


        - `call.conversation.ended`

        - `call.conversation_insights.generated`

        '
      operationId: CallStartAIAssistant
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIAssistantStartRequest'
        description: AI Assistant request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponseWithConversationId'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Start AI Assistant
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/ai_assistant_stop:
    post:
      description: Stop an AI assistant on the call.
      operationId: CallStopAIAssistant
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIAssistantStopRequest'
        description: AI Assistant request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Stop AI Assistant
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/answer:
    post:
      description: 'Answer an incoming call. You must issue this command before executing subsequent commands on an incoming call.


        **Expected Webhooks:**


        - `call.answered`

        - `call.hold` and `call.unhold` if the call is held/unheld

        - `call.deepfake_detection.result` if `deepfake_detection` was enabled

        - `call.deepfake_detection.error` if `deepfake_detection` was enabled and an error occurred

        - `streaming.started`, `streaming.stopped` or `streaming.failed` if `stream_url` was set


        When the `record` parameter is set to `record-from-answer`, the response will include a `recording_id` field.

        '
      operationId: AnswerCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerRequest'
        description: Answer call request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponseWithRecordingId'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Answer call
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/bridge:
    post:
      description: 'Bridge two call control calls.


        **Expected Webhooks:**


        - `call.bridged` for Leg A

        - `call.bridged` for Leg B

        '
      operationId: BridgeCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BridgeRequest'
        description: Bridge call request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Bridge calls
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/client_state_update:
    put:
      description: Updates client state
      operationId: UpdateClientState
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientStateUpdateRequest'
        description: Updates client state for every subsequent webhook
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Update client state
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/enqueue:
    post:
      description: Put the call in a queue.
      operationId: EnqueueCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnqueueRequest'
        description: Enqueue call request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Enqueue call
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/fork_start:
    post:
      description: "Call forking allows you to stream the media from a call to a specific target in realtime. \nThis stream can be used to enable realtime audio analysis to support a \nvariety of use cases, including fraud detection, or the creation of AI-generated audio responses. \nRequests must specify either the `target` attribute or the `rx` and `tx` attributes.\n\n**Expected Webhooks:**\n\n- `call.fork.started`\n- `call.fork.stopped`\n\n"
      operationId: StartCallFork
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartForkingRequest'
        description: Fork media request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Forking start
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/fork_stop:
    post:
      description: 'Stop forking a call.


        **Expected Webhooks:**


        - `call.fork.stopped`

        '
      operationId: StopCallFork
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopForkingRequest'
        description: Stop forking media request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Forking stop
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/gather:
    post:
      description: 'Gather DTMF signals to build interactive menus.


        You can pass a list of valid digits. The `Answer` command must be issued before the `gather` command.


        **Expected Webhooks:**


        - `call.dtmf.received` (you may receive many of these webhooks)

        - `call.gather.ended`

        '
      operationId: GatherCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatherRequest'
        description: Gather
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Gather
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/gather_stop:
    post:
      description: 'Stop current gather.


        **Expected Webhooks:**


        - `call.gather.ended`

        '
      operationId: StopCallGather
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopGatherRequest'
        description: Stop current gather
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Gather stop
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/gather_using_ai:
    post:
      description: "Gather parameters defined in the request payload using a voice assistant.\n\n You can pass parameters described as a JSON Schema object and the voice assistant will attempt to gather these informations. \n\n**Expected Webhooks:**\n\n- `call.ai_gather.ended`\n- `call.conversation.ended`\n- `call.ai_gather.partial_results` (if `send_partial_results` is set to `true`)\n- `call.ai_gather.message_history_updated` (if `send_message_history_updates` is set to `true`)\n"
      operationId: callGatherUsingAI
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatherUsingAIRequest'
        description: Gather using AI request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponseWithConversationId'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Gather using AI
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/gather_using_audio:
    post:
      description: 'Play an audio file on the call until the required DTMF signals are gathered to build interactive menus.


        You can pass a list of valid digits along with an ''invalid_audio_url'', which will be played back at the beginning of each prompt. Playback will be interrupted when a DTMF signal is received. The `Answer command must be issued before the `gather_using_audio` command.


        **Expected Webhooks:**


        - `call.playback.started`

        - `call.playback.ended`

        - `call.dtmf.received` (you may receive many of these webhooks)

        - `call.gather.ended`

        '
      operationId: GatherUsingAudio
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatherUsingAudioRequest'
        description: Gather using audio request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Gather using audio
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/gather_using_speak:
    post:
      description: 'Convert text to speech and play it on the call until the required DTMF signals are gathered to build interactive menus.


        You can pass a list of valid digits along with an ''invalid_payload'', which will be played back at the beginning of each prompt. Speech will be interrupted when a DTMF signal is received. The `Answer` command must be issued before the `gather_using_speak` command.


        **Expected Webhooks:**


        - `call.dtmf.received` (you may receive many of these webhooks)

        - `call.gather.ended`

        '
      operationId: GatherUsingSpeak
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatherUsingSpeakRequest'
        description: Gather using speak request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Gather using speak
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/hangup:
    post:
      description: 'Hang up the call.


        **Expected Webhooks:**


        - `call.hangup`

        - `call.recording.saved`

        '
      operationId: HangupCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HangupRequest'
        description: Hangup request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Hangup call
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/leave_queue:
    post:
      description: Removes the call from a queue.
      operationId: LeaveQueue
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveQueueRequest'
        description: Removes the call from the queue, the call currently is enqueued in.
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Remove call from a queue
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/playback_start:
    post:
      description: 'Play an audio file on the call. If multiple play audio commands are issued consecutively,

        the audio files will be placed in a queue awaiting playback.


        *Notes:*


        - When `overlay` is enabled, `target_legs` is limited to `self`.

        - A customer cannot Play Audio with `overlay=true` unless there is a Play Audio with `overlay=false` actively playing.


        **Expected Webhooks:**


        - `call.playback.started`

        - `call.playback.ended`

        '
      operationId: StartCallPlayback
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayAudioUrlRequest'
        description: Play audio URL request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Play audio URL
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/playback_stop:
    post:
      description: 'Stop audio being played on the call.


        **Expected Webhooks:**


        - `call.playback.ended` or `call.speak.ended`

        '
      operationId: StopCallPlayback
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaybackStopRequest'
        description: Stop audio playback request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Stop audio playback
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/record_pause:
    post:
      description: 'Pause recording the call. Recording can be resumed via Resume recording command.


        **Expected Webhooks:**


        There are no webhooks associated with this command.

        '
      operationId: PauseCallRecording
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PauseRecordingRequest'
        description: Pause recording call request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Record pause
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/record_resume:
    post:
      description: 'Resume recording the call.


        **Expected Webhooks:**


        There are no webhooks associated with this command.

        '
      operationId: ResumeCallRecording
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumeRecordingRequest'
        description: Resume recording call request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Record resume
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/record_start:
    post:
      description: 'Start recording the call. Recording will stop on call hang-up, or can be initiated via the Stop Recording command.


        **Expected Webhooks:**


        - `call.recording.saved`

        - `call.recording.transcription.saved`

        - `call.recording.error`

        '
      operationId: StartCallRecord
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRecordingRequest'
        description: Start recording audio request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Recording start
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/record_stop:
    post:
      description: 'Stop recording the call.


        **Expected Webhooks:**


        - `call.recording.saved`

        '
      operationId: StopCallRecording
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopRecordingRequest'
        description: Stop recording call request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Recording stop
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/refer:
    post:
      description: 'Initiate a SIP Refer on a Call Control call. You can initiate a SIP Refer at any point in the duration of a call.


        **Expected Webhooks:**


        - `call.refer.started`

        - `call.refer.completed`

        - `call.refer.failed`

        '
      operationId: ReferCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReferRequest'
        description: Refer request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: SIP Refer a call
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/reject:
    post:
      description: 'Reject an incoming call.


        **Expected Webhooks:**


        - `call.hangup`

        '
      operationId: RejectCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectRequest'
        description: Reject request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Reject a call
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/send_dtmf:
    post:
      description: 'Sends DTMF tones from this leg. DTMF tones will be heard by the other end of the call.


        **Expected Webhooks:**


        There are no webhooks associated with this command.

        '
      operationId: SendDTMF
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendDTMFRequest'
        description: Send DTMF request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Send DTMF
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/send_sip_info:
    post:
      description: 'Sends SIP info from this leg.


        **Expected Webhooks:**


        - `call.sip_info.received` (to be received on the target call leg)

        '
      operationId: SendSIPInfo
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendSIPInfoRequest'
        description: Send SIP INFO request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Send SIP info
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/siprec_start:
    post:
      description: "Start siprec session to configured in SIPREC connector SRS. \n\n**Expected Webhooks:**\n\n- `siprec.started`\n- `siprec.stopped`\n- `siprec.failed`\n"
      operationId: StartSiprecSession
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartSiprecRequest'
        description: Start siprec session to configured in SIPREC connector SRS.
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: SIPREC start
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/siprec_stop:
    post:
      description: 'Stop SIPREC session.


        **Expected Webhooks:**


        - `siprec.stopped`

        '
      operationId: StopSiprecSession
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopSiprecRequest'
        description: Stop siprec session
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: SIPREC stop
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/speak:
    post:
      description: 'Convert text to speech and play it back on the call. If multiple speak text commands are issued consecutively, the audio files will be placed in a queue awaiting playback.


        **Expected Webhooks:**


        - `call.speak.started`

        - `call.speak.ended`

        '
      operationId: SpeakCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpeakRequest'
        description: Speak request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Speak text
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/streaming_start:
    post:
      description: 'Start streaming the media from a call to a specific WebSocket address or Dialogflow connection in near-realtime. Audio will be delivered as base64-encoded RTP payload (raw audio), wrapped in JSON payloads.


        Please find more details about media streaming messages specification under the [link](https://developers.telnyx.com/docs/voice/programmable-voice/media-streaming).'
      operationId: StartCallStreaming
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartStreamingRequest'
        description: Start streaming media request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Streaming start
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/streaming_stop:
    post:
      description: 'Stop streaming a call to a WebSocket.


        **Expected Webhooks:**


        - `streaming.stopped`

        '
      operationId: StopCallStreaming
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopStreamingRequest'
        description: Stop streaming media request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Streaming stop
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/suppression_start:
    post:
      operationId: noiseSuppressionStart
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoiseSuppressionStart'
        description: Start noise suppression request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Noise Suppression Start (BETA)
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/suppression_stop:
    post:
      operationId: noiseSuppressionStop
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoiseSuppressionStop'
        description: Stop noise suppression request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Noise Suppression Stop (BETA)
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/switch_supervisor_role:
    post:
      description: Switch the supervisor role for a bridged call. This allows switching between different supervisor modes during an active call
      operationId: SwitchSupervisorRole
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwitchSupervisorRoleRequest'
        description: Switch supervisor role request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Switch supervisor role
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/transcription_start:
    post:
      description: 'Start real-time transcription. Transcription will stop on call hang-up, or can be initiated via the Transcription stop command.


        **Expected Webhooks:**


        - `call.transcription`

        '
      operationId: StartCallTranscription
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscriptionStartRequest'
        description: Transcription start request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Transcription start
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/transcription_stop:
    post:
      description: Stop real-time transcription.
      operationId: StopCallTranscription
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscriptionStopRequest'
        description: Transcription stop request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Transcription stop
      tags:
      - Call Commands
      x-latency-category: interactive
  /calls/{call_control_id}/actions/transfer:
    post:
      description: 'Transfer a call to a new destination. If the transfer is unsuccessful, a `call.hangup` webhook for the other call (Leg B) will be sent indicating that the transfer could not be completed. The original call will remain active and may be issued additional commands, potentially transfering the call to an alternate destination.


        **Expected Webhooks:**


        - `call.initiated`

        - `call.bridged` to Leg B

        - `call.answered` or `call.hangup`

        - `call.machine.detection.ended` if `answering_machine_detection` was requested

        - `call.machine.greeting.ended` if `answering_machine_detection` was requested to detect the end of machine greeting

        - `call.machine.premium.detection.ended` if `answering_machine_detection=premium` was requested

        - `call.machine.premium.greeting.ended` if `answering_machine_detection=premium` was requested and a beep was detected

        '
      operationId: TransferCall
      parameters:
      - $ref: '#/components/parameters/CallControlId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferCallRequest'
        description: Transfer call request
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CallControlCommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntityResponse'
        default:
          $ref: '#/components/responses/call-control_GenericErrorResponse'
      summary: Transfer call
      tags:
      - Call Commands
      x-latency-category: interactive
components:
  schemas:
    StreamBidirectionalCodec:
      default: PCMU
      description: Indicates codec for bidirectional streaming RTP payloads. Used only with stream_bidirectional_mode=rtp. Case sensitive.
      enum:
      - PCMU
      - PCMA
      - G722
      - OPUS
      - AMR-WB
      - L16
      example: G722
      title: Bidirectional Stream Codec
      type: string
    DeepgramNova2Config:
      example:
        keywords_boosting:
          krieger: 1
          snuffleupagus: 5
          systrom: 2
        language: en
        transcription_engine: Deepgram
        transcription_model: deepgram/nova-2
      properties:
        interim_results:
          default: false
          description: Whether to send also interim results. If set to false, only final results will be sent.
          example: true
          type: boolean
        keywords_boosting:
          additionalProperties:
            description: Boost intensifier for the keyword. Higher values increase recognition confidence.
            type: number
          default: null
          description: 'Keywords and their respective intensifiers (boosting values) to improve transcription accuracy for specific words or phrases. The intensifier should be a numeric value. Example: `{"snuffleupagus": 5, "systrom": 2, "krieger": 1}`.'
          example:
            krieger: 1
            snuffleupagus: 5
            systrom: 2
          type: object
        language:
          $ref: '#/components/schemas/DeepgramNova2TranscriptionLanguage'
        transcription_engine:
          enum:
          - Deepgram
          type: string
        transcription_model:
          enum:
          - deepgram/nova-2
          type: string
        utterance_end_ms:
          default: 1000
          description: Number of milliseconds of silence to consider an utterance ended. Ranges from 0 to 5000 ms.
          example: 800
          maximum: 5000
          minimum: 0
          type: integer
      required:
      - transcription_engine
      - transcription_model
      title: DeepgramNova2Config
      type: object
    TranscriptionStartRequest:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        transcription_engine: Google
        transcription_engine_config:
          language: en
          transcription_engine: Google
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        transcription_engine:
          default: Google
          description: Engine to use for speech recognition. Legacy values `A` - `Google`, `B` - `Telnyx` are supported for backward compatibility.
          enum:
          - Google
          - Telnyx
          - Deepgram
          - Azure
          - xAI
          - AssemblyAI
          - A
          - B
          example: Google
          type: string
        transcription_engine_config:
          discriminator:
            mapping:
              A: '#/components/schemas/TranscriptionEngineAConfig'
              AssemblyAI: '#/components/schemas/TranscriptionEngineAssemblyaiConfig'
              Azure: '#/components/schemas/TranscriptionEngineAzureConfig'
              B: '#/components/schemas/TranscriptionEngineBConfig'
              Deepgram: '#/components/schemas/TranscriptionEngineDeepgramConfig'
              Google: '#/components/schemas/TranscriptionEngineGoogleConfig'
              Telnyx: '#/components/schemas/TranscriptionEngineTelnyxConfig'
              xAI: '#/components/schemas/TranscriptionEngineXaiConfig'
            propertyName: transcription_engine
          oneOf:
          - $ref: '#/components/schemas/TranscriptionEngineGoogleConfig'
          - $ref: '#/components/schemas/TranscriptionEngineTelnyxConfig'
          - $ref: '#/components/schemas/TranscriptionEngineDeepgramConfig'
          - $ref: '#/components/schemas/TranscriptionEngineAzureConfig'
          - $ref: '#/components/schemas/TranscriptionEngineXaiConfig'
          - $ref: '#/components/schemas/TranscriptionEngineAssemblyaiConfig'
          - $ref: '#/components/schemas/TranscriptionEngineAConfig'
          - $ref: '#/components/schemas/TranscriptionEngineBConfig'
        transcription_tracks:
          default: inbound
          description: Indicates which leg of the call will be transcribed. Use `inbound` for the leg that requested the transcription, `outbound` for the other leg, and `both` for both legs of the call. Will default to `inbound`.
          example: both
          type: string
      title: Transcription start request
      type: object
    LeaveQueueRequest:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
      title: Leave Queue Request
      type: object
    DeepgramNova2TranscriptionLanguage:
      default: en
      description: Language to use for speech recognition with nova-2 model
      enum:
      - bg
      - ca
      - zh
      - zh-CN
      - zh-Hans
      - zh-TW
      - zh-Hant
      - zh-HK
      - cs
      - da
      - da-DK
      - nl
      - en
      - en-US
      - en-AU
      - en-GB
      - en-NZ
      - en-IN
      - et
      - fi
      - nl-BE
      - fr
      - fr-CA
      - de
      - de-CH
      - el
      - hi
      - hu
      - id
      - it
      - ja
      - ko
      - ko-KR
      - lv
      - lt
      - ms
      - 'no'
      - pl
      - pt
      - pt-BR
      - pt-PT
      - ro
      - ru
      - sk
      - es
      - es-419
      - sv
      - sv-SE
      - th
      - th-TH
      - tr
      - uk
      - vi
      - auto_detect
      example: en
      title: Deepgram nova-2 transcription engine list of languages
      type: string
    RejectRequest:
      example:
        cause: USER_BUSY
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
      properties:
        cause:
          description: Cause for call rejection.
          enum:
          - CALL_REJECTED
          - USER_BUSY
          example: USER_BUSY
          type: string
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
      required:
      - cause
      title: Reject Request
      type: object
    GoogleTranscriptionLanguage:
      default: en
      description: Language to use for speech recognition
      enum:
      - af
      - sq
      - am
      - ar
      - hy
      - az
      - eu
      - bn
      - bs
      - bg
      - my
      - ca
      - yue
      - zh
      - hr
      - cs
      - da
      - nl
      - en
      - et
      - fil
      - fi
      - fr
      - gl
      - ka
      - de
      - el
      - gu
      - iw
      - hi
      - hu
      - is
      - id
      - it
      - ja
      - jv
      - kn
      - kk
      - km
      - ko
      - lo
      - lv
      - lt
      - mk
      - ms
      - ml
      - mr
      - mn
      - ne
      - 'no'
      - fa
      - pl
      - pt
      - pa
      - ro
      - ru
      - rw
      - sr
      - si
      - sk
      - sl
      - ss
      - st
      - es
      - su
      - sw
      - sv
      - ta
      - te
      - th
      - tn
      - tr
      - ts
      - uk
      - ur
      - uz
      - ve
      - vi
      - xh
      - zu
      example: en
      title: Google transcription engine list of languages
      type: string
    DeveloperMessage:
      description: Developer-provided instructions that the model should follow, regardless of messages sent by the user.
      example:
        content: Get the user's favorite color
        role: developer
      properties:
        content:
          description: The contents of the developer message.
          type: string
        metadata:
          $ref: '#/components/schemas/MessageMetadata'
        role:
          description: The role of the messages author, in this case developer.
          enum:
          - developer
          type: string
      required:
      - role
      - content
      title: Developer Message
      type: object
    ElevenLabsVoiceSettings:
      properties:
        api_key_ref:
          description: 'The `identifier` for an integration secret [/v2/integration_secrets](https://developers.telnyx.com/api/secrets-manager/integration-secrets/create-integration-secret) that refers to your ElevenLabs API key. Warning: Free plans are unlikely to work with this integration.'
          example: my_elevenlabs_api_key
          type: string
        type:
          description: Voice settings provider type
          enum:
          - elevenlabs
          type: string
      required:
      - type
      title: ElevenLabs Voice Settings
      type: object
    AIAssistantStartRequest:
      properties:
        assistant:
          $ref: '#/components/schemas/CallAssistantRequest'
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        greeting:
          description: Text that will be played when the assistant starts, if none then nothing will be played when the assistant starts. The greeting can be text for any voice or SSML for `AWS.Polly.<voice_id>` voices. There is a 3,000 character limit.
          example: Hello, can you tell me your age and where you live?
          type: string
        interruption_settings:
          $ref: '#/components/schemas/InterruptionSettings'
        message_history:
          default: []
          description: A list of messages to seed the conversation history before the assistant starts. Follows the same message format as the `ai_assistant_add_messages` command.
          items:
            discriminator:
              mapping:
                assistant: '#/components/schemas/AssistantMessage'
                developer: '#/components/schemas/DeveloperMessage'
                system: '#/components/schemas/SystemMessage'
                tool: '#/components/schemas/ToolMessage'
                user: '#/components/schemas/UserMessage'
              propertyName: role
            oneOf:
            - $ref: '#/components/schemas/UserMessage'
            - $ref: '#/components/schemas/AssistantMessage'
            - $ref: '#/components/schemas/ToolMessage'
            - $ref: '#/components/schemas/SystemMessage'
            - $ref: '#/components/schemas/DeveloperMessage'
          type: array
        participants:
          default: []
          description: A list of participants to add to the conversation when it starts.
          items:
            $ref: '#/components/schemas/AIAssistantJoinParticipant'
          type: array
        send_message_history_updates:
          default: false
          description: When `true`, a webhook is sent each time the conversation message history is updated.
          type: boolean
        transcription:
          $ref: '#/components/schemas/TranscriptionConfig'
        voice:
          $ref: '#/components/schemas/VoiceConfig'
        voice_settings:
          description: The settings associated with the voice selected
          discriminator:
            mapping:
              aws: '#/components/schemas/AWSVoiceSettings'
              azure: '#/components/schemas/AzureVoiceSettings'
              elevenlabs: '#/components/schemas/ElevenLabsVoiceSettings'
              resemble: '#/components/schemas/ResembleVoiceSettings'
              rime: '#/components/schemas/RimeVoiceSettings'
              telnyx: '#/components/schemas/TelnyxVoiceSettings'
              xai: '#/components/schemas/XAIVoiceSettings'
            propertyName: type
          oneOf:
          - $ref: '#/components/schemas/ElevenLabsVoiceSettings'
          - $ref: '#/components/schemas/TelnyxVoiceSettings'
          - $ref: '#/components/schemas/AWSVoiceSettings'
          - $ref: '#/components/schemas/AzureVoiceSettings'
          - $ref: '#/components/schemas/RimeVoiceSettings'
          - $ref: '#/components/schemas/ResembleVoiceSettings'
          - $ref: '#/components/schemas/XAIVoiceSettings'
      type: object
    EnqueueRequest:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        max_size: 20
        max_wait_time_secs: 600
        queue_name: support
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        keep_after_hangup:
          default: false
          description: If set to true, the call will remain in the queue after hangup. In this case bridging to such call will fail with necessary information needed to re-establish the call.
          example: true
          type: boolean
        max_size:
          default: 100
          description: The maximum number of calls allowed in the queue at a given time. Can't be modified for an existing queue.
          example: 200
          type: integer
        max_wait_time_secs:
          description: The number of seconds after which the call will be removed from the queue.
          example: 600
          type: integer
        queue_name:
          description: The name of the queue the call should be put in. If a queue with a given name doesn't exist yet it will be created.
          example: tier_1_support
          type: string
      required:
      - queue_name
      title: Enqueue Request
      type: object
    CallWithRecordingId:
      example:
        call_control_id: v3:MdI91X4lWFEs7IgbBEOT9M4AigoY08M0WWZFISt1Yw2axZ_IiE4pqg
        call_duration: 50
        call_leg_id: 2dc6fc34-f9e0-11ea-b68e-02420a0f7768
        call_session_id: 2dc1b3c8-f9e0-11ea-bc5a-02420a0f7768
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        end_time: '2019-01-23T18:11:52.574Z'
        is_alive: false
        record_type: call
        recording_id: d7e9c1d4-8b2a-4b8f-b3a7-9a671c9e9b0a
        start_time: '2019-01-23T18:10:02.574Z'
      properties:
        call_control_id:
          description: Unique identifier and token for controlling the call.
          example: v3:MdI91X4lWFEs7IgbBEOT9M4AigoY08M0WWZFISt1Yw2axZ_IiE4pqg
          type: string
        call_duration:
          description: Indicates the duration of the call in seconds
          example: 50
          type: integer
        call_leg_id:
          description: ID that is unique to the call and can be used to correlate webhook events
          example: 428c31b6-7af4-4bcb-b7f5-5013ef9657c1
          type: string
        call_session_id:
          description: ID that is unique to the call session and can be used to correlate webhook events. Call session is a group of related call legs that logically belong to the same phone call, e.g. an inbound and outbound leg of a transferred call
          example: 428c31b6-7af4-4bcb-b68e-5013ef9657c1
          type: string
        client_state:
          description: State received from a command.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        end_time:
          description: ISO 8601 formatted date indicating when the call ended. Only present when the call is not alive
          example: '2019-01-23T18:11:52.574Z'
          type: string
        is_alive:
          description: Indicates whether the call is alive or not. For Dial command it will always be `false` (dialing is asynchronous).
          example: true
          type: boolean
        record_type:
          enum:
          - call
          example: call
          type: string
        recording_id:
          description: The ID of the recording. Only present when the record parameter is set to record-from-answer.
          example: d7e9c1d4-8b2a-4b8f-b3a7-9a671c9e9b0a
          format: uuid
          type: string
        start_time:
          description: ISO 8601 formatted date indicating when the call started
          example: '2019-01-23T18:10:02.574Z'
          type: string
      required:
      - call_control_id
      - call_leg_id
      - call_session_id
      - is_alive
      - record_type
      title: Call With Recording ID
      type: object
    ToolCall:
      description: A call to a function tool created by the model.
      example:
        function:
          name: get_weather
        id: call_123
        type: function
      properties:
        function:
          description: The function that the model called.
          properties:
            name:
              description: The name of the function to call.
              type: string
          required:
          - name
          type: object
        id:
          description: The ID of the tool call.
          type: string
        type:
          description: The type of the tool. Currently, only `function` is supported.
          enum:
          - function
          type: string
      required:
      - id
      - type
      - function
      title: Tool Call
      type: object
    SpeakRequest:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        language: arb
        payload: Say this on the call
        payload_type: text
        service_level: basic
        stop: current
        voice: female
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        language:
          description: The language you want spoken. This parameter is ignored when a `Polly.*` voice is specified.
          enum:
          - arb
          - cmn-CN
          - cy-GB
          - da-DK
          - de-DE
          - en-AU
          - en-GB
          - en-GB-WLS
          - en-IN
          - en-US
          - es-ES
          - es-MX
          - es-US
          - fr-CA
          - fr-FR
          - hi-IN
          - is-IS
          - it-IT
          - ja-JP
          - ko-KR
          - nb-NO
          - nl-NL
          - pl-PL
          - pt-BR
          - pt-PT
          - ro-RO
          - ru-RU
          - sv-SE
          - tr-TR
          example: en-US
          type: string
        loop:
          $ref: '#/components/schemas/Loopcount'
          description: The number of times to play the audio file. Use `infinity` to loop indefinitely. Defaults to 1.
        payload:
          description: The text or SSML to be converted into speech. There is a 3,000 character limit.
          example: Say this on the call
          type: string
        payload_type:
          default: text
          description: The type of the provided payload. The payload can either be plain text, or Speech Synthesis Markup Language (SSML).
          enum:
          - text
          - ssml
          example: ssml
          type: string
        service_level:
          default: premium
          description: This parameter impacts speech quality, language options and payload types. When using `basic`, only the `en-US` language and payload type `text` are allowed.
          enum:
          - basic
          - premium
          example: premium
          type: string
        stop:
          description: When specified, it stops the current audio being played. Specify `current` to stop the current audio being played, and to play the next file in the queue. Specify `all` to stop the current audio file being played and to also clear all audio files from the queue.
          example: current
          type: string
        target_legs:
          default: self
          description: Specifies which legs of the call should receive the spoken audio.
          enum:
          - self
          - opposite
          - both
          example: both
          type: string
        voice:
          description: "Specifies the voice used in speech synthesis.\n\n- Define voices using the format `<Provider>.<Model>.<VoiceId>`. Specifying only the provider will give default values for voice_id and model_id.\n\n **Supported Providers:**\n- **AWS:** Use `AWS.Polly.<VoiceId>` (e.g., `AWS.Polly.Joanna`). For neural voices, which provide more realistic, human-like speech, append `-Neural` to the `VoiceId` (e.g., `AWS.Polly.Joanna-Neural`). Check the [available voices](https://docs.aws.amazon.com/polly/latest/dg/available-voices.html) for compatibility.\n- **Azure:** Use `Azure.<VoiceId>` (e.g., `Azure.en-CA-ClaraNeural`, `Azure.en-US-BrianMultilingualNeural`, `Azure.en-US-Ava:DragonHDLatestNeural`). For a complete list of voices, go to [Azure Voice Gallery](https://speech.microsoft.com/portal/voicegallery). Use `voice_settings` to configure custom deployments, regions, or API keys.\n- **ElevenLabs:** Use `ElevenLabs.<ModelId>.<VoiceId>` (e.g., `ElevenLabs.eleven_multilingual_v2.21m00Tcm4TlvDq8ikWAM`). The `ModelId` part is optional. To use ElevenLabs, you must provide your ElevenLabs API key as an integration identifier secret in `\"voice_settings\": {\"api_key_ref\": \"<secret_identifier>\"}`. See [integration secrets documentation](https://developers.telnyx.com/api/secrets-manager/integration-secrets/create-integration-secret) for details. Check [available voices](https://elevenlabs.io/docs/api-reference/get-voices).\n- **Telnyx:** Use `Telnyx.<model_id>.<voice_id>` (e.g., `Telnyx.KokoroTTS.af`). Use `voice_settings` to configure voice_speed and other synthesis parameters.\n- **Minimax:** Use `Minimax.<ModelId>.<VoiceId>` (e.g., `Minimax.speech-02-hd.Wise_Woman`). Supported models: `speech-02-turbo`, `speech-02-hd`, `speech-2.6-turbo`, `speech-2.8-turbo`. Use `voice_settings` to configure speed, volume, pitch, and language_boost.\n- **Rime:** Use `Rime.<model_id>.<voice_id>` (e.g., `Rime.Arcana.cove`). Supported model_ids: `Arcana`, `Mist`. Use `voice_settings` to configure voice_speed.\n- **Resemble:** Use `Resemble.Turbo.<voice_id>` (e.g., `Resemble.Turbo.my_voice`). Only `Turbo` model is supported. Use `voice_settings` to configure precision, sample_rate, and format.\n- **Inworld:** Use `Inworld.<ModelId>.<VoiceId>` (e.g., `Inworld.Mini.Loretta`, `Inworld.Max.Oliver`). Supported models: `Mini`, `Max`.\n- **xAI:** Use `xAI.<VoiceId>` (e.g., `xAI.eve`). Available voices: `eve`, `ara`, `rex`, `sal`, `leo`.\n\nFor service_level basic, you may define the gender of the speaker (male or female)."
          example: Telnyx.KokoroTTS.af
          type: string
        voice_settings:
          description: The settings associated with the voice selected
          discriminator:
            mapping:
              aws: '#/components/schemas/AWSVoiceSettings'
              azure: '#/components/schemas/AzureVoiceSettings'
              elevenlabs: '#/components/schemas/ElevenLabsVoiceSettings'
              inworld: '#/components/schemas/InworldVoiceSettings'
              minimax: '#/components/schemas/MinimaxVoiceSettings'
              resemble: '#/components/schemas/ResembleVoiceSettings'
              rime: '#/components/schemas/RimeVoiceSettings'
              telnyx: '#/components/schemas/TelnyxVoiceSettings'
              xai: '#/components/schemas/XAIVoiceSettings'
            propertyName: type
          oneOf:
          - $ref: '#/components/schemas/ElevenLabsVoiceSettings'
          - $ref: '#/components/schemas/TelnyxVoiceSettings'
          - $ref: '#/components/schemas/AWSVoiceSettings'
          - $ref: '#/components/schemas/MinimaxVoiceSettings'
          - $ref: '#/components/schemas/AzureVoiceSettings'
          - $ref: '#/components/schemas/RimeVoiceSettings'
          - $ref: '#/components/schemas/ResembleVoiceSettings'
          - $ref: '#/components/schemas/InworldVoiceSettings'
          - $ref: '#/components/schemas/XAIVoiceSettings'
      required:
      - payload
      - voice
      title: Speak Request
      type: object
    WebhookTool:
      properties:
        type:
          enum:
          - webhook
          type: string
        webhook:
          $ref: '#/components/schemas/CallControlWebhookToolParams'
      required:
      - type
      - webhook
      title: WebhookTool
      type: object
    PauseRecordingRequest:
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        recording_id:
          description: Uniquely identifies the resource.
          example: 6e00ab49-9487-4364-8ad6-23965965afb2
          format: uuid
          type: string
      title: Pause Recording Request
      type: object
    CallControlWebhookToolParams:
      properties:
        body_parameters:
          description: The body parameters the webhook tool accepts, described as a JSON Schema object. These parameters will be passed to the webhook as the body of the request. See the [JSON Schema reference](https://json-schema.org/understanding-json-schema) for documentation about the format
          example:
            properties:
              age:
                description: The age of the customer.
                type: integer
              location:
                description: The location of the customer.
                type: string
            required:
            - age
            - location
            type: object
          properties:
            properties:
              description: The properties of the body parameters.
              type: object
            required:
              description: The required properties of the body parameters.
              items:
                type: string
              type: array
            type:
              enum:
              - object
              type: string
          type: object
        description:
          description: The description of the tool.
          type: string
        headers:
          description: The headers to be sent to the external tool.
          items:
            properties:
              name:
                type: string
              value:
                description: The value of the header. Note that we support mustache templating for the value. For example you can use `Bearer {{#integration_secret}}test-secret{{/integration_secret}}` to pass the value of the integration secret as the bearer token.
                type: string
            type: object
          type: array
        method:
          default: POST
          description: The HTTP method to be used when calling the external tool.
          enum:
          - GET
          - POST
          - PUT
          - DELETE
          - PATCH
          type: string
        name:
          description: The name of the tool.
          type: string
        path_parameters:
          description: The path parameters the webhook tool accepts, described as a JSON Schema object. These parameters will be passed to the webhook as the path of the request if the URL contains a placeholder for a value. See the [JSON Schema reference](https://json-schema.org/understanding-json-schema) for documentation about the format
          example:
            properties:
              id:
                description: The id of the customer.
                type: string
            required:
            - id
            type: object
          properties:
            properties:
              description: The properties of the path parameters.
              type: object
            required:
              description: The required properties of the path parameters.
              items:
                type: string
              type: array
            type:
              enum:
              - object
              type: string
          type: object
        query_parameters:
          description: The query parameters the webhook tool accepts, described as a JSON Schema object. These parameters will be passed to the webhook as the query of the request. See the [JSON Schema reference](https://json-schema.org/understanding-json-schema) for documentation about the format
          example:
            properties:
              page:
                description: The page number.
                type: integer
            required:
            - page
            type: object
          properties:
            properties:
              description: The properties of the query parameters.
              type: object
            required:
              description: The required properties of the query parameters.
              items:
                type: string
              type: array
            type:
              enum:
              - object
              type: string
          type: object
        url:
          description: 'The URL of the external tool to be called. This URL is going to be used by the assistant. The URL can be templated like: `https://example.com/api/v1/{id}`, where `{id}` is a placeholder for a value that will be provided by the assistant if `path_parameters` are provided with the `id` attribute.'
          example: https://example.com/api/v1/function
          type: string
      required:
      - url
      - name
      - description
      title: WebhookToolParams
      type: object
    TranscriptionStopRequest:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
      title: Transcription stop request
      type: object
    TelnyxTranscriptionLanguage:
      default: en
      description: Language to use for speech recognition
      enum:
      - en
      - zh
      - de
      - es
      - ru
      - ko
      - fr
      - ja
      - pt
      - tr
      - pl
      - ca
      - nl
      - ar
      - sv
      - it
      - id
      - hi
      - fi
      - vi
      - he
      - uk
      - el
      - ms
      - cs
      - ro
      - da
      - hu
      - ta
      - 'no'
      - th
      - ur
      - hr
      - bg
      - lt
      - la
      - mi
      - ml
      - cy
      - sk
      - te
      - fa
      - lv
      - bn
      - sr
      - az
      - sl
      - kn
      - et
      - mk
      - br
      - eu
      - is
      - hy
      - ne
      - mn
      - bs
      - kk
      - sq
      - sw
      - gl
      - mr
      - pa
      - si
      - km
      - sn
      - yo
      - so
      - af
      - oc
      - ka
      - be
      - tg
      - sd
      - gu
      - am
      - yi
      - lo
      - uz
      - fo
      - ht
      - ps
      - tk
      - nn
      - mt
      - sa
      - lb
      - my
      - bo
      - tl
      - mg
      - as
      - tt
      - haw
      - ln
      - ha
      - ba
      - jw
      - su
      - auto_detect
      example: en
      title: Telnyx transcription engine list of languages
      type: string
    StartForkingRequest:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        rx: udp:192.0.2.1:9000
        tx: udp:192.0.2.1:9001
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        rx:
          description: The network target, <udp:ip_address:port>, where the call's incoming RTP media packets should be forwarded.
          example: udp:192.0.2.1:9000
          type: string
        stream_type:
          default: decrypted
          description: Optionally specify a media type to stream. If `decrypted` selected, Telnyx will decrypt incoming SIP media before forking to the target. `rx` and `tx` are required fields if `decrypted` selected.
          enum:
          - decrypted
          example: decrypted
          type: string
        tx:
          description: The network target, <udp:ip_address:port>, where the call's outgoing RTP media packets should be forwarded.
          example: udp:192.0.2.1:9001
          type: string
      title: Start Forking Request
      type: object
    CallControlCommandResultWithRecordingId:
      example:
        recording_id: d7e9c1d4-8b2a-4b8f-b3a7-9a671c9e9b0a
        result: ok
      properties:
        recording_id:
          description: The ID of the recording. Only present when the record parameter is set to record-from-answer.
          example: d7e9c1d4-8b2a-4b8f-b3a7-9a671c9e9b0a
          format: uuid
          type: string
        result:
          example: ok
          type: string
      title: Call Control Command Result With Recording ID
      type: object
    ResembleVoiceSettings:
      properties:
        format:
          default: mp3
          description: Output audio format.
          enum:
          - wav
          - mp3
          type: string
        precision:
          default: PCM_32
          description: Audio precision format.
          enum:
          - PCM_16
          - PCM_24
          - PCM_32
          - MULAW
          type: string
        sample_rate:
          $ref: '#/components/schemas/ResembleSampleRate'
        type:
          description: Voice settings provider type
          enum:
          - resemble
          type: string
      required:
      - type
      title: Resemble Voice Settings
      type: object
    StartRecordingRequest:
      example:
        channels: single
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        format: wav
        max_length: 0
        play_beep: true
        timeout_secs: 0
        transcription: true
        transcription_engine: B
        transcription_language: en
      properties:
        channels:
          description: When `dual`, final audio file will be stereo recorded with the first leg on channel A, and the rest on channel B.
          enum:
          - single
          - dual
          example: single
          type: string
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        custom_file_name:
          description: The custom recording file name to be used instead of the default `call_leg_id`. Telnyx will still add a Unix timestamp suffix.
          example: my_recording_file_name
          maxLength: 40
          minLength: 1
          type: string
        format:
          description: The audio file format used when storing the call recording. Can be either `mp3` or `wav`.
          enum:
          - wav
          - mp3
          example: mp3
          type: string
        max_length:
          default: 0
          description: Defines the maximum length for the recording in seconds. The minimum value is 0. The maximum value is 14400. The default value is 0 (infinite)
          example: 100
          format: int32
          type: integer
        play_beep:
          description: If enabled, a beep sound will be played at the start of a recording.
          example: true
          type: boolean
        recording_track:
          default: both
          description: The audio track to be recorded. Can be either `both`, `inbound` or `outbound`. If only single track is specified (`inbound`, `outbound`), `channels` configuration is ignored and it will be recorded as mono (single channel).
          enum:
          - both
          - inbound
          - outbound
          example: outbound
          type: string
        timeout_secs:
          default: 0
          description: The number of seconds that Telnyx will wait for the recording to be stopped if silence is detected. The timer only starts when the speech is detected. Please note that call transcription is used to detect silence and the related charge will be applied. The minimum value is 0. The default value is 0 (infinite)
          example: 100
          format: int32
          type: integer
        transcription:
          default: false
          description: Enable post recording transcription. The default value is false.
          example: true
          type: boolean
        transcription_engine:
          default: A
          description: 'Engine to use for speech recognition. `A` - `Google`, `B` - `Telnyx`, `deepgram/nova-3` - `Deepgram Nova-3`. Note: `deepgram/nova-3` supports only `en` and `en-{Region}` languages.'
          enum:
          - A
          - B
          - deepgram/nova-3
          example: A
          type: string
        transcription_language:
          $ref: '#/components/schemas/TranscriptionLanguage'
        transcription_max_speaker_count:
          default: 6
          description: Defines maximum number of speakers in the conversation. Applies to `google` engine only.
          example: 4
          format: int32
          type: integer
        transcription_min_speaker_count:
          default: 2
          description: Defines minimum number of speakers in the conversation. Applies to `google` engine only.
          example: 4
          format: int32
          type: integer
        transcription_profanity_filter:
          default: false
          description: Enables profanity_filter. Applies to `google` engine only.
          example: true
          type: boolean
        transcription_speaker_diarization:
          default: false
          description: Enables speaker diarization. Applies to `google` engine only.
          example: true
          type: boolean
        trim:
          description: When set to `trim-silence`, silence will be removed from the beginning and end of the recording.
          enum:
          - trim-silence
          example: trim-silence
          type: string
      required:
      - format
      - channels
      title: Start Recording Request
      type: object
    AIAssistantJoinRequest:
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        conversation_id:
          description: The ID of the AI assistant conversation to join.
          example: v3:abc123
          type: string
        participant:
          $ref: '#/components/schemas/AIAssistantJoinParticipant'
      required:
      - conversation_id
      - participant
      type: object
    SystemMessage:
      description: Developer-provided instructions that the model should follow, regardless of messages sent by the user.
      example:
        content: Get the user's favorite color
        role: system
      properties:
        content:
          description: The contents of the system message.
          type: string
        metadata:
          $ref: '#/components/schemas/MessageMetadata'
        role:
          description: The role of the messages author, in this case `system`.
          enum:
          - system
          type: string
      required:
      - role
      - content
      title: System Message
      type: object
    CallControlCommandResult:
      example:
        result: ok
      properties:
        result:
          example: ok
          type: string
      title: Call Control Command Result
      type: object
    PlaybackStopRequest:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        overlay: false
        stop: all
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        overlay:
          default: false
          description: When enabled, it stops the audio being played in the overlay queue.
          example: true
          type: boolean
        stop:
          default: all
          description: Use `current` to stop the current audio being played. Use `all` to stop the current audio file being played and clear all audio files from the queue.
          example: current
          type: string
      title: Playback Stop Request
      type: object
    MessageMetadata:
      description: Metadata to add to the message
      type: object
    CheckAvailabilityToolParams:
      properties:
        api_key_ref:
          description: Reference to an integration secret that contains your Cal.com API key. You would pass the `identifier` for an integration secret [/v2/integration_secrets](https://developers.telnyx.com/api/secrets-manager/integration-secrets/create-integration-secret) that refers to your Cal.com API key.
          example: my_calcom_api_key
          type: string
        event_type_id:
          description: Event Type ID for which slots are being fetched. [cal.com](https://cal.com/docs/api-reference/v2/slots/get-available-slots#parameter-event-type-id)
          type: integer
      required:
      - event_type_id
      - api_key_ref
      title: CheckAvailabilityToolParams
      type: object
    call-control_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/call-control_Error'
          type: array
    AIAssistantJoinParticipant:
      properties:
        id:
          description: The call_control_id of the participant to add to the conversation.
          example: v3:abc123def456
          type: string
        name:
          description: Display name for the participant.
          example: John Doe
          type: string
        on_hangup:
          default: continue_conversation
          description: Determines what happens to the conversation when this participant hangs up.
          enum:
          - continue_conversation
          - end_conversation
          example: continue_conversation
          type: string
        role:
          description: The role of the participant in the conversation.
          enum:
          - user
          example: user
          type: string
      required:
      - id
      - role
      type: object
    Loopcount:
      oneOf:
      - type: string
      - type: integer
    AIAssistantAddMessagesRequest:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        messages:
        - content: Get the user's favorite color
          role: system
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        messages:
          description: The messages to add to the conversation.
          items:
            discriminator:
              mapping:
                assistant: '#/components/schemas/AssistantMessage'
                developer: '#/components/schemas/DeveloperMessage'
                system: '#/components/schemas/SystemMessage'
                tool: '#/components/schemas/ToolMessage'
                user: '#/components/schemas/UserMessage'
              propertyName: role
            oneOf:
            - $ref: '#/components/schemas/UserMessage'
            - $ref: '#/components/schemas/AssistantMessage'
            - $ref: '#/components/schemas/ToolMessage'
            - $ref: '#/components/schemas/SystemMessage'
            - $ref: '#/components/schemas/DeveloperMessage'
          type: array
      title: AI Assistant Add Messages Request
      type: object
    StopGatherRequest:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
      title: Stop Gather Request
      type: object
    AzureTranscriptionRegion:
      description: Azure region to use for speech recognition
      enum:
      - australiaeast
      - centralindia
      - eastus
      - northcentralus
      - westeurope
      - westus2
      example: eastus
      title: Azure transcription engine list of regions
      type: string
    CallControlBucketIds:
      properties:
        bucket_ids:
          items:
            type: string
          title: Bucket Ids
          type: array
        max_num_results:
          description: The maximum number of results to retrieve as context for the language model.
          type: integer
      required:
      - bucket_ids
      title: BucketIds
      type: object
    XAIVoiceSettings:
      properties:
        language:
          default: auto
          description: Language code, or `auto` to detect automatically.
          type: string
        type:
          description: Voice settings provider type
          enum:
          - xai
          type: string
      required:
      - type
      title: xAI Voice Settings
      type: object
    NoiseSuppressionEngine:
      default: Denoiser
      description: "The engine to use for noise suppression.\nFor backward compatibility, engines A, B, C, and D are also supported, but are deprecated:\n A - Denoiser\n B - DeepFilterNet\n C - Krisp\n D - AiCoustics"
      enum:
      - Denoiser
      - DeepFilterNet
      - Krisp
      - AiCoustics
      example: Denoiser
      title: Noise Suppression Engine
      type: string
    StopStreamingRequest:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        stream_id: 1edb94f9-7ef0-4150-b502-e0ebadfd9491
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        stream_id:
          description: Identifies the stream. If the `stream_id` is not provided the command stops all streams associated with a given `call_control_id`.
          example: 1edb94f9-7ef0-4150-b502-e0ebadfd9491
          format: uuid
          type: string
      title: Stop Streaming Request
      type: object
    GatherUsingAudioRequest:
      example:
        audio_url: http://example.com/message.wav
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        inter_digit_timeout_millis: 10000
        invalid_audio_url: http://example.com/message.wav
        maximum_digits: 10
        minimum_digits: 1
        terminating_digit: '#'
        timeout_millis: 10000
        valid_digits: '123'
      properties:
        audio_url:
          description: The URL of a file to be played back at the beginning of each prompt. The URL can point to either a WAV or MP3 file. media_name and audio_url cannot be used together in one request.
          example: http://example.com/message.wav
          type: string
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        inter_digit_timeout_millis:
          default: 5000
          description: The number of milliseconds to wait for input between digits.
          example: 10000
          format: int32
          type: integer
        invalid_audio_url:
          description: The URL of a file to play when digits don't match the `valid_digits` parameter or the number of digits is not between `min` and `max`. The URL can point to either a WAV or MP3 file. invalid_media_name and invalid_audio_url cannot be used together in one request.
          example: http://example.com/invalid.wav
          type: string
        invalid_media_name:
          description: The media_name of a file to be played back when digits don't match the `valid_digits` parameter or the number of digits is not between `min` and `max`. The media_name must point to a file previously uploaded to api.telnyx.com/v2/media by the same user/organization. The file must either be a WAV or MP3 file.
          example: my_media_uploaded_to_media_storage_api
          type: string
        maximum_digits:
          default: 128
          description: The maximum number of digits to fetch. This parameter has a maximum value of 128.
          example: 10
          format: int32
          type: integer
        maximum_tries:
          default: 3
          description: The maximum number of times the file should be played if there is no input from the user on the call.
          example: 3
          format: int32
          type: integer
        media_name:
          description: The media_name of a file to be played back at the beginning of each prompt. The media_name must point to a file previously uploaded to api.telnyx.com/v2/media by the same user/organization. The file must either be a WAV or MP3 file.
          example: my_media_uploaded_to_media_storage_api
          type: string
        minimum_digits:
          default: 1
          description: The minimum number of digits to fetch. This parameter has a minimum value of 1.
          example: 1
          format: int32
          type: integer
        terminating_digit:
          default: '#'
          description: The digit used to terminate input if fewer than `maximum_digits` digits have been gathered.
          example: '#'
          type: string
        timeout_millis:
          default: 60000
          description: The number of milliseconds to wait for a DTMF response after file playback ends before a replaying the sound file.
          example: 60000
          format: int32
          type: integer
        valid_digits:
          default: 0123456789#*
          description: A list of all digits accepted as valid.
          example: '123'
          type: string
      title: Gather Using Audio Request
      type: object
    TelnyxVoiceSettings:
      properties:
        type:
          description: Voice settings provider type
          enum:
          - telnyx
          type: string
        voice_speed:
          default: 1.0
          description: The voice speed to be used for the voice. The voice speed must be between 0.1 and 2.0. Default value is 1.0.
          example: 1.0
          format: float
          maximum: 2.0
          minimum: 0.1
          type: number
      required:
      - type
      title: Telnyx Voice Settings
      type: object
    HangupRequest:
      example:
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
      properties:
        client_state:
          description: Use this field to add state to every subsequent webhook. It must be a valid Base-64 encoded string.
          example: aGF2ZSBhIG5pY2UgZGF5ID1d
          type: string
        command_id:
          description: Use this field to avoid duplicate commands. Telnyx will ignore any command with the same `command_id` for the same `call_control_id`.
          example: 891510ac-f3e4-11e8-af5b-de00688a4901
          type: string
        custom_headers:
          description: Custom headers to be added to the SIP BYE message.
          example:
          - name: head_1
            value: val_1
          - name: head_2
            value: val_2
          items:
            $ref: '#/components/schemas/CustomSipHeader'
          type: array
      title: Hangup Request
      type: object
    DialogflowConfig:
      properties:
        analyze_sentiment:
          default: false
          description: Enable sentiment analysis from Dialogflow.
          example: true
          type: boolean
        partial_automated_agent_reply:
          default: false
          description: Enable partial automated agent reply from Dialogflow.
          example: true
          type: boolean
      title: Dialogflow Config
      type: object
    CallRequest:
      example:
        answering_machine_detection: detect
        answering_machine_detection_config:
          after_greeting_silence_millis: 1000
          between_words_silence_millis: 1000
          greeting_duration_millis: 1000
          greeting_silence_duration_millis: 2000
          greeting_total_analysis_time_millis: 50000
          initial_silence_millis: 1000
          maximum_number_of_words: 1000
          maximum_word_length_millis: 2000
          silence_threshold: 512
          total_analysis_time_millis: 5000
        audio_url: http://www.example.com/sounds/greeting.wav
        bridge_intent: true
        bridge_on_answer: true
        client_state: aGF2ZSBhIG5pY2UgZGF5ID1d
        command_id: 891510ac-f3e4-11e8-af5b-de00688a4901
        conference_config:
          conference_name: telnyx-conference
          start_conference_on_enter: true
        connection_id: 7267xxxxxxxxxxxxxx
        custom_headers:
        - name: head_1
          value: val_1
        - name: head_2
          value: val_2
        deepfake_detection:
          enabled: true
          rtp_timeout: 30
          timeout: 15
        dialogflow_config:
          analyze_sentiment: false
          partial_automated_agent_reply: false
        enable_dialogflow: false
        from: '+18005550101'
        from_display_name: Company Name
        link_to: ilditnZK_eVysupV21KzmzN_sM29ygfauQojpm4BgFtfX5hXAcjotg==
        media_encryption: SRTP
        send_silence_when_idle: true
        sip_auth_password: password
        sip_auth_username: username
        sip_headers:
        - name: User-to-User
          value: '12345'
        sip_transport_protocol: TLS
        stream_track: both_tracks
        stream_url: wss://www.example.com/websocket
        time_limit_secs: 60
        timeout_secs: 60
        to: +18005550100 or sip:username@sip.telnyx.com;secure=srtp
        webhook_retries_policies:
          call.hangup:
            retries_ms:
            - 1000
            - 2000
            - 5000
        webhook_url: https://www.example.com/server-b/
        webhook_url_method: POST
        webhook_urls:
          call.bridge: https://www.example.com/webhooks/bridge
          call.hangup: https://www.example.com/webhooks/hangup
[...]
