openapi: 3.1.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Access Tokens Missions API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- name: Missions
paths:
  /ai/missions:
    get:
      description: List all missions for the organization
      operationId: get_public_missions_missions
      parameters:
      - description: Page number (1-based)
        in: query
        name: page[number]
        required: false
        schema:
          default: 1
          description: Page number (1-based)
          minimum: 1
          title: Page[Number]
          type: integer
      - description: Number of items per page
        in: query
        name: page[size]
        required: false
        schema:
          default: 20
          description: Number of items per page
          exclusiveMinimum: 0
          maximum: 1000
          minimum: 0
          title: Page[Size]
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionsListResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List missions
      tags:
      - Missions
      x-latency-category: responsive
    post:
      description: Create a new mission definition
      operationId: post_public_missions_missions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMissionRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create mission
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/events:
    get:
      description: List recent events across all missions
      operationId: get_public_missions_missions_events
      parameters:
      - in: query
        name: type
        required: false
        schema:
          title: Type
          type: string
      - description: Page number (1-based)
        in: query
        name: page[number]
        required: false
        schema:
          default: 1
          description: Page number (1-based)
          minimum: 1
          title: Page[Number]
          type: integer
      - description: Number of items per page
        in: query
        name: page[size]
        required: false
        schema:
          default: 50
          description: Number of items per page
          exclusiveMinimum: 0
          maximum: 1000
          minimum: 0
          title: Page[Size]
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsListResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List recent events
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/runs:
    get:
      description: List recent runs across all missions
      operationId: get_public_missions_missions_runs
      parameters:
      - in: query
        name: status
        required: false
        schema:
          title: Status
          type: string
      - description: Page number (1-based)
        in: query
        name: page[number]
        required: false
        schema:
          default: 1
          description: Page number (1-based)
          minimum: 1
          title: Page[Number]
          type: integer
      - description: Number of items per page
        in: query
        name: page[size]
        required: false
        schema:
          default: 20
          description: Number of items per page
          exclusiveMinimum: 0
          maximum: 1000
          minimum: 0
          title: Page[Size]
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionRunsListResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List recent runs
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}:
    delete:
      description: Delete a mission
      operationId: delete_public_missions_missions_mission_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete mission
      tags:
      - Missions
      x-latency-category: responsive
    get:
      description: Get a mission by ID (includes tools, knowledge_bases, mcp_servers)
      operationId: get_public_missions_missions_mission_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get mission
      tags:
      - Missions
      x-latency-category: responsive
    put:
      description: Update a mission definition
      operationId: put_public_missions_missions_mission_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMissionRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update mission
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/clone:
    post:
      description: Clone an existing mission
      operationId: post_public_missions_missions_mission_id_clone
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          title: Mission Id
          type: string
      responses:
        '201':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Clone mission
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/knowledge-bases:
    get:
      description: List all knowledge bases for a mission
      operationId: get_public_missions_missions_mission_id_knowledge_bases
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          title: Mission Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List knowledge bases
      tags:
      - Missions
      x-latency-category: responsive
    post:
      description: Create a new knowledge base for a mission
      operationId: post_public_missions_missions_mission_id_knowledge_bases
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          title: Mission Id
          type: string
      responses:
        '201':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create knowledge base
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/knowledge-bases/{knowledge_base_id}:
    delete:
      description: Delete a knowledge base from a mission
      operationId: delete_public_missions_missions_mission_id_knowledge_bases_knowledge_base_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          title: Mission Id
          type: string
      - in: path
        name: knowledge_base_id
        required: true
        schema:
          title: Knowledge Base Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete knowledge base
      tags:
      - Missions
      x-latency-category: responsive
    get:
      description: Get a specific knowledge base by ID
      operationId: get_public_missions_missions_mission_id_knowledge_bases_knowledge_base_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          title: Mission Id
          type: string
      - in: path
        name: knowledge_base_id
        required: true
        schema:
          title: Knowledge Base Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get knowledge base
      tags:
      - Missions
      x-latency-category: responsive
    put:
      description: Update a knowledge base definition
      operationId: put_public_missions_missions_mission_id_knowledge_bases_knowledge_base_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          title: Mission Id
          type: string
      - in: path
        name: knowledge_base_id
        required: true
        schema:
          title: Knowledge Base Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update knowledge base
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/mcp-servers:
    get:
      description: List all MCP servers for a mission
      operationId: get_public_missions_missions_mission_id_mcp_servers
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          title: Mission Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List MCP servers
      tags:
      - Missions
      x-latency-category: responsive
    post:
      description: Create a new MCP server for a mission
      operationId: post_public_missions_missions_mission_id_mcp_servers
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          title: Mission Id
          type: string
      responses:
        '201':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create MCP server
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/mcp-servers/{mcp_server_id}:
    delete:
      description: Delete an MCP server from a mission
      operationId: delete_public_missions_missions_mission_id_mcp_servers_mcp_server_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          title: Mission Id
          type: string
      - in: path
        name: mcp_server_id
        required: true
        schema:
          title: Mcp Server Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete MCP server
      tags:
      - Missions
      x-latency-category: responsive
    get:
      description: Get a specific MCP server by ID
      operationId: get_public_missions_missions_mission_id_mcp_servers_mcp_server_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          title: Mission Id
          type: string
      - in: path
        name: mcp_server_id
        required: true
        schema:
          title: Mcp Server Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get MCP server
      tags:
      - Missions
      x-latency-category: responsive
    put:
      description: Update an MCP server definition
      operationId: put_public_missions_missions_mission_id_mcp_servers_mcp_server_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          title: Mission Id
          type: string
      - in: path
        name: mcp_server_id
        required: true
        schema:
          title: Mcp Server Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update MCP server
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/runs:
    get:
      description: List all runs for a specific mission
      operationId: get_public_missions_missions_mission_id_runs
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: query
        name: status
        required: false
        schema:
          title: Status
          type: string
      - description: Page number (1-based)
        in: query
        name: page[number]
        required: false
        schema:
          default: 1
          description: Page number (1-based)
          minimum: 1
          title: Page[Number]
          type: integer
      - description: Number of items per page
        in: query
        name: page[size]
        required: false
        schema:
          default: 20
          description: Number of items per page
          exclusiveMinimum: 0
          maximum: 1000
          minimum: 0
          title: Page[Size]
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionRunsListResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List runs for mission
      tags:
      - Missions
      x-latency-category: responsive
    post:
      description: Start a new run for a mission
      operationId: post_public_missions_missions_mission_id_runs
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMissionRunRequest'
              default: {}
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionRunResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Start a run
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/runs/{run_id}:
    get:
      description: Get details of a specific run
      operationId: get_public_missions_missions_mission_id_runs_run_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          format: uuid
          title: Run Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionRunResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get run details
      tags:
      - Missions
      x-latency-category: responsive
    patch:
      description: Update run status and/or result
      operationId: patch_public_missions_missions_mission_id_runs_run_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          format: uuid
          title: Run Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMissionRunRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionRunResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update run
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/runs/{run_id}/cancel:
    post:
      description: Cancel a running or paused run
      operationId: post_public_missions_missions_mission_id_runs_run_id_cancel
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          format: uuid
          title: Run Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionRunResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Cancel run
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/runs/{run_id}/events:
    get:
      description: List events for a run (paginated)
      operationId: get_public_missions_missions_mission_id_runs_run_id_events
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          format: uuid
          title: Run Id
          type: string
      - in: query
        name: type
        required: false
        schema:
          title: Type
          type: string
      - in: query
        name: step_id
        required: false
        schema:
          title: Step Id
          type: string
      - in: query
        name: agent_id
        required: false
        schema:
          title: Agent Id
          type: string
      - description: Page number (1-based)
        in: query
        name: page[number]
        required: false
        schema:
          default: 1
          description: Page number (1-based)
          minimum: 1
          title: Page[Number]
          type: integer
      - description: Number of items per page
        in: query
        name: page[size]
        required: false
        schema:
          default: 50
          description: Number of items per page
          exclusiveMinimum: 0
          maximum: 1000
          minimum: 0
          title: Page[Size]
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsListResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List events
      tags:
      - Missions
      x-latency-category: responsive
    post:
      description: Log an event for a run
      operationId: post_public_missions_missions_mission_id_runs_run_id_events
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          format: uuid
          title: Run Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Log event
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/runs/{run_id}/events/{event_id}:
    get:
      description: Get details of a specific event
      operationId: get_public_missions_missions_mission_id_runs_run_id_events_event_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          format: uuid
          title: Run Id
          type: string
      - in: path
        name: event_id
        required: true
        schema:
          title: Event Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get event details
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/runs/{run_id}/pause:
    post:
      description: Pause a running run
      operationId: post_public_missions_missions_mission_id_runs_run_id_pause
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          format: uuid
          title: Run Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionRunResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Pause run
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/runs/{run_id}/plan:
    get:
      description: Get the plan (all steps) for a run
      operationId: get_public_missions_missions_mission_id_runs_run_id_plan
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          format: uuid
          title: Run Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get plan
      tags:
      - Missions
      x-latency-category: responsive
    post:
      description: Create the initial plan for a run
      operationId: post_public_missions_missions_mission_id_runs_run_id_plan
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          format: uuid
          title: Run Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlanRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanStepsCreatedResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create initial plan
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/runs/{run_id}/plan/steps:
    post:
      description: Add one or more steps to an existing plan
      operationId: post_public_missions_missions_mission_id_runs_run_id_plan_steps
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          format: uuid
          title: Run Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPlanStepsRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanStepsCreatedResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Add step(s) to plan
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/runs/{run_id}/plan/steps/{step_id}:
    get:
      description: Get details of a specific plan step
      operationId: get_public_missions_missions_mission_id_runs_run_id_plan_steps_step_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          format: uuid
          title: Run Id
          type: string
      - in: path
        name: step_id
        required: true
        schema:
          title: Step Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanStepResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get step details
      tags:
      - Missions
      x-latency-category: responsive
    patch:
      description: Update the status of a plan step
      operationId: patch_public_missions_missions_mission_id_runs_run_id_plan_steps_step_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          format: uuid
          title: Run Id
          type: string
      - in: path
        name: step_id
        required: true
        schema:
          title: Step Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlanStepRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanStepResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update step status
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/runs/{run_id}/resume:
    post:
      description: Resume a paused run
      operationId: post_public_missions_missions_mission_id_runs_run_id_resume
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          format: uuid
          title: Run Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionRunResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Resume run
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/runs/{run_id}/telnyx-agents:
    get:
      description: List all Telnyx agents linked to a run
      operationId: get_public_missions_missions_mission_id_runs_run_id_telnyx_agents
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          format: uuid
          title: Run Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelnyxAgentsListResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List linked Telnyx agents
      tags:
      - Missions
      x-latency-category: responsive
    post:
      description: Link a Telnyx AI agent (voice/messaging) to a run
      operationId: post_public_missions_missions_mission_id_runs_run_id_telnyx_agents
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          format: uuid
          title: Run Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkTelnyxAgentRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelnyxAgentResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Link Telnyx agent to run
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/runs/{run_id}/telnyx-agents/{telnyx_agent_id}:
    delete:
      description: Unlink a Telnyx agent from a run
      operationId: delete_public_missions_missions_mission_id_runs_run_id_telnyx_agents_telnyx_agent_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          format: uuid
          title: Mission Id
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          format: uuid
          title: Run Id
          type: string
      - in: path
        name: telnyx_agent_id
        required: true
        schema:
          title: Telnyx Agent Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Unlink Telnyx agent
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/tools:
    get:
      description: List all tools for a mission
      operationId: get_public_missions_missions_mission_id_tools
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          title: Mission Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: List tools
      tags:
      - Missions
      x-latency-category: responsive
    post:
      description: Create a new tool for a mission
      operationId: post_public_missions_missions_mission_id_tools
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          title: Mission Id
          type: string
      responses:
        '201':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Create tool
      tags:
      - Missions
      x-latency-category: responsive
  /ai/missions/{mission_id}/tools/{tool_id}:
    delete:
      description: Delete a tool from a mission
      operationId: delete_public_missions_missions_mission_id_tools_tool_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          title: Mission Id
          type: string
      - in: path
        name: tool_id
        required: true
        schema:
          title: Tool Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Delete tool
      tags:
      - Missions
      x-latency-category: responsive
    get:
      description: Get a specific tool by ID
      operationId: get_public_missions_missions_mission_id_tools_tool_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          title: Mission Id
          type: string
      - in: path
        name: tool_id
        required: true
        schema:
          title: Tool Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get tool
      tags:
      - Missions
      x-latency-category: responsive
    put:
      description: Update a tool definition
      operationId: put_public_missions_missions_mission_id_tools_tool_id
      parameters:
      - in: path
        name: mission_id
        required: true
        schema:
          title: Mission Id
          type: string
      - in: path
        name: tool_id
        required: true
        schema:
          title: Tool Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Update tool
      tags:
      - Missions
      x-latency-category: responsive
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    MissionsListResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/MissionData'
          title: Data
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      required:
      - data
      - meta
      title: MissionsListResponse
      type: object
    MissionData:
      properties:
        created_at:
          format: date-time
          title: Created At
          type: string
        description:
          title: Description
          type: string
        execution_mode:
          $ref: '#/components/schemas/ExecutionMode'
        instructions:
          title: Instructions
          type: string
        metadata:
          additionalProperties: true
          title: Metadata
          type: object
        mission_id:
          format: uuid
          title: Mission Id
          type: string
        model:
          title: Model
          type: string
        name:
          title: Name
          type: string
        updated_at:
          format: date-time
          title: Updated At
          type: string
      required:
      - mission_id
      - name
      - execution_mode
      - created_at
      - updated_at
      title: MissionData
      type: object
    UpdateMissionRunRequest:
      properties:
        error:
          title: Error
          type: string
        metadata:
          additionalProperties: true
          title: Metadata
          type: object
        result_payload:
          additionalProperties: true
          title: Result Payload
          type: object
        result_summary:
          title: Result Summary
          type: string
        status:
          $ref: '#/components/schemas/RunStatus'
      title: UpdateMissionRunRequest
      type: object
    Meta:
      properties:
        page_number:
          type: integer
        page_size:
          type: integer
        total_pages:
          type: integer
        total_results:
          type: integer
      required:
      - total_pages
      - total_results
      - page_number
      - page_size
      title: Meta
      type: object
    EventsListResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/EventData'
          title: Data
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      required:
      - data
      - meta
      title: EventsListResponse
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    CreatePlanStepRequest:
      properties:
        description:
          title: Description
          type: string
        metadata:
          additionalProperties: true
          title: Metadata
          type: object
        parent_step_id:
          title: Parent Step Id
          type: string
        sequence:
          title: Sequence
          type: integer
        step_id:
          title: Step Id
          type: string
      required:
      - step_id
      - description
      - sequence
      title: CreatePlanStepRequest
      type: object
    UpdatePlanStepRequest:
      properties:
        metadata:
          additionalProperties: true
          title: Metadata
          type: object
        status:
          $ref: '#/components/schemas/StepStatus'
      title: UpdatePlanStepRequest
      type: object
    TelnyxAgentResponse:
      properties:
        data:
          $ref: '#/components/schemas/TelnyxAgentData'
      required:
      - data
      title: TelnyxAgentResponse
      type: object
    MissionRunsListResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/MissionRunData'
          title: Data
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      required:
      - data
      - meta
      title: MissionRunsListResponse
      type: object
    ExecutionMode:
      enum:
      - external
      - managed
      title: ExecutionMode
      type: string
    UpdateMissionRequest:
      properties:
        description:
          title: Description
          type: string
        execution_mode:
          $ref: '#/components/schemas/ExecutionMode'
        instructions:
          title: Instructions
          type: string
        metadata:
          additionalProperties: true
          title: Metadata
          type: object
        model:
          title: Model
          type: string
        name:
          title: Name
          type: string
      title: UpdateMissionRequest
      type: object
    EventResponse:
      properties:
        data:
          $ref: '#/components/schemas/EventData'
      required:
      - data
      title: EventResponse
      type: object
    MissionRunResponse:
      properties:
        data:
          $ref: '#/components/schemas/MissionRunData'
      required:
      - data
      title: MissionRunResponse
      type: object
    TelnyxAgentData:
      properties:
        created_at:
          format: date-time
          title: Created At
          type: string
        run_id:
          title: Run Id
          type: string
        telnyx_agent_id:
          title: Telnyx Agent Id
          type: string
      required:
      - run_id
      - telnyx_agent_id
      - created_at
      title: TelnyxAgentData
      type: object
    PlanStepsCreatedResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/PlanStepData'
          title: Data
          type: array
      required:
      - data
      title: PlanStepsCreatedResponse
      type: object
    StepStatus:
      enum:
      - pending
      - in_progress
      - completed
      - skipped
      - failed
      title: StepStatus
      type: string
    RunStatus:
      enum:
      - pending
      - running
      - paused
      - succeeded
      - failed
      - cancelled
      title: RunStatus
      type: string
    PlanStepData:
      properties:
        completed_at:
          format: date-time
          title: Completed At
          type: string
        description:
          title: Description
          type: string
        metadata:
          additionalProperties: true
          title: Metadata
          type: object
        parent_step_id:
          title: Parent Step Id
          type: string
        run_id:
          format: uuid
          title: Run Id
          type: string
        sequence:
          title: Sequence
          type: integer
        started_at:
          format: date-time
          title: Started At
          type: string
        status:
          $ref: '#/components/schemas/StepStatus'
        step_id:
          title: Step Id
          type: string
      required:
      - step_id
      - run_id
      - sequence
      - description
      - status
      title: PlanStepData
      type: object
    LinkTelnyxAgentRequest:
      properties:
        telnyx_agent_id:
          description: The Telnyx AI agent ID to link
          title: Telnyx Agent Id
          type: string
      required:
      - telnyx_agent_id
      title: LinkTelnyxAgentRequest
      type: object
    PlanStepResponse:
      properties:
        data:
          $ref: '#/components/schemas/PlanStepData'
      required:
      - data
      title: PlanStepResponse
      type: object
    PlanResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/PlanStepData'
          title: Data
          type: array
      required:
      - data
      title: PlanResponse
      type: object
    CreateMissionRequest:
      properties:
        description:
          title: Description
          type: string
        execution_mode:
          $ref: '#/components/schemas/ExecutionMode'
          default: external
        instructions:
          title: Instructions
          type: string
        metadata:
          additionalProperties: true
          title: Metadata
          type: object
        model:
          title: Model
          type: string
        name:
          title: Name
          type: string
      required:
      - name
      title: CreateMissionRequest
      type: object
    EventType:
      enum:
      - status_change
      - step_started
      - step_completed
      - step_failed
      - tool_call
      - tool_result
      - message
      - error
      - custom
      title: EventType
      type: string
    EventData:
      properties:
        agent_id:
          title: Agent Id
          type: string
        event_id:
          title: Event Id
          type: string
        idempotency_key:
          title: Idempotency Key
          type: string
        payload:
          additionalProperties: true
          title: Payload
          type: object
        run_id:
          title: Run Id
          type: string
        step_id:
          title: Step Id
          type: string
        summary:
          title: Summary
          type: string
        timestamp:
          format: date-time
          title: Timestamp
          type: string
        type:
          $ref: '#/components/schemas/EventType'
      required:
      - event_id
      - run_id
      - type
      - summary
      - timestamp
      title: EventData
      type: object
    MissionResponse:
      properties:
        data:
          $ref: '#/components/schemas/MissionData'
      required:
      - data
      title: MissionResponse
      type: object
    TelnyxAgentsListResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/TelnyxAgentData'
          title: Data
          type: array
      required:
      - data
      title: TelnyxAgentsListResponse
      type: object
    CreatePlanRequest:
      properties:
        steps:
          items:
            $ref: '#/components/schemas/CreatePlanStepRequest'
          title: Steps
          type: array
      required:
      - steps
      title: CreatePlanRequest
      type: object
    CreateMissionRunRequest:
      properties:
        input:
          additionalProperties: true
          title: Input
          type: object
        metadata:
          additionalProperties: true
          title: Metadata
          type: object
      title: CreateMissionRunRequest
      type: object
    AddPlanStepsRequest:
      properties:
        steps:
          items:
            $ref: '#/components/schemas/CreatePlanStepRequest'
          title: Steps
          type: array
      required:
      - steps
      title: AddPlanStepsRequest
      type: object
    MissionRunData:
      properties:
        error:
          title: Error
          type: string
        finished_at:
          format: date-time
          title: Finished At
          type: string
        input:
          additionalProperties: true
          title: Input
          type: object
        metadata:
          additionalProperties: true
          title: Metadata
          type: object
        mission_id:
          format: uuid
          title: Mission Id
          type: string
        result_payload:
          additionalProperties: true
          title: Result Payload
          type: object
        result_summary:
          title: Result Summary
          type: string
        run_id:
          format: uuid
          title: Run Id
          type: string
        started_at:
          format: date-time
          title: Started At
          type: string
        status:
          $ref: '#/components/schemas/RunStatus'
        updated_at:
          format: date-time
          title: Updated At
          type: string
      required:
      - run_id
      - mission_id
      - status
      - started_at
      - updated_at
      title: MissionRunData
      type: object
    CreateEventRequest:
      properties:
        agent_id:
          title: Agent Id
          type: string
        idempotency_key:
          description: Prevents duplicate events on retry
          title: Idempotency Key
          type: string
        payload:
          additionalProperties: true
          title: Payload
          type: object
        step_id:
          title: Step Id
          type: string
        summary:
          title: Summary
          type: string
        type:
          $ref: '#/components/schemas/EventType'
      required:
      - type
      - summary
      title: CreateEventRequest
      type: object
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
