openapi: 3.2.0
info:
  title: Telnyx Verified Numbers API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Verified Numbers across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Verified Numbers operations
  name: Verified Numbers
paths:
  /verified_numbers:
    get:
      description: Gets a paginated list of Verified Numbers.
      operationId: ListVerifiedNumbers
      parameters:
      - description: 'Consolidated page parameter (deepObject style). Use page[size] and page[number] in the query string. Originally: page[size], page[number]'
        explode: true
        in: query
        name: page
        required: false
        schema:
          properties:
            number:
              default: 1
              title: page[number]
              type: integer
            size:
              default: 25
              title: page[size]
              type: integer
          type: object
        style: deepObject
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVerifiedNumbersResponse'
          description: Expected response to a valid request.
        '400':
          $ref: '#/components/responses/verified-numbers_GenericErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedRequestErrorResponse'
        '422':
          $ref: '#/components/responses/verified-numbers_UnprocessableEntityErrorResponse'
      summary: List all Verified Numbers
      tags:
      - Verified Numbers
      x-group-parameters: 'true'
      x-latency-category: responsive
    post:
      description: Initiates phone number verification procedure. Supports DTMF extension dialing for voice calls to numbers behind IVR systems.
      operationId: CreateVerifiedNumber
      requestBody:
        content:
          application/json:
            examples:
              call_verification:
                summary: Call verification
                value:
                  phone_number: '+15551234567'
                  verification_method: call
              call_with_extension:
                description: Example for verifying a number behind an IVR system that requires extension dialing
                summary: Call verification with DTMF extension
                value:
                  extension: ww243w1
                  phone_number: '+15551234567'
                  verification_method: call
              sms_verification:
                summary: SMS verification
                value:
                  phone_number: '+15551234567'
                  verification_method: sms
            schema:
              properties:
                extension:
                  default: null
                  description: 'Optional DTMF extension sequence to dial after the call is answered. This parameter enables verification of phone numbers behind IVR systems that require extension dialing. Valid characters: digits 0-9, letters A-D, symbols * and #. Pauses: w = 0.5 second pause, W = 1 second pause. Maximum length: 50 characters. Only works with ''call'' verification method.'
                  example: ww243w1
                  maxLength: 50
                  pattern: ^[0-9A-D*#wW]*$
                  type: string
                phone_number:
                  example: '+15551234567'
                  type: string
                verification_method:
                  description: Verification method.
                  enum:
                  - sms
                  - call
                  example: sms
                  type: string
              required:
              - phone_number
              - verification_method
              title: Create Verified Number Request
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVerifiedNumberResponse'
          description: Expected response to a valid request.
        '400':
          $ref: '#/components/responses/verified-numbers_GenericErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedRequestErrorResponse'
        '422':
          $ref: '#/components/responses/verified-numbers_UnprocessableEntityErrorResponse'
      summary: Request phone number verification
      tags:
      - Verified Numbers
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /verified_numbers/{phone_number}:
    delete:
      operationId: DeleteVerifiedNumber
      parameters:
      - description: The phone number being deleted.
        in: path
        name: phone_number
        required: true
        schema:
          description: +E164 formatted phone number.
          example: '+15551234567'
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifiedNumberResponseDataWrapper'
          description: Expected verifications response to a valid request.
        '400':
          $ref: '#/components/responses/verified-numbers_GenericErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedRequestErrorResponse'
        '404':
          $ref: '#/components/responses/verified-numbers_NotFoundErrorResponse'
      summary: Delete a verified number
      tags:
      - Verified Numbers
      x-latency-category: responsive
    get:
      operationId: GetVerifiedNumber
      parameters:
      - description: The phone number being requested.
        in: path
        name: phone_number
        required: true
        schema:
          description: +E164 formatted phone number.
          example: '+15551234567'
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifiedNumberResponseDataWrapper'
          description: Expected verifications response to a valid request.
        '400':
          $ref: '#/components/responses/verified-numbers_GenericErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedRequestErrorResponse'
        '404':
          $ref: '#/components/responses/verified-numbers_NotFoundErrorResponse'
      summary: Retrieve a verified number
      tags:
      - Verified Numbers
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /verified_numbers/{phone_number}/actions/verify:
    post:
      operationId: VerifyVerificationCode
      parameters:
      - description: The phone number being verified.
        in: path
        name: phone_number
        required: true
        schema:
          description: +E164 formatted phone number.
          example: '+15551234567'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                verification_code:
                  example: '123456'
                  type: string
              required:
              - verification_code
              title: Verify Verification Code Request
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifiedNumberResponseDataWrapper'
          description: Expected response to a valid request.
        '400':
          $ref: '#/components/responses/verified-numbers_GenericErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedRequestErrorResponse'
        '404':
          $ref: '#/components/responses/verified-numbers_NotFoundErrorResponse'
        '422':
          $ref: '#/components/responses/verified-numbers_UnprocessableEntityErrorResponse'
      summary: Submit verification code
      tags:
      - Verified Numbers
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
components:
  responses:
    verified-numbers_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/verified-numbers_Errors'
      description: Bad Request
    verified-numbers_UnprocessableEntityErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/verified-numbers_Errors'
      description: Unprocessable Entity
    UnauthorizedRequestErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/verified-numbers_Errors'
      description: Unauthorized Request
    verified-numbers_NotFoundErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/verified-numbers_Errors'
      description: Resource Not Found
    verified-numbers_GenericErrorResponse_2:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10015'
              title: Bad Request
              detail: The request failed because it was not well-formed.
    verified-numbers_UnprocessableEntityErrorResponse_2:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10027'
              title: Unprocessable Entity
              detail: The server understood the syntax of the request but was unable to process the instructions.
    UnauthorizedRequestErrorResponse_2:
      description: Unauthorized Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10009'
              title: Authentication failed
              detail: The required authentication headers were either invalid or not included in the request.
    verified-numbers_NotFoundErrorResponse_2:
      description: Resource Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10005'
              title: Resource not found
              detail: The requested resource or URL could not be found.
  schemas:
    verified-numbers_Meta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      type: object
    verified-numbers_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          properties:
            url:
              description: URL with additional information on the error.
              type: string
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    VerifiedNumberRecordType:
      description: The possible verified numbers record types.
      enum:
      - verified_number
      example: verified_number
      title: VerifiedNumberRecordType
      type: string
    CreateVerifiedNumberResponse:
      properties:
        phone_number:
          example: '+15551234567'
          type: string
        verification_method:
          example: sms
          type: string
      title: CreateVerifiedNumberResponse
      type: object
    VerifiedNumberResponseDataWrapper:
      properties:
        data:
          $ref: '#/components/schemas/VerifiedNumberResponse'
          additionalProperties: true
          type: object
      title: VerifiedNumberResponseDataWrapper
      type: object
    ListVerifiedNumbersResponse:
      description: A paginated list of Verified Numbers
      properties:
        data:
          items:
            $ref: '#/components/schemas/VerifiedNumberResponse'
          type: array
        meta:
          $ref: '#/components/schemas/verified-numbers_Meta'
      required:
      - data
      - meta
      title: ListVerifiedNumbersResponse
      type: object
    VerifiedNumberResponse:
      properties:
        phone_number:
          example: '+15551234567'
          type: string
        record_type:
          $ref: '#/components/schemas/VerifiedNumberRecordType'
        verified_at:
          example: '2020-09-14T17:03:32.965812'
          type: string
      title: VerifiedNumberResponse
      type: object
    verified-numbers_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/verified-numbers_Error'
          type: array
      type: object
    Errors:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/billing-group_Error'
      type: object
    billing-group_Error:
      type: object
      required:
      - code
      - title
      properties:
        code:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          properties: {}
          additionalProperties: true
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
