openapi: 3.2.0
info:
  title: Telnyx Regulatory Requirements API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Regulatory Requirements across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Regulatory Requirements
  name: Regulatory Requirements
paths:
  /phone_numbers_regulatory_requirements:
    get:
      operationId: ListRegulatoryRequirementsPhoneNumbers
      parameters:
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[phone_number]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            phone_number:
              description: Record type phone number/ phone numbers
              example: +41215470622,+41215470633
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/listRegulatoryRequirementsPhoneNumbers'
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Retrieve regulatory requirements for a list of phone numbers
      tags:
      - Regulatory Requirements
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /regulatory_requirements:
    get:
      operationId: ListRegulatoryRequirements
      parameters:
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[phone_number], filter[requirement_group_id], filter[country_code], filter[phone_number_type], filter[action]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            action:
              description: Action to check requirements for
              enum:
              - ordering
              - porting
              - action
              type: string
            country_code:
              description: Country code(iso2) to check requirements for
              example: DE
              type: string
            phone_number:
              description: Phone number to check requirements for
              example: '+41215470622'
              type: string
            phone_number_type:
              description: Phone number type to check requirements for
              enum:
              - local
              - toll_free
              - mobile
              - national
              - shared_cost
              type: string
            requirement_group_id:
              description: ID of requirement group to check requirements for
              example: d4c0b4a6-7bd2-40c5-a3b9-2acd99e212b2
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/listRegulatoryRequirements'
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Retrieve regulatory requirements
      tags:
      - Regulatory Requirements
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /phone_numbers/regulatory_requirements:
    get:
      summary: Retrieve regulatory requirements for a list of phone numbers
      operationId: getPhoneNumbersRegulatoryRequirements
      tags:
      - Regulatory Requirements
      parameters:
      - name: filter
        in: query
        style: deepObject
        explode: true
        description: 'Consolidated filter parameter (deepObject style). Originally: filter[phone_number]'
        schema:
          type: object
          properties:
            phone_number:
              type: string
              example: +41215470622,+41215470633
              description: Record type phone number/ phone numbers
      responses:
        '200':
          description: An array of Regulatory Requirements Responses
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RegulatoryRequirementsPhoneNumbers'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      x-latency-category: responsive
      description: Retrieve the regulatory requirements that apply to a list of phone numbers.
      x-operation-id-source: normalized
      x-operation-id-original: ListRegulatoryRequirementsPhoneNumbers
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
components:
  schemas:
    RegulatoryRequirements:
      properties:
        action:
          example: ordering
          readOnly: true
          type: string
        country_code:
          example: DE
          readOnly: true
          type: string
        phone_number_type:
          example: local
          readOnly: true
          type: string
        regulatory_requirements:
          items:
            properties:
              acceptance_criteria:
                properties:
                  acceptable_characters:
                    example: Characters that can be included in field value
                    type: string
                  acceptable_values:
                    items:
                      type: string
                    type: array
                  case_sensitive:
                    example: Whether field value is case sensitive
                    type: string
                  locality_limit:
                    example: Identical locality as the numbers desired
                    type: string
                  max_length:
                    example: '10'
                    type: string
                  min_length:
                    example: '5'
                    type: string
                  regex:
                    example: regex field value must match
                    type: string
                  time_limit:
                    example: Less than 5 months old
                    type: string
                type: object
              description:
                example: Address matching the DID area code (street, building number, postal code, city and country)
                readOnly: true
                type: string
              example:
                example: 600 Congress Avenue, 14th Floor, Austin, TX 78701
                readOnly: true
                type: string
              field_type:
                example: address_id
                type: string
              id:
                example: 12ade33a-21c0-473b-b055-b3c836e1c292
                format: uuid
                readOnly: true
                type: string
              name:
                example: Address matching the DID area code
                type: string
            type: object
          type: array
      type: object
    PaginationMeta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      type: object
    numbers_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/numbers_Error'
          type: array
      type: object
    numbers_Error:
      properties:
        code:
          example: '10007'
          type: string
        detail:
          example: An unexpected error occured.
          type: string
        meta:
          properties:
            url:
              description: URL with additional information on the error.
              example: https://developers.telnyx.com/docs/overview/errors/10015
              type: string
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              example: /base
              type: string
          type: object
        title:
          example: Unexpected error
          type: string
      type: object
    RegulatoryRequirementsPhoneNumbers:
      properties:
        phone_number:
          example: '+41215471644'
          readOnly: true
          type: string
        phone_number_type:
          example: local
          readOnly: true
          type: string
        record_type:
          example: phone_number_regulatory_requirements
          readOnly: true
          type: string
        region_information:
          items:
            properties:
              region_name:
                example: CH
                type: string
              region_type:
                example: country_code
                type: string
            type: object
          type: array
        regulatory_requirements:
          items:
            properties:
              acceptance_criteria:
                properties:
                  field_type:
                    example: address
                    type: string
                  field_value:
                    example: 45f45a04-b4be-4592-95b1-9306b9db2b21
                    type: string
                  locality_limit:
                    example: Identical locality as the numbers desired
                    type: string
                type: object
              description:
                example: Address matching the DID area code (street, building number, postal code, city and country)
                readOnly: true
                type: string
              example:
                example: 600 Congress Avenue, 14th Floor, Austin, TX 78701
                readOnly: true
                type: string
              field_type:
                example: address_id
                type: string
              id:
                example: 12ade33a-21c0-473b-b055-b3c836e1c292
                format: uuid
                readOnly: true
                type: string
              label:
                example: Address matching the DID area code
                type: string
              record_type:
                example: regulatory_requirement
                readOnly: true
                type: string
            type: object
          type: array
      type: object
    Errors:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/billing-group_Error'
      type: object
    billing-group_Error:
      type: object
      required:
      - code
      - title
      properties:
        code:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          properties: {}
          additionalProperties: true
  responses:
    numbers_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Unexpected error
    numbers_BadRequestResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Bad request, the request was unacceptable, often due to missing a required parameter.
    numbers_UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Unprocessable entity. Check the 'detail' field in response for details.
    listRegulatoryRequirementsPhoneNumbers:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/RegulatoryRequirementsPhoneNumbers'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: An array of Regulatory Requirements Responses
    listRegulatoryRequirements:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/RegulatoryRequirements'
                type: array
            type: object
      description: An array of Regulatory Requirements Responses
    numbers_NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: The requested resource doesn't exist.
    numbers_UnauthorizedResponse:
      content:
        application/json:
          examples:
            Authentication Failed:
              value:
                errors:
                - code: '10009'
                  detail: Could not understand the provided credentials.
                  meta:
                    url: https://developers.telnyx.com/docs/overview/errors/10009
                  title: Authentication failed
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Unauthorized
    numbers_BadRequestResponse_73c9788e53:
      description: Bad request, the request was unacceptable, often due to missing a required parameter.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    numbers_UnauthorizedResponse_73c9788e53:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            Authentication Failed:
              value:
                errors:
                - code: '10009'
                  title: Authentication failed
                  detail: Could not understand the provided credentials.
                  meta:
                    url: https://developers.telnyx.com/docs/overview/errors/10009
    GenericErrorResponse:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    numbers_UnprocessableEntity_73c9788e53:
      description: Unprocessable entity. Check the 'detail' field in response for details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    numbers_NotFoundResponse_73c9788e53:
      description: The requested resource doesn't exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
