openapi: 3.2.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Callbacks API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Callbacks
  name: Callbacks
paths: {}
webhooks:
  CallAIGatherEnded:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallAIGatherEnded
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallAIGatherEndedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call AI Gather Ended
      tags:
      - Callbacks
  CallAIGatherMessageHistoryUpdated:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallAIGatherMessageHistoryUpdated
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallAIGatherMessageHistoryUpdatedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call AI Gather Message History Updated
      tags:
      - Callbacks
  CallAIGatherPartialResults:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallAIGatherPartialResults
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallAIGatherPartialResultsEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call AI Gather Partial Results
      tags:
      - Callbacks
  callAnswered:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallAnswered
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallAnsweredEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Answered
      tags:
      - Callbacks
  callBridged:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallBridged
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallBridgedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Bridged
      tags:
      - Callbacks
  callConversationEnded:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallConversationEnded
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/callConversationEndedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Conversation Ended
      tags:
      - Callbacks
  callConversationInsightsGenerated:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallConversationInsightsGenerated
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/callConversationInsightsGeneratedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Conversation Insights Generated
      tags:
      - Callbacks
  callCost:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallCost
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallCostEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Cost
      tags:
      - Callbacks
  callDeepfakeDetectionError:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallDeepfakeDetectionError
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallDeepfakeDetectionErrorEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Deepfake Detection Error
      tags:
      - Callbacks
  callDeepfakeDetectionResult:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallDeepfakeDetectionResult
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallDeepfakeDetectionResultEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Deepfake Detection Result
      tags:
      - Callbacks
  callDtmfReceived:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallDtmfReceived
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallDtmfReceivedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Dtmf Received
      tags:
      - Callbacks
  callEnqueued:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallEnqueued
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallEnqueuedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Enqueued
      tags:
      - Callbacks
  callForkStarted:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallForkStarted
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallForkStartedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Fork Started
      tags:
      - Callbacks
  callForkStopped:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallForkStopped
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallForkStoppedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Fork Stopped
      tags:
      - Callbacks
  callGatherEnded:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallGatherEnded
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallGatherEndedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Gather Ended
      tags:
      - Callbacks
  callHangup:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallHangup
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallHangupEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Hangup
      tags:
      - Callbacks
  callHold:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallHold
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallHoldEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Hold
      tags:
      - Callbacks
  callInitiated:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallInitiated
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallInitiatedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Initiated
      tags:
      - Callbacks
  callLeftQueue:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallLeftQueue
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallLeftQueueEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Left Queue
      tags:
      - Callbacks
  callMachineDetectionEnded:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallMachineDetectionEnded
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallMachineDetectionEndedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Machine Detection Ended
      tags:
      - Callbacks
  callMachineGreetingEnded:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallMachineGreetingEnded
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallMachineGreetingEndedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Machine Greeting Ended
      tags:
      - Callbacks
  callMachinePremiumDetectionEnded:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallMachinePremiumDetectionEnded
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallMachinePremiumDetectionEndedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Machine Premium Detection Ended
      tags:
      - Callbacks
  callMachinePremiumGreetingEnded:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallMachinePremiumGreetingEnded
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallMachinePremiumGreetingEndedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Machine Premium Greeting Ended
      tags:
      - Callbacks
  callPlaybackEnded:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallPlaybackEnded
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallPlaybackEndedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Playback Ended
      tags:
      - Callbacks
  callPlaybackStarted:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallPlaybackStarted
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallPlaybackStartedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Playback Started
      tags:
      - Callbacks
  callRecordingError:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallRecordingError
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/callRecordingErrorEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Recording Error
      tags:
      - Callbacks
  callRecordingSaved:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallRecordingSaved
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallRecordingSavedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Recording Saved
      tags:
      - Callbacks
  callRecordingTranscriptionSaved:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallRecordingTranscriptionSaved
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/callRecordingTranscriptionSavedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Recording Transcription Saved
      tags:
      - Callbacks
  callReferCompleted:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallReferCompleted
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallReferCompletedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Refer Completed
      tags:
      - Callbacks
  callReferFailed:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallReferFailed
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallReferFailedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Refer Failed
      tags:
      - Callbacks
  callReferStarted:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallReferStarted
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallReferStartedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Refer Started
      tags:
      - Callbacks
  callSiprecFailed:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallSiprecFailed
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallSiprecFailedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Siprec Failed
      tags:
      - Callbacks
  callSiprecStarted:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallSiprecStarted
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallSiprecStartedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Siprec Started
      tags:
      - Callbacks
  callSiprecStopped:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallSiprecStopped
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallSiprecStoppedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Siprec Stopped
      tags:
      - Callbacks
  callSpeakEnded:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallSpeakEnded
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallSpeakEndedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Speak Ended
      tags:
      - Callbacks
  callSpeakStarted:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallSpeakStarted
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallSpeakStartedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Speak Started
      tags:
      - Callbacks
  callStreamingFailed:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallStreamingFailed
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallStreamingFailedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Streaming Failed
      tags:
      - Callbacks
  callStreamingStarted:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallStreamingStarted
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallStreamingStartedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Streaming Started
      tags:
      - Callbacks
  callStreamingStopped:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallStreamingStopped
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallStreamingStoppedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Streaming Stopped
      tags:
      - Callbacks
  callUnhold:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CallUnhold
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallUnholdEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Call Unhold
      tags:
      - Callbacks
  campaignStatusUpdate:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: CampaignStatusUpdate
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignStatusUpdateEvent'
        required: true
      responses:
        '200':
          description: The server must return a HTTP 200, otherwise we will reattempt to deliver the webhook to the failover URL.
      summary: Campaign Status Update
      tags:
      - Callbacks
  conferenceCreated:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: ConferenceCreated
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceCreatedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Conference Created
      tags:
      - Callbacks
  conferenceEnded:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: ConferenceEnded
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceEndedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Conference Ended
      tags:
      - Callbacks
  conferenceFloorChanged:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: ConferenceFloorChanged
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceFloorChangedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Conference Floor Changed
      tags:
      - Callbacks
  conferenceParticipantJoined:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: ConferenceParticipantJoined
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceParticipantJoinedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Conference Participant Joined
      tags:
      - Callbacks
  conferenceParticipantLeft:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: ConferenceParticipantLeft
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceParticipantLeftEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Conference Participant Left
      tags:
      - Callbacks
  conferenceParticipantPlaybackEnded:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: ConferenceParticipantPlaybackEnded
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceParticipantPlaybackEndedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Conference Participant Playback Ended
      tags:
      - Callbacks
  conferenceParticipantPlaybackStarted:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: ConferenceParticipantPlaybackStarted
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceParticipantPlaybackStartedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Conference Participant Playback Started
      tags:
      - Callbacks
  conferenceParticipantSpeakEnded:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: ConferenceParticipantSpeakEnded
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceParticipantSpeakEndedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Conference Participant Speak Ended
      tags:
      - Callbacks
  conferenceParticipantSpeakStarted:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: ConferenceParticipantSpeakStarted
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceParticipantSpeakStartedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Conference Participant Speak Started
      tags:
      - Callbacks
  conferencePlaybackEnded:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: ConferencePlaybackEnded
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferencePlaybackEndedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Conference Playback Ended
      tags:
      - Callbacks
  conferencePlaybackStarted:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: ConferencePlaybackStarted
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferencePlaybackStartedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Conference Playback Started
      tags:
      - Callbacks
  conferenceRecordingSaved:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: ConferenceRecordingSaved
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceRecordingSavedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Conference Recording Saved
      tags:
      - Callbacks
  conferenceSpeakEnded:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: ConferenceSpeakEnded
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceSpeakEndedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Conference Speak Ended
      tags:
      - Callbacks
  conferenceSpeakStarted:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: ConferenceSpeakStarted
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConferenceSpeakStartedEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Conference Speak Started
      tags:
      - Callbacks
  deliveryUpdate:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: DeliveryUpdate
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundMessageEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Delivery Update
      tags:
      - Callbacks
  fax.delivered:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: FaxDelivered
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaxDelivered'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Fax Delivered
      tags:
      - Callbacks
  fax.failed:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: FaxFailed
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaxFailed'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Fax Failed
      tags:
      - Callbacks
  fax.media.processed:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: FaxMediaProcessed
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaxMediaProcessed'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Fax Media Processed
      tags:
      - Callbacks
  fax.queued:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: FaxQueued
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaxQueued'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Fax Queued
      tags:
      - Callbacks
  fax.sending.started:
    post:
      description: '


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: FaxSendingStarted
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaxSendingStarted'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Fax Sending Started
      tags:
      - Callbacks
  hostedNumberOrderEvent:
    post:
      description: 'Webhook fired when a messaging hosted number order is created, updated, deleted, or progresses through the internal-transfer lifecycle (detected, approval requested, approved, rejected, auto-approved). Inspect `event_type` to distinguish events.


        This webhook uses Telnyx headers (telnyx-timestamp, telnyx-signature-ed25519) that are compatible with Standard Webhooks specification for SDK generation. Custom validation logic can map these to standard webhook-timestamp and webhook-signature equivalents. See https://github.com/standard-webhooks/standard-webhooks for details.'
      operationId: HostedNumberOrderEvent
      parameters:
      - description: Unix timestamp (seconds since epoch) of when the webhook was sent - compatible with webhook-timestamp
        in: header
        name: telnyx-timestamp
        required: true
        schema:
          description: Unix timestamp for replay attack prevention
          format: int64
          type: integer
        x-webhook-equivalent: webhook-timestamp
      - description: Base64 encoded Ed25519 signature for webhook verification - compatible with webhook-signature
        in: header
        name: telnyx-signature-ed25519
        required: true
        schema:
          description: Ed25519 signature of timestamp|payload for verification
          type: string
        x-webhook-equivalent: webhook-signature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostedNumberOrderEvent'
        required: true
      responses:
        '200':
          description: The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.
      summary: Hosted Number Order Event
      tags:
      - Callbacks
  inboundMessage:
    post:
      description: '


[...]
