openapi: 3.2.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Speech to Text Batch Reports API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Speech to text batch detail records
  name: Speech to Text Batch Reports
paths:
  /legacy/reporting/batch_detail_records/speech_to_text:
    get:
      description: Retrieves all Speech to Text batch report requests for the authenticated user
      operationId: getSttRequests
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SttGetDetailReportResponse'
          description: Speech to text batch report requests retrieved successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal server error
      security:
      - bearerAuth: []
      summary: Get all Speech to Text batch report requests
      tags:
      - Speech to Text Batch Reports
      x-latency-category: responsive
    post:
      description: Creates a new Speech to Text batch report request with the specified filters
      operationId: submitSttRequest
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SttDetailedRequest'
        description: Speech to Text batch report request data
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SttPostDetailReportResponse'
          description: Speech to text batch report request created successfully
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal server error
      security:
      - bearerAuth: []
      summary: Create a new Speech to Text batch report request
      tags:
      - Speech to Text Batch Reports
      x-latency-category: responsive
  /legacy/reporting/batch_detail_records/speech_to_text/{id}:
    delete:
      description: Deletes a specific Speech to Text batch report request by ID
      operationId: deleteSttRequest
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SttDeleteDetailReportResponse'
          description: Speech to text batch report request deleted successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Report not found
        '500':
          description: Internal server error
      security:
      - bearerAuth: []
      summary: Delete a Speech to Text batch report request
      tags:
      - Speech to Text Batch Reports
      x-latency-category: responsive
    get:
      description: Retrieves a specific Speech to Text batch report request by ID
      operationId: getSttRequest
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SttGetDetailReportByIdResponse'
          description: Speech to text batch report request retrieved successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Report not found
        '500':
          description: Internal server error
      security:
      - bearerAuth: []
      summary: Get a specific Speech to Text batch report request
      tags:
      - Speech to Text Batch Reports
      x-latency-category: responsive
components:
  schemas:
    SttGetDetailReportByIdResponse:
      properties:
        data:
          $ref: '#/components/schemas/SttDetailReportResponse'
      type: object
    SttDetailedRequest:
      description: Request object for Speech to Text detailed report
      properties:
        end_date:
          description: End date in ISO format with timezone (date range must be up to one month)
          example: '2020-07-01T00:00:00-06:00'
          format: date-time
          type: string
        start_date:
          description: Start date in ISO format with timezone
          example: '2020-07-01T00:00:00-06:00'
          format: date-time
          type: string
      required:
      - start_date
      - end_date
      type: object
    SttGetDetailReportResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/SttDetailReportResponse'
          type: array
      type: object
    SttDetailReportResponse:
      properties:
        created_at:
          example: '2020-07-01T00:00:00-06:00'
          format: date-time
          type: string
        download_link:
          description: URL to download the report
          example: https://portal-cdrs-usage.s3.amazonaws.com
          type: string
        end_date:
          example: '2020-07-01T00:00:00-06:00'
          format: date-time
          type: string
        id:
          description: Identifies the resource
          example: ab76c3b6-80cd-11eb-9439-0242ac130002
          type: string
        record_type:
          example: speech_to_text_report
          type: string
        start_date:
          example: '2020-07-01T00:00:00-06:00'
          format: date-time
          type: string
        status:
          enum:
          - PENDING
          - COMPLETE
          - FAILED
          - EXPIRED
          type: string
      type: object
    SttPostDetailReportResponse:
      properties:
        data:
          $ref: '#/components/schemas/SttDetailReportResponse'
      type: object
    SttDeleteDetailReportResponse:
      properties:
        data:
          $ref: '#/components/schemas/SttDetailReportResponse'
      type: object
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
