openapi: 3.2.0
info:
  title: Telnyx TeXML REST Commands API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged TeXML REST Commands across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: TeXML REST Commands
  name: TeXML REST Commands
paths:
  /texml/Accounts/{account_sid}/Calls:
    get:
      description: Returns multiple call resouces for an account. This endpoint is eventually consistent.
      operationId: GetTexmlCalls
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageToken'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/Status'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/StartTime_gt'
      - $ref: '#/components/parameters/StartTime_lt'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/EndTime_gt'
      - $ref: '#/components/parameters/EndTime_lt'
      responses:
        '200':
          $ref: '#/components/responses/GetCallsResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch multiple call resources
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    post:
      description: Initiate an outbound TeXML call. Telnyx will request TeXML from the XML Request URL configured for the connection in the Mission Control Portal.
      operationId: InitiateTexmlCall
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateCallRequest'
        description: Iniatiate Call request object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/InitiateCallResponse'
        '422':
          $ref: '#/components/responses/call-scripting_UnprocessableEntityResponse'
      summary: Initiate an outbound call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Calls/{call_sid}:
    get:
      description: Returns an individual call identified by its CallSid. This endpoint is eventually consistent.
      operationId: GetTexmlCall
      parameters:
      - $ref: '#/components/parameters/CallSid'
      - $ref: '#/components/parameters/AccountSid'
      responses:
        '200':
          $ref: '#/components/responses/GetCallResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch a call
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    post:
      description: Update TeXML call. Please note that the keys present in the payload MUST BE formatted in CamelCase as specified in the example.
      operationId: UpdateTexmlCall
      parameters:
      - $ref: '#/components/parameters/CallSid'
      - $ref: '#/components/parameters/AccountSid'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateCallRequest'
        description: Update Call request object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/GetCallResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
        '422':
          $ref: '#/components/responses/call-scripting_UnprocessableEntityResponse'
      summary: Update call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Calls/{call_sid}/Recordings.json:
    get:
      description: Returns recordings for a call identified by call_sid.
      operationId: FetchTeXMLCallRecordings
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/CallSid'
      responses:
        '200':
          $ref: '#/components/responses/TexmlGetCallRecordingsResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch recordings for a call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    post:
      description: Starts recording with specified parameters for call idientified by call_sid.
      operationId: StartTeXMLCallRecording
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/CallSid'
      requestBody:
        $ref: '#/components/requestBodies/TexmlCreateCallRecordingRequest'
      responses:
        '200':
          $ref: '#/components/responses/TexmlCreateCallRecordingResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Request recording for a call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Calls/{call_sid}/Recordings/{recording_sid}.json:
    post:
      description: Updates recording resource for particular call.
      operationId: UpdateTeXMLCallRecording
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/CallSid'
      - $ref: '#/components/parameters/RecordingSid'
      requestBody:
        $ref: '#/components/requestBodies/TexmlUpdateCallRecordingRequest'
      responses:
        '200':
          $ref: '#/components/responses/TexmlCreateCallRecordingResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Update recording on a call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Calls/{call_sid}/Siprec.json:
    post:
      description: Starts siprec session with specified parameters for call idientified by call_sid.
      operationId: StartTeXMLSiprecSession
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/CallSid'
      requestBody:
        $ref: '#/components/requestBodies/TexmlCreateSiprecSessionRequest'
      responses:
        '200':
          $ref: '#/components/responses/TexmlCreateSiprecSessionResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Request siprec session for a call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Calls/{call_sid}/Siprec/{siprec_sid}.json:
    post:
      description: Updates siprec session identified by siprec_sid.
      operationId: UpdateTeXMLSiprecSession
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/CallSid'
      - $ref: '#/components/parameters/SiprecSid'
      requestBody:
        $ref: '#/components/requestBodies/TexmlUpdateSiprecSessionRequest'
      responses:
        '200':
          $ref: '#/components/responses/TexmlUpdateSiprecSessionResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Updates siprec session for a call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Calls/{call_sid}/Streams.json:
    post:
      description: Starts streaming media from a call to a specific WebSocket address.
      operationId: StartTeXMLCallStreaming
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/CallSid'
      requestBody:
        $ref: '#/components/requestBodies/TexmlCreateCallStreamingRequest'
      responses:
        '200':
          $ref: '#/components/responses/TexmlCreateCallStreamingResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Start streaming media from a call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Calls/{call_sid}/Streams/{streaming_sid}.json:
    post:
      description: Updates streaming resource for particular call.
      operationId: UpdateTeXMLCallStreaming
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/CallSid'
      - $ref: '#/components/parameters/StreamingSid'
      requestBody:
        $ref: '#/components/requestBodies/TexmlUpdateCallStreamingRequest'
      responses:
        '200':
          $ref: '#/components/responses/TexmlUpdateCallStreamingResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Update streaming on a call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Conferences:
    get:
      description: Lists conference resources.
      operationId: GetTexmlConferences
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageToken'
      - $ref: '#/components/parameters/FriendlyName'
      - $ref: '#/components/parameters/ConferenceStatus'
      - $ref: '#/components/parameters/DateCreated'
      - $ref: '#/components/parameters/DateUpdated'
      responses:
        '200':
          $ref: '#/components/responses/GetConferencesResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: List conference resources
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Conferences/{conference_sid}:
    get:
      description: Returns a conference resource.
      operationId: GetTexmlConference
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      responses:
        '200':
          $ref: '#/components/responses/GetConferenceResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch a conference resource
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    post:
      description: Updates a conference resource.
      operationId: UpdateTexmlConference
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/call-scripting_UpdateConferenceRequest'
        description: Update Conference request object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/GetConferenceResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Update a conference resource
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Conferences/{conference_sid}/Participants:
    get:
      description: Lists conference participants
      operationId: GetTexmlConferenceParticipants
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      responses:
        '200':
          $ref: '#/components/responses/GetParticipantsResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: List conference participants
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    post:
      description: Dials a new conference participant
      operationId: DialTexmlConferenceParticipant
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DialConferenceParticipantRequest'
        description: Dial Conference Participant request object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/DialParticipantResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Dial a new conference participant
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Conferences/{conference_sid}/Participants/{call_sid_or_participant_label}:
    delete:
      description: Deletes a conference participant
      operationId: DeleteTexmlConferenceParticipant
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      - $ref: '#/components/parameters/CallSidOrParticipantLabel'
      responses:
        '204':
          description: The resource was deleted successfully.
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Delete a conference participant
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    get:
      description: Gets conference participant resource
      operationId: GetTexmlConferenceParticipant
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      - $ref: '#/components/parameters/CallSidOrParticipantLabel'
      responses:
        '200':
          $ref: '#/components/responses/GetParticipantResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Get conference participant resource
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    post:
      description: Updates a conference participant
      operationId: UpdateTexmlConferenceParticipant
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      - $ref: '#/components/parameters/CallSidOrParticipantLabel'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/call-scripting_UpdateConferenceParticipantRequest'
        description: Update Conference Participant request object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/GetParticipantResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Update a conference participant
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Conferences/{conference_sid}/Recordings:
    get:
      description: Lists conference recordings
      operationId: GetTexmlConferenceRecordings
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      responses:
        '200':
          $ref: '#/components/responses/GetConferenceRecordingsResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: List conference recordings
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Conferences/{conference_sid}/Recordings.json:
    get:
      description: Returns recordings for a conference identified by conference_sid.
      operationId: FetchTeXMLConferenceRecordings
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      responses:
        '200':
          $ref: '#/components/responses/TexmlGetCallRecordingsResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch recordings for a conference
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Queues:
    get:
      description: Lists queue resources.
      operationId: GetTexmlQueues
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageToken'
      - $ref: '#/components/parameters/DateCreated'
      - $ref: '#/components/parameters/DateUpdated'
      responses:
        '200':
          $ref: '#/components/responses/GetQueuesResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: List queue resources
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    post:
      description: Creates a new queue resource.
      operationId: CreateTexmlQueue
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/call-scripting_CreateQueueRequest'
        description: Create Queue request object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/GetQueueResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Create a new queue
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Queues/{queue_sid}:
    delete:
      description: Delete a queue resource.
      operationId: DeleteTexmlQueue
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/QueueSid'
      responses:
        '204':
          description: The resource was deleted successfully.
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Delete a queue resource
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    get:
      description: Returns a queue resource.
      operationId: GetTexmlQueue
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/QueueSid'
      responses:
        '200':
          $ref: '#/components/responses/GetQueueResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch a queue resource
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    post:
      description: Updates a queue resource.
      operationId: UpdateTexmlQueue
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/QueueSid'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/call-scripting_UpdateQueueRequest'
        description: Update Queue request object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/GetQueueResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Update a queue resource
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Recordings.json:
    get:
      description: Returns multiple recording resources for an account.
      operationId: GetTeXMLCallRecordings
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSizeTexml'
      - $ref: '#/components/parameters/TexmlDateCreated'
      responses:
        '200':
          $ref: '#/components/responses/TexmlGetCallRecordingsResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch multiple recording resources
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Recordings/{recording_sid}.json:
    delete:
      description: Deletes recording resource identified by recording id.
      operationId: DeleteTeXMLCallRecording
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/RecordingSid'
      responses:
        '204':
          description: The resource was deleted successfully.
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Delete recording resource
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    get:
      description: Returns recording resource identified by recording id.
      operationId: GetTeXMLCallRecording
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/RecordingSid'
      responses:
        '200':
          $ref: '#/components/responses/TexmlGetCallRecordingResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch recording resource
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Transcriptions.json:
    get:
      description: Returns multiple recording transcription resources for an account.
      operationId: GetTeXMLRecordingTranscriptions
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/PageToken'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          $ref: '#/components/responses/TexmlListRecordingTranscriptionResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: List recording transcriptions
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/Accounts/{account_sid}/Transcriptions/{recording_transcription_sid}.json:
    delete:
      description: Permanently deletes a recording transcription.
      operationId: DeleteTeXMLRecordingTranscription
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/RecordingTranscriptionSid'
      responses:
        '204':
          description: The resource was deleted successfully.
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Delete a recording transcription
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    get:
      description: Returns the recording transcription resource identified by its ID.
      operationId: GetTeXMLRecordingTranscription
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/RecordingTranscriptionSid'
      responses:
        '200':
          $ref: '#/components/responses/TexmlGetRecordingTranscriptionResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch a recording transcription resource
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/ai_calls/{connection_id}:
    post:
      description: Initiate an outbound AI call with warm-up support. Validates parameters, builds an internal TeXML with an AI Assistant configuration, encodes instructions into client state, and calls the dial API. The Twiml, Texml, and Url parameters are not allowed and will result in a 422 error.
      operationId: InitiateTexmlAICall
      parameters:
      - description: The ID of the TeXML connection to use for the call.
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateAICallRequest'
        description: Initiate AI Call request object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/InitiateAICallResponse'
        '401':
          $ref: '#/components/responses/UnauthenticatedResponse'
        '422':
          $ref: '#/components/responses/call-scripting_UnprocessableEntityResponse'
      summary: Initiate an outbound AI call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/secrets:
    post:
      description: Create a TeXML secret which can be later used as a Dynamic Parameter for TeXML when using Mustache Templates in your TeXML. In your TeXML you will be able to use your secret name, and this name will be replaced by the actual secret value when processing the TeXML on Telnyx side. The secrets are not visible in any logs.
      operationId: CreateTexmlSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeXMLSecretRequest'
        description: Create TeXML secret request object
        required: true
      responses:
        '201':
          $ref: '#/components/responses/CreateTeXMLSecretResponse'
        '422':
          $ref: '#/components/responses/call-scripting_UnprocessableEntityResponse'
      summary: Create a TeXML secret
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /texml/calls/{connection_id}:
    post:
      summary: Create a connection-scoped TeXML call
      description: Initiate an outbound TeXML call using a TeXML application connection ID, not an account SID. Request parameter names are case-sensitive. From and To are required; Texml supplies inline instructions and Url overrides the application XML request URL. When neither is supplied, the application configuration supplies the instructions. The response is a flat call object without a data wrapper.
      operationId: CreateTexmlCall
      tags:
      - TeXML REST Commands
      parameters:
      - name: connection_id
        in: path
        required: true
        description: The ID of the connection holding the TeXML application to call from.
        schema:
          type: string
        example: '1234567890'
      requestBody:
        required: true
        description: Connection-scoped outbound call parameters.
        content:
          application/json:
            schema:
              type: object
              required:
              - From
              - To
              properties:
                From:
                  type: string
                  description: The E.164-formatted phone number or SIP URI to present as the caller.
                  example: '+13120001234'
                To:
                  type: string
                  description: The E.164-formatted phone number or SIP URI to call.
                  example: '+13121230000'
                Texml:
                  type: string
                  description: Inline TeXML instructions to execute when the call is answered.
                  example: <Response><Say>Hello</Say></Response>
                Url:
                  type: string
                  description: The URL from which to retrieve TeXML instructions. Overrides the TeXML application XML request URL.
                  example: https://example.com/instructions.xml
                Method:
                  type: string
                  enum:
                  - GET
                  - POST
                  description: HTTP method used to retrieve TeXML instructions from Url.
                  example: POST
            example:
              From: '+13120001234'
              To: '+13121230000'
              Texml: <Response><Say>Hello</Say></Response>
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - From
              - To
              properties:
                From:
                  type: string
                  description: The E.164-formatted phone number or SIP URI to present as the caller.
                  example: '+13120001234'
                To:
                  type: string
                  description: The E.164-formatted phone number or SIP URI to call.
                  example: '+13121230000'
                Texml:
                  type: string
                  description: Inline TeXML instructions to execute when the call is answered.
                  example: <Response><Say>Hello</Say></Response>
                Url:
                  type: string
                  description: The URL from which to retrieve TeXML instructions. Overrides the TeXML application XML request URL.
                  example: https://example.com/instructions.xml
                Method:
                  type: string
                  enum:
                  - GET
                  - POST
                  description: HTTP method used to retrieve TeXML instructions from Url.
                  example: POST
            example:
              From: '+13120001234'
              To: '+13121230000'
              Texml: <Response><Say>Hello</Say></Response>
      responses:
        '200':
          description: The outbound call was queued.
          content:
            application/json:
              schema:
                type: object
                required:
                - call_sid
                - from
                - to
                - status
                properties:
                  call_sid:
                    type: string
                    description: The call control ID of the created call.
                    example: v3:call-control-id
                  from:
                    type: string
                    description: The caller address.
                    example: '+13120001234'
                  to:
                    type: string
                    description: The called address.
                    example: '+13121230000'
                  status:
                    type: string
                    description: The initial status of the outbound call.
                    enum:
                    - queued
                    example: queued
              example:
                call_sid: v3:call-control-id
                from: '+13120001234'
                to: '+13121230000'
                status: queued
        '401':
          $ref: '#/components/responses/UnauthenticatedResponse_2'
        '422':
          description: A required call parameter is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/call-scripting_ErrorResponse'
              example:
                errors:
                - code: '10004'
                  detail: 'Can''t be blank: To'
                  source:
                    pointer: /To
                  title: Missing required parameter
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
components:
  schemas:
    TexmlUpdateSiprecSessionResponseBody:
      properties:
        account_sid:
          description: The id of the account the resource belongs to.
          example: 61bf923e-5e4d-4595-a110-56190ea18a1b
          type: string
        call_sid:
          description: The id of the call the resource belongs to.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        date_updated:
          description: The date and time the siprec session was last updated.
          example: Fri, 11 Aug 2023 19:12:11 +0000
          type: string
        error_code:
          description: The error code of the siprec session.
          type: string
        sid:
          description: The SID of the siprec session.
          example: 61bf923e-5e4d-4595-a110-56190ea18123
          type: string
        status:
          description: The status of the siprec session.
          enum:
          - in-progress
          - stopped
          example: in-progress
          type: string
        uri:
          description: The URI of the siprec session.
          example: https://api.telnyx.com/v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18123/Calls/v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-ai/Siprec/61bf923e-5e4d-4595-a110-56190ea18123
          type: string
      title: Update Siprec Session Response
      type: object
    TexmlRecordingPrice:
      description: 'The price of this recording, the currency is specified in the price_unit field. '
      example: '0.10'
      type:
      - string
      - 'null'
    call-scripting_UpdateConferenceParticipantRequest:
      example:
        BeepOnExit: false
      properties:
        AnnounceMethod:
          description: The HTTP method used to call the `AnnounceUrl`. Defaults to `POST`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        AnnounceUrl:
          description: The URL to call to announce something to the participant. The URL may return an MP3 fileo a WAV file, or a TwiML document that contains `<Play>`, `<Say>`, `<Pause>`, or `<Redirect>` verbs.
          example: https://www.example.com/announce.xml
          type: string
        BeepOnExit:
          description: Whether to play a notification beep to the conference when the participant exits.
          example: false
          type: boolean
        CallSidToCoach:
          description: The SID of the participant who is being coached. The participant being coached is the only participant who can hear the participant who is coaching.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        Coaching:
          description: Whether the participant is coaching another call. When `true`, `CallSidToCoach` has to be given.
          example: false
          type: boolean
        EndConferenceOnExit:
          description: Whether to end the conference when the participant leaves.
          example: false
          type: boolean
        Hold:
          description: Whether the participant should be on hold.
          example: true
          type: boolean
        HoldMethod:
          description: The HTTP method to use when calling the `HoldUrl`.
          enum:
          - GET
          - POST
          example: POST
          type: string
        HoldUrl:
          description: The URL to be called using the `HoldMethod` for music that plays when the participant is on hold. The URL may return an MP3 file, a WAV file, or a TwiML document that contains `<Play>`, `<Say>`, `<Pause>`, or `<Redirect>` verbs.
          example: https://www.example.com/hold-music.xml
          type: string
        Muted:
          description: Whether the participant should be muted.
          example: true
          type: boolean
        WaitUrl:
          description: The URL to call for an audio file to play while the participant is waiting for the conference to start.
          example: https://www.example.com/wait_music.mp3
          type: string
      title: Update Conference Participant Request
      type: object
    TexmlErrorCode:
      example: null
      type:
      - string
      - 'null'
    ConferenceRecordingResourceIndex:
      example:
        end: 0
        first_page_uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences/6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f/Recordings.json?page=0&pagesize=20
        page: 0
        page_size: 20
        participants: []
        start: 0
        uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences/6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f/Recordings.json?page=0&pagesize=20
      properties:
        end:
          description: The number of the last element on the page, zero-indexed.
          example: 19
          type: integer
        first_page_uri:
          description: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences/6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f/Recordings.json?page=0&pagesize=20
          example: accepted
          type: string
        next_page_uri:
          description: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences/6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f/Recordings.json?Page=1&PageSize=1&PageToken=MTY4AjgyNDkwNzIxMQ
          example: accepted
          type: string
        page:
          description: Current page number, zero-indexed.
          example: 0
          type: integer
        page_size:
          description: The number of items on the page
          example: 20
          type: integer
        participants:
          description: List of participant resources.
          example: []
          items:
            type: object
          type: array
        recordings:
          items:
            $ref: '#/components/schemas/ConferenceRecordingResource'
          type: array
        start:
          description: The number of the first element on the page, zero-indexed.
          example: 0
          type: integer
        uri:
          description: The URI of the current page.
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences/6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f/Recordings.json?Page=0&PageSize=1
          type: string
      title: Multiple conference recording resources
      type: object
    InitiateAICallRequest:
      example:
        AIAssistantId: ai-assistant-id-123
        From: '+13120001234'
        To: '+13121230000'
      properties:
        AIAssistantDynamicVariables:
          additionalProperties:
            type: string
          description: Key-value map of dynamic variables to pass to the AI assistant.
          example:
            account_id: '12345'
            customer_name: John Doe
          type: object
        AIAssistantId:
          description: The ID of the AI assistant to use for the call.
          type: string
        AIAssistantVersion:
          description: The version of the AI assistant to use.
          type: string
        AsyncAmd:
          default: false
          description: Select whether to perform answering machine detection in the background. By default execution is blocked until Answering Machine Detection is completed.
          example: true
          type: boolean
        AsyncAmdStatusCallback:
          description: URL destination for Telnyx to send AMD callback events to for the call.
          example: https://www.example.com/callback
          type: string
        AsyncAmdStatusCallbackMethod:
          default: POST
          description: HTTP request type used for `AsyncAmdStatusCallback`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        CallerId:
          description: To be used as the caller id name (SIP From Display Name) presented to the destination (`To` number). The string should have a maximum of 128 characters, containing only letters, numbers, spaces, and `-_~!.+` special characters. If omitted, the display name will be the same as the number in the `From` field.
          example: Info
          type: string
        ConversationCallback:
          description: URL destination for Telnyx to send conversation callback events to.
          example: https://www.example.com/conversation-callback
          type: string
        ConversationCallbackMethod:
          default: POST
          description: HTTP request type used for `ConversationCallback`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        ConversationCallbacks:
          description: An array of URL destinations for conversation callback events.
          example:
          - https://www.example.com/conversation-callback1
          - https://www.example.com/conversation-callback2
          items:
            type: string
          type: array
        CustomHeaders:
          description: Custom HTTP headers to be sent with the call. Each header should be an object with 'name' and 'value' properties.
          example:
          - name: X-Custom-Header
            value: custom-value
          items:
            properties:
              name:
                description: The name of the custom header
                type: string
              value:
                description: The value of the custom header
                type: string
            required:
            - name
            - value
            type: object
          type: array
        DetectionMode:
          default: Regular
          description: Allows you to choose between Premium and Standard detections.
          enum:
          - Premium
          - Regular
          example: Premium
          type: string
        From:
          description: The phone number of the party initiating the call. Phone numbers are formatted with a `+` and country code.
          example: '+16175551212'
          type: string
        MachineDetection:
          default: Disable
          description: Enables Answering Machine Detection.
          enum:
          - Enable
          - Disable
          - DetectMessageEnd
          example: Enable
          type: string
        MachineDetectionSilenceTimeout:
          default: 3500
          description: If initial silence duration is greater than this value, consider it a machine. Ignored when `premium` detection is used.
          example: 2000
          type: integer
        MachineDetectionSpeechEndThreshold:
          default: 800
          description: Silence duration threshold after a greeting message or voice for it be considered human. Ignored when `premium` detection is used.
          example: 2000
          type: integer
        MachineDetectionSpeechThreshold:
          default: 3500
          description: Maximum threshold of a human greeting. If greeting longer than this value, considered machine. Ignored when `premium` detection is used.
          example: 2000
          type: integer
        MachineDetectionTimeout:
          default: 30000
          description: Maximum timeout threshold in milliseconds for overall detection.
          example: 5000
          maximum: 60000
          minimum: 500
          type: integer
        Passports:
          description: A string of passport identifiers to associate with the call.
          type: string
        PreferredCodecs:
          description: The list of comma-separated codecs to be offered on a call.
          example: PCMA,PCMU
          type: string
        Record:
          description: Whether to record the entire participant's call leg. Defaults to `false`.
          example: false
          type: boolean
        RecordingChannels:
          description: The number of channels in the final recording. Defaults to `mono`.
          enum:
          - mono
          - dual
          example: dual
          type: string
        RecordingStatusCallback:
          description: The URL the recording callbacks will be sent to.
          example: https://example.com/recording_status_callback
          type: string
        RecordingStatusCallbackEvent:
          description: 'The changes to the recording''s state that should generate a call to `RecordingStatusCallback`. Can be: `in-progress`, `completed` and `absent`. Separate multiple values with a space. Defaults to `completed`.'
          example: in-progress completed absent
          type: string
        RecordingStatusCallbackMethod:
          description: HTTP request type used for `RecordingStatusCallback`. Defaults to `POST`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        RecordingTimeout:
          default: 0
          description: The number of seconds that Telnyx will wait for the recording to be stopped if silence is detected. The timer only starts when the speech is detected. The minimum value is 0. The default value is 0 (infinite).
          example: 5
          type: integer
        RecordingTrack:
          description: The audio track to record for the call. The default is `both`.
          enum:
          - inbound
          - outbound
          - both
          example: inbound
          type: string
        SendRecordingUrl:
          $ref: '#/components/schemas/SendRecordingUrl'
        SipAuthPassword:
          description: The password to use for SIP authentication.
          example: '1234'
          type: string
        SipAuthUsername:
          description: The username to use for SIP authentication.
          example: user
          type: string
        SipRegion:
          default: US
          description: Defines the SIP region to be used for the call.
          enum:
          - US
          - Europe
          - Canada
          - Australia
          - Middle East
          example: Canada
          type: string
        StatusCallback:
          description: URL destination for Telnyx to send status callback events to for the call.
          example: https://www.example.com/callback
          type: string
        StatusCallbackEvent:
          default: completed
          description: 'The call events for which Telnyx should send a webhook. Multiple events can be defined when separated by a space. Valid values: initiated, ringing, answered, completed.'
          example: initiated answered
          type: string
        StatusCallbackMethod:
          default: POST
          description: HTTP request type used for `StatusCallback`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        StatusCallbacks:
          description: An array of URL destinations for Telnyx to send status callback events to for the call.
          example:
          - https://www.example.com/callback1
          - https://www.example.com/callback2
          items:
            type: string
          type: array
        TimeLimit:
          default: 14400
          description: The maximum duration of the call in seconds. The minimum value is 30 and the maximum value is 14400 (4 hours). Default is 14400 seconds.
          example: 3600
          maximum: 14400
          minimum: 30
          type: integer
        Timeout:
          default: 30
          description: The number of seconds to wait for the called party to answer the call before the call is canceled. The minimum value is 5 and the maximum value is 120. Default is 30 seconds.
          example: 60
          maximum: 120
          minimum: 5
          type: integer
          x-stainless-param: timeout_seconds
        To:
          description: The phone number of the called party. Phone numbers are formatted with a `+` and country code.
          example: '+16175551212'
          type: string
        Trim:
          description: Whether to trim any leading and trailing silence from the recording. Defaults to `trim-silence`.
          enum:
          - trim-silence
          - do-not-trim
          example: trim-silence
          type: string
      required:
      - From
      - To
      - AIAssistantId
      title: Initiate AI Call Request
      type: object
    TexmlCreateCallRecordingRequestBody:
      properties:
        PlayBeep:
          $ref: '#/components/schemas/PlayBeep'
        RecordingChannels:
          $ref: '#/components/schemas/TexmlRecordingChannels'
        RecordingStatusCallback:
          $ref: '#/components/schemas/TexmlStatusCallback'
        RecordingStatusCallbackEvent:
          $ref: '#/components/schemas/RecordingStatusCallbackEvent'
        RecordingStatusCallbackMethod:
          $ref: '#/components/schemas/TexmlStatusCallbackMethod'
        RecordingTrack:
          $ref: '#/components/schemas/RecordingTrack'
        SendRecordingUrl:
          $ref: '#/components/schemas/SendRecordingUrl'
      title: Texml Create Call Recording Request Body
      type: object
    StreamTrack:
      default: inbound_track
      description: Tracks to be included in the stream
      enum:
      - inbound_track
      - outbound_track
      - both_tracks
      example: both_tracks
      type: string
    CallResourceIndex:
      example:
        calls: []
        end: 0
        first_page_uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Calls.json?Page=0&PageSize=1
        next_page_uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Calls.json?Page=1&PageSize=1&PageToken=MTY4AjgyNDkwNzIxMQ
        page: 0
        page_size: 1
        start: 0
        uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Calls.json?Page=0&PageSize=1
      properties:
        calls:
          items:
            $ref: '#/components/schemas/CallResource'
          type: array
        end:
          description: The number of the last element on the page, zero-indexed.
          example: 19
          type: integer
        first_page_uri:
          description: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Calls.json?Page=0&PageSize=1
          example: accepted
          type: string
        next_page_uri:
          description: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Calls.json?Page=1&PageSize=1&PageToken=MTY4AjgyNDkwNzIxMQ
          example: accepted
          type: string
        page:
          description: Current page number, zero-indexed.
          example: 0
          type: integer
        page_size:
          description: The number of items on the page
          example: 20
          type: integer
        start:
          description: The number of the first element on the page, zero-indexed.
          example: 0
          type: integer
        uri:
          description: The URI of the current page.
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Calls.json?Page=0&PageSize=1
          type: string
      title: Multiple call resources
      type: object
    CreateTeXMLSecretResult:
      example:
        name: My Secret Name
        value: REDACTED
      properties:
        name:
          example: My Secret Name
          type: string
        value:
          enum:
          - REDACTED
          example: REDACTED
          type: string
      title: Create TeXML Secret result
      type: object
    TexmlUpdateSiprecSessionRequestBody:
      properties:
        Status:
          description: The new status of the resource. Specifying `stopped` will end the siprec session.
          enum:
          - stopped
          example: stopped
          type: string
      title: Update Siprec Session Request
      type: object
    TexmlBidirectionalStreamMode:
      default: mp3
      description: Configures method of bidirectional streaming (mp3, rtp).
      enum:
      - mp3
      - rtp
      example: rtp
      title: Stream Bidirectional Mode
      type: string
    InitiateAICallResult:
      example:
        call_sid: v3:example-call-sid
        from: '+13120001234'
        status: queued
        to: '+13121230000'
      properties:
        call_sid:
          example: v3:example-call-sid
          type: string
        from:
          example: '+13120001234'
          type: string
        status:
          example: queued
          type: string
        to:
          example: '+13120000000'
          type: string
      title: Initiate AI Call Result
      type: object
    CallControlId:
      example: v3:KBnLO0ZK3DhKM5s7bE9VluaSmKsOchKht_fUYvxcp8ysbmzCCtpkmA
      type: string
    QueueResourceIndex:
      example:
        end: 0
        first_page_uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Queues.json?Page=0&PageSize=1
        next_page_uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Queues.json?Page=1&PageSize=1&PageToken=MTY4AjgyNDkwNzIxMQ
        page: 0
        page_size: 1
        queues: []
        start: 0
        uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Queues.json?Page=0&PageSize=1
      properties:
        end:
          description: The number of the last element on the page, zero-indexed.
          example: 19
          type: integer
        first_page_uri:
          description: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Queues.json?Page=0&PageSize=1
          example: accepted
          type: string
        next_page_uri:
          description: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Queues.json?Page=1&PageSize=1&PageToken=MTY4AjgyNDkwNzIxMQ
          example: accepted
          type: string
        page:
          description: Current page number, zero-indexed.
          example: 0
          type: integer
        page_size:
          description: The number of items on the page
          example: 20
          type: integer
        queues:
          items:
            $ref: '#/components/schemas/QueueResource'
          type: array
        start:
          description: The number of the first element on the page, zero-indexed.
          example: 0
          type: integer
        uri:
          description: The URI of the current page.
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Queues.json?Page=0&PageSize=1
          type: string
      title: Multiple queue resources
      type: object
    TexmlStatusCallback:
      description: Url where status callbacks will be sent.
      example: http://webhook.com/callback
      format: uri
      type: string
    InitiateCallRequest:
      example:
        ApplicationSid: example-app-sid
        From: '+13120001234'
        StatusCallback: https://www.example.com/statuscallback-listener
        To: '+13121230000'
        Url: https://www.example.com/texml.xml
      oneOf:
      - properties:
          Texml:
            not: {}
        required:
        - Url
        title: With URL
      - properties:
          Url:
            not: {}
        required:
        - Texml
        title: With TeXML
      - properties:
          Texml:
            not: {}
          Url:
            not: {}
        title: Application Default
      properties:
        ApplicationSid:
          description: The ID of the TeXML Application.
          type: string
        AsyncAmd:
          default: false
          description: Select whether to perform answering machine detection in the background. By default execution is blocked until Answering Machine Detection is completed.
          example: true
          type: boolean
        AsyncAmdStatusCallback:
          description: URL destination for Telnyx to send AMD callback events to for the call.
          example: https://www.example.com/callback
          type: string
        AsyncAmdStatusCallbackMethod:
          default: POST
          description: HTTP request type used for `AsyncAmdStatusCallback`. The default value is inherited from TeXML Application setting.
          enum:
          - GET
          - POST
          example: GET
          type: string
        CallerId:
          description: To be used as the caller id name (SIP From Display Name) presented to the destination (`To` number). The string should have a maximum of 128 characters, containing only letters, numbers, spaces, and `-_~!.+` special characters. If ommited, the display name will be the same as the number in the `From` field.
          example: Info
          type: string
        CancelPlaybackOnDetectMessageEnd:
          default: true
          description: Whether to cancel ongoing playback on `greeting ended` detection. Defaults to `true`.
          example: false
          type: boolean
        CancelPlaybackOnMachineDetection:
          default: true
          description: Whether to cancel ongoing playback on `machine` detection. Defaults to `true`.
          example: false
          type: boolean
        CustomHeaders:
          description: Custom HTTP headers to be sent with the call. Each header should be an object with 'name' and 'value' properties.
          example:
          - name: X-Custom-Header
            value: custom-value
          items:
            properties:
              name:
                description: The name of the custom header
                type: string
              value:
                description: The value of the custom header
                type: string
            required:
            - name
            - value
            type: object
          type: array
        DeepfakeDetection:
          description: Enables Deepfake Detection on the dialed call. When enabled, audio from the remote party is analyzed to determine whether the voice is AI-generated. Results are delivered asynchronously via a callback.
          enum:
          - Enable
          example: Enable
          type: string
        DeepfakeDetectionCallbackMethod:
          default: POST
          description: HTTP request type used for `DeepfakeDetectionCallbackUrl`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        DeepfakeDetectionCallbackUrl:
          description: URL destination for Telnyx to send deepfake detection callback events to for the call.
          example: https://www.example.com/deepfake-callback
          type: string
        DetectionMode:
          default: Regular
          description: Allows you to chose between Premium and Standard detections.
          enum:
          - Premium
          - Regular
          example: Premium
          type: string
        FallbackUrl:
          description: A failover URL for which Telnyx will retrieve the TeXML call instructions if the `Url` is not responding.
          example: https://www.example.com/instructions-fallback.xml
          type: string
        From:
          description: The phone number of the party that initiated the call. Phone numbers are formatted with a `+` and country code.
          example: '+16175551212'
          type: string
        MachineDetection:
          default: Disable
          description: Enables Answering Machine Detection.
          enum:
          - Enable
          - Disable
          - DetectMessageEnd
          example: Enable
          type: string
        MachineDetectionSilenceTimeout:
          default: 3500
          description: If initial silence duration is greater than this value, consider it a machine. Ignored when `premium` detection is used.
          example: 2000
          type: integer
        MachineDetectionSpeechEndThreshold:
          default: 800
          description: Silence duration threshold after a greeting message or voice for it be considered human. Ignored when `premium` detection is used.
          example: 2000
          type: integer
        MachineDetectionSpeechThreshold:
          default: 3500
          description: Maximum threshold of a human greeting. If greeting longer than this value, considered machine. Ignored when `premium` detection is used.
          example: 2000
          type: integer
        MachineDetectionTimeout:
          default: 30000
          description: Maximum timeout threshold in milliseconds for overall detection.
          example: 5000
          maximum: 60000
          minimum: 500
          type: integer
        MediaEncryption:
          default: disabled
          description: Defines whether media should be encrypted on the call. When set to `SRTP`, the call will use Secure Real-time Transport Protocol for media encryption. When set to `DTLS`, the call will use DTLS for media encryption. Only supported for SIP destinations.
          enum:
          - disabled
          - SRTP
          - DTLS
          example: disabled
          type: string
        PreferredCodecs:
          description: The list of comma-separated codecs to be offered on a call.
          example: PCMA,PCMU
          type: string
        Record:
          description: Whether to record the entire participant's call leg. Defaults to `false`.
          example: false
          type: boolean
        RecordingChannels:
          description: The number of channels in the final recording. Defaults to `mono`.
          enum:
          - mono
          - dual
          example: dual
          type: string
        RecordingStatusCallback:
          description: The URL the recording callbacks will be sent to.
          example: https://example.com/recording_status_callback
          type: string
        RecordingStatusCallbackEvent:
          description: 'The changes to the recording''s state that should generate a call to `RecoridngStatusCallback`. Can be: `in-progress`, `completed` and `absent`. Separate multiple values with a space. Defaults to `completed`.'
          example: in-progress completed absent
          type: string
        RecordingStatusCallbackMethod:
          description: HTTP request type used for `RecordingStatusCallback`. Defaults to `POST`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        RecordingTimeout:
          default: 0
          description: The number of seconds that Telnyx will wait for the recording to be stopped if silence is detected. The timer only starts when the speech is detected. Please note that the transcription is used to detect silence and the related charge will be applied. The minimum value is 0. The default value is 0 (infinite)
          example: 5
          type: integer
        RecordingTrack:
          description: The audio track to record for the call. The default is `both`.
          enum:
          - inbound
          - outbound
          - both
          example: inbound
          type: string
        SendRecordingUrl:
          $ref: '#/components/schemas/SendRecordingUrl'
        SipAuthPassword:
          description: The password to use for SIP authentication.
          example: '1234'
          type: string
        SipAuthUsername:
          description: The username to use for SIP authentication.
          example: user
          type: string
        SipRegion:
          default: US
          description: Defines the SIP region to be used for the call.
          enum:
          - US
          - Europe
          - Canada
          - Australia
          - Middle East
          example: Canada
          type: string
        StatusCallback:
          description: URL destination for Telnyx to send status callback events to for the call.
          example: https://www.example.com/callback
          type: string
        StatusCallbackEvent:
          default: completed
          description: The call events for which Telnyx should send a webhook. Multiple events can be defined when separated by a space.
          enum:
          - initiated
          - ringing
          - answered
          - completed
          example: initiated
          type: string
        StatusCallbackMethod:
          default: POST
          description: HTTP request type used for `StatusCallback`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        SuperviseCallSid:
          description: The call control ID of the existing call to supervise. When provided, the created leg will be added to the specified call in supervising mode. Status callbacks and action callbacks will NOT be sent for the supervising leg.
          example: v3:MdI91X4lWFEs7IgbBEOT9M4AigoY08M0WWZFISt1Yw2axZ_IiE4pqg
          type: string
        SupervisingRole:
          default: barge
          description: 'The supervising role for the new leg. Determines the audio behavior: barge (hear both sides), whisper (only hear supervisor), monitor (hear both sides but supervisor muted). Default: barge'
          enum:
          - barge
          - whisper
          - monitor
          example: monitor
          type: string
        Texml:
          description: TeXML to be used as instructions for the call. If provided, the call will execute these instructions instead of fetching from the Url.
          example: <?xml version="1.0" encoding="UTF-8"?><Response><Say>Hello</Say></Response>
          type: string
        TimeLimit:
          default: 14400
          description: The maximum duration of the call in seconds. The minimum value is 30 and the maximum value is 14400 (4 hours). Default is 14400 seconds.
          example: 3600
          maximum: 14400
          minimum: 30
          type: integer
        Timeout:
          default: 30
          description: The number of seconds to wait for the called party to answer the call before the call is canceled. The minimum value is 5 and the maximum value is 120. Default is 30 seconds.
          example: 60
          maximum: 120
          minimum: 5
          type: integer
          x-stainless-param: timeout_seconds
        To:
          description: The phone number of the called party. Phone numbers are formatted with a `+` and country code.
          example: '+16175551212'
          type: string
        Trim:
          description: Whether to trim any leading and trailing silence from the recording. Defaults to `trim-silence`.
          enum:
          - trim-silence
          - do-not-trim
          example: trim-silence
          type: string
        Url:
          description: The URL from which Telnyx will retrieve the TeXML call instructions.
          example: https://www.example.com/instructions.xml
          type: string
        UrlMethod:
          default: POST
          description: HTTP request type used for `Url`. The default value is inherited from TeXML Application setting.
          enum:
          - GET
          - POST
          example: GET
          type: string
      required:
      - To
      - From
      - ApplicationSid
      title: Initiate Call Request
      type: object
    NewParticipantResource:
      example:
        account_sid: 4e71926f-8f13-450e-b91c-23c2ef786aa6
        call_sid: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
        coaching: false
        conference_sid: cd5a70f4-759b-4d5e-9c06-88c00f16f3c1
        end_conference_on_exit: false
        hold: false
        muted: false
        status: completed
        uri: /v2/texml/Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Conferences/cd5a70f4-759b-4d5e-9c06-88c00f16f3c1/Participants/v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ.json
      properties:
        account_sid:
          description: The id of the account the resource belongs to.
          example: 61bf923e-5e4d-4595-a110-56190ea18a1b
          type: string
        call_sid:
          description: The identifier of this participant's call.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        coaching:
          description: Whether the participant is coaching another call.
          example: false
          type: boolean
        coaching_call_sid:
          description: The identifier of the coached participant's call.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        conference_sid:
          description: The unique identifier for the conference.
          example: cd5a70f4-759b-4d5e-9c06-88c00f16f3c1
          format: uuid
          type: string
        end_conference_on_exit:
          description: Whether the conference ends when the participant leaves.
          example: false
          type: boolean
        hold:
          description: Whether the participant is on hold.
          example: false
          type: boolean
        muted:
          description: Whether the participant is muted.
          example: false
          type: boolean
        status:
          description: The status of the participant's call in the conference.
          enum:
          - connecting
          - connected
          - completed
          example: connected
          type: string
        uri:
          description: The relative URI for this participant.
          example: /v2/texml/Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Conferences/cd5a70f4-759b-4d5e-9c06-88c00f16f3c1/Participants/v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ.json
          type: string
      title: New participant resource
      type: object
    UpdateCallRequest:
      example:
        Status: completed
      properties:
        FallbackMethod:
          description: HTTP request type used for `FallbackUrl`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        FallbackUrl:
          description: A failover URL for which Telnyx will retrieve the TeXML call instructions if the Url is not responding.
          example: https://www.example.com/intruction-c.xml
          type: string
        Method:
          description: HTTP request type used for `Url`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        Status:
          description: The value to set the call status to. Setting the status to completed ends the call.
          example: completed
          type: string
        StatusCallback:
          description: URL destination for Telnyx to send status callback events to for the call.
          example: https://www.example.com/callback
          type: string
        StatusCallbackMethod:
          description: HTTP request type used for `StatusCallback`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        Texml:
          description: TeXML to replace the current one with.
          example: <?xml version="1.0" encoding="UTF-8"?><Response><Say>Hello</Say></Response>
          type: string
        Url:
          description: The URL where TeXML will make a request to retrieve a new set of TeXML instructions to continue the call flow.
          example: https://www.example.com/intruction-b.xml
          type: string
      title: Update Call Request
      type: object
    call-scripting_UpdateConferenceRequest:
      example:
        Status: completed
      properties:
        AnnounceMethod:
          description: The HTTP method used to call the `AnnounceUrl`. Defaults to `POST`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        AnnounceUrl:
          description: The URL we should call to announce something into the conference. The URL may return an MP3 file, a WAV file, or a TwiML document that contains `<Play>`, `<Say>`, `<Pause>`, or `<Redirect>` verbs.
          example: https://www.example.com/announce.xml
          type: string
        Status:
          description: The new status of the resource. Specifying `completed` will end the conference and hang up all participants.
          example: completed
          type: string
      title: Update Conference Request
      type: object
    TexmlGetCallRecordingResponseBody:
      properties:
        account_sid:
          $ref: '#/components/schemas/AccountSid'
        call_sid:
          $ref: '#/components/schemas/CallControlId'
        channels:
          $ref: '#/components/schemas/TwimlRecordingChannels'
        conference_sid:
          $ref: '#/components/schemas/ConferenceSid'
        date_created:
          $ref: '#/components/schemas/DateTimeRFC2822'
        date_updated:
          $ref: '#/components/schemas/DateTimeRFC2822'
        duration:
          $ref: '#/components/schemas/TexmlRecordingDuration'
        error_code:
          $ref: '#/components/schemas/TexmlErrorCode'
        media_url:
          $ref: '#/components/schemas/TexmlRecordingMediaUrl'
        sid:
          $ref: '#/components/schemas/TexmlSid'
        source:
          $ref: '#/components/schemas/RecordingSource'
        start_time:
          $ref: '#/components/schemas/DateTimeRFC2822'
        status:
          $ref: '#/components/schemas/TexmlRecordingStatus'
        subresources_uris:
          $ref: '#/components/schemas/TexmlRecordingSubresourcesUris'
        uri:
          description: The relative URI for this recording resource.
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Recordings/b08f0fa1-a32c-4218-b3b5-9cf78941ccac.json
          type: string
      title: Texml Get Call Recording Response Body
      type: object
    TexmlBidirectionalStreamCodec:
      default: PCMU
      description: Indicates codec for bidirectional streaming RTP payloads. Used only with stream_bidirectional_mode=rtp. Case sensitive.
      enum:
      - PCMU
      - PCMA
      - G722
      example: G722
      title: Stream Bidirectional Codec
      type: string
    TexmlSid:
      description: Identifier of a resource.
      example: e9cea0be-7dbd-4b98-98b1-c0089d9d43b0
      type: string
    ConferenceSid:
      example: cd5a70f4-759b-4d5e-9c06-88c00f16f3c1
      format: uuid
      type:
      - string
      - 'null'
    TexmlUpdateCallStreamingResponseBody:
      properties:
        account_sid:
          $ref: '#/components/schemas/AccountSid'
        call_sid:
          $ref: '#/components/schemas/CallControlId'
        date_updated:
          $ref: '#/components/schemas/DateTimeRFC2822'
        sid:
          $ref: '#/components/schemas/TexmlSid'
        status:
          description: The status of the streaming.
          enum:
          - stopped
          example: stopped
          type: string
        uri:
          description: The relative URI for this streaming resource.
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Calls/v3:KBnLO0ZK3DhKM5s7bE9VluaSmKsOchKht_fUYvxcp8ysbmzCCtpkmA/Streams/b08f0fa1-a32c-4218-b3b5-9cf78941ccac.json
          type: string
      title: Texml Update Call Streaming Response Body
      type: object
    call-scripting_UpdateQueueRequest:
      example:
        MaxSize: 10
      properties:
        MaxSize:
          description: The maximum size of the queue.
          example: 10
          type: integer
      title: Update Queue Request
      type: object
    TexmlRecordingDuration:
      description: The duration of this recording, given in seconds.
      example: '12'
      type:
      - string
      - 'null'
    PlayBeep:
      default: true
      description: Whether to play a beep when recording is started.
      example: false
      type: boolean
    RecordingTrack:
      description: The audio track to record for the call. The default is `both`.
      enum:
      - inbound
      - outbound
      - both
      example: inbound
      type: string
    ParticipantResource:
      example:
        account_sid: 4e71926f-8f13-450e-b91c-23c2ef786aa6
        api_version: v2/texml
        call_sid: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
        call_sid_legacy: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
        coaching: false
        conference_sid: cd5a70f4-759b-4d5e-9c06-88c00f16f3c1
        date_created: Fri, 27 Oct 2023 07:41:58 +0000
        date_updated: Fri, 27 Oct 2023 07:41:58 +0000
        end_conference_on_exit: false
        hold: false
        muted: false
        status: completed
        uri: /v2/texml/Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Conferences/cd5a70f4-759b-4d5e-9c06-88c00f16f3c1/Participants/v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ.json
      properties:
        account_sid:
          description: The id of the account the resource belongs to.
          example: 61bf923e-5e4d-4595-a110-56190ea18a1b
          type: string
        api_version:
          description: The version of the API that was used to make the request.
          example: v2/texml
          type: string
        call_sid:
          description: The identifier of this participant's call.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        call_sid_legacy:
          description: The identifier of this participant's call.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        coaching:
          description: Whether the participant is coaching another call.
          example: false
          type: boolean
        coaching_call_sid:
          description: The identifier of the coached participant's call.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        coaching_call_sid_legacy:
          description: The identifier of the coached participant's call.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        conference_sid:
          description: The unique identifier for the conference.
          example: cd5a70f4-759b-4d5e-9c06-88c00f16f3c1
          format: uuid
          type: string
        date_created:
          description: The timestamp of when the resource was created.
          example: Thu, 15 Jun 2023 09:56:45 +0000
          type: string
        date_updated:
          description: The timestamp of when the resource was last updated.
          example: Thu, 15 Jun 2023 09:56:45 +0000
          type: string
        end_conference_on_exit:
          description: Whether the conference ends when the participant leaves.
          example: false
          type: boolean
        hold:
          description: Whether the participant is on hold.
          example: false
          type: boolean
        muted:
          description: Whether the participant is muted.
          example: false
          type: boolean
        status:
          description: The status of the participant's call in the conference.
          enum:
          - connecting
          - connected
          - completed
          example: connected
          type: string
        uri:
          description: The relative URI for this participant.
          example: /v2/texml/Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Conferences/cd5a70f4-759b-4d5e-9c06-88c00f16f3c1/Participants/v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ.json
          type: string
      title: Participant resource
      type: object
    TexmlUpdateCallRecordingRequestBody:
      properties:
        Status:
          enum:
          - in-progress
          - paused
          - stopped
          example: paused
          type: string
      title: Texml Create Call Recording Request Body
      type: object
    StreamStatus:
      default: stopped
      description: The status of the Stream you wish to update.
      enum:
      - stopped
      example: stopped
      type: string
    DialConferenceParticipantRequest:
      example:
        From: '+12065550200'
        To: '+12065550100'
      properties:
        AmdStatusCallback:
          description: The URL the result of answering machine detection will be sent to.
          example: https://www.example.com/amd_result
          type: string
        AmdStatusCallbackMethod:
          description: HTTP request type used for `AmdStatusCallback`. Defaults to `POST`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        ApplicationSid:
          description: The SID of the TeXML application that will handle the new participant's call. Required unless joining an existing conference by its ConferenceSid.
          example: '1846572522338780702'
          type: string
        Beep:
          description: Whether to play a notification beep to the conference when the participant enters and exits.
          enum:
          - 'true'
          - 'false'
          - onEnter
          - onExit
          example: onExit
          type: string
        CallSidToCoach:
          description: The SID of the participant who is being coached. The participant being coached is the only participant who can hear the participant who is coaching.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        CallerId:
          description: To be used as the caller id name (SIP From Display Name) presented to the destination (`To` number). The string should have a maximum of 128 characters, containing only letters, numbers, spaces, and `-_~!.+` special characters. If ommited, the display name will be the same as the number in the `From` field.
          example: Info
          type: string
        CancelPlaybackOnDetectMessageEnd:
          default: true
          description: Whether to cancel ongoing playback on `greeting ended` detection. Defaults to `true`.
          example: false
          type: boolean
        CancelPlaybackOnMachineDetection:
          default: true
          description: Whether to cancel ongoing playback on `machine` detection. Defaults to `true`.
          example: false
          type: boolean
        Coaching:
          description: Whether the participant is coaching another call. When `true`, `CallSidToCoach` has to be given.
          example: false
          type: boolean
        ConferenceRecord:
          description: Whether to record the conference the participant is joining. Defualts to `do-not-record`. The boolean values `true` and `false` are synonymous with `record-from-start` and `do-not-record` respectively.
          enum:
          - 'true'
          - 'false'
          - record-from-start
          - do-not-record
          example: record-from-start
          type: string
        ConferenceRecordingStatusCallback:
          description: The URL the conference recording callbacks will be sent to.
          example: https://example.com/conference_recording_status_callback
          type: string
        ConferenceRecordingStatusCallbackEvent:
          description: 'The changes to the conference recording''s state that should generate a call to `RecoridngStatusCallback`. Can be: `in-progress`, `completed` and `absent`. Separate multiple values with a space. Defaults to `completed`. `failed` and `absent` are synonymous.'
          example: in-progress completed failed absent
          type: string
        ConferenceRecordingStatusCallbackMethod:
          description: HTTP request type used for `ConferenceRecordingStatusCallback`. Defaults to `POST`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        ConferenceRecordingTimeout:
          default: 0
          description: The number of seconds that Telnyx will wait for the recording to be stopped if silence is detected. The timer only starts when the speech is detected. Please note that the transcription is used to detect silence and the related charge will be applied. The minimum value is 0. The default value is 0 (infinite)
          example: 5
          type: integer
        ConferenceStatusCallback:
          description: The URL the conference callbacks will be sent to.
          example: https://example.com/conference_status_callback
          type: string
        ConferenceStatusCallbackEvent:
          description: 'The changes to the conference''s state that should generate a call to `ConferenceStatusCallback`. Can be: `start`, `end`, `join` and `leave`. Separate multiple values with a space. By default no callbacks are sent.'
          example: start end join leave
          type: string
        ConferenceStatusCallbackMethod:
          description: HTTP request type used for `ConferenceStatusCallback`. Defaults to `POST`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        ConferenceTrim:
          description: Whether to trim any leading and trailing silence from the conference recording. Defaults to `trim-silence`.
          enum:
          - trim-silence
          - do-not-trim
          example: trim-silence
          type: string
        CustomHeaders:
          description: Custom HTTP headers to be sent with the call. Each header should be an object with 'name' and 'value' properties.
          example:
          - name: X-Custom-Header
            value: custom-value
          items:
            properties:
              name:
                description: The name of the custom header
                type: string
              value:
                description: The value of the custom header
                type: string
            required:
            - name
            - value
            type: object
          type: array
        EarlyMedia:
          default: false
          description: Whether participant shall be bridged to conference before the participant answers (from early media if available). Defaults to `false`.
          example: true
          type: boolean
        EndConferenceOnExit:
          description: Whether to end the conference when the participant leaves. Defaults to `false`.
          example: true
          type: boolean
        From:
          description: The phone number of the party that initiated the call. Phone numbers are formatted with a `+` and country code.
          example: '+16175551212'
          type: string
        Label:
          description: A unique label for the participant that will be added to the conference. The label can be used to reference the participant for updates via the TeXML REST API.
          example: customer
          type: string
        MachineDetection:
          description: Whether to detect if a human or an answering machine picked up the call. Use `Enable` if you would like to ne notified as soon as the called party is identified. Use `DetectMessageEnd`, if you would like to leave a message on an answering machine.
          enum:
          - Enable
          - DetectMessageEnd
          example: Enable
          type: string
        MachineDetectionSilenceTimeout:
          default: 3500
          description: If initial silence duration is greater than this value, consider it a machine. Ignored when `premium` detection is used.
          example: 2000
          type: integer
        MachineDetectionSpeechEndThreshold:
          default: 800
          description: Silence duration threshold after a greeting message or voice for it be considered human. Ignored when `premium` detection is used.
          example: 2000
          type: integer
        MachineDetectionSpeechThreshold:
          default: 3500
          description: Maximum threshold of a human greeting. If greeting longer than this value, considered machine. Ignored when `premium` detection is used.
          example: 2000
          type: integer
        MachineDetectionTimeout:
          description: How long answering machine detection should go on for before sending an `Unknown` result. Given in milliseconds.
          example: 1000
          type: integer
        MaxParticipants:
          description: The maximum number of participants in the conference. Can be a positive integer from 2 to 800. The default value is 250.
          example: 30
          type: integer
        Muted:
          description: Whether the participant should be muted.
          example: true
          type: boolean
        PreferredCodecs:
          description: The list of comma-separated codecs to be offered on a call.
          example: PCMA,PCMU
          type: string
        Record:
          description: Whether to record the entire participant's call leg. Defaults to `false`.
          example: false
          type: boolean
        RecordingChannels:
          description: The number of channels in the final recording. Defaults to `mono`.
          enum:
          - mono
          - dual
          example: dual
          type: string
        RecordingStatusCallback:
          description: The URL the recording callbacks will be sent to.
          example: https://example.com/recording_status_callback
          type: string
        RecordingStatusCallbackEvent:
          description: 'The changes to the recording''s state that should generate a call to `RecoridngStatusCallback`. Can be: `in-progress`, `completed` and `absent`. Separate multiple values with a space. Defaults to `completed`.'
          example: in-progress completed absent
          type: string
        RecordingStatusCallbackMethod:
          description: HTTP request type used for `RecordingStatusCallback`. Defaults to `POST`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        RecordingTrack:
          description: The audio track to record for the call. The default is `both`.
          enum:
          - inbound
          - outbound
          - both
          example: inbound
          type: string
        SipAuthPassword:
          description: The password to use for SIP authentication.
          example: '1234'
          type: string
        SipAuthUsername:
          description: The username to use for SIP authentication.
          example: user
          type: string
        StartConferenceOnEnter:
          description: Whether to start the conference when the participant enters. Defaults to `true`.
          example: false
          type: boolean
        StatusCallback:
          description: URL destination for Telnyx to send status callback events to for the call.
          example: https://www.example.com/callback
          type: string
        StatusCallbackEvent:
          description: 'The changes to the call''s state that should generate a call to `StatusCallback`. Can be: `initiated`, `ringing`, `answered`, and `completed`. Separate multiple values with a space. The default value is `completed`.'
          example: answered completed
          type: string
        StatusCallbackMethod:
          description: HTTP request type used for `StatusCallback`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        TimeLimit:
          description: The maximum duration of the call in seconds.
          example: 30
          type: integer
        Timeout:
          description: The number of seconds that we should allow the phone to ring before assuming there is no answer. Can be an integer between 5 and 120, inclusive. The default value is 30.
          example: 30
          type: integer
          x-stainless-param: timeout_seconds
        To:
          description: The phone number of the called party. Phone numbers are formatted with a `+` and country code.
          example: '+16175551212'
          type: string
        Trim:
          description: Whether to trim any leading and trailing silence from the recording. Defaults to `trim-silence`.
          enum:
          - trim-silence
          - do-not-trim
          example: trim-silence
          type: string
        WaitUrl:
          description: The URL to call for an audio file to play while the participant is waiting for the conference to start.
          example: https://www.example.com/wait_music.mp3
          type: string
      title: Create Conference Participant Request
      type: object
    QueueResource:
      example:
        account_sid: 4e71926f-8f13-450e-b91c-23c2ef786aa6
        average_wait_time: 30
        current_size: 3
        date_created: Fri, 27 Oct 2023 07:41:58 +0000
        date_updated: Fri, 27 Oct 2023 07:41:58 +0000
        max_size: 10
        sid: my-queue
        subresource_uris:
          members: /Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Queues/my-queue/Members.json
        uri: /Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Queues/my-queue.json
      properties:
        account_sid:
          description: The id of the account the resource belongs to.
          example: 4e71926f-8f13-450e-b91c-23c2ef786aa6
          type: string
        average_wait_time:
          description: The average wait time in seconds for members in the queue.
          example: 30
          type: integer
        current_size:
          description: The current number of members in the queue.
          example: 3
          type: integer
        date_created:
          description: The timestamp of when the resource was created.
          example: Fri, 27 Oct 2023 07:41:58 +0000
          type: string
        date_updated:
          description: The timestamp of when the resource was last updated.
          example: Fri, 27 Oct 2023 07:41:58 +0000
          type: string
        max_size:
          description: The maximum size of the queue.
          example: 10
          type: integer
        sid:
          description: The unique identifier of the queue.
          example: my-queue
          type: string
        subresource_uris:
          additionalProperties: true
          description: A list of related resources identified by their relative URIs.
          example:
            members: /Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Queues/my-queue/Members.json
          type: object
        uri:
          description: The relative URI for this queue.
          example: /Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Queues/my-queue.json
          type: string
      title: Queue resource
      type: object
    TexmlCreateSiprecSessionRequestBody:
      properties:
        ConnectorName:
          description: The name of the connector to use for the SIPREC session.
          example: my_connector
          type: string
        IncludeMetadataCustomHeaders:
          description: When set, custom parameters will be added as metadata (recording.session.ExtensionParameters). Otherwise, they’ll be added to sip headers.
          enum:
          - true
          - false
          example: true
          type: boolean
        Name:
          description: Name of the SIPREC session. May be used to stop the SIPREC session from TeXML instruction.
          example: my_siprec_session
          type: string
        Secure:
          description: Controls whether to encrypt media sent to your SRS using SRTP and TLS. When set you need to configure SRS port in your connector to 5061.
          enum:
          - true
          - false
          example: true
          type: boolean
        SessionTimeoutSecs:
          default: 1800
          description: Sets `Session-Expires` header to the INVITE. A reinvite is sent every half the value set. Usefull for session keep alive. Minimum value is 90, set to 0 to disable.
          example: 900
          type: integer
        SipTransport:
          default: udp
          description: Specifies SIP transport protocol.
          enum:
          - udp
          - tcp
          - tls
          example: tcp
          type: string
        StatusCallback:
          description: URL destination for Telnyx to send status callback events to for the siprec session.
          example: https://www.example.com/callback
          type: string
        StatusCallbackMethod:
          description: HTTP request type used for `StatusCallback`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        Track:
          description: The track to be used for siprec session. Can be `both_tracks`, `inbound_track` or `outbound_track`. Defaults to `both_tracks`.
          enum:
          - both_tracks
          - inbound_track
          - outbound_track
          example: both_tracks
          type: string
      title: Create Siprec Session Request
      type: object
    TexmlCreateCallRecordingResponseBody:
      properties:
        account_sid:
          $ref: '#/components/schemas/AccountSid'
        call_sid:
          $ref: '#/components/schemas/CallControlId'
        channels:
          $ref: '#/components/schemas/TwimlRecordingChannels'
        conference_sid:
          $ref: '#/components/schemas/ConferenceSid'
        date_created:
          $ref: '#/components/schemas/DateTimeRFC2822'
        date_updated:
          $ref: '#/components/schemas/DateTimeRFC2822'
        duration:
          $ref: '#/components/schemas/TexmlRecordingDuration'
        error_code:
          $ref: '#/components/schemas/TexmlErrorCode'
        price:
          $ref: '#/components/schemas/TexmlRecordingPrice'
        price_unit:
          $ref: '#/components/schemas/TexmlPriceUnit'
        sid:
          $ref: '#/components/schemas/TexmlSid'
        source:
          $ref: '#/components/schemas/RecordingSource'
        start_time:
          $ref: '#/components/schemas/DateTimeRFC2822'
        track:
          $ref: '#/components/schemas/RecordingTrack'
        uri:
          description: The relative URI for this recording resource.
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Calls/v3:KBnLO0ZK3DhKM5s7bE9VluaSmKsOchKht_fUYvxcp8ysbmzCCtpkmA/Recordings/b08f0fa1-a32c-4218-b3b5-9cf78941ccac.json
          type: string
      title: Texml Create Call Recording Response Body
      type: object
    SendRecordingUrl:
      default: true
      description: Whether to send RecordingUrl in webhooks.
      example: false
      type: boolean
    ParticipantResourceIndex:
      example:
        end: 0
        first_page_uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences/6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f/Participants.json?page=0&pagesize=20
        page: 0
        page_size: 20
        participants: []
        start: 0
[...]
