openapi: 3.2.0
info:
  title: Telnyx Wireless Blocklists API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Wireless Blocklists across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Wireless Blocklists operations
  name: Wireless Blocklists
paths:
  /wireless_blocklist_values:
    get:
      description: Retrieve all wireless blocklist values for a given blocklist type.
      operationId: WirelessBlocklistsGetAll
      parameters:
      - description: The Wireless Blocklist type for which to list possible values (e.g., `country`, `mcc`, `plmn`).
        in: query
        name: type
        required: true
        schema:
          enum:
          - country
          - mcc
          - plmn
          example: country
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    oneOf:
                    - items:
                        $ref: '#/components/schemas/Country'
                      title: Country
                      type: array
                    - items:
                        $ref: '#/components/schemas/MCC'
                      title: MCC
                      type: array
                    - items:
                        $ref: '#/components/schemas/PLMN'
                      title: PLMN
                      type: array
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                type: object
          description: A list of possible wireless blocklist values
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get all possible wireless blocklist values
      tags:
      - Wireless Blocklists
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /wireless_blocklists:
    get:
      description: Get all Wireless Blocklists belonging to the user.
      operationId: GetWirelessBlocklistsGateways
      parameters:
      - $ref: '#/components/parameters/wireless_PageNumber'
      - $ref: '#/components/parameters/wireless_PageSize'
      - description: The name of the Wireless Blocklist.
        example: my private gateway
        in: query
        name: filter[name]
        required: false
        schema:
          type: string
      - description: When the Private Wireless Gateway was last updated.
        example: country
        in: query
        name: filter[type]
        required: false
        schema:
          type: string
      - description: Values to filter on (inclusive).
        example: US,CA
        in: query
        name: filter[values]
        required: false
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/GetAllWirelessBlocklistsResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get all Wireless Blocklists
      tags:
      - Wireless Blocklists
      x-latency-category: responsive
    post:
      description: Create a Wireless Blocklist to prevent SIMs from connecting to certain networks.
      operationId: CreateWirelessBlocklist
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The name of the Wireless Blocklist.
                  example: My Wireless Blocklist
                  type: string
                type:
                  description: The type of wireless blocklist.
                  enum:
                  - country
                  - mcc
                  - plmn
                  example: country
                  type: string
                values:
                  description: Values to block. The values here depend on the `type` of Wireless Blocklist.
                  example:
                  - CA
                  - US
                  items:
                    anyOf:
                    - $ref: '#/components/schemas/CountryCode'
                    - $ref: '#/components/schemas/MobileCountryCode'
                    - $ref: '#/components/schemas/PLMNCode'
                  type: array
              required:
              - name
              - type
              - values
              type: object
        required: true
      responses:
        '202':
          $ref: '#/components/responses/CreateWirelessBlocklistResponse'
        '422':
          $ref: '#/components/responses/wireless_UnprocessableEntity'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Create a Wireless Blocklist
      tags:
      - Wireless Blocklists
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /wireless_blocklists/{id}:
    delete:
      description: Deletes the Wireless Blocklist.
      operationId: DeleteWirelessBlocklist
      parameters:
      - $ref: '#/components/parameters/WirelessBlocklistId'
      responses:
        '200':
          $ref: '#/components/responses/DeleteWirelessBlocklistResponse'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Delete a Wireless Blocklist
      tags:
      - Wireless Blocklists
      x-latency-category: responsive
    get:
      description: Retrieve information about a Wireless Blocklist.
      operationId: GetWirelessBlocklist
      parameters:
      - $ref: '#/components/parameters/WirelessBlocklistId'
      responses:
        '200':
          $ref: '#/components/responses/GetWirelessBlocklistResponse'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get a Wireless Blocklist
      tags:
      - Wireless Blocklists
      x-latency-category: responsive
    patch:
      description: Update a Wireless Blocklist.
      operationId: UpdateWirelessBlocklist
      parameters:
      - $ref: '#/components/parameters/WirelessBlocklistId'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The name of the Wireless Blocklist.
                  example: My Wireless Blocklist
                  type: string
                values:
                  description: Values to block. The values here depend on the `type` of Wireless Blocklist.
                  example:
                  - CA
                  - US
                  items:
                    anyOf:
                    - $ref: '#/components/schemas/CountryCode'
                    - $ref: '#/components/schemas/MobileCountryCode'
                    - $ref: '#/components/schemas/PLMNCode'
                  type: array
              type: object
        required: true
      responses:
        '202':
          $ref: '#/components/responses/UpdateWirelessBlocklistResponse'
        '422':
          $ref: '#/components/responses/wireless_UnprocessableEntity'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Update a Wireless Blocklist
      tags:
      - Wireless Blocklists
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
components:
  parameters:
    WirelessBlocklistId:
      description: Identifies the wireless blocklist.
      in: path
      name: id
      required: true
      schema:
        example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        format: uuid
        type: string
    wireless_PageNumber:
      description: The page number to load.
      in: query
      name: page[number]
      schema:
        default: 1
        minimum: 1
        type: integer
    wireless_PageSize:
      description: The size of the page.
      in: query
      name: page[size]
      schema:
        default: 20
        maximum: 250
        minimum: 1
        type: integer
    wireless_PageSize_c5290d5308:
      name: page[size]
      in: query
      description: The size of the page.
      schema:
        type: integer
        minimum: 1
        maximum: 250
        default: 20
    wireless_PageNumber_c5290d5308:
      name: page[number]
      in: query
      description: The page number to load.
      schema:
        type: integer
        minimum: 1
        default: 1
  responses:
    GetAllWirelessBlocklistsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/WirelessBlocklist'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful Response
    UpdateWirelessBlocklistResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/WirelessBlocklist'
            type: object
      description: Successful response
    wireless_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unexpected error
    GetWirelessBlocklistResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/WirelessBlocklist'
            type: object
      description: Successful Response
    wireless_ResourceNotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Error'
      description: Resource not found
    DeleteWirelessBlocklistResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/WirelessBlocklist'
            type: object
      description: Successful Response
    wireless_UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unprocessable entity. Check the 'detail' field in response for details.
    CreateWirelessBlocklistResponse:
      content:
        application/json:
          schema:
            example:
              data:
                created_at: '2018-02-02T22:25:27.521Z'
                id: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
                name: North American Wireless Blocklist
                record_type: wireless_blocklist
                type: country
                updated_at: '2018-02-02T22:25:27.521Z'
                values:
                - CA
                - MX
                - US
            properties:
              data:
                $ref: '#/components/schemas/WirelessBlocklist'
            type: object
      description: Successful Response
    wireless_GenericErrorResponse_c5290d5308:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            unexpectedError:
              summary: Unexpected API error
              value:
                errors:
                - code: '10007'
                  title: Unexpected error
                  detail: An unexpected error occured.
    wireless_UnprocessableEntity_c5290d5308:
      description: Unprocessable entity. Check the 'detail' field in response for details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            unprocessableEntity:
              summary: Request could not be processed
              value:
                errors:
                - code: '10027'
                  title: Unprocessable Entity
                  detail: The server understood the syntax of the request but was unable to process the instructions.
    ResourceNotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/documents_Error'
  schemas:
    PLMNCode:
      description: Public land mobile network code (MCC + MNC).
      example: '311210'
      type: string
    wireless_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    Country:
      properties:
        code:
          description: ISO 3166-1 Alpha-2 Country Code.
          example: US
          type: string
        name:
          description: The name of the country.
          example: United States of America
          type: string
      required:
      - code
      - name
      title: Country
      type: object
    WirelessBlocklist:
      properties:
        created_at:
          description: ISO 8601 formatted date-time indicating when the resource was created.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        id:
          description: Identifies the resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          readOnly: true
          type: string
        name:
          description: The wireless blocklist name.
          example: My wireless blocklist.
          type: string
        record_type:
          example: wireless_blocklist
          readOnly: true
          type: string
        type:
          default: country
          description: The type of the wireless blocklist.
          enum:
          - country
          - mcc
          - plmn
          example: country
          type: string
        updated_at:
          description: ISO 8601 formatted date-time indicating when the resource was updated.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        values:
          description: Values to block. The values here depend on the `type` of Wireless Blocklist.
          example:
          - CA
          - MX
          - US
          items:
            anyOf:
            - $ref: '#/components/schemas/CountryCode'
            - $ref: '#/components/schemas/MobileCountryCode'
            - $ref: '#/components/schemas/PLMNCode'
          type: array
      type: object
    MobileCountryCode:
      description: Mobile Country Code.
      example: '311'
      type: string
    PaginationMeta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      type: object
    MCC:
      properties:
        code:
          description: Mobile Country Code.
          example: '311'
          type: string
        name:
          description: The name of the country.
          example: United States of America
          type: string
      required:
      - code
      - name
      title: Mobile Country Code
      type: object
    CountryCode:
      description: ISO 3166-1 Alpha-2 Country Code.
      example: US
      type: string
    wireless_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/wireless_Error'
          type: array
      type: object
    PLMN:
      properties:
        code:
          description: Public land mobile network code (MCC + MNC).
          example: '311210'
          type: string
        name:
          description: The name of the network.
          example: Telnyx, LLC
          type: string
      required:
      - code
      - name
      title: Public land mobile network
      type: object
    wireless_Error_c5290d5308:
      required:
      - code
      - title
      properties:
        code:
          type: string
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          additionalProperties: true
      type: object
    documents_Error:
      required:
      - code
      - title
      properties:
        code:
          type: string
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          additionalProperties: true
      type: object
    Errors:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/billing-group_Error'
      type: object
    wireless_MCC:
      type: object
      title: Mobile Country Code
      properties:
        mcc:
          type: string
          description: Mobile Country Code.
          example: '310'
      required:
      - mcc
    wireless_Country:
      type: object
      title: Country
      properties:
        country_code:
          type: string
          description: ISO 3166-1 Alpha-2 Country Code.
          example: US
      required:
      - country_code
    wireless_WirelessBlocklist:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Identifies the resource.
          readOnly: true
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        created_at:
          type: string
          description: ISO 8601 formatted date-time indicating when the resource was created.
          readOnly: true
          example: '2018-02-02T22:25:27.521Z'
        updated_at:
          type: string
          description: ISO 8601 formatted date-time indicating when the resource was updated.
          readOnly: true
          example: '2018-02-02T22:25:27.521Z'
        name:
          description: The wireless blocklist name.
          type: string
          example: My wireless blocklist.
        type:
          description: The type of the wireless blocklist.
          type: string
          enum:
          - country
          - mcc
          - plmn
          default: country
          example: country
        values:
          description: Values to block. The values here depend on the `type` of Wireless Blocklist.
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/CountryCode'
            - $ref: '#/components/schemas/MobileCountryCode'
            - $ref: '#/components/schemas/PLMNCode'
          example:
          - CA
          - MX
          - US
    wireless_PLMN:
      type: object
      title: Public land mobile network
      properties:
        plmn:
          type: string
          description: Public land mobile network code (MCC + MNC).
          example: '310260'
      required:
      - plmn
    billing-group_Error:
      type: object
      required:
      - code
      - title
      properties:
        code:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          properties: {}
          additionalProperties: true
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
