openapi: 3.2.0
info:
  version: 2.0.0
  x-latency-category: responsive
  x-endpoint-cost: light
  title: Telnyx Namespaces API
  description: SIP trunking, SMS, MMS, Call Control and Telephony Data Services.
  contact:
    email: support@telnyx.com
servers:
- url: https://api.telnyx.com/v2
  description: Version 2.0.0 of the Telnyx API
security:
- bearerAuth: []
tags:
- name: Namespaces
paths:
  /ai/memory/namespaces:
    get:
      summary: List your namespaces
      operationId: ListNamespaces
      tags:
      - Namespaces
      description: Every namespace in your organization, `default` among them.
      responses:
        '200':
          description: Your namespaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResponse'
              example:
                data:
                - id: 1f815759-d4d8-5548-aa5b-077a60b9f8dd
                  name: default
                - id: b3c17d90-2e4f-5a1b-9c8d-6f0a2b3c4d5e
                  name: staging
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelnyxErrors'
              example:
                errors:
                - code: '10009'
                  title: Authentication failed
                  detail: Could not find any usable credentials in the request.
                  source:
                    pointer: /
                  meta:
                    url: https://developers.telnyx.com/docs/overview/errors/10009
        '502':
          description: Upstream error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelnyxErrors'
              example:
                errors:
                - code: upstream_error
                  detail: the memory dataplane is unavailable
    post:
      summary: Create a namespace
      operationId: CreateNamespace
      tags:
      - Namespaces
      description: Create a namespace. An organization can have at most five, `default` among them — a sixth returns `403`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamespaceCreate'
            example:
              name: staging
      responses:
        '201':
          description: The created namespace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResponse'
              example:
                data:
                  id: b3c17d90-2e4f-5a1b-9c8d-6f0a2b3c4d5e
                  name: staging
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelnyxErrors'
              example:
                errors:
                - code: '10009'
                  title: Authentication failed
                  detail: Could not find any usable credentials in the request.
                  source:
                    pointer: /
                  meta:
                    url: https://developers.telnyx.com/docs/overview/errors/10009
        '403':
          description: Namespace limit reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelnyxErrors'
              example:
                errors:
                - code: '10039'
                  title: Forbidden
                  detail: an organization can have 5 namespaces, `default` among them, and this one already has that many
                  meta:
                    url: https://developers.telnyx.com/docs/overview/errors/10039
        '502':
          description: Upstream error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelnyxErrors'
              example:
                errors:
                - code: upstream_error
                  detail: the memory dataplane is unavailable
  /ai/memory/namespaces/{namespace}:
    delete:
      summary: Delete a namespace
      operationId: DeleteNamespace
      tags:
      - Namespaces
      description: Delete a namespace and every profile and memory in it. `default` cannot be deleted. This cannot be undone.
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
          description: The namespace to delete. `default` cannot be deleted.
        description: The namespace to delete. `default` cannot be deleted.
      responses:
        '204':
          description: The namespace was deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelnyxErrors'
              example:
                errors:
                - code: '10009'
                  title: Authentication failed
                  detail: Could not find any usable credentials in the request.
                  source:
                    pointer: /
                  meta:
                    url: https://developers.telnyx.com/docs/overview/errors/10009
        '404':
          description: No such namespace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelnyxErrors'
              example:
                errors:
                - code: '10005'
                  title: Resource not found
                  detail: no such namespace
                  meta:
                    url: https://developers.telnyx.com/docs/overview/errors/10005
        '502':
          description: Upstream error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelnyxErrors'
              example:
                errors:
                - code: upstream_error
                  detail: the memory dataplane is unavailable
components:
  schemas:
    Namespace:
      properties:
        id:
          type: string
          title: Id
          description: The namespace's unique identifier.
        name:
          type: string
          title: Name
          description: The namespace's name, used in the path. `default` exists for every organization.
      type: object
      required:
      - id
      - name
      title: Namespace
      description: An isolated memory store within your organization.
    TelnyxErrors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/TelnyxError'
    NamespaceCreate:
      properties:
        name:
          type: string
          title: Name
          description: A name for the new namespace, unique within your organization.
      type: object
      required:
      - name
      title: NamespaceCreate
    NamespaceListResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Namespace'
          type: array
          title: Data
      type: object
      required:
      - data
      title: NamespaceListResponse
    NamespaceResponse:
      properties:
        data:
          $ref: '#/components/schemas/Namespace'
      type: object
      required:
      - data
      title: NamespaceResponse
    TelnyxError:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              type: string
        meta:
          type: object
          properties:
            url:
              type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    bearerAuth:
      type: http
      scheme: bearer
    branded-calling_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    oauthClientAuth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          tokenUrl: https://api.telnyx.com/v2/oauth/token
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
    outbound-voice-profiles_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    pronunciation-dicts_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    stored-payment-transactions_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-service-info:
  categories:
  - communication
  - developer-tools
  docs:
    apiReference: https://developers.telnyx.com
    homepage: https://telnyx.com
    llms: https://telnyx.com/llms.txt
