openapi: 3.2.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Presigned Object URLs API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Presigned object URL operations
  name: Presigned Object URLs
paths:
  /storage/buckets/{bucketName}/{objectName}/presigned_url:
    post:
      deprecated: false
      description: "Returns a timed and authenticated URL to download (GET) or upload (PUT) an object. This is the equivalent to AWS S3’s “presigned” URL. Please note that Telnyx performs authentication differently from AWS S3 and you MUST NOT use the presign method of AWS s3api CLI or SDK to generate the presigned URL. \n\nRefer to: https://developers.telnyx.com/docs/cloud-storage/presigned-urls\n"
      operationId: CreatePresignedObjectUrl
      parameters:
      - description: The name of the bucket
        example: ''
        in: path
        name: bucketName
        required: true
        schema:
          type: string
      - description: The name of the object
        example: ''
        in: path
        name: objectName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresignedObjectUrlParams'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignedObjectUrl'
          description: Presigned URL Object Response
          headers: {}
        '401':
          description: Unauthorized
        '404':
          description: Bucket or object not found
        '422':
          description: Unprocessable Entity
      summary: Create Presigned Object URL
      tags:
      - Presigned Object URLs
      x-latency-category: responsive
components:
  schemas:
    PresignedObjectUrlParams:
      properties:
        ttl:
          description: The time to live of the token in seconds
          example: 60
          maximum: 604800
          minimum: 1
          type: integer
      type: object
    PresignedObjectUrl:
      properties:
        content:
          properties:
            expires_at:
              description: The expiration time of the token
              format: date-time
              type: string
            presigned_url:
              description: The presigned URL for the object
              type: string
            token:
              description: The token for the object
              type: string
          type: object
      type: object
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
