openapi: 3.2.0
info:
  title: Telnyx Reports API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Reports across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Ledger billing reports
  name: Reports
paths:
  /ledger_billing_group_reports:
    post:
      deprecated: false
      description: ''
      operationId: CreateBillingGroupReport
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              month: 10
              year: 2019
            schema:
              $ref: '#/components/schemas/NewLedgerBillingGroupReport'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/LedgerBillingGroupReport'
                type: object
          description: Expected ledger billing group report response to a valid request
          headers: {}
        '401':
          $ref: '#/components/responses/GenericErrorResponse'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
          headers: {}
      summary: Create a ledger billing group report
      tags:
      - Reports
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /ledger_billing_group_reports/{id}:
    get:
      deprecated: false
      description: ''
      operationId: GetBillingGroupReport
      parameters:
      - description: The id of the ledger billing group report
        example: f5586561-8ff0-4291-a0ac-84fe544797bd
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/LedgerBillingGroupReport'
                type: object
          description: Expected ledger billing group report response to a valid request
          headers: {}
        '401':
          $ref: '#/components/responses/GenericErrorResponse'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unexpected error
          headers: {}
      summary: Get a ledger billing group report
      tags:
      - Reports
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
components:
  schemas:
    billing_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/billing_Error'
          type: array
      type: object
    Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/billing-group_Error'
          type: array
      type: object
    NewLedgerBillingGroupReport:
      example:
        month: 10
        year: 2019
      properties:
        month:
          description: Month of the ledger billing group report
          example: 10
          type: integer
        year:
          description: Year of the ledger billing group report
          example: 2019
          type: integer
      type: object
    billing_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    billing-group_Error:
      properties:
        code:
          format: int32
          type: integer
        detail:
          type: string
        meta:
          additionalProperties: true
          properties: {}
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    LedgerBillingGroupReport:
      example:
        created_at: '2019-10-15T10:07:15.527Z'
        id: f5586561-8ff0-4291-a0ac-84fe544797bd
        organization_id: f5586561-8ff0-4291-a0ac-84fe544797bd
        record_type: ledger_billing_group_report
        report_url: https://example.com
        updated_at: '2019-10-15T10:07:15.527Z'
      properties:
        created_at:
          description: ISO 8601 formatted date indicating when the resource was created.
          format: date-time
          type: string
        id:
          description: Identifies the type of resource.
          format: uuid
          type: string
        organization_id:
          description: Uniquely identifies the organization that owns the resource.
          format: uuid
          type: string
        record_type:
          description: Identifies the type of the resource.
          enum:
          - ledger_billing_group_report
          example: ledger_billing_group_report
          type: string
        report_url:
          description: External url of the ledger billing group report, if the status is complete
          format: uri
          type:
          - string
          - 'null'
        status:
          description: Status of the ledger billing group report
          enum:
          - pending
          - complete
          - failed
          - deleted
          type: string
        updated_at:
          description: ISO 8601 formatted date indicating when the resource was updated.
          format: date-time
          type: string
      type: object
  responses:
    GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/billing_Errors'
      description: Unexpected error
    GenericErrorResponse_2:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
