openapi: 3.2.0
info:
  title: Telnyx Whatsapp Business Accounts API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Whatsapp Business Accounts across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Manage Whatsapp business accounts
  name: Whatsapp Business Accounts
paths:
  /v2/whatsapp/business_accounts:
    get:
      operationId: ListWabas
      parameters:
      - $ref: '#/components/parameters/PageConsolidated'
      responses:
        '200':
          $ref: '#/components/responses/WabasListResponse'
          description: List of Whatsapp Business Accounts
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: List Whatsapp Business Accounts
      tags:
      - Whatsapp Business Accounts
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /v2/whatsapp/business_accounts/{id}:
    delete:
      operationId: deleteWaba
      parameters:
      - $ref: '#/components/parameters/WabaId'
      responses:
        '204':
          description: Deleted
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: Delete a Whatsapp Business Account
      tags:
      - Whatsapp Business Accounts
      x-latency-category: responsive
    get:
      operationId: GetSingleWaba
      parameters:
      - $ref: '#/components/parameters/WabaId'
      responses:
        '200':
          $ref: '#/components/responses/WabaSingleResponse'
          description: Whatsapp Business Account details
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: Get a single Whatsapp Business Account
      tags:
      - Whatsapp Business Accounts
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /v2/whatsapp/business_accounts/{id}/phone_numbers:
    get:
      operationId: ListWabaPhones
      parameters:
      - $ref: '#/components/parameters/WabaId'
      - $ref: '#/components/parameters/PageConsolidated'
      responses:
        '200':
          $ref: '#/components/responses/WhatsappPhonesListResponse'
          description: List of phone numbers
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: List phone numbers for a WABA
      tags:
      - Whatsapp Business Accounts
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /v2/whatsapp/business_accounts/{id}/settings:
    get:
      operationId: GetWabaSettings
      parameters:
      - $ref: '#/components/parameters/WabaId'
      responses:
        '200':
          $ref: '#/components/responses/WabaSettingsResponse'
          description: WABA settings
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: Get WABA settings
      tags:
      - Whatsapp Business Accounts
      x-latency-category: responsive
    patch:
      operationId: PatchWabaSettings
      parameters:
      - $ref: '#/components/parameters/WabaId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchWabaSettingsRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/WabaSettingsResponse'
          description: Updated settings
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: Update WABA settings
      tags:
      - Whatsapp Business Accounts
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /v2/whatsapp/user_data:
    get:
      tags:
      - Whatsapp Business Accounts
      summary: Fetch Whatsapp user data
      operationId: GetWhatsappUserData
      responses:
        '200':
          description: Whatsapp user data
          $ref: '#/components/responses/WhatsappUserDataResponse'
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse_0b38e7044b'
      description: Returns the WhatsApp user-data settings associated with the authenticated Telnyx account.
    patch:
      tags:
      - Whatsapp Business Accounts
      summary: Update Whatsapp user data
      operationId: PatchWhatsappUserData
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchWhatsappUserDataRequest'
            example:
              webhook_url: https://example.com
              webhook_failover_url: https://example.com
      responses:
        '200':
          description: Updated user data
          $ref: '#/components/responses/WhatsappUserDataResponse'
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse_0b38e7044b'
      description: Updates the supplied WhatsApp user-data settings for the authenticated Telnyx account.
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /whatsapp/business_accounts:
    get:
      tags:
      - Whatsapp Business Accounts
      summary: List Whatsapp Business Accounts
      operationId: ListWabas_2
      parameters:
      - $ref: '#/components/parameters/PageConsolidated'
      responses:
        '200':
          description: List of Whatsapp Business Accounts
          $ref: '#/components/responses/WabasListResponse'
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Retrieve a list of the WhatsApp Business Accounts (WABAs) connected to your Telnyx account.
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /whatsapp/business_accounts/{id}:
    delete:
      tags:
      - Whatsapp Business Accounts
      summary: Delete a Whatsapp Business Account
      operationId: deleteWaba_2
      parameters:
      - $ref: '#/components/parameters/WabaId'
      responses:
        '204':
          description: Deleted
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Delete a WhatsApp Business Account connection from your Telnyx account.
    get:
      tags:
      - Whatsapp Business Accounts
      summary: Get a single Whatsapp Business Account
      operationId: GetSingleWaba_2
      parameters:
      - $ref: '#/components/parameters/WabaId'
      responses:
        '200':
          description: Whatsapp Business Account details
          $ref: '#/components/responses/WabaSingleResponse'
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Retrieve the details of a specific WhatsApp Business Account.
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /whatsapp/business_accounts/{id}/phone_numbers:
    get:
      tags:
      - Whatsapp Business Accounts
      summary: List phone numbers for a WABA
      operationId: ListWabaPhones_2
      parameters:
      - $ref: '#/components/parameters/WabaId'
      - $ref: '#/components/parameters/PageConsolidated'
      responses:
        '200':
          description: List of phone numbers
          $ref: '#/components/responses/WhatsappPhonesListResponse'
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: List the phone numbers associated with a WhatsApp Business Account.
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /whatsapp/business_accounts/{id}/settings:
    get:
      tags:
      - Whatsapp Business Accounts
      summary: Get WABA settings
      operationId: GetWabaSettings_2
      parameters:
      - $ref: '#/components/parameters/WabaId'
      responses:
        '200':
          description: WABA settings
          $ref: '#/components/responses/WabaSettingsResponse'
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Retrieve the settings of a WhatsApp Business Account.
    patch:
      tags:
      - Whatsapp Business Accounts
      summary: Update WABA settings
      operationId: PatchWabaSettings_2
      parameters:
      - $ref: '#/components/parameters/WabaId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchWabaSettingsRequest'
      responses:
        '200':
          description: Updated settings
          $ref: '#/components/responses/WabaSettingsResponse'
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Update the settings of a WhatsApp Business Account.
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
components:
  responses:
    messaging_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/messaging_Errors'
      description: Unexpected error
    WabaSingleResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/WabaResponse'
            type: object
      description: Successful response with Whatsapp business account
    WhatsappPhonesListResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/WhatsappPhoneResponse'
                type: array
              meta:
                $ref: '#/components/schemas/messaging_PaginationMeta'
            type: object
      description: Successful response with Whatsapp phone numbers
    WabasListResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/WabaResponse'
                type: array
              meta:
                $ref: '#/components/schemas/messaging_PaginationMeta'
            type: object
      description: Successful response with list of Whatsapp business accounts
    WabaSettingsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/WabaSettings'
            type: object
      description: Successful response with Whatsapp business account settings
    messaging_WabasListResponse:
      description: Successful response with list of Whatsapp business accounts
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/WabaResponse'
              meta:
                $ref: '#/components/schemas/messaging_PaginationMeta_0b38e7044b'
    WhatsappUserDataResponse:
      description: Successful response with Whatsapp user data
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                $ref: '#/components/schemas/WhatsappUserData'
    management_messaging_GenericErrorResponse:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/messaging_Errors'
          example:
            errors:
            - code: string
              title: string
              detail: string
              source:
                pointer: /data/attributes/phone_number
                parameter: string
    messaging_WhatsappPhonesListResponse:
      description: Successful response with Whatsapp phone numbers
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/WhatsappPhoneResponse_2'
              meta:
                $ref: '#/components/schemas/messaging_PaginationMeta_0b38e7044b'
    messaging_GenericErrorResponse_0b38e7044b:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/messaging_Errors_0b38e7044b'
          example:
            errors:
            - code: string
              title: string
              detail: string
              source:
                pointer: /data/attributes/phone_number
                parameter: string
  schemas:
    messaging_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/messaging_Error'
          type: array
    WabaSettings:
      properties:
        id:
          description: Internal ID of Whatsapp business account
          format: uuid
          type: string
        name:
          type: string
        record_type:
          example: whatsapp_business_account_settings
          type: string
        timezone:
          example: America/Chicago
          type: string
        updated_at:
          format: date-time
          type: string
        webhook_enabled:
          description: Enable/disable receiving Whatsapp events
          type: boolean
        webhook_events:
          items:
            description: Whatsapp event to subscribe to
            type: string
          type: array
        webhook_failover_url:
          description: Failover URL to receive Whatsapp events
          format: url
          type: string
        webhook_url:
          description: URL to receive Whatsapp events
          format: url
          type: string
      type: object
    WhatsappPhoneResponse:
      properties:
        calling_enabled:
          type: boolean
        created_at:
          format: date-time
          type: string
        display_name:
          type: string
        enabled:
          type: boolean
        phone_number:
          description: Phone number in E164 format
          type: string
        phone_number_id:
          description: Whatsapp phone number ID
          type: string
        quality_rating:
          description: Whatsapp quality rating
          type: string
        record_type:
          example: whatsapp_business_phone_number
          type: string
        status:
          type: string
        user_id:
          description: User ID
          type: string
        waba_id:
          description: WABA ID of Whatsapp business account
          type: string
      type: object
    PatchWabaSettingsRequest:
      properties:
        name:
          type: string
        timezone:
          description: IANA timezone identifier
          example: America/New_York
          type: string
        webhook_enabled:
          description: Enable/disable receiving Whatsapp events
          type: boolean
        webhook_events:
          items:
            description: Whatsapp event to subscribe to
            type: string
          type: array
        webhook_failover_url:
          description: Failover URL to send Whatsapp events
          format: url
          type: string
        webhook_url:
          description: URL to send Whatsapp events
          format: url
          type: string
      type: object
    messaging_Error:
      properties:
        code:
          type: string
          x-format: integer
        detail:
          type: string
        meta:
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              format: json-pointer
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
    WabaResponse:
      properties:
        account_review_status:
          description: Account review status of Whatsapp business account
          type: string
        business_verification_status:
          description: Business verification status of Whatsapp business account
          type: string
        country:
          description: Country associated with Whatsapp business account
          type: string
        created_at:
          format: date-time
          type: string
        id:
          description: Internal ID of Whatsapp business account
          format: uuid
          type: string
        name:
          description: Name of Whatsapp business account
          type: string
        phone_numbers_count:
          description: Count of phone numbers associated with Whatsapp business account
          type: integer
        record_type:
          example: whatsapp_business_account
          type: string
        status:
          description: Status of Whatsapp business account
          type: string
        waba_id:
          description: WABA ID of Whatsapp business account
          type: string
      type: object
    messaging_PaginationMeta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      required:
      - total_pages
      - total_results
      - page_size
      - page_number
      type: object
    messaging_Error_0b38e7044b:
      required:
      - code
      - title
      properties:
        code:
          type: string
          x-format: integer
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
              format: json-pointer
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
    WhatsappUserData:
      type: object
      properties:
        record_type:
          type: string
          example: whatsapp_user_data
        webhook_url:
          type: string
          format: url
          description: URL to receive Whatsapp signup events
        webhook_failover_url:
          type: string
          format: url
          description: Failover URL to receive Whatsapp signup events
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PatchWhatsappUserDataRequest:
      type: object
      properties:
        webhook_url:
          type: string
          format: url
          description: URL to send Whatsapp signup events
        webhook_failover_url:
          type: string
          format: url
          description: Failover URL to send Whatsapp signup events
    WhatsappPhoneResponse_2:
      type: object
      properties:
        record_type:
          type: string
          example: whatsapp_business_phone_number
        phone_number:
          type: string
          description: Phone number in E164 format
        phone_number_id:
          type: string
          description: Whatsapp phone number ID
        waba_id:
          type: string
          description: WABA ID of Whatsapp business account
        user_id:
          type: string
          description: User ID
        display_name:
          type: string
        quality_rating:
          type: string
          description: Whatsapp quality rating
        status:
          type: string
        created_at:
          type: string
          format: date-time
        enabled:
          type: boolean
        calling_enabled:
          type: boolean
        is_on_biz_app:
          type: boolean
          description: Indicates whether the number is connected to both the WhatsApp Business app and Cloud API through WhatsApp Coexistence.
        coexistence_state:
          type:
          - string
          - 'null'
          enum:
          - pending_onboarding
          - sync_pending
          - syncing
          - sync_complete
          - active
          - history_declined
          - sync_deadline_expired
          - offboarded
          - disconnected
          - null
          description: Current lifecycle state for a coexistence number. This is null for a standard Cloud API number.
        sync_deadline:
          type:
          - string
          - 'null'
          format: date-time
          description: Deadline for initiating the current coexistence synchronization cycle. This is null when no deadline applies.
        sync_progress:
          type:
          - object
          - 'null'
          description: Synchronization progress. This object is returned only while a coexistence number is synchronizing.
          properties:
            contacts_status:
              type: string
            history_status:
              type: string
            history_phase:
              type:
              - integer
              - 'null'
            history_chunk_order:
              type:
              - integer
              - 'null'
            history_progress:
              type:
              - integer
              - 'null'
              minimum: 0
              maximum: 100
    messaging_Errors_0b38e7044b:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/messaging_Error_0b38e7044b'
    messaging_PaginationMeta_0b38e7044b:
      type: object
      required:
      - total_pages
      - total_results
      - page_size
      - page_number
      properties:
        total_pages:
          type: integer
          example: 3
        total_results:
          type: integer
          example: 55
        page_number:
          type: integer
          example: 2
        page_size:
          type: integer
          example: 25
  parameters:
    PageConsolidated:
      description: 'Consolidated page parameter (deepObject style). Originally: page[number], page[size]'
      explode: true
      in: query
      name: page
      schema:
        properties:
          number:
            default: 1
            description: The page number to load
            minimum: 1
            type: integer
          size:
            default: 20
            description: The size of the page
            maximum: 250
            minimum: 1
            type: integer
        type: object
      style: deepObject
    WabaId:
      description: Whatsapp Business Account ID
      in: path
      name: id
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
