openapi: 3.2.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx SETI Observability API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Observability into Telnyx platform stability and performance.
  name: SETI Observability
paths:
  /seti/black_box_test_results:
    get:
      description: Returns the results of the various black box tests
      operationId: GetBlackBoxTestResults
      parameters:
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[product]'
        explode: true
        in: query
        name: filter
        required: false
        schema:
          properties:
            product:
              description: Filter results for a specific product.
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/BlackBoxTestResultsResponse'
        '401':
          description: Unauthorized
      summary: Retrieve Black Box Test Results
      tags:
      - SETI Observability
      x-latency-category: responsive
components:
  responses:
    BlackBoxTestResultsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/BlackBoxTestResultSet'
                type: array
            type: object
      description: A list of black box test results.
  schemas:
    BlackBoxTestResult:
      properties:
        id:
          description: The name of the black box test.
          example: msg_overview_outbound_sms
          type: string
        record_type:
          example: black_box_test
          type: string
        result:
          description: The average result of the black box test over the last hour.
          example: 0.999
          type: number
      type: object
    BlackBoxTestResultSet:
      properties:
        black_box_tests:
          items:
            $ref: '#/components/schemas/BlackBoxTestResult'
          type: array
        product:
          description: The product associated with the black box test group.
          example: cloud_storage
          type: string
        record_type:
          example: black_box_test_result
          type: string
      type: object
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
