openapi: 3.2.0
info:
  title: Telnyx Coverage API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Coverage across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- name: Coverage
paths:
  /network_coverage:
    get:
      description: List all locations and the interfaces that region supports
      operationId: ListNetworkCoverage
      parameters:
      - description: 'Consolidated filters parameter (deepObject style). Originally: filters[available_services][contains]'
        explode: true
        in: query
        name: filters
        schema:
          additionalProperties: false
          properties:
            available_services:
              oneOf:
              - $ref: '#/components/schemas/AvailableService'
                description: Filter by exact available service match
              - additionalProperties: false
                description: Available service filtering operations
                properties:
                  contains:
                    $ref: '#/components/schemas/AvailableService'
                    description: Filter by available services containing the specified service
                type: object
          type: object
        style: deepObject
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[location.region], filter[location.site], filter[location.pop], filter[location.code]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            location.code:
              description: The code of associated location to filter on.
              example: silicon_valley-ca
              type: string
            location.pop:
              description: The POP of associated location to filter on.
              example: SV1
              type: string
            location.region:
              description: The region of associated location to filter on.
              example: AMER
              type: string
            location.site:
              description: The site of associated location to filter on.
              example: SJC
              type: string
          type: object
        style: deepObject
      - $ref: '#/components/parameters/PageConsolidated'
      responses:
        '200':
          $ref: '#/components/responses/NetworkCoverageListResponse'
        '422':
          $ref: '#/components/responses/netapps_GenericErrorResponse'
        default:
          $ref: '#/components/responses/netapps_GenericErrorResponse'
      summary: List network coverage locations
      tags:
      - Coverage
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
components:
  schemas:
    PaginationMeta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      type: object
    netapps_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    netapps_Location:
      properties:
        code:
          description: Location code.
          example: chicago-il
          type: string
        name:
          description: Human readable name of location.
          example: Chicago IL, US
          type: string
        pop:
          description: Point of presence of location.
          example: CH1
          type: string
        region:
          description: Identifies the geographical region of location.
          example: AMER
          type: string
        site:
          description: Site of location.
          example: ORD
          type: string
      title: Location
      type: object
    NetworkCoverage:
      properties:
        available_services:
          description: List of interface types supported in this region.
          items:
            oneOf:
            - $ref: '#/components/schemas/AvailableService'
          type: array
        location:
          $ref: '#/components/schemas/netapps_Location'
        record_type:
          description: Identifies the type of the resource.
          example: network_coverage
          readOnly: true
          type: string
      title: NetworkCoverage
      type: object
    AvailableService:
      enum:
      - cloud_vpn
      - private_wireless_gateway
      - virtual_cross_connect
      title: Available service
      type: string
    netapps_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/netapps_Error'
          type: array
      type: object
    netapps_Location_17904fcfbc:
      type: object
      title: Location
      properties:
        region:
          type: string
          description: Identifies the geographical region of location.
          example: AMER
        site:
          type: string
          description: Site of location.
          example: ORD
        pop:
          type: string
          description: Point of presence of location.
          example: CH1
        code:
          type: string
          description: Location code.
          example: chicago-il
        name:
          type: string
          description: Human readable name of location.
          example: Chicago IL, US
    NetworkCoverage_2:
      type: object
      title: NetworkCoverage
      properties:
        record_type:
          type: string
          description: Identifies the type of the resource.
          readOnly: true
          example: network_coverage
        location:
          $ref: '#/components/schemas/netapps_Location_17904fcfbc'
        available_services:
          type: array
          description: List of interface types supported in this region.
          items:
            oneOf:
            - $ref: '#/components/schemas/AvailableService'
    Errors:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/billing-group_Error'
      type: object
    billing-group_Error:
      type: object
      required:
      - code
      - title
      properties:
        code:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          properties: {}
          additionalProperties: true
  responses:
    NetworkCoverageListResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/NetworkCoverage'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    netapps_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/netapps_Errors'
      description: Unexpected error
    GenericErrorResponse:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
  parameters:
    PageConsolidated:
      description: 'Consolidated page parameter (deepObject style). Originally: page[number], page[size]'
      explode: true
      in: query
      name: page
      schema:
        properties:
          number:
            default: 1
            description: The page number to load
            minimum: 1
            type: integer
          size:
            default: 20
            description: The size of the page
            maximum: 250
            minimum: 1
            type: integer
        type: object
      style: deepObject
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
