openapi: 3.2.0
info:
  title: Telnyx Auto Recharge Preferences API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged AutoRechargePreferences across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: V2 Auto Recharge Preferences API
  name: AutoRechargePreferences
paths:
  /payment/auto_recharge_prefs:
    get:
      description: Returns the payment auto recharge preferences.
      operationId: GetAutoRechargePrefs
      responses:
        '200':
          $ref: '#/components/responses/AutoRechargePrefResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: List auto recharge preferences
      tags:
      - AutoRechargePreferences
      x-endpoint-cost: medium
      x-latency-category: responsive
    patch:
      description: Update payment auto recharge preferences.
      operationId: UpdateAutoRechargePrefs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoRechargePrefRequest'
        description: Details to update auto recharge preferences
        required: true
      responses:
        '200':
          $ref: '#/components/responses/AutoRechargePrefResponse'
        '401':
          description: Unauthorized
        '404':
          description: Resource not found
        '422':
          description: Bad request
      summary: Update auto recharge preferences
      tags:
      - AutoRechargePreferences
      x-endpoint-cost: medium
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
components:
  schemas:
    AutoRechargePrefRequest:
      properties:
        enabled:
          description: Whether auto recharge is enabled.
          example: true
          type: boolean
        invoice_enabled:
          example: true
          type: boolean
        preference:
          description: The payment preference for auto recharge.
          enum:
          - credit_paypal
          - ach
          example: credit_paypal
          type: string
        recharge_amount:
          description: The amount to recharge the account, the actual recharge amount will be the amount necessary to reach the threshold amount plus the recharge amount.
          example: '104.00'
          type: string
          x-format: decimal
        threshold_amount:
          description: The threshold amount at which the account will be recharged.
          example: '104.00'
          type: string
          x-format: decimal
      type: object
    AutoRechargePref:
      properties:
        enabled:
          description: Whether auto recharge is enabled.
          example: true
          type: boolean
        id:
          description: The unique identifier for the auto recharge preference.
          example: '1524126400473204723'
          type: string
        invoice_enabled:
          example: true
          type: boolean
        preference:
          description: The payment preference for auto recharge.
          enum:
          - credit_paypal
          - ach
          example: credit_paypal
          type: string
        recharge_amount:
          description: The amount to recharge the account, the actual recharge amount will be the amount necessary to reach the threshold amount plus the recharge amount.
          example: '104.00'
          type: string
          x-format: decimal
        record_type:
          description: The record type.
          example: auto_recharge_pref
          type: string
        threshold_amount:
          description: The threshold amount at which the account will be recharged.
          example: '104.00'
          type: string
          x-format: decimal
      type: object
  responses:
    AutoRechargePrefResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/AutoRechargePref'
            type: object
      description: Successful response
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
