openapi: 3.2.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx TeXML REST Commands API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: TeXML REST Commands
  name: TeXML REST Commands
paths:
  /texml/Accounts/{account_sid}/Calls:
    get:
      description: Returns multiple call resouces for an account. This endpoint is eventually consistent.
      operationId: GetTexmlCalls
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageToken'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/Status'
      - $ref: '#/components/parameters/StartTime'
      - $ref: '#/components/parameters/StartTime_gt'
      - $ref: '#/components/parameters/StartTime_lt'
      - $ref: '#/components/parameters/EndTime'
      - $ref: '#/components/parameters/EndTime_gt'
      - $ref: '#/components/parameters/EndTime_lt'
      responses:
        '200':
          $ref: '#/components/responses/GetCallsResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch multiple call resources
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    post:
      description: Initiate an outbound TeXML call. Telnyx will request TeXML from the XML Request URL configured for the connection in the Mission Control Portal.
      operationId: InitiateTexmlCall
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateCallRequest'
        description: Iniatiate Call request object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/InitiateCallResponse'
        '422':
          $ref: '#/components/responses/call-scripting_UnprocessableEntityResponse'
      summary: Initiate an outbound call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Calls/{call_sid}:
    get:
      description: Returns an individual call identified by its CallSid. This endpoint is eventually consistent.
      operationId: GetTexmlCall
      parameters:
      - $ref: '#/components/parameters/CallSid'
      - $ref: '#/components/parameters/AccountSid'
      responses:
        '200':
          $ref: '#/components/responses/GetCallResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch a call
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    post:
      description: Update TeXML call. Please note that the keys present in the payload MUST BE formatted in CamelCase as specified in the example.
      operationId: UpdateTexmlCall
      parameters:
      - $ref: '#/components/parameters/CallSid'
      - $ref: '#/components/parameters/AccountSid'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateCallRequest'
        description: Update Call request object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/GetCallResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
        '422':
          $ref: '#/components/responses/call-scripting_UnprocessableEntityResponse'
      summary: Update call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Calls/{call_sid}/Recordings.json:
    get:
      description: Returns recordings for a call identified by call_sid.
      operationId: FetchTeXMLCallRecordings
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/CallSid'
      responses:
        '200':
          $ref: '#/components/responses/TexmlGetCallRecordingsResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch recordings for a call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    post:
      description: Starts recording with specified parameters for call idientified by call_sid.
      operationId: StartTeXMLCallRecording
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/CallSid'
      requestBody:
        $ref: '#/components/requestBodies/TexmlCreateCallRecordingRequest'
      responses:
        '200':
          $ref: '#/components/responses/TexmlCreateCallRecordingResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Request recording for a call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Calls/{call_sid}/Recordings/{recording_sid}.json:
    post:
      description: Updates recording resource for particular call.
      operationId: UpdateTeXMLCallRecording
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/CallSid'
      - $ref: '#/components/parameters/RecordingSid'
      requestBody:
        $ref: '#/components/requestBodies/TexmlUpdateCallRecordingRequest'
      responses:
        '200':
          $ref: '#/components/responses/TexmlCreateCallRecordingResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Update recording on a call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Calls/{call_sid}/Siprec.json:
    post:
      description: Starts siprec session with specified parameters for call idientified by call_sid.
      operationId: StartTeXMLSiprecSession
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/CallSid'
      requestBody:
        $ref: '#/components/requestBodies/TexmlCreateSiprecSessionRequest'
      responses:
        '200':
          $ref: '#/components/responses/TexmlCreateSiprecSessionResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Request siprec session for a call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Calls/{call_sid}/Siprec/{siprec_sid}.json:
    post:
      description: Updates siprec session identified by siprec_sid.
      operationId: UpdateTeXMLSiprecSession
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/CallSid'
      - $ref: '#/components/parameters/SiprecSid'
      requestBody:
        $ref: '#/components/requestBodies/TexmlUpdateSiprecSessionRequest'
      responses:
        '200':
          $ref: '#/components/responses/TexmlUpdateSiprecSessionResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Updates siprec session for a call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Calls/{call_sid}/Streams.json:
    post:
      description: Starts streaming media from a call to a specific WebSocket address.
      operationId: StartTeXMLCallStreaming
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/CallSid'
      requestBody:
        $ref: '#/components/requestBodies/TexmlCreateCallStreamingRequest'
      responses:
        '200':
          $ref: '#/components/responses/TexmlCreateCallStreamingResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Start streaming media from a call.
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Calls/{call_sid}/Streams/{streaming_sid}.json:
    post:
      description: Updates streaming resource for particular call.
      operationId: UpdateTeXMLCallStreaming
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/CallSid'
      - $ref: '#/components/parameters/StreamingSid'
      requestBody:
        $ref: '#/components/requestBodies/TexmlUpdateCallStreamingRequest'
      responses:
        '200':
          $ref: '#/components/responses/TexmlUpdateCallStreamingResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Update streaming on a call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Conferences:
    get:
      description: Lists conference resources.
      operationId: GetTexmlConferences
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageToken'
      - $ref: '#/components/parameters/FriendlyName'
      - $ref: '#/components/parameters/ConferenceStatus'
      - $ref: '#/components/parameters/DateCreated'
      - $ref: '#/components/parameters/DateUpdated'
      responses:
        '200':
          $ref: '#/components/responses/GetConferencesResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: List conference resources
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Conferences/{conference_sid}:
    get:
      description: Returns a conference resource.
      operationId: GetTexmlConference
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      responses:
        '200':
          $ref: '#/components/responses/GetConferenceResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch a conference resource
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    post:
      description: Updates a conference resource.
      operationId: UpdateTexmlConference
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/call-scripting_UpdateConferenceRequest'
        description: Update Conference request object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/GetConferenceResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Update a conference resource
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Conferences/{conference_sid}/Participants:
    get:
      description: Lists conference participants
      operationId: GetTexmlConferenceParticipants
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      responses:
        '200':
          $ref: '#/components/responses/GetParticipantsResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: List conference participants
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    post:
      description: Dials a new conference participant
      operationId: DialTexmlConferenceParticipant
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DialConferenceParticipantRequest'
        description: Dial Conference Participant request object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/DialParticipantResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Dial a new conference participant
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Conferences/{conference_sid}/Participants/{call_sid_or_participant_label}:
    delete:
      description: Deletes a conference participant
      operationId: DeleteTexmlConferenceParticipant
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      - $ref: '#/components/parameters/CallSidOrParticipantLabel'
      responses:
        '204':
          description: The resource was deleted successfully.
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Delete a conference participant
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    get:
      description: Gets conference participant resource
      operationId: GetTexmlConferenceParticipant
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      - $ref: '#/components/parameters/CallSidOrParticipantLabel'
      responses:
        '200':
          $ref: '#/components/responses/GetParticipantResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Get conference participant resource
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    post:
      description: Updates a conference participant
      operationId: UpdateTexmlConferenceParticipant
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      - $ref: '#/components/parameters/CallSidOrParticipantLabel'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/call-scripting_UpdateConferenceParticipantRequest'
        description: Update Conference Participant request object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/GetParticipantResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Update a conference participant
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Conferences/{conference_sid}/Recordings:
    get:
      description: Lists conference recordings
      operationId: GetTexmlConferenceRecordings
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      responses:
        '200':
          $ref: '#/components/responses/GetConferenceRecordingsResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: List conference recordings
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Conferences/{conference_sid}/Recordings.json:
    get:
      description: Returns recordings for a conference identified by conference_sid.
      operationId: FetchTeXMLConferenceRecordings
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/ConferenceSid'
      responses:
        '200':
          $ref: '#/components/responses/TexmlGetCallRecordingsResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch recordings for a conference
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Queues:
    get:
      description: Lists queue resources.
      operationId: GetTexmlQueues
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageToken'
      - $ref: '#/components/parameters/DateCreated'
      - $ref: '#/components/parameters/DateUpdated'
      responses:
        '200':
          $ref: '#/components/responses/GetQueuesResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: List queue resources
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    post:
      description: Creates a new queue resource.
      operationId: CreateTexmlQueue
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/call-scripting_CreateQueueRequest'
        description: Create Queue request object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/GetQueueResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Create a new queue
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Queues/{queue_sid}:
    delete:
      description: Delete a queue resource.
      operationId: DeleteTexmlQueue
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/QueueSid'
      responses:
        '204':
          description: The resource was deleted successfully.
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Delete a queue resource
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    get:
      description: Returns a queue resource.
      operationId: GetTexmlQueue
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/QueueSid'
      responses:
        '200':
          $ref: '#/components/responses/GetQueueResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch a queue resource
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
    post:
      description: Updates a queue resource.
      operationId: UpdateTexmlQueue
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/QueueSid'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/call-scripting_UpdateQueueRequest'
        description: Update Queue request object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/GetQueueResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Update a queue resource
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Recordings.json:
    get:
      description: Returns multiple recording resources for an account.
      operationId: GetTeXMLCallRecordings
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSizeTexml'
      - $ref: '#/components/parameters/TexmlDateCreated'
      responses:
        '200':
          $ref: '#/components/responses/TexmlGetCallRecordingsResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch multiple recording resources
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Recordings/{recording_sid}.json:
    delete:
      description: Deletes recording resource identified by recording id.
      operationId: DeleteTeXMLCallRecording
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/RecordingSid'
      responses:
        '204':
          description: The resource was deleted successfully.
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Delete recording resource
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    get:
      description: Returns recording resource identified by recording id.
      operationId: GetTeXMLCallRecording
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/RecordingSid'
      responses:
        '200':
          $ref: '#/components/responses/TexmlGetCallRecordingResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch recording resource
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Transcriptions.json:
    get:
      description: Returns multiple recording transcription resources for an account.
      operationId: GetTeXMLRecordingTranscriptions
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/PageToken'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          $ref: '#/components/responses/TexmlListRecordingTranscriptionResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: List recording transcriptions
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
  /texml/Accounts/{account_sid}/Transcriptions/{recording_transcription_sid}.json:
    delete:
      description: Permanently deletes a recording transcription.
      operationId: DeleteTeXMLRecordingTranscription
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/RecordingTranscriptionSid'
      responses:
        '204':
          description: The resource was deleted successfully.
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Delete a recording transcription
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
    get:
      description: Returns the recording transcription resource identified by its ID.
      operationId: GetTeXMLRecordingTranscription
      parameters:
      - $ref: '#/components/parameters/AccountSid'
      - $ref: '#/components/parameters/RecordingTranscriptionSid'
      responses:
        '200':
          $ref: '#/components/responses/TexmlGetRecordingTranscriptionResponse'
        '404':
          $ref: '#/components/responses/call-scripting_NotFoundResponse'
      summary: Fetch a recording transcription resource
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
  /texml/ai_calls/{connection_id}:
    post:
      description: Initiate an outbound AI call with warm-up support. Validates parameters, builds an internal TeXML with an AI Assistant configuration, encodes instructions into client state, and calls the dial API. The Twiml, Texml, and Url parameters are not allowed and will result in a 422 error.
      operationId: InitiateTexmlAICall
      parameters:
      - description: The ID of the TeXML connection to use for the call.
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateAICallRequest'
        description: Initiate AI Call request object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/InitiateAICallResponse'
        '401':
          $ref: '#/components/responses/UnauthenticatedResponse'
        '422':
          $ref: '#/components/responses/call-scripting_UnprocessableEntityResponse'
      summary: Initiate an outbound AI call
      tags:
      - TeXML REST Commands
      x-group-parameters: 'true'
      x-latency-category: responsive
  /texml/secrets:
    post:
      description: Create a TeXML secret which can be later used as a Dynamic Parameter for TeXML when using Mustache Templates in your TeXML. In your TeXML you will be able to use your secret name, and this name will be replaced by the actual secret value when processing the TeXML on Telnyx side.  The secrets are not visible in any logs.
      operationId: CreateTexmlSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeXMLSecretRequest'
        description: Create TeXML secret request object
        required: true
      responses:
        '201':
          $ref: '#/components/responses/CreateTeXMLSecretResponse'
        '422':
          $ref: '#/components/responses/call-scripting_UnprocessableEntityResponse'
      summary: Create a TeXML secret
      tags:
      - TeXML REST Commands
      x-latency-category: responsive
components:
  schemas:
    DateTimeRFC2822:
      example: '2023-08-11T19:12:11Z'
      format: date-time
      type: string
    ConferenceResource:
      example:
        account_sid: 4e71926f-8f13-450e-b91c-23c2ef786aa6
        api_version: v2/texml
        date_created: Fri, 27 Oct 2023 07:41:58 +0000
        date_updated: Fri, 27 Oct 2023 07:41:58 +0000
        friendly_name: weekly_review_call
        region: dc2
        sid: cd5a70f4-759b-4d5e-9c06-88c00f16f3c1
        status: in-progress
        subresource_uris:
          participants: /v2/texml/Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Conferences/cd5a70f4-759b-4d5e-9c06-88c00f16f3c1/Participants.json
          recordings: /v2/texml/Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Conferences/cd5a70f4-759b-4d5e-9c06-88c00f16f3c1/Recordings.json
        uri: /v2/texml/Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Conferences/cd5a70f4-759b-4d5e-9c06-88c00f16f3c1.json
      properties:
        account_sid:
          description: The id of the account the resource belongs to.
          example: 61bf923e-5e4d-4595-a110-56190ea18a1b
          type: string
        api_version:
          description: The version of the API that was used to make the request.
          example: v2/texml
          type: string
        call_sid_ending_conference:
          description: Caller ID, if present.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        date_created:
          description: The timestamp of when the resource was created.
          example: Thu, 15 Jun 2023 09:56:45 +0000
          type: string
        date_updated:
          description: The timestamp of when the resource was last updated.
          example: Thu, 15 Jun 2023 09:56:45 +0000
          type: string
        friendly_name:
          description: A string that you assigned to describe this conference room.
          example: weekly_review_call
          type: string
        reason_conference_ended:
          description: The reason why a conference ended. When a conference is in progress, will be null.
          enum:
          - participant-with-end-conference-on-exit-left
          - last-participant-left
          - conference-ended-via-api
          - time-exceeded
          example: time-exceeded
          type: string
        region:
          description: A string representing the region where the conference is hosted.
          example: dc2
          type: string
        sid:
          description: The unique identifier of the conference.
          example: cd5a70f4-759b-4d5e-9c06-88c00f16f3c1
          type: string
        status:
          description: The status of this conference.
          enum:
          - init
          - in-progress
          - completed
          example: in-progress
          type: string
        subresource_uris:
          additionalProperties: true
          description: A list of related resources identified by their relative URIs.
          example:
            participants: /v2/texml/Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Conferences/cd5a70f4-759b-4d5e-9c06-88c00f16f3c1/Participants.json
            recordings: /v2/texml/Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Conferences/cd5a70f4-759b-4d5e-9c06-88c00f16f3c1/Recordings.json
          type: object
        uri:
          description: The relative URI for this conference.
          example: /v2/texml/Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Conferences/cd5a70f4-759b-4d5e-9c06-88c00f16f3c1.json
          type: string
      title: Conference resource
      type: object
    TexmlBidirectionalStreamCodec:
      default: PCMU
      description: Indicates codec for bidirectional streaming RTP payloads. Used only with stream_bidirectional_mode=rtp. Case sensitive.
      enum:
      - PCMU
      - PCMA
      - G722
      example: G722
      title: Stream Bidirectional Codec
      type: string
    TexmlCreateSiprecSessionRequestBody:
      properties:
        ConnectorName:
          description: The name of the connector to use for the SIPREC session.
          example: my_connector
          type: string
        IncludeMetadataCustomHeaders:
          description: When set, custom parameters will be added as metadata (recording.session.ExtensionParameters). Otherwise, they’ll be added to sip headers.
          enum:
          - true
          - false
          example: true
          type: boolean
        Name:
          description: Name of the SIPREC session. May be used to stop the SIPREC session from TeXML instruction.
          example: my_siprec_session
          type: string
        Secure:
          description: Controls whether to encrypt media sent to your SRS using SRTP and TLS. When set you need to configure SRS port in your connector to 5061.
          enum:
          - true
          - false
          example: true
          type: boolean
        SessionTimeoutSecs:
          default: 1800
          description: Sets `Session-Expires` header to the INVITE. A reinvite is sent every half the value set. Usefull for session keep alive. Minimum value is 90, set to 0 to disable.
          example: 900
          type: integer
        SipTransport:
          default: udp
          description: Specifies SIP transport protocol.
          enum:
          - udp
          - tcp
          - tls
          example: tcp
          type: string
        StatusCallback:
          description: URL destination for Telnyx to send status callback events to for the siprec session.
          example: https://www.example.com/callback
          type: string
        StatusCallbackMethod:
          description: HTTP request type used for `StatusCallback`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        Track:
          description: The track to be used for siprec session. Can be `both_tracks`, `inbound_track` or `outbound_track`. Defaults to `both_tracks`.
          enum:
          - both_tracks
          - inbound_track
          - outbound_track
          example: both_tracks
          type: string
      title: Create Siprec Session Request
      type: object
    CallControlId:
      example: v3:KBnLO0ZK3DhKM5s7bE9VluaSmKsOchKht_fUYvxcp8ysbmzCCtpkmA
      type: string
    ErrorResponse:
      properties:
        errors:
          items:
            properties:
              code:
                type: string
              detail:
                type: string
              meta:
                properties:
                  url:
                    format: uri
                    type: string
                type: object
              source:
                properties:
                  pointer:
                    type: string
                type: object
              title:
                type: string
            type: object
          type: array
      type: object
    TexmlCreateCallStreamingRequestBody:
      properties:
        BidirectionalCodec:
          $ref: '#/components/schemas/TexmlBidirectionalStreamCodec'
        BidirectionalMode:
          $ref: '#/components/schemas/TexmlBidirectionalStreamMode'
        Name:
          $ref: '#/components/schemas/StreamName'
        StatusCallback:
          $ref: '#/components/schemas/TexmlStatusCallback'
        StatusCallbackMethod:
          $ref: '#/components/schemas/TexmlStatusCallbackMethod'
        Track:
          $ref: '#/components/schemas/StreamTrack'
        Url:
          $ref: '#/components/schemas/TexmlStreamUrl'
      title: Texml Create Call Streaming Request Body
      type: object
    TexmlCreateCallStreamingResponseBody:
      properties:
        account_sid:
          $ref: '#/components/schemas/AccountSid'
        call_sid:
          $ref: '#/components/schemas/CallControlId'
        date_updated:
          $ref: '#/components/schemas/DateTimeRFC2822'
        name:
          description: The user specified name of Stream.
          example: My stream
          type: string
        sid:
          $ref: '#/components/schemas/TexmlSid'
        status:
          description: The status of the streaming.
          enum:
          - in-progress
          example: in-progress
          type: string
        uri:
          description: The relative URI for this streaming resource.
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Calls/v3:KBnLO0ZK3DhKM5s7bE9VluaSmKsOchKht_fUYvxcp8ysbmzCCtpkmA/Streams/b08f0fa1-a32c-4218-b3b5-9cf78941ccac.json
          type: string
      title: Texml Create Call Streaming Response Body
      type: object
    RecordingSource:
      description: Defines how the recording was created.
      enum:
      - StartCallRecordingAPI
      - StartConferenceRecordingAPI
      - OutboundAPI
      - DialVerb
      - Conference
      - RecordVerb
      - Trunking
      type: string
    NewParticipantResource:
      example:
        account_sid: 4e71926f-8f13-450e-b91c-23c2ef786aa6
        call_sid: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
        coaching: false
        conference_sid: cd5a70f4-759b-4d5e-9c06-88c00f16f3c1
        end_conference_on_exit: false
        hold: false
        muted: false
        status: completed
        uri: /v2/texml/Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Conferences/cd5a70f4-759b-4d5e-9c06-88c00f16f3c1/Participants/v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ.json
      properties:
        account_sid:
          description: The id of the account the resource belongs to.
          example: 61bf923e-5e4d-4595-a110-56190ea18a1b
          type: string
        call_sid:
          description: The identifier of this participant's call.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        coaching:
          description: Whether the participant is coaching another call.
          example: false
          type: boolean
        coaching_call_sid:
          description: The identifier of the coached participant's call.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        conference_sid:
          description: The unique identifier for the conference.
          example: cd5a70f4-759b-4d5e-9c06-88c00f16f3c1
          format: uuid
          type: string
        end_conference_on_exit:
          description: Whether the conference ends when the participant leaves.
          example: false
          type: boolean
        hold:
          description: Whether the participant is on hold.
          example: false
          type: boolean
        muted:
          description: Whether the participant is muted.
          example: false
          type: boolean
        status:
          description: The status of the participant's call in the conference.
          enum:
          - connecting
          - connected
          - completed
          example: connected
          type: string
        uri:
          description: The relative URI for this participant.
          example: /v2/texml/Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Conferences/cd5a70f4-759b-4d5e-9c06-88c00f16f3c1/Participants/v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ.json
          type: string
      title: New participant resource
      type: object
    CreateTeXMLSecretRequest:
      example:
        name: My Secret Name
        value: My Secret Value
      properties:
        name:
          description: Name used as a reference for the secret, if the name already exists within the account its value will be replaced
          example: My Secret Name
          type: string
        value:
          description: Secret value which will be used when rendering the TeXML template
          example: My Secret Value
          type: string
      required:
      - name
      - value
      title: Create TeXML Secret request
      type: object
    InitiateCallResult:
      example:
        from: '+13120001234'
        status: queued
        to: '+13121230000'
      properties:
        from:
          example: '+13120001234'
          type: string
        status:
          example: accepted
          type: string
        to:
          example: '+13120000000'
          type: string
      title: Initaite TeXML Call Result
      type: object
    ConferenceRecordingResource:
      example:
        account_sid: 4e71926f-8f13-450e-b91c-23c2ef786aa6
        call_sid: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
        channels: 1
        conference_sid: 6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f
        date_created: Fri, 27 Oct 2023 07:41:58 +0000
        date_updated: Fri, 27 Oct 2023 07:41:58 +0000
        duration: 5
        media_url: https://www.example.com/download.mp3
        sid: 136285da-4b74-46f1-a016-fe2982fa77c3
        source: StartConferenceRecordingAPI
        start_time: Fri, 27 Oct 2023 07:41:58 +0000
        status: completed
        subresource_uris:
          transcriptions: null
        uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Recordings/136285da-4b74-46f1-a016-fe2982fa77c3.json
      properties:
        account_sid:
          description: The id of the account the resource belongs to.
          example: 61bf923e-5e4d-4595-a110-56190ea18a1b
          type: string
        call_sid:
          description: The identifier of the related participant's call.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        channels:
          description: The number of channels in the recording.
          example: 1
          type: integer
        conference_sid:
          description: The identifier of the related conference.
          example: 6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f
          type: string
        date_created:
          description: The timestamp of when the resource was created.
          example: Thu, 15 Jun 2023 09:56:45 +0000
          type: string
        date_updated:
          description: The timestamp of when the resource was last updated.
          example: Thu, 15 Jun 2023 09:56:45 +0000
          type: string
        duration:
          description: Duratin of the recording in seconds.
          example: 10
          type: integer
        error_code:
          description: The recording error, if any.
          type: string
        media_url:
          description: The URL to use to download the recording.
          example: https://www.example.com/download.mp3
          type: string
        sid:
          description: The unique identifier of the recording.
          example: 136285da-4b74-46f1-a016-fe2982fa77c3
          type: string
        source:
          description: How the recording was started.
          enum:
          - DialVerb
          - Conference
          - OutboundAPI
          - Trunking
          - RecordVerb
          - StartCallRecordingAPI
          - StartConferenceRecordingAPI
          example: StartConferenceRecordingAPI
          type: string
        start_time:
          description: The timestamp of when the recording was started.
          example: Thu, 15 Jun 2023 09:56:45 +0000
          type: string
        status:
          description: The status of the recording.
          enum:
          - processing
          - absent
          - completed
          - deleted
          example: completed
          type: string
        subresource_uris:
          additionalProperties: true
          description: A list of related resources identified by their relative URIs.
          example:
            transcriptions: null
          type: object
        uri:
          description: The relative URI for this recording.
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Recordings/136285da-4b74-46f1-a016-fe2982fa77c3.json
          type: string
      title: Conference recording resource
      type: object
    ConferenceRecordingResourceIndex:
      example:
        end: 0
        first_page_uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences/6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f/Recordings.json?page=0&pagesize=20
        page: 0
        page_size: 20
        participants: []
        start: 0
        uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences/6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f/Recordings.json?page=0&pagesize=20
      properties:
        end:
          description: The number of the last element on the page, zero-indexed.
          example: 19
          type: integer
        first_page_uri:
          description: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences/6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f/Recordings.json?page=0&pagesize=20
          example: accepted
          type: string
        next_page_uri:
          description: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences/6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f/Recordings.json?Page=1&PageSize=1&PageToken=MTY4AjgyNDkwNzIxMQ
          example: accepted
          type: string
        page:
          description: Current page number, zero-indexed.
          example: 0
          type: integer
        page_size:
          description: The number of items on the page
          example: 20
          type: integer
        participants:
          description: List of participant resources.
          example: []
          items:
            type: object
          type: array
        recordings:
          items:
            $ref: '#/components/schemas/ConferenceRecordingResource'
          type: array
        start:
          description: The number of the first element on the page, zero-indexed.
          example: 0
          type: integer
        uri:
          description: The URI of the current page.
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences/6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f/Recordings.json?Page=0&PageSize=1
          type: string
      title: Multiple conference recording resources
      type: object
    InitiateCallRequest:
      example:
        ApplicationSid: example-app-sid
        From: '+13120001234'
        StatusCallback: https://www.example.com/statuscallback-listener
        To: '+13121230000'
        Url: https://www.example.com/texml.xml
      oneOf:
      - properties:
          Texml:
            not: {}
        required:
        - Url
        title: With URL
      - properties:
          Url:
            not: {}
        required:
        - Texml
        title: With TeXML
      - properties:
          Texml:
            not: {}
          Url:
            not: {}
        title: Application Default
      properties:
        ApplicationSid:
          description: The ID of the TeXML Application.
          type: string
        AsyncAmd:
          default: false
          description: Select whether to perform answering machine detection in the background. By default execution is blocked until Answering Machine Detection is completed.
          example: true
          type: boolean
        AsyncAmdStatusCallback:
          description: URL destination for Telnyx to send AMD callback events to for the call.
          example: https://www.example.com/callback
          type: string
        AsyncAmdStatusCallbackMethod:
          default: POST
          description: HTTP request type used for `AsyncAmdStatusCallback`. The default value is inherited from TeXML Application setting.
          enum:
          - GET
          - POST
          example: GET
          type: string
        CallerId:
          description: To be used as the caller id name (SIP From Display Name) presented to the destination (`To` number). The string should have a maximum of 128 characters, containing only letters, numbers, spaces, and `-_~!.+` special characters. If ommited, the display name will be the same as the number in the `From` field.
          example: Info
          type: string
        CancelPlaybackOnDetectMessageEnd:
          default: true
          description: Whether to cancel ongoing playback on `greeting ended` detection. Defaults to `true`.
          example: false
          type: boolean
        CancelPlaybackOnMachineDetection:
          default: true
          description: Whether to cancel ongoing playback on `machine` detection. Defaults to `true`.
          example: false
          type: boolean
        CustomHeaders:
          description: Custom HTTP headers to be sent with the call. Each header should be an object with 'name' and 'value' properties.
          example:
          - name: X-Custom-Header
            value: custom-value
          items:
            properties:
              name:
                description: The name of the custom header
                type: string
              value:
                description: The value of the custom header
                type: string
            required:
            - name
            - value
            type: object
          type: array
        DeepfakeDetection:
          description: Enables Deepfake Detection on the dialed call. When enabled, audio from the remote party is analyzed to determine whether the voice is AI-generated. Results are delivered asynchronously via a callback.
          enum:
          - Enable
          example: Enable
          type: string
        DeepfakeDetectionCallbackMethod:
          default: POST
          description: HTTP request type used for `DeepfakeDetectionCallbackUrl`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        DeepfakeDetectionCallbackUrl:
          description: URL destination for Telnyx to send deepfake detection callback events to for the call.
          example: https://www.example.com/deepfake-callback
          type: string
        DetectionMode:
          default: Regular
          description: Allows you to chose between Premium and Standard detections.
          enum:
          - Premium
          - Regular
          example: Premium
          type: string
        FallbackUrl:
          description: A failover URL for which Telnyx will retrieve the TeXML call instructions if the `Url` is not responding.
          example: https://www.example.com/instructions-fallback.xml
          type: string
        From:
          description: The phone number of the party that initiated the call. Phone numbers are formatted with a `+` and country code.
          example: '+16175551212'
          type: string
        MachineDetection:
          default: Disable
          description: Enables Answering Machine Detection.
          enum:
          - Enable
          - Disable
          - DetectMessageEnd
          example: Enable
          type: string
        MachineDetectionSilenceTimeout:
          default: 3500
          description: If initial silence duration is greater than this value, consider it a machine. Ignored when `premium` detection is used.
          example: 2000
          type: integer
        MachineDetectionSpeechEndThreshold:
          default: 800
          description: Silence duration threshold after a greeting message or voice for it be considered human. Ignored when `premium` detection is used.
          example: 2000
          type: integer
        MachineDetectionSpeechThreshold:
          default: 3500
          description: Maximum threshold of a human greeting. If greeting longer than this value, considered machine. Ignored when `premium` detection is used.
          example: 2000
          type: integer
        MachineDetectionTimeout:
          default: 30000
          description: Maximum timeout threshold in milliseconds for overall detection.
          example: 5000
          maximum: 60000
          minimum: 500
          type: integer
        MediaEncryption:
          default: disabled
          description: Defines whether media should be encrypted on the call. When set to `SRTP`, the call will use Secure Real-time Transport Protocol for media encryption. When set to `DTLS`, the call will use DTLS for media encryption. Only supported for SIP destinations.
          enum:
          - disabled
          - SRTP
          - DTLS
          example: disabled
          type: string
        PreferredCodecs:
          description: The list of comma-separated codecs to be offered on a call.
          example: PCMA,PCMU
          type: string
        Record:
          description: Whether to record the entire participant's call leg. Defaults to `false`.
          example: false
          type: boolean
        RecordingChannels:
          description: The number of channels in the final recording. Defaults to `mono`.
          enum:
          - mono
          - dual
          example: dual
          type: string
        RecordingStatusCallback:
          description: The URL the recording callbacks will be sent to.
          example: https://example.com/recording_status_callback
          type: string
        RecordingStatusCallbackEvent:
          description: 'The changes to the recording''s state that should generate a call to `RecoridngStatusCallback`. Can be: `in-progress`, `completed` and `absent`. Separate multiple values with a space. Defaults to `completed`.'
          example: in-progress completed absent
          type: string
        RecordingStatusCallbackMethod:
          description: HTTP request type used for `RecordingStatusCallback`. Defaults to `POST`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        RecordingTimeout:
          default: 0
          description: The number of seconds that Telnyx will wait for the recording to be stopped if silence is detected. The timer only starts when the speech is detected. Please note that the transcription is used to detect silence and the related charge will be applied. The minimum value is 0. The default value is 0 (infinite)
          example: 5
          type: integer
        RecordingTrack:
          description: The audio track to record for the call. The default is `both`.
          enum:
          - inbound
          - outbound
          - both
          example: inbound
          type: string
        SendRecordingUrl:
          $ref: '#/components/schemas/SendRecordingUrl'
        SipAuthPassword:
          description: The password to use for SIP authentication.
          example: '1234'
          type: string
        SipAuthUsername:
          description: The username to use for SIP authentication.
          example: user
          type: string
        SipRegion:
          default: US
          description: Defines the SIP region to be used for the call.
          enum:
          - US
          - Europe
          - Canada
          - Australia
          - Middle East
          example: Canada
          type: string
        StatusCallback:
          description: URL destination for Telnyx to send status callback events to for the call.
          example: https://www.example.com/callback
          type: string
        StatusCallbackEvent:
          default: completed
          description: The call events for which Telnyx should send a webhook. Multiple events can be defined when separated by a space.
          enum:
          - initiated
          - ringing
          - answered
          - completed
          example: initiated
          type: string
        StatusCallbackMethod:
          default: POST
          description: HTTP request type used for `StatusCallback`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        SuperviseCallSid:
          description: The call control ID of the existing call to supervise. When provided, the created leg will be added to the specified call in supervising mode. Status callbacks and action callbacks will NOT be sent for the supervising leg.
          example: v3:MdI91X4lWFEs7IgbBEOT9M4AigoY08M0WWZFISt1Yw2axZ_IiE4pqg
          type: string
        SupervisingRole:
          default: barge
          description: 'The supervising role for the new leg. Determines the audio behavior: barge (hear both sides), whisper (only hear supervisor), monitor (hear both sides but supervisor muted). Default: barge'
          enum:
          - barge
          - whisper
          - monitor
          example: monitor
          type: string
        Texml:
          description: TeXML to be used as instructions for the call. If provided, the call will execute these instructions instead of fetching from the Url.
          example: <?xml version="1.0" encoding="UTF-8"?><Response><Say>Hello</Say></Response>
          type: string
        TimeLimit:
          default: 14400
          description: The maximum duration of the call in seconds. The minimum value is 30 and the maximum value is 14400 (4 hours). Default is 14400 seconds.
          example: 3600
          maximum: 14400
          minimum: 30
          type: integer
        Timeout:
          default: 30
          description: The number of seconds to wait for the called party to answer the call before the call is canceled. The minimum value is 5 and the maximum value is 120. Default is 30 seconds.
          example: 60
          maximum: 120
          minimum: 5
          type: integer
          x-stainless-param: timeout_seconds
        To:
          description: The phone number of the called party. Phone numbers are formatted with a `+` and country code.
          example: '+16175551212'
          type: string
        Trim:
          description: Whether to trim any leading and trailing silence from the recording. Defaults to `trim-silence`.
          enum:
          - trim-silence
          - do-not-trim
          example: trim-silence
          type: string
        Url:
          description: The URL from which Telnyx will retrieve the TeXML call instructions.
          example: https://www.example.com/instructions.xml
          type: string
        UrlMethod:
          default: POST
          description: HTTP request type used for `Url`. The default value is inherited from TeXML Application setting.
          enum:
          - GET
          - POST
          example: GET
          type: string
      required:
      - To
      - From
      - ApplicationSid
      title: Initiate Call Request
      type: object
    TwimlRecordingChannels:
      default: 2
      enum:
      - 1
      - 2
      example: 1
      type: integer
    TexmlSid:
      description: Identifier of a resource.
      example: e9cea0be-7dbd-4b98-98b1-c0089d9d43b0
      type: string
    QueueResourceIndex:
      example:
        end: 0
        first_page_uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Queues.json?Page=0&PageSize=1
        next_page_uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Queues.json?Page=1&PageSize=1&PageToken=MTY4AjgyNDkwNzIxMQ
        page: 0
        page_size: 1
        queues: []
        start: 0
        uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Queues.json?Page=0&PageSize=1
      properties:
        end:
          description: The number of the last element on the page, zero-indexed.
          example: 19
          type: integer
        first_page_uri:
          description: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Queues.json?Page=0&PageSize=1
          example: accepted
          type: string
        next_page_uri:
          description: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Queues.json?Page=1&PageSize=1&PageToken=MTY4AjgyNDkwNzIxMQ
          example: accepted
          type: string
        page:
          description: Current page number, zero-indexed.
          example: 0
          type: integer
        page_size:
          description: The number of items on the page
          example: 20
          type: integer
        queues:
          items:
            $ref: '#/components/schemas/QueueResource'
          type: array
        start:
          description: The number of the first element on the page, zero-indexed.
          example: 0
          type: integer
        uri:
          description: The URI of the current page.
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Queues.json?Page=0&PageSize=1
          type: string
      title: Multiple queue resources
      type: object
    TexmlUpdateCallRecordingRequestBody:
      properties:
        Status:
          enum:
          - in-progress
          - paused
          - stopped
          example: paused
          type: string
      title: Texml Create Call Recording Request Body
      type: object
    call-scripting_UpdateQueueRequest:
      example:
        MaxSize: 10
      properties:
        MaxSize:
          description: The maximum size of the queue.
          example: 10
          type: integer
      title: Update Queue Request
      type: object
    TexmlRecordingSubresourcesUris:
      description: Subresources details for a recording if available.
      properties:
        transcriptions:
          format: uri
          type:
          - string
          - 'null'
      title: Texml recording subresources uris
      type: object
    UpdateCallRequest:
      example:
        Status: completed
      properties:
        FallbackMethod:
          description: HTTP request type used for `FallbackUrl`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        FallbackUrl:
          description: A failover URL for which Telnyx will retrieve the TeXML call instructions if the Url is not responding.
          example: https://www.example.com/intruction-c.xml
          type: string
        Method:
          description: HTTP request type used for `Url`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        Status:
          description: The value to set the call status to. Setting the status to completed ends the call.
          example: completed
          type: string
        StatusCallback:
          description: URL destination for Telnyx to send status callback events to for the call.
          example: https://www.example.com/callback
          type: string
        StatusCallbackMethod:
          description: HTTP request type used for `StatusCallback`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        Texml:
          description: TeXML to replace the current one with.
          example: <?xml version="1.0" encoding="UTF-8"?><Response><Say>Hello</Say></Response>
          type: string
        Url:
          description: The URL where TeXML will make a request to retrieve a new set of TeXML instructions to continue the call flow.
          example: https://www.example.com/intruction-b.xml
          type: string
      title: Update Call Request
      type: object
    call-scripting_ResourceNotFoundError:
      example:
        errors:
        - detail: Resource not found
      properties:
        errors:
          items:
            properties:
              detail:
                type: string
            type: object
          type: array
      title: Resource not found
      type: object
    TexmlRecordingStatus:
      enum:
      - in-progress
      - completed
      - paused
      - stopped
      example: paused
      type: string
    SendRecordingUrl:
      default: true
      description: Whether to send RecordingUrl in webhooks.
      example: false
      type: boolean
    TexmlUpdateSiprecSessionResponseBody:
      properties:
        account_sid:
          description: The id of the account the resource belongs to.
          example: 61bf923e-5e4d-4595-a110-56190ea18a1b
          type: string
        call_sid:
          description: The id of the call the resource belongs to.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        date_updated:
          description: The date and time the siprec session was last updated.
          example: Fri, 11 Aug 2023 19:12:11 +0000
          type: string
        error_code:
          description: The error code of the siprec session.
          type: string
        sid:
          description: The SID of the siprec session.
          example: 61bf923e-5e4d-4595-a110-56190ea18123
          type: string
        status:
          description: The status of the siprec session.
          enum:
          - in-progress
          - stopped
          example: in-progress
          type: string
        uri:
          description: The URI of the siprec session.
          example: https://api.telnyx.com/v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18123/Calls/v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-ai/Siprec/61bf923e-5e4d-4595-a110-56190ea18123
          type: string
      title: Update Siprec Session Response
      type: object
    ConferenceResourceIndex:
      example:
        conferences: []
        end: 0
        first_page_uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences.json?Page=0&PageSize=1
        next_page_uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences.json?Page=1&PageSize=1&PageToken=MTY4AjgyNDkwNzIxMQ
        page: 0
        page_size: 1
        start: 0
        uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences.json?Page=0&PageSize=1
      properties:
        conferences:
          items:
            $ref: '#/components/schemas/ConferenceResource'
          type: array
        end:
          description: The number of the last element on the page, zero-indexed.
          example: 19
          type: integer
        first_page_uri:
          description: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences.json?Page=0&PageSize=1
          example: accepted
          type: string
        next_page_uri:
          description: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences.json?Page=1&PageSize=1&PageToken=MTY4AjgyNDkwNzIxMQ
          example: accepted
          type: string
        page:
          description: Current page number, zero-indexed.
          example: 0
          type: integer
        page_size:
          description: The number of items on the page
          example: 20
          type: integer
        start:
          description: The number of the first element on the page, zero-indexed.
          example: 0
          type: integer
        uri:
          description: The URI of the current page.
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences.json?Page=0&PageSize=1
          type: string
      title: Multiple conference resources
      type: object
    TexmlUpdateCallStreamingRequestBody:
      properties:
        Status:
          $ref: '#/components/schemas/StreamStatus'
      title: Texml Update Call Streaming Request Body
      type: object
    call-scripting_CreateQueueRequest:
      example:
        FriendlyName: Support Queue
        MaxSize: 10
      properties:
        FriendlyName:
          description: A human readable name for the queue.
          example: Support Queue
          type: string
        MaxSize:
          description: The maximum size of the queue.
          example: 10
          type: integer
      title: Create Queue Request
      type: object
    TexmlGetCallRecordingsResponseBody:
      properties:
        end:
          description: The number of the last element on the page, zero-indexed.
          example: 19
          type: integer
        first_page_uri:
          description: Relative uri to the first page of the query results
          format: uri
          type: string
        next_page_uri:
          description: Relative uri to the next page of the query results
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Calls.json?Page=1&PageSize=1
          type: string
        page:
          description: Current page number, zero-indexed.
          example: 0
          type: integer
        page_size:
          description: The number of items on the page
          example: 20
          type: integer
        previous_page_uri:
          description: Relative uri to the previous page of the query results
          format: uri
          type: string
        recordings:
          items:
            $ref: '#/components/schemas/TexmlGetCallRecordingResponseBody'
          type: array
        start:
          description: The number of the first element on the page, zero-indexed.
          example: 0
          type: integer
        uri:
          description: The URI of the current page.
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Recordings.json?Page=0&PageSize=1
          type: string
      title: Multiple recording resources
      type: object
    TexmlPriceUnit:
      description: The unit in which the price is given.
      example: USD
      type:
      - string
      - 'null'
    ConferenceSid:
      example: cd5a70f4-759b-4d5e-9c06-88c00f16f3c1
      format: uuid
      type:
      - string
      - 'null'
    ParticipantResource:
      example:
        account_sid: 4e71926f-8f13-450e-b91c-23c2ef786aa6
        api_version: v2/texml
        call_sid: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
        call_sid_legacy: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
        coaching: false
        conference_sid: cd5a70f4-759b-4d5e-9c06-88c00f16f3c1
        date_created: Fri, 27 Oct 2023 07:41:58 +0000
        date_updated: Fri, 27 Oct 2023 07:41:58 +0000
        end_conference_on_exit: false
        hold: false
        muted: false
        status: completed
        uri: /v2/texml/Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Conferences/cd5a70f4-759b-4d5e-9c06-88c00f16f3c1/Participants/v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ.json
      properties:
        account_sid:
          description: The id of the account the resource belongs to.
          example: 61bf923e-5e4d-4595-a110-56190ea18a1b
          type: string
        api_version:
          description: The version of the API that was used to make the request.
          example: v2/texml
          type: string
        call_sid:
          description: The identifier of this participant's call.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        call_sid_legacy:
          description: The identifier of this participant's call.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        coaching:
          description: Whether the participant is coaching another call.
          example: false
          type: boolean
        coaching_call_sid:
          description: The identifier of the coached participant's call.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        coaching_call_sid_legacy:
          description: The identifier of the coached participant's call.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        conference_sid:
          description: The unique identifier for the conference.
          example: cd5a70f4-759b-4d5e-9c06-88c00f16f3c1
          format: uuid
          type: string
        date_created:
          description: The timestamp of when the resource was created.
          example: Thu, 15 Jun 2023 09:56:45 +0000
          type: string
        date_updated:
          description: The timestamp of when the resource was last updated.
          example: Thu, 15 Jun 2023 09:56:45 +0000
          type: string
        end_conference_on_exit:
          description: Whether the conference ends when the participant leaves.
          example: false
          type: boolean
        hold:
          description: Whether the participant is on hold.
          example: false
          type: boolean
        muted:
          description: Whether the participant is muted.
          example: false
          type: boolean
        status:
          description: The status of the participant's call in the conference.
          enum:
          - connecting
          - connected
          - completed
          example: connected
          type: string
        uri:
          description: The relative URI for this participant.
          example: /v2/texml/Accounts/4e71926f-8f13-450e-b91c-23c2ef786aa6/Conferences/cd5a70f4-759b-4d5e-9c06-88c00f16f3c1/Participants/v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ.json
          type: string
      title: Participant resource
      type: object
    TexmlRecordingMediaUrl:
      example: http://recordings.com/mp3/filename.mp3
      format: uri
      type: string
    TexmlRecordingChannels:
      default: dual
      description: When `dual`, final audio file has the first leg on channel A, and the rest on channel B. `single` mixes both tracks into a single channel.
      enum:
      - single
      - dual
      example: single
      type: string
    TexmlGetCallRecordingResponseBody:
      properties:
        account_sid:
          $ref: '#/components/schemas/AccountSid'
        call_sid:
          $ref: '#/components/schemas/CallControlId'
        channels:
          $ref: '#/components/schemas/TwimlRecordingChannels'
        conference_sid:
          $ref: '#/components/schemas/ConferenceSid'
        date_created:
          $ref: '#/components/schemas/DateTimeRFC2822'
        date_updated:
          $ref: '#/components/schemas/DateTimeRFC2822'
        duration:
          $ref: '#/components/schemas/TexmlRecordingDuration'
        error_code:
          $ref: '#/components/schemas/TexmlErrorCode'
        media_url:
          $ref: '#/components/schemas/TexmlRecordingMediaUrl'
        sid:
          $ref: '#/components/schemas/TexmlSid'
        source:
          $ref: '#/components/schemas/RecordingSource'
        start_time:
          $ref: '#/components/schemas/DateTimeRFC2822'
        status:
          $ref: '#/components/schemas/TexmlRecordingStatus'
        subresources_uris:
          $ref: '#/components/schemas/TexmlRecordingSubresourcesUris'
        uri:
          description: The relative URI for this recording resource.
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Recordings/b08f0fa1-a32c-4218-b3b5-9cf78941ccac.json
          type: string
      title: Texml Get Call Recording Response Body
      type: object
    call-scripting_UpdateConferenceParticipantRequest:
      example:
        BeepOnExit: false
      properties:
        AnnounceMethod:
          description: The HTTP method used to call the `AnnounceUrl`. Defaults to `POST`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        AnnounceUrl:
          description: The URL to call to announce something to the participant. The URL may return an MP3 fileo a WAV file, or a TwiML document that contains `<Play>`, `<Say>`, `<Pause>`, or `<Redirect>` verbs.
          example: https://www.example.com/announce.xml
          type: string
        BeepOnExit:
          description: Whether to play a notification beep to the conference when the participant exits.
          example: false
          type: boolean
        CallSidToCoach:
          description: The SID of the participant who is being coached. The participant being coached is the only participant who can hear the participant who is coaching.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        Coaching:
          description: Whether the participant is coaching another call. When `true`, `CallSidToCoach` has to be given.
          example: false
          type: boolean
        EndConferenceOnExit:
          description: Whether to end the conference when the participant leaves.
          example: false
          type: boolean
        Hold:
          description: Whether the participant should be on hold.
          example: true
          type: boolean
        HoldMethod:
          description: The HTTP method to use when calling the `HoldUrl`.
          enum:
          - GET
          - POST
          example: POST
          type: string
        HoldUrl:
          description: The URL to be called using the `HoldMethod` for music that plays when the participant is on hold. The URL may return an MP3 file, a WAV file, or a TwiML document that contains `<Play>`, `<Say>`, `<Pause>`, or `<Redirect>` verbs.
          example: https://www.example.com/hold-music.xml
          type: string
        Muted:
          description: Whether the participant should be muted.
          example: true
          type: boolean
        WaitUrl:
          description: The URL to call for an audio file to play while the participant is waiting for the conference to start.
          example: https://www.example.com/wait_music.mp3
          type: string
      title: Update Conference Participant Request
      type: object
    DialConferenceParticipantRequest:
      example:
        From: '+12065550200'
        To: '+12065550100'
      properties:
        AmdStatusCallback:
          description: The URL the result of answering machine detection will be sent to.
          example: https://www.example.com/amd_result
          type: string
        AmdStatusCallbackMethod:
          description: HTTP request type used for `AmdStatusCallback`. Defaults to `POST`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        ApplicationSid:
          description: The SID of the TeXML application that will handle the new participant's call. Required unless joining an existing conference by its ConferenceSid.
          example: '1846572522338780702'
          type: string
        Beep:
          description: Whether to play a notification beep to the conference when the participant enters and exits.
          enum:
          - 'true'
          - 'false'
          - onEnter
          - onExit
          example: onExit
          type: string
        CallSidToCoach:
          description: The SID of the participant who is being coached. The participant being coached is the only participant who can hear the participant who is coaching.
          example: v3:9X2vxPDFY2RHSJ1EdMS0RHRksMTg7ldNxdjWbVr9zBjbGjGsSe-aiQ
          type: string
        CallerId:
          description: To be used as the caller id name (SIP From Display Name) presented to the destination (`To` number). The string should have a maximum of 128 characters, containing only letters, numbers, spaces, and `-_~!.+` special characters. If ommited, the display name will be the same as the number in the `From` field.
          example: Info
          type: string
        CancelPlaybackOnDetectMessageEnd:
          default: true
          description: Whether to cancel ongoing playback on `greeting ended` detection. Defaults to `true`.
          example: false
          type: boolean
        CancelPlaybackOnMachineDetection:
          default: true
          description: Whether to cancel ongoing playback on `machine` detection. Defaults to `true`.
          example: false
          type: boolean
        Coaching:
          description: Whether the participant is coaching another call. When `true`, `CallSidToCoach` has to be given.
          example: false
          type: boolean
        ConferenceRecord:
          description: Whether to record the conference the participant is joining. Defualts to `do-not-record`. The boolean values `true` and `false` are synonymous with `record-from-start` and `do-not-record` respectively.
          enum:
          - 'true'
          - 'false'
          - record-from-start
          - do-not-record
          example: record-from-start
          type: string
        ConferenceRecordingStatusCallback:
          description: The URL the conference recording callbacks will be sent to.
          example: https://example.com/conference_recording_status_callback
          type: string
        ConferenceRecordingStatusCallbackEvent:
          description: 'The changes to the conference recording''s state that should generate a call to `RecoridngStatusCallback`. Can be: `in-progress`, `completed` and `absent`. Separate multiple values with a space. Defaults to `completed`. `failed` and `absent` are synonymous.'
          example: in-progress completed failed absent
          type: string
        ConferenceRecordingStatusCallbackMethod:
          description: HTTP request type used for `ConferenceRecordingStatusCallback`. Defaults to `POST`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        ConferenceRecordingTimeout:
          default: 0
          description: The number of seconds that Telnyx will wait for the recording to be stopped if silence is detected. The timer only starts when the speech is detected. Please note that the transcription is used to detect silence and the related charge will be applied. The minimum value is 0. The default value is 0 (infinite)
          example: 5
          type: integer
        ConferenceStatusCallback:
          description: The URL the conference callbacks will be sent to.
          example: https://example.com/conference_status_callback
          type: string
        ConferenceStatusCallbackEvent:
          description: 'The changes to the conference''s state that should generate a call to `ConferenceStatusCallback`. Can be: `start`, `end`, `join` and `leave`. Separate multiple values with a space. By default no callbacks are sent.'
          example: start end join leave
          type: string
        ConferenceStatusCallbackMethod:
          description: HTTP request type used for `ConferenceStatusCallback`. Defaults to `POST`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        ConferenceTrim:
          description: Whether to trim any leading and trailing silence from the conference recording. Defaults to `trim-silence`.
          enum:
          - trim-silence
          - do-not-trim
          example: trim-silence
          type: string
        CustomHeaders:
          description: Custom HTTP headers to be sent with the call. Each header should be an object with 'name' and 'value' properties.
          example:
          - name: X-Custom-Header
            value: custom-value
          items:
            properties:
              name:
                description: The name of the custom header
                type: string
              value:
                description: The value of the custom header
                type: string
            required:
            - name
            - value
            type: object
          type: array
        EarlyMedia:
          default: false
          description: Whether participant shall be bridged to conference before the participant answers (from early media if available). Defaults to `false`.
          example: true
          type: boolean
        EndConferenceOnExit:
          description: Whether to end the conference when the participant leaves. Defaults to `false`.
          example: true
          type: boolean
        From:
          description: The phone number of the party that initiated the call. Phone numbers are formatted with a `+` and country code.
          example: '+16175551212'
          type: string
        Label:
          description: A unique label for the participant that will be added to the conference. The label can be used to reference the participant for updates via the TeXML REST API.
          example: customer
          type: string
        MachineDetection:
          description: Whether to detect if a human or an answering machine picked up the call. Use `Enable` if you would like to ne notified as soon as the called party is identified. Use `DetectMessageEnd`, if you would like to leave a message on an answering machine.
          enum:
          - Enable
          - DetectMessageEnd
          example: Enable
          type: string
        MachineDetectionSilenceTimeout:
          default: 3500
          description: If initial silence duration is greater than this value, consider it a machine. Ignored when `premium` detection is used.
          example: 2000
          type: integer
        MachineDetectionSpeechEndThreshold:
          default: 800
          description: Silence duration threshold after a greeting message or voice for it be considered human. Ignored when `premium` detection is used.
          example: 2000
          type: integer
        MachineDetectionSpeechThreshold:
          default: 3500
          description: Maximum threshold of a human greeting. If greeting longer than this value, considered machine. Ignored when `premium` detection is used.
          example: 2000
          type: integer
        MachineDetectionTimeout:
          description: How long answering machine detection should go on for before sending an `Unknown` result. Given in milliseconds.
          example: 1000
          type: integer
        MaxParticipants:
          description: The maximum number of participants in the conference. Can be a positive integer from 2 to 800. The default value is 250.
          example: 30
          type: integer
        Muted:
          description: Whether the participant should be muted.
          example: true
          type: boolean
        PreferredCodecs:
          description: The list of comma-separated codecs to be offered on a call.
          example: PCMA,PCMU
          type: string
        Record:
          description: Whether to record the entire participant's call leg. Defaults to `false`.
          example: false
          type: boolean
        RecordingChannels:
          description: The number of channels in the final recording. Defaults to `mono`.
          enum:
          - mono
          - dual
          example: dual
          type: string
        RecordingStatusCallback:
          description: The URL the recording callbacks will be sent to.
          example: https://example.com/recording_status_callback
          type: string
        RecordingStatusCallbackEvent:
          description: 'The changes to the recording''s state that should generate a call to `RecoridngStatusCallback`. Can be: `in-progress`, `completed` and `absent`. Separate multiple values with a space. Defaults to `completed`.'
          example: in-progress completed absent
          type: string
        RecordingStatusCallbackMethod:
          description: HTTP request type used for `RecordingStatusCallback`. Defaults to `POST`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        RecordingTrack:
          description: The audio track to record for the call. The default is `both`.
          enum:
          - inbound
          - outbound
          - both
          example: inbound
          type: string
        SipAuthPassword:
          description: The password to use for SIP authentication.
          example: '1234'
          type: string
        SipAuthUsername:
          description: The username to use for SIP authentication.
          example: user
          type: string
        StartConferenceOnEnter:
          description: Whether to start the conference when the participant enters. Defaults to `true`.
          example: false
          type: boolean
        StatusCallback:
          description: URL destination for Telnyx to send status callback events to for the call.
          example: https://www.example.com/callback
          type: string
        StatusCallbackEvent:
          description: 'The changes to the call''s state that should generate a call to `StatusCallback`. Can be: `initiated`, `ringing`, `answered`, and `completed`. Separate multiple values with a space. The default value is `completed`.'
          example: answered completed
          type: string
        StatusCallbackMethod:
          description: HTTP request type used for `StatusCallback`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        TimeLimit:
          description: The maximum duration of the call in seconds.
          example: 30
          type: integer
        Timeout:
          description: The number of seconds that we should allow the phone to ring before assuming there is no answer. Can be an integer between 5 and 120, inclusive. The default value is 30.
          example: 30
          type: integer
          x-stainless-param: timeout_seconds
        To:
          description: The phone number of the called party. Phone numbers are formatted with a `+` and country code.
          example: '+16175551212'
          type: string
        Trim:
          description: Whether to trim any leading and trailing silence from the recording. Defaults to `trim-silence`.
          enum:
          - trim-silence
          - do-not-trim
          example: trim-silence
          type: string
        WaitUrl:
          description: The URL to call for an audio file to play while the participant is waiting for the conference to start.
          example: https://www.example.com/wait_music.mp3
          type: string
      title: Create Conference Participant Request
      type: object
    StreamName:
      description: The user specified name of Stream.
      example: My stream
      type: string
    TexmlStatusCallbackMethod:
      default: POST
      description: HTTP method used to send status callbacks.
      enum:
      - GET
      - POST
      example: GET
      type: string
    StreamTrack:
      default: inbound_track
      description: Tracks to be included in the stream
      enum:
      - inbound_track
      - outbound_track
      - both_tracks
      example: both_tracks
      type: string
    TexmlStatusCallback:
      description: Url where status callbacks will be sent.
      example: http://webhook.com/callback
      format: uri
      type: string
    CallResource:
      example:
        account_sid: 61bf923e-5e4d-4595-a110-56190ea18a1b
        answered_by: human
        caller_name: '+13122010094'
        date_created: Thu, 15 Jun 2023 09:56:45 +0000
        date_updated: Thu, 15 Jun 2023 09:56:56 +0000
        direction: inbound
        duration: '11'
        end_time: Thu, 15 Jun 2023 09:56:56 +0000
        from: '+13123456789'
        from_formatted: (312) 345-6789
        sid: v3:KBnLO0ZK3DhKM5s7bE9VluaSmKsOchKht_fUYvxcp8ysbmzCCtpkmA
        start_time: Thu, 15 Jun 2023 09:56:45 +0000
        status: completed
        to: '+13987654321'
        to_formatted: (398) 765-4321
        uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Calls/v3:KBnLO0ZK3DhKM5s7bE9VluaSmKsOchKht_fUYvxcp8ysbmzCCtpkmA.json
      properties:
        account_sid:
          description: The id of the account the resource belongs to.
          example: 61bf923e-5e4d-4595-a110-56190ea18a1b
          type: string
        answered_by:
          description: The value of the answering machine detection result, if this feature was enabled for the call.
          enum:
          - human
          - machine
          - not_sure
          example: human
          type: string
        caller_name:
          description: Caller ID, if present.
          example: CALLER
          type: string
        date_created:
          description: The timestamp of when the resource was created.
          example: Thu, 15 Jun 2023 09:56:45 +0000
          type: string
        date_updated:
          description: The timestamp of when the resource was last updated.
          example: Thu, 15 Jun 2023 09:56:45 +0000
          type: string
        direction:
          description: The direction of this call.
          enum:
          - inbound
          - outbound
          example: inbound
          type: string
        duration:
          description: The duration of this call, given in seconds.
          example: '12'
          type: string
        end_time:
          description: The end time of this call.
          example: Thu, 15 Jun 2023 09:56:45 +0000
          type: string
        from:
          description: The phone number or SIP address that made this call.
          example: '+13123456789'
          type: string
        from_formatted:
          description: The from number formatted for display.
          example: (312) 345-6789
          type: string
        price:
          description: The price of this call, the currency is specified in the price_unit field. Only populated when the call cost feature is enabled for the account.
          example: '0.10'
          type: string
        price_unit:
          description: The unit in which the price is given.
          example: USD
          type: string
        sid:
          description: The identifier of this call.
          example: v3:KBnLO0ZK3DhKM5s7bE9VluaSmKsOchKht_fUYvxcp8ysbmzCCtpkmA
          type: string
        start_time:
          description: The start time of this call.
          example: Thu, 15 Jun 2023 09:56:45 +0000
          type: string
        status:
          description: The status of this call.
          enum:
          - ringing
          - in-progress
          - canceled
          - completed
          - failed
          - busy
          - no-answer
          example: completed
          type: string
        to:
          description: The phone number or SIP address that received this call.
          example: '+13987654321'
          type: string
        to_formatted:
          description: The to number formatted for display.
          example: (398) 765-4321
          type: string
        uri:
          description: The relative URI for this call.
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Calls/v3:KBnLO0ZK3DhKM5s7bE9VluaSmKsOchKht_fUYvxcp8ysbmzCCtpkmA.json
          type: string
      title: Call resource
      type: object
    RecordingTrack:
      description: The audio track to record for the call. The default is `both`.
      enum:
      - inbound
      - outbound
      - both
      example: inbound
      type: string
    ParticipantResourceIndex:
      example:
        end: 0
        first_page_uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences/6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f/Participants.json?page=0&pagesize=20
        page: 0
        page_size: 20
        participants: []
        start: 0
        uri: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences/6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f/Participants.json?page=0&pagesize=20
      properties:
        end:
          description: The number of the last element on the page, zero-indexed.
          example: 19
          type: integer
        first_page_uri:
          description: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences/6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f/Participants.json?page=0&pagesize=20
          example: accepted
          type: string
        next_page_uri:
          description: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences/6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f/Participants.json?Page=1&PageSize=1&PageToken=MTY4AjgyNDkwNzIxMQ
          example: accepted
          type: string
        page:
          description: Current page number, zero-indexed.
          example: 0
          type: integer
        page_size:
          description: The number of items on the page
          example: 20
          type: integer
        participants:
          items:
            $ref: '#/components/schemas/ParticipantResource'
          type: array
        start:
          description: The number of the first element on the page, zero-indexed.
          example: 0
          type: integer
        uri:
          description: The URI of the current page.
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Conferences/6dc6cc1a-1ba1-4351-86b8-4c22c95cd98f/Participants.json?Page=0&PageSize=1
          type: string
      title: Multiple participant resources
      type: object
    TexmlErrorCode:
      example: null
      type:
      - string
      - 'null'
    TexmlRecordingTranscription:
      properties:
        account_sid:
          $ref: '#/components/schemas/AccountSid'
        api_version:
          description: The version of the API that was used to make the request.
          example: '2010-04-01'
          type: string
        call_sid:
          $ref: '#/components/schemas/CallControlId'
        date_created:
          $ref: '#/components/schemas/DateTimeRFC2822'
        date_updated:
          $ref: '#/components/schemas/DateTimeRFC2822'
        duration:
          $ref: '#/components/schemas/TexmlRecordingDuration'
        recording_sid:
          $ref: '#/components/schemas/TexmlSid'
        sid:
          $ref: '#/components/schemas/TexmlSid'
        status:
          description: The status of the recording transcriptions. The transcription text will be available only when the status is completed.
          enum:
          - in-progress
          - completed
          example: completed
          type: string
        transcription_text:
          description: The recording's transcribed text
          example: Good morning, how may I help you?
          type: string
        uri:
          description: The relative URI for the recording transcription resource.
          example: /v2/texml/Accounts/61bf923e-5e4d-4595-a110-56190ea18a1b/Transcriptions/b08f0fa1-a32c-4218-b3b5-9cf78941ccac.json
          type: string
      title: Texml Get Call Recording Transcription Response Body
      type: object
    TexmlBidirectionalStreamMode:
      default: mp3
      description: Configures method of bidirectional streaming (mp3, rtp).
      enum:
      - mp3
      - rtp
      example: rtp
      title: Stream Bidirectional Mode
      type: string
    RecordingStatusCallbackEvent:
      description: 'The changes to the recording''s state that should generate a call to `RecoridngStatusCallback`. Can be: `in-progress`, `completed` and `absent`. Separate multiple values with a space. Defaults to `completed`.'
      example: in-progress completed absent
      type: string
    call-scripting_UpdateConferenceRequest:
      example:
        Status: completed
      properties:
        AnnounceMethod:
          description: The HTTP method used to call the `AnnounceUrl`. Defaults to `POST`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        AnnounceUrl:
          description: The URL we should call to announce something into the conference. The URL may return an MP3 file, a WAV file, or a TwiML document that contains `<Play>`, `<Say>`, `<Pause>`, or `<Redirect>` verbs.
          example: https://www.example.com/announce.xml
          type: string
        Status:
          description: The new status of the resource. Specifying `completed` will end the conference and hang up all participants.
          example: completed
          type: string
      title: Update Conference Request
      type: object
    InitiateAICallRequest:
      example:
        AIAssistantId: ai-assistant-id-123
        From: '+13120001234'
        To: '+13121230000'
      properties:
        AIAssistantDynamicVariables:
          additionalProperties:
            type: string
          description: Key-value map of dynamic variables to pass to the AI assistant.
          example:
            account_id: '12345'
            customer_name: John Doe
          type: object
        AIAssistantId:
          description: The ID of the AI assistant to use for the call.
          type: string
        AIAssistantVersion:
          description: The version of the AI assistant to use.
          type: string
        AsyncAmd:
          default: false
          description: Select whether to perform answering machine detection in the background. By default execution is blocked until Answering Machine Detection is completed.
          example: true
          type: boolean
        AsyncAmdStatusCallback:
          description: URL destination for Telnyx to send AMD callback events to for the call.
          example: https://www.example.com/callback
          type: string
        AsyncAmdStatusCallbackMethod:
          default: POST
          description: HTTP request type used for `AsyncAmdStatusCallback`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        CallerId:
          description: To be used as the caller id name (SIP From Display Name) presented to the destination (`To` number). The string should have a maximum of 128 characters, containing only letters, numbers, spaces, and `-_~!.+` special characters. If omitted, the display name will be the same as the number in the `From` field.
          example: Info
          type: string
        ConversationCallback:
          description: URL destination for Telnyx to send conversation callback events to.
          example: https://www.example.com/conversation-callback
          type: string
        ConversationCallbackMethod:
          default: POST
          description: HTTP request type used for `ConversationCallback`.
          enum:
          - GET
          - POST
          example: GET
          type: string
        ConversationCallbacks:
          description: An array of URL destinations for conversation callback events.
          example:
          - https://www.example.com/conversation-callback1
[...]
