openapi: 3.1.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Access Tokens Porting Orders API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Endpoints related to porting orders management.
  name: Porting Orders
paths:
  /porting/events:
    get:
      description: Returns a list of all porting events.
      operationId: listPortingEvents
      parameters:
      - $ref: '#/components/parameters/porting-order_PageConsolidated'
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[type], filter[porting_order_id], filter[created_at][gte], filter[created_at][lte]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            created_at:
              description: Created at date range filtering operations
              properties:
                gte:
                  description: Filter by created at greater than or equal to.
                  example: '2021-01-01T00:00:00Z'
                  format: date-time
                  type: string
                lte:
                  description: Filter by created at less than or equal to.
                  example: '2021-01-01T00:00:00Z'
                  format: date-time
                  type: string
              type: object
            porting_order_id:
              description: Filter by porting order ID.
              example: 34dc46a9-53ed-4e01-9454-26227ea13326
              format: uuid
              type: string
            type:
              description: Filter by event type.
              enum:
              - porting_order.deleted
              - porting_order.loa_updated
              - porting_order.messaging_changed
              - porting_order.status_changed
              - porting_order.sharing_token_expired
              - porting_order.new_comment
              - porting_order.split
              example: porting_order.deleted
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortingEventsResponse'
        '422':
          description: Unprocessable entity. Check the 'detail' field in response for details.
        '500':
          description: Internal server error
      summary: List all porting events
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting/events/{id}:
    get:
      description: Show a specific porting event.
      operationId: showPortingEvent
      parameters:
      - description: Identifies the porting event.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ShowPortingEventResponse'
        '404':
          description: Not found
        '500':
          description: Internal server error
      summary: Show a porting event
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting/events/{id}/republish:
    post:
      description: Republish a specific porting event.
      operationId: republishPortingEvent
      parameters:
      - description: Identifies the porting event.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '204':
          description: No content
        '404':
          description: Not found
        '500':
          description: Internal server error
      summary: Republish a porting event
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting/loa_configurations:
    get:
      description: List the LOA configurations.
      operationId: ListLoaConfigurations
      parameters:
      - $ref: '#/components/parameters/porting-order_PageConsolidated'
      responses:
        '200':
          $ref: '#/components/responses/ListPortingLOAConfigurations'
        '422':
          description: Unprocessable entity. Check message field in response for details.
        '500':
          description: Internal server error
      summary: List LOA configurations
      tags:
      - Porting Orders
      x-latency-category: responsive
    post:
      description: Create a LOA configuration.
      operationId: CreateLoaConfiguration
      requestBody:
        $ref: '#/components/requestBodies/CreatePortingLOAConfiguration'
      responses:
        '201':
          $ref: '#/components/responses/CreatePortingLOAConfiguration'
        '422':
          description: Unprocessable entity. Check message field in response for details.
        '500':
          description: Internal server error
      summary: Create a LOA configuration
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting/loa_configurations/preview:
    post:
      description: Preview the LOA template that would be generated without need to create LOA configuration.
      operationId: PreviewLoaConfigurationParams
      requestBody:
        $ref: '#/components/requestBodies/CreatePortingLOAConfiguration'
      responses:
        '200':
          $ref: '#/components/responses/DownloadLOATemplate'
        '422':
          description: Unprocessable entity. Check message field in response for details.
        '500':
          description: Internal server error
      summary: Preview the LOA configuration parameters
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting/loa_configurations/{id}:
    delete:
      description: Delete a specific LOA configuration.
      operationId: DeleteLoaConfiguration
      parameters:
      - description: Identifies a LOA configuration.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '204':
          description: No content
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      summary: Delete a LOA configuration
      tags:
      - Porting Orders
      x-latency-category: responsive
    get:
      description: Retrieve a specific LOA configuration.
      operationId: GetLoaConfiguration
      parameters:
      - description: Identifies a LOA configuration.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ShowPortingLOAConfiguration'
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      summary: Retrieve a LOA configuration
      tags:
      - Porting Orders
      x-latency-category: responsive
    patch:
      description: Update a specific LOA configuration.
      operationId: UpdateLoaConfiguration
      parameters:
      - description: Identifies a LOA configuration.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        $ref: '#/components/requestBodies/CreatePortingLOAConfiguration'
      responses:
        '200':
          $ref: '#/components/responses/UpdatePortingLOAConfiguration'
        '404':
          description: Resource not found
        '422':
          description: Unprocessable entity. Check message field in response for details.
        '500':
          description: Internal server error
      summary: Update a LOA configuration
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting/loa_configurations/{id}/preview:
    get:
      description: Preview a specific LOA configuration.
      operationId: PreviewLoaConfiguration
      parameters:
      - description: Identifies a LOA configuration.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DownloadLOATemplate'
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      summary: Preview a LOA configuration
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting/reports:
    get:
      description: List the reports generated about porting operations.
      operationId: ListPortingReports
      parameters:
      - $ref: '#/components/parameters/porting-order_PageConsolidated'
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[report_type], filter[status]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            report_type:
              description: Filter reports of a specific type
              enum:
              - export_porting_orders_csv
              example: export_porting_orders_csv
              type: string
            status:
              description: Filter reports of a specific status
              enum:
              - pending
              - completed
              example: completed
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortingReports'
        '422':
          description: Unprocessable entity. Check message field in response for details.
        '500':
          description: Internal server error
      summary: List porting related reports
      tags:
      - Porting Orders
      x-latency-category: responsive
    post:
      description: Generate reports about porting operations.
      operationId: CreatePortingReport
      requestBody:
        $ref: '#/components/requestBodies/CreatePortingReport'
      responses:
        '201':
          $ref: '#/components/responses/CreatePortingReport'
        '422':
          description: Unprocessable entity. Check message field in response for details.
        '500':
          description: Internal server error
      summary: Create a porting related report
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting/reports/{id}:
    get:
      description: Retrieve a specific report generated.
      operationId: GetPortingReport
      parameters:
      - description: Identifies a report.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ShowPortingReport'
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      summary: Retrieve a report
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting/uk_carriers:
    get:
      description: List available carriers in the UK.
      operationId: listPortingUKCarriers
      responses:
        '200':
          $ref: '#/components/responses/ListPortingUKCarriersResponse'
        '422':
          description: Unprocessable entity. Check message field in response for details.
        '500':
          description: Internal server error
      summary: List available carriers in the UK
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders:
    get:
      description: Returns a list of your porting order.
      operationId: ListPortingOrders
      parameters:
      - $ref: '#/components/parameters/porting-order_PageConsolidated'
      - $ref: '#/components/parameters/QueryIncludePhoneNumbers'
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[customer_reference], filter[customer_group_reference], filter[parent_support_key], filter[phone_numbers.country_code], filter[phone_numbers.carrier_name], filter[misc.type], filter[end_user.admin.entity_name], filter[end_user.admin.auth_person_name], filter[activation_settings.fast_port_eligible], filter[activation_settings.foc_datetime_requested][gt], filter[activation_settings.foc_datetime_requested][lt], filter[phone_numbers.phone_number][contains]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            activation_settings:
              properties:
                fast_port_eligible:
                  description: Filter results by fast port eligible
                  type: boolean
                foc_datetime_requested:
                  description: FOC datetime range filtering operations
                  properties:
                    gt:
                      description: Filter results by foc date later than this value
                      example: '2021-03-25T10:00:00.000Z'
                      type: string
                    lt:
                      description: Filter results by foc date earlier than this value
                      example: '2021-03-25T10:00:00.000Z'
                      type: string
                  type: object
              type: object
            customer_group_reference:
              description: Filter results by customer_group_reference
              type: string
            customer_reference:
              description: Filter results by customer_reference
              type: string
            end_user:
              properties:
                admin:
                  properties:
                    auth_person_name:
                      description: Filter results by authorized person
                      type: string
                    entity_name:
                      description: Filter results by person or company name
                      type: string
                  type: object
              type: object
            misc:
              properties:
                type:
                  $ref: '#/components/schemas/PortingOrderType'
                  description: Filter results by porting order type
              type: object
            parent_support_key:
              description: Filter results by parent_support_key
              type: string
            phone_numbers:
              properties:
                carrier_name:
                  description: Filter results by old service provider
                  type: string
                country_code:
                  description: Filter results by country ISO 3166-1 alpha-2 code
                  type: string
                phone_number:
                  description: Phone number pattern filtering operations
                  properties:
                    contains:
                      description: Filter results by full or partial phone_number
                      type: string
                  type: object
              type: object
          type: object
        style: deepObject
      - description: 'Consolidated sort parameter (deepObject style). Originally: sort[value]'
        explode: true
        in: query
        name: sort
        schema:
          properties:
            value:
              description: Specifies the sort order for results. If not given, results are sorted by created_at in descending order.
              enum:
              - created_at
              - -created_at
              - activation_settings.foc_datetime_requested
              - -activation_settings.foc_datetime_requested
              example: created_at
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortingOrder'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: List all porting orders
      tags:
      - Porting Orders
      x-latency-category: responsive
    post:
      description: Creates a new porting order object.
      operationId: CreatePortingOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePortingOrder'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/ListDraftPortingOrdersWithoutPagination'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Create a porting order
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/exception_types:
    get:
      description: Returns a list of all possible exception types for a porting order.
      operationId: ListExceptionTypes
      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/ListPortingOrdersExceptionTypes'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: List all exception types
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/phone_number_configurations:
    get:
      description: Returns a list of phone number configurations paginated.
      operationId: ListPhoneNumberConfigurations
      parameters:
      - $ref: '#/components/parameters/porting-order_PageConsolidated'
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[porting_order.status][in][], filter[porting_phone_number][in][], filter[user_bundle_id][in][]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            porting_order:
              properties:
                status:
                  description: Filter results by specific porting order statuses
                  items:
                    enum:
                    - activation-in-progress
                    - cancel-pending
                    - cancelled
                    - draft
                    - exception
                    - foc-date-confirmed
                    - in-process
                    - ported
                    - submitted
                    example: in-process
                    type: string
                  type: array
              type: object
            porting_phone_number:
              description: Filter results by a list of porting phone number IDs
              items:
                example: 5d6f7ede-1961-4717-bfb5-db392c5efc2d
                format: uuid
                type: string
              type: array
            user_bundle_id:
              description: Filter results by a list of user bundle IDs
              items:
                example: 5d6f7ede-1961-4717-bfb5-db392c5efc2d
                format: uuid
                type: string
              type: array
          type: object
        style: deepObject
      - description: 'Consolidated sort parameter (deepObject style). Originally: sort[value]'
        explode: true
        in: query
        name: sort
        schema:
          properties:
            value:
              description: Specifies the sort order for results. If not given, results are sorted by created_at in descending order.
              enum:
              - created_at
              - -created_at
              example: created_at
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortingPhoneNumberConfigurations'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: List all phone number configurations
      tags:
      - Porting Orders
      x-latency-category: responsive
    post:
      description: Creates a list of phone number configurations.
      operationId: CreatePhoneNumberConfigurations
      requestBody:
        $ref: '#/components/requestBodies/CreatePortingPhoneNumberConfigurations'
      responses:
        '201':
          $ref: '#/components/responses/CreatePortingPhoneNumberConfigurations'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Create a list of phone number configurations
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}:
    delete:
      description: Deletes an existing porting order. This operation is restrict to porting orders in draft state.
      operationId: DeletePortingOrder
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      responses:
        '204':
          description: No content
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Delete a porting order
      tags:
      - Porting Orders
      x-latency-category: responsive
    get:
      description: Retrieves the details of an existing porting order.
      operationId: GetPortingOrder
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      - $ref: '#/components/parameters/QueryIncludePhoneNumbers'
      responses:
        '200':
          $ref: '#/components/responses/ShowPortingOrder'
        '401':
          description: Unauthorized
      summary: Retrieve a porting order
      tags:
      - Porting Orders
      x-latency-category: responsive
    patch:
      description: 'Edits the details of an existing porting order.


        Any or all of a porting orders attributes may be included in the resource object included in a PATCH request.


        If a request does not include all of the attributes for a resource, the system will interpret the missing attributes as if they were included with their current values. To explicitly set something to null, it must be included in the request with a null value.'
      operationId: UpdatePortingOrder
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePortingOrder'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/UpdatePortingOrderResponse'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Edit a porting order
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}/actions/activate:
    post:
      description: Activate each number in a porting order asynchronously. This operation is limited to US FastPort orders only.
      operationId: ActivatePortingOrder
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      responses:
        '202':
          $ref: '#/components/responses/ShowPortingOrdersActivationJob'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Activate every number in a porting order asynchronously.
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}/actions/cancel:
    post:
      description: Cancel a porting order
      operationId: CancelPortingOrder
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      responses:
        '200':
          $ref: '#/components/responses/CancelPortingOrderResponse'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Cancel a porting order
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}/actions/confirm:
    post:
      description: Confirm and submit your porting order.
      operationId: ConfirmPortingOrder
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      responses:
        '200':
          $ref: '#/components/responses/ConfirmPortingOrderResponse'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Submit a porting order.
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}/actions/share:
    post:
      description: Creates a sharing token for a porting order. The token can be used to share the porting order with non-Telnyx users.
      operationId: SharePortingOrder
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      requestBody:
        $ref: '#/components/requestBodies/SharePortingOrder'
      responses:
        '201':
          $ref: '#/components/responses/SharePortingOrder'
        '401':
          description: Unauthorized
        '404':
          description: Porting Order not found
      summary: Share a porting order
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}/activation_jobs:
    get:
      description: Returns a list of your porting activation jobs.
      operationId: ListPortingOrderActivationJobs
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      - $ref: '#/components/parameters/porting-order_PageConsolidated'
      responses:
        '200':
          $ref: '#/components/responses/ListPortingOrdersActivationJobs'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: List all porting activation jobs
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}/activation_jobs/{activationJobId}:
    get:
      description: Returns a porting activation job.
      operationId: GetPortingOrdersActivationJob
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      - $ref: '#/components/parameters/PathPortingOrdersActivationJobID'
      responses:
        '200':
          $ref: '#/components/responses/ShowPortingOrdersActivationJob'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Retrieve a porting activation job
      tags:
      - Porting Orders
      x-latency-category: responsive
    patch:
      description: Updates the activation time of a porting activation job.
      operationId: UpdatePortingOrdersActivationJob
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      - $ref: '#/components/parameters/PathPortingOrdersActivationJobID'
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortingOrdersActivationJob'
      responses:
        '200':
          $ref: '#/components/responses/ShowPortingOrdersActivationJob'
        '404':
          description: Not found
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Update a porting activation job
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}/additional_documents:
    get:
      description: Returns a list of additional documents for a porting order.
      operationId: ListAdditionalDocuments
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      - $ref: '#/components/parameters/porting-order_PageConsolidated'
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[document_type]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            document_type:
              description: Filter additional documents by a list of document types
              items:
                enum:
                - loa
                - invoice
                - csr
                - other
                example: loa
                type: string
              type: array
          type: object
        style: deepObject
      - description: 'Consolidated sort parameter (deepObject style). Originally: sort[value]'
        explode: true
        in: query
        name: sort
        schema:
          properties:
            value:
              description: Specifies the sort order for results. If not given, results are sorted by created_at in descending order.
              enum:
              - created_at
              - -created_at
              example: created_at
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortingAdditionalDocuments'
        '401':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: List additional documents
      tags:
      - Porting Orders
      x-latency-category: responsive
    post:
      description: Creates a list of additional documents for a porting order.
      operationId: CreateAdditionalDocuments
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      requestBody:
        $ref: '#/components/requestBodies/CreatePortingAdditionalDocuments'
      responses:
        '201':
          $ref: '#/components/responses/CreatePortingAdditionalDocuments'
        '401':
          description: Unauthorized
        '404':
          description: Resource not found
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Create a list of additional documents
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}/additional_documents/{additional_document_id}:
    delete:
      description: Deletes an additional document for a porting order.
      operationId: DeleteAdditionalDocument
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      - description: Additional document identification.
        in: path
        name: additional_document_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '204':
          description: No content
        '401':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Delete an additional document
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}/allowed_foc_windows:
    get:
      description: Returns a list of allowed FOC dates for a porting order.
      operationId: ListAllowedFocWindows
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      responses:
        '200':
          $ref: '#/components/responses/ListAllowedFocWindows'
        '401':
          description: Unauthorized
      summary: List allowed FOC dates
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}/comments:
    get:
      description: Returns a list of all comments of a porting order.
      operationId: ListPortingOrderComments
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      - $ref: '#/components/parameters/porting-order_PageConsolidated'
      responses:
        '200':
          $ref: '#/components/responses/ListPortingOrdersComments'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: List all comments of a porting order
      tags:
      - Porting Orders
      x-latency-category: responsive
    post:
      description: Creates a new comment for a porting order.
      operationId: CreatePortingOrderComment
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePortingOrderComment'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/ShowPortingOrdersComment'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Create a comment for a porting order
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}/loa_template:
    get:
      description: Download a porting order loa template
      operationId: GetPortingOrderLoaTemplate
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      - description: The identifier of the LOA configuration to use for the template. If not provided, the default LOA configuration will be used.
        example: a36c2277-446b-4d11-b4ea-322e02a5c08d
        in: query
        name: loa_configuration_id
        required: false
        schema:
          format: uuid
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DownloadLOATemplate'
        '401':
          description: Unauthorized
      summary: Download a porting order loa template
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}/requirements:
    get:
      description: Returns a list of all requirements based on country/number type for this porting order.
      operationId: ListPortingOrderRequirements
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      - $ref: '#/components/parameters/porting-order_PageConsolidated'
      responses:
        '200':
          $ref: '#/components/responses/ListPortingOrderRequirements'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: List porting order requirements
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}/sub_request:
    get:
      description: Retrieve the associated V1 sub_request_id and port_request_id
      operationId: GetPortingOrderSubRequest
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      responses:
        '200':
          $ref: '#/components/responses/SubRequestByPortingOrder'
        '401':
          description: Unauthorized
        '404':
          description: Porting Order not found
      summary: Retrieve the associated V1 sub_request_id and port_request_id
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}/verification_codes:
    get:
      description: Returns a list of verification codes for a porting order.
      operationId: ListVerificationCodes
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      - $ref: '#/components/parameters/porting-order_PageConsolidated'
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[verified]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            verified:
              description: Filter verification codes that have been verified or not
              example: true
              type: boolean
          type: object
        style: deepObject
      - description: 'Consolidated sort parameter (deepObject style). Originally: sort[value]'
        explode: true
        in: query
        name: sort
        schema:
          properties:
            value:
              description: Specifies the sort order for results. If not given, results are sorted by created_at in descending order.
              enum:
              - created_at
              - -created_at
              example: created_at
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortingVerificationCodes'
        '401':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: List verification codes
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}/verification_codes/send:
    post:
      description: Send the verification code for all porting phone numbers.
      operationId: SendPortingVerificationCodes
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      requestBody:
        $ref: '#/components/requestBodies/SendPortingVerificationCodes'
      responses:
        '204':
          description: No content
        '401':
          description: Unauthorized
        '404':
          description: Resource not found
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Send the verification codes
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{id}/verification_codes/verify:
    post:
      description: Verifies the verification code for a list of phone numbers.
      operationId: VerifyPortingVerificationCodes
      parameters:
      - $ref: '#/components/parameters/PathPortingOrderID'
      requestBody:
        $ref: '#/components/requestBodies/VerifyPortingVerificationCodes'
      responses:
        '200':
          $ref: '#/components/responses/VerifyPortingVerificationCodes'
        '401':
          description: Unauthorized
        '404':
          description: Resource not found
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Verify the verification code for a list of phone numbers
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{porting_order_id}/action_requirements:
    get:
      description: Returns a list of action requirements for a specific porting order.
      operationId: listPortingActionRequirements
      parameters:
      - description: The ID of the porting order
        in: path
        name: porting_order_id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/porting-order_PageConsolidated'
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[id][in][], filter[requirement_type_id], filter[action_type], filter[status]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            action_type:
              description: Filter action requirements by action type
              enum:
              - au_id_verification
              type: string
            id:
              description: Filter action requirements by a list of IDs
              items:
                format: uuid
                type: string
              type: array
            requirement_type_id:
              description: Filter action requirements by requirement type ID
              format: uuid
              type: string
            status:
              description: Filter action requirements by status
              enum:
              - created
              - pending
              - completed
              - cancelled
              - failed
              type: string
          type: object
        style: deepObject
      - description: 'Consolidated sort parameter (deepObject style). Originally: sort[value]'
        explode: true
        in: query
        name: sort
        schema:
          properties:
            value:
              description: Specifies the sort order for results. If not given, results are sorted by created_at in descending order.
              enum:
              - created_at
              - -created_at
              - updated_at
              - -updated_at
              example: created_at
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortingActionRequirements'
        '401':
          description: Unauthorized
        '404':
          description: Porting order not found
        '500':
          description: Internal server error
      summary: List action requirements for a porting order
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{porting_order_id}/action_requirements/{id}/initiate:
    post:
      description: Initiates a specific action requirement for a porting order.
      operationId: initiatePortingActionRequirement
      parameters:
      - description: The ID of the porting order
        in: path
        name: porting_order_id
        required: true
        schema:
          type: string
      - description: The ID of the action requirement
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/InitiatePortingActionRequirement'
      responses:
        '200':
          $ref: '#/components/responses/ShowPortingActionRequirement'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Porting order or action requirement not found
        '422':
          description: Unprocessable entity. Check message field in response for details.
        '500':
          description: Internal server error
      summary: Initiate an action requirement
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{porting_order_id}/associated_phone_numbers:
    get:
      description: Returns a list of all associated phone numbers for a porting order. Associated phone numbers are used for partial porting in GB to specify which phone numbers should be kept or disconnected.
      operationId: listPortingAssociatedPhoneNumbers
      parameters:
      - description: Identifies the Porting Order associated with the phone numbers
        in: path
        name: porting_order_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/porting-order_PageConsolidated'
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[phone_number], filter[action]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            action:
              description: Filter results by action type
              enum:
              - keep
              - disconnect
              example: keep
              type: string
            phone_number:
              description: Filter results by a phone number. It should be in E.164 format.
              example: '+441234567890'
              type: string
          type: object
        style: deepObject
      - description: 'Consolidated sort parameter (deepObject style). Originally: sort[value]'
        explode: true
        in: query
        name: sort
        schema:
          properties:
            value:
              default: -created_at
              description: Specifies the sort order for results. If not given, results are sorted by created_at in descending order
              enum:
              - -created_at
              - created_at
              example: -created_at
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortingAssociatedPhoneNumbers'
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: List all associated phone numbers
      tags:
      - Porting Orders
      x-latency-category: responsive
    post:
      description: Creates a new associated phone number for a porting order. This is used for partial porting in GB to specify which phone numbers should be kept or disconnected.
      operationId: createPortingAssociatedPhoneNumber
      parameters:
      - description: Identifies the Porting Order associated with the phone number
        in: path
        name: porting_order_id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        $ref: '#/components/requestBodies/CreatePortingAssociatedPhoneNumber'
      responses:
        '201':
          $ref: '#/components/responses/ShowPortingAssociatedPhoneNumber'
        '404':
          description: Not found
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Create an associated phone number
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{porting_order_id}/associated_phone_numbers/{id}:
    delete:
      description: Deletes an associated phone number from a porting order.
      operationId: deletePortingAssociatedPhoneNumber
      parameters:
      - description: Identifies the Porting Order associated with the phone number
        in: path
        name: porting_order_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Identifies the associated phone number to be deleted
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ShowPortingAssociatedPhoneNumber'
        '404':
          description: Not found
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Delete an associated phone number
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{porting_order_id}/phone_number_blocks:
    get:
      description: Returns a list of all phone number blocks of a porting order.
      operationId: listPortingPhoneNumberBlocks
      parameters:
      - description: Identifies the Porting Order associated with the phone number blocks
        in: path
        name: porting_order_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/porting-order_FilterConsolidated'
      - $ref: '#/components/parameters/porting-order_PageConsolidated'
      - description: 'Consolidated sort parameter (deepObject style). Originally: sort[value]'
        explode: true
        in: query
        name: sort
        schema:
          properties:
            value:
              description: Specifies the sort order for results. If not given, results are sorted by created_at in descending order
              enum:
              - -created_at
              - created_at
              example: created_at
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortingPhoneNumberBlocks'
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: List all phone number blocks
      tags:
      - Porting Orders
      x-latency-category: responsive
    post:
      description: Creates a new phone number block.
      operationId: createPortingPhoneNumberBlock
      parameters:
      - description: Identifies the Porting Order associated with the phone number block
        in: path
        name: porting_order_id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        $ref: '#/components/requestBodies/CreatePortingPhoneNumberBlock'
      responses:
        '201':
          $ref: '#/components/responses/ShowPortingPhoneNumberBlock'
        '404':
          description: Not found
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Create a phone number block
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{porting_order_id}/phone_number_blocks/{id}:
    delete:
      description: Deletes a phone number block.
      operationId: deletePortingPhoneNumberBlock
      parameters:
      - description: Identifies the Porting Order associated with the phone number block
        in: path
        name: porting_order_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Identifies the phone number block to be deleted
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ShowPortingPhoneNumberBlock'
        '404':
          description: Not found
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Delete a phone number block
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{porting_order_id}/phone_number_extensions:
    get:
      description: Returns a list of all phone number extensions of a porting order.
      operationId: listPortingPhoneNumberExtensions
      parameters:
      - description: Identifies the Porting Order associated with the phone number extensions
        in: path
        name: porting_order_id
        required: true
        schema:
          format: uuid
          type: string
      - $ref: '#/components/parameters/porting-order_PageConsolidated'
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[porting_phone_number_id]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            porting_phone_number_id:
              description: Filter results by porting phone number id
              example: 04f8f1b9-310c-4a3c-963e-7dfc54765140
              format: uuid
              type: string
          type: object
        style: deepObject
      - description: 'Consolidated sort parameter (deepObject style). Originally: sort[value]'
        explode: true
        in: query
        name: sort
        schema:
          properties:
            value:
              description: Specifies the sort order for results. If not given, results are sorted by created_at in descending order
              enum:
              - -created_at
              - created_at
              example: created_at
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortingPhoneNumberExtensions'
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: List all phone number extensions
      tags:
      - Porting Orders
      x-latency-category: responsive
    post:
      description: Creates a new phone number extension.
      operationId: createPortingPhoneNumberExtension
      parameters:
      - description: Identifies the Porting Order associated with the phone number extension
        in: path
        name: porting_order_id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        $ref: '#/components/requestBodies/CreatePortingPhoneNumberExtension'
      responses:
        '201':
          $ref: '#/components/responses/ShowPortingPhoneNumberExtension'
        '404':
          description: Not found
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Create a phone number extension
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_orders/{porting_order_id}/phone_number_extensions/{id}:
    delete:
      description: Deletes a phone number extension.
      operationId: deletePortingPhoneNumberExtension
      parameters:
      - description: Identifies the Porting Order associated with the phone number extension
        in: path
        name: porting_order_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Identifies the phone number extension to be deleted
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ShowPortingPhoneNumberExtension'
        '404':
          description: Not found
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: Delete a phone number extension
      tags:
      - Porting Orders
      x-latency-category: responsive
  /porting_phone_numbers:
    get:
      description: Returns a list of your porting phone numbers.
      operationId: ListPortingPhoneNumbers
      parameters:
      - $ref: '#/components/parameters/porting-order_PageConsolidated'
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[porting_order_status]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            porting_order_status:
              description: Filter results by porting order status
              enum:
              - draft
              - in-process
              - submitted
              - exception
              - foc-date-confirmed
              - cancel-pending
              - ported
              - cancelled
              example: in-process
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortingPhoneNumbers'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable entity. Check message field in response for details.
      summary: List all porting phone numbers
      tags:
      - Porting Orders
      x-latency-category: responsive
components:
  responses:
    ListPortingActionRequirements:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingActionRequirement'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    ListPortingLOAConfigurations:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingLOAConfiguration'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    ShowPortingPhoneNumberBlock:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PortingPhoneNumberBlock'
            type: object
      description: Successful response
    ShowPortingOrder:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PortingOrder'
              meta:
                properties:
                  phone_numbers_url:
                    description: Link to list all phone numbers
                    example: /v2/porting_phone_numbers?filter[porting_order_id]=eef10fb8-f3df-4c67-97c5-e18179723222
                    type: string
                type: object
            type: object
      description: Successful response
    ShowPortingOrdersActivationJob:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PortingOrdersActivationJob'
            type: object
      description: Successful response
    ShowPortingLOAConfiguration:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PortingLOAConfiguration'
            type: object
      description: Successful response
    ShowPortingPhoneNumberExtension:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PortingPhoneNumberExtension'
            type: object
      description: Successful response
    ListPortingReports:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingReport'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    ListPortingOrder:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingOrder'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    ShowPortingOrdersComment:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PortingOrdersComment'
            type: object
      description: Successful response
    ListPortingEventsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingEvent'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    ShowPortingActionRequirement:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PortingActionRequirement'
            type: object
      description: Successful response
    ListPortingPhoneNumbers:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingPhoneNumber'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
        text/csv:
          schema:
            example: "phone_number,phone_number_type,porting_order_id,support_key,porting_order_status\r\n+12003155566,local,5f940c35-ef28-4408-bb95-af73b047d589,sr_a12345,draft\r\n"
            type: string
      description: Successful response
    ListPortingOrdersActivationJobs:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingOrdersActivationJob'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    ListAllowedFocWindows:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingOrdersAllowedFocWindow'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    CreatePortingReport:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PortingReport'
            type: object
      description: Successful response
    ListPortingPhoneNumberBlocks:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingPhoneNumberBlock'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    ListPortingAdditionalDocuments:
      content:
        application/json:
          schema:
            example:
              data:
              - created_at: '2023-06-01T10:00:00.00000Z'
                document_id: 40bc547a-7f96-4cd5-926a-da4842671e88
                document_type: loa
                id: 2acd1061-33cb-49b8-8014-beb6dc3fedbf
                porting_order_id: 9d7b3b8e-4e67-4837-9c44-d110cd2c82a1
                record_type: porting_additional_document
                updated_at: '2023-06-01T10:00:00.00000Z'
              meta:
                page_number: 1
                page_size: 25
                total_pages: 1
                total_results: 1
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingAdditionalDocument'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    ListPortingUKCarriersResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingUKCarrier'
                type: array
            type: object
      description: Successful response
    UpdatePortingOrderResponse:
      content:
        application/json:
          schema:
            example:
              data:
                activation_settings:
                  activation_status: null
                  fast_port_eligible: true
                  foc_datetime_actual: null
                  foc_datetime_requested: '2022-04-08T15:00:00Z'
                created_at: '2022-03-24T14:22:28Z'
                customer_group_reference: Group-789
                customer_reference: Test1234
                description: FP Telnyx
                documents:
                  invoice: null
                  loa: null
                end_user:
                  admin:
                    account_number: 123abc
                    auth_person_name: Porter McPortersen II
                    billing_phone_number: '+13035551234'
                    business_identifier: abc123
                    entity_name: Porter McPortersen
                    pin_passcode: '1234'
                    tax_identifier: 1234abcd
                  location:
                    administrative_area: TX
                    country_code: US
                    extended_address: 14th Floor
                    locality: Austin
                    postal_code: '78701'
                    street_address: 600 Congress Avenue
                id: eef10fb8-f3df-4c67-97c5-e18179723222
                messaging:
                  enable_messaging: true
                  messaging_capable: true
                  messaging_port_completed: false
                  messaging_port_status: pending
                misc:
                  new_billing_phone_number: null
                  remaining_numbers_action: null
                  type: full
                old_service_provider_ocn: Unreal Communications
                parent_support_key: null
                phone_number_configuration:
                  billing_group_id: null
                  connection_id: '1752379429071357070'
                  emergency_address_id: null
                  messaging_profile_id: null
                  tags: []
                phone_number_type: local
                porting_phone_numbers_count: 1
                record_type: porting_order
                requirements: []
                requirements_met: false
                status:
                  details: []
                  value: draft
                support_key: null
                updated_at: '2022-03-24T14:26:53Z'
                user_feedback:
                  user_comment: null
                  user_rating: null
                user_id: 40d68ba2-0847-4df2-be9c-b0e0cb673e75
                webhook_url: https://example.com/porting_webhooks
              meta:
                phone_numbers_url: /v2/porting_phone_numbers?filter[porting_order_id]=eef10fb8-f3df-4c67-97c5-e18179723222
            properties:
              data:
                $ref: '#/components/schemas/PortingOrder'
              meta:
                properties:
                  phone_numbers_url:
                    description: Link to list all phone numbers
                    type: string
                type: object
            type: object
      description: Successful response
    DownloadLOATemplate:
      content:
        application/pdf:
          schema:
            example: '%PDF-1.4...'
            format: binary
            type: string
      description: Successful response
    SubRequestByPortingOrder:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/GetSubRequestByPortingOrder'
            type: object
      description: Successful response
    ListDraftPortingOrdersWithoutPagination:
      content:
        application/json:
          schema:
            example:
              data:
              - activation_settings:
                  activation_status: null
                  fast_port_eligible: true
                  foc_datetime_actual: null
                  foc_datetime_requested: null
                created_at: '2022-03-17T18:01:01Z'
                customer_group_reference: null
                customer_reference: null
                description: FP Telnyx
                documents:
                  invoice: null
                  loa: null
                end_user:
                  admin:
                    account_number: null
                    auth_person_name: null
                    billing_phone_number: null
                    business_identifier: null
                    entity_name: null
                    pin_passcode: null
                    tax_identifier: null
                  location:
                    administrative_area: null
                    country_code: null
                    extended_address: null
                    locality: null
                    postal_code: null
                    street_address: null
                id: b0ea6d6f-de31-4079-a536-992e0c98b037
                messaging:
                  enable_messaging: false
                  messaging_capable: true
                  messaging_port_completed: false
                  messaging_port_status: not_applicable
                misc: null
                old_service_provider_ocn: Unreal Communications
                parent_support_key: null
                phone_number_configuration:
                  billing_group_id: null
                  connection_id: null
                  emergency_address_id: null
                  messaging_profile_id: null
                  tags: []
                phone_number_type: local
                phone_numbers:
                - activation_status: Activate RDY
                  phone_number: '{e.164 TN}'
                  phone_number_type: local
                  portability_status: confirmed
                  porting_order_id: b0ea6d6f-de31-4079-a536-992e0c98b037
                  porting_order_status: draft
                  record_type: porting_phone_number
                  requirements_status: requirement-info-pending
                  support_key: sr_10b316
                porting_phone_numbers_count: 1
                record_type: porting_order
                requirements: []
                requirements_met: false
                status:
                  details: []
                  value: draft
                support_key: null
                updated_at: '2022-03-17T18:01:01Z'
                user_feedback:
                  user_comment: null
                  user_rating: null
                user_id: 40d68ba2-0847-4df2-be9c-b0e0cb673e75
                webhook_url: null
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingOrder'
                type: array
            type: object
      description: Successful response
    ListPortingAssociatedPhoneNumbers:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingAssociatedPhoneNumber'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    ConfirmPortingOrderResponse:
      content:
        application/json:
          schema:
            example:
              data:
                activation_settings:
                  activation_status: null
                  fast_port_eligible: true
                  foc_datetime_actual: null
                  foc_datetime_requested: '2022-04-08T15:00:00Z'
                created_at: '2022-03-24T14:22:28Z'
                customer_group_reference: Group-789
                customer_reference: Test1234
                description: FP Telnyx
                documents:
                  invoice: 3a5b98a0-5049-47c3-96e1-aa6c8d119117
                  loa: 3a5b98a0-5049-47c3-96e1-aa6c8d119117
                end_user:
                  admin:
                    account_number: 123abc
                    auth_person_name: Porter McPortersen II
                    billing_phone_number: '+13035551234'
                    business_identifier: abc123
                    entity_name: Porter McPortersen
                    pin_passcode: '1234'
                    tax_identifier: 1234abcd
                  location:
                    administrative_area: TX
                    country_code: US
                    extended_address: 14th Floor
                    locality: Austin
                    postal_code: '78701'
                    street_address: 600 Congress Avenue
                id: eef10fb8-f3df-4c67-97c5-e18179723222
                messaging:
                  enable_messaging: false
                  messaging_capable: true
                  messaging_port_completed: false
                  messaging_port_status: not_applicable
                misc:
                  new_billing_phone_number: null
                  remaining_numbers_action: null
                  type: full
                old_service_provider_ocn: Unreal Communications
                parent_support_key: pr_4bec1a
                phone_number_configuration:
                  billing_group_id: null
                  connection_id: '1752379429071357070'
                  emergency_address_id: null
                  messaging_profile_id: null
                  tags: []
                phone_number_type: local
                porting_phone_numbers_count: 1
                record_type: porting_order
                requirements: []
                requirements_met: true
                status:
                  details: []
                  value: in-process
                support_key: sr_10b316
                updated_at: '2022-03-24T16:42:43Z'
                user_feedback:
                  user_comment: null
                  user_rating: null
                user_id: 40d68ba2-0847-4df2-be9c-b0e0cb673e75
                webhook_url: https://example.com/porting_webhooks
              meta:
                phone_numbers_url: /v2/porting_phone_numbers?filter[porting_order_id]=eef10fb8-f3df-4c67-97c5-e18179723222
            properties:
              data:
                $ref: '#/components/schemas/PortingOrder'
              meta:
                properties:
                  phone_numbers_url:
                    description: Link to list all phone numbers
                    type: string
                type: object
            type: object
      description: Successful response
    ListPortingPhoneNumberExtensions:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingPhoneNumberExtension'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    CreatePortingLOAConfiguration:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PortingLOAConfiguration'
            type: object
      description: Successful response
    ShowPortingAssociatedPhoneNumber:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PortingAssociatedPhoneNumber'
            type: object
      description: Successful response
    ShowPortingEventResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PortingEvent'
            type: object
      description: Successful response
    VerifyPortingVerificationCodes:
      content:
        application/json:
          schema:
            example:
              data:
              - created_at: '2020-10-22T15:00:00.000Z'
                id: 52090326-6533-4421-bcf4-bd0117cf3954
                phone_number: '+61424000001'
                porting_order_id: f28e6ecc-29a8-430b-bd0b-d93055f70604
                updated_at: '2020-10-22T15:00:00.000Z'
                verified: true
              - created_at: '2020-10-22T15:00:00.000Z'
                id: cf076b8e-645b-4040-8209-543c5909775f
                phone_number: '+61424000002'
                porting_order_id: f28e6ecc-29a8-430b-bd0b-d93055f70604
                updated_at: '2020-10-22T15:00:00.000Z'
                verified: false
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingVerificationCode'
                type: array
            type: object
      description: Successful response
    ListPortingOrdersComments:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingOrdersComment'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    ShowPortingReport:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PortingReport'
            type: object
      description: Successful response
    ListPortingOrdersExceptionTypes:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingOrdersExceptionType'
                type: array
            type: object
      description: Successful response
    UpdatePortingLOAConfiguration:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PortingLOAConfiguration'
            type: object
      description: Successful response
    CreatePortingPhoneNumberConfigurations:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingPhoneNumberConfiguration'
                type: array
            type: object
      description: Successful response
    SharePortingOrder:
      content:
        application/json:
          example:
            data:
              created_at: '2023-07-20T22:11:17.292573Z'
              expires_at: '2023-07-20T23:11:17Z'
              expires_in_seconds: 3600
              id: 03a35311-ad92-46b3-95d7-8ad6dccf2d7c
              permissions:
              - porting_order.document.read
              - porting_order.document.update
              porting_order_id: fd4b86c8-497d-4c6d-9609-a789e4e14cfe
              record_type: porting_order_sharing_token
              token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2ODk4OTQ2NzcsImlzdCI6MTY4OTg5MTA3NywicGVybWlzc2lvbnMiOlsicG9ydGluZ19vcmRlci5kb2N1bWVudC5yZWFkIl0sInBvcnRpbmdfb3JkZXJfaWQiOiJmZDRiODZjOC00OTdkLTRjNmQtOTYwOS1hNzg5ZTRlMTRjZmUifQ.CT0HRF6OLj7VPZ8p5Y_0S8rOL8SEUznwJJkR-YReKwc
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PortingOrderSharingToken'
            type: object
      description: Successful response
    ListPortingVerificationCodes:
      content:
        application/json:
          schema:
            example:
              data:
              - created_at: '2020-10-22T15:00:00.000Z'
                id: 52090326-6533-4421-bcf4-bd0117cf3954
                phone_number: '+61424000001'
                porting_order_id: f28e6ecc-29a8-430b-bd0b-d93055f70604
                updated_at: '2020-10-22T15:00:00.000Z'
                verified: true
              - created_at: '2020-10-22T15:00:00.000Z'
                id: cf076b8e-645b-4040-8209-543c5909775f
                phone_number: '+61424000002'
                porting_order_id: f28e6ecc-29a8-430b-bd0b-d93055f70604
                updated_at: '2020-10-22T15:00:00.000Z'
                verified: false
              meta:
                page_number: 1
                page_size: 2
                total_pages: 1
                total_results: 2
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingVerificationCode'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    CreatePortingAdditionalDocuments:
      content:
        application/json:
          schema:
            example:
              data:
              - created_at: '2023-06-01T10:00:00.00000Z'
                document_id: 40bc547a-7f96-4cd5-926a-da4842671e88
                document_type: loa
                id: 2acd1061-33cb-49b8-8014-beb6dc3fedbf
                porting_order_id: 9d7b3b8e-4e67-4837-9c44-d110cd2c82a1
                record_type: porting_additional_document
                updated_at: '2023-06-01T10:00:00.00000Z'
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingAdditionalDocument'
                type: array
            type: object
      description: Successful response
    CancelPortingOrderResponse:
      content:
        application/json:
          schema:
            example:
              data:
                activation_settings:
                  activation_status: null
                  fast_port_eligible: true
                  foc_datetime_actual: null
                  foc_datetime_requested: '2022-04-08T15:00:00Z'
                created_at: '2022-03-24T14:22:28Z'
                customer_group_reference: Group-789
                customer_reference: Test1234
                description: FP Telnyx
                documents:
                  invoice: 3a5b98a0-5049-47c3-96e1-aa6c8d119117
                  loa: 3a5b98a0-5049-47c3-96e1-aa6c8d119117
                end_user:
                  admin:
                    account_number: 123abc
                    auth_person_name: Porter McPortersen II
                    billing_phone_number: '+13035551234'
                    business_identifier: abc123
                    entity_name: Porter McPortersen
                    pin_passcode: '1234'
                    tax_identifier: 1234abcd
                  location:
                    administrative_area: TX
                    country_code: US
                    extended_address: 14th Floor
                    locality: Austin
                    postal_code: '78701'
                    street_address: 600 Congress Avenue
                id: eef10fb8-f3df-4c67-97c5-e18179723222
                misc:
                  new_billing_phone_number: null
                  remaining_numbers_action: null
                  type: full
                old_service_provider_ocn: Unreal Communications
                parent_support_key: pr_4bec1a
                phone_number_configuration:
                  billing_group_id: null
                  connection_id: '1752379429071357070'
                  emergency_address_id: null
                  messaging_profile_id: null
                  tags: []
                phone_number_type: local
                porting_phone_numbers_count: 1
                record_type: porting_order
                requirements: []
                requirements_met: true
                status:
                  details: []
                  value: cancel-pending
                support_key: sr_10b316
                updated_at: '2022-03-24T16:43:35Z'
                user_feedback:
                  user_comment: null
                  user_rating: null
                user_id: 40d68ba2-0847-4df2-be9c-b0e0cb673e75
                webhook_url: https://example.com/porting_webhooks
              meta:
                phone_numbers_url: /v2/porting_phone_numbers?filter[porting_order_id]=eef10fb8-f3df-4c67-97c5-e18179723222
            properties:
              data:
                $ref: '#/components/schemas/PortingOrder'
              meta:
                properties:
                  phone_numbers_url:
                    description: Link to list all phone numbers
                    type: string
                type: object
            type: object
      description: Successful response
    ListPortingOrderRequirements:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingOrderRequirementDetail'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    ListPortingPhoneNumberConfigurations:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PortingPhoneNumberConfiguration'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
  schemas:
    PortingEventDeletedPayload:
      properties:
        available_notification_methods:
          description: Indicates the notification methods used.
          items:
            enum:
            - email
            - webhook
            - webhook_v1
            type: string
          type: array
        event_type:
          description: Identifies the event type
          enum:
          - porting_order.deleted
          example: porting_order.deleted
          type: string
        id:
          description: Uniquely identifies the event.
          example: eef3340b-8903-4466-b445-89b697315a3a
          format: uuid
          type: string
        payload:
          properties:
            created_at:
              description: ISO 8601 formatted date indicating when the resource was created.
              example: '2021-03-19T10:07:15.527000Z'
              format: date-time
              type: string
            customer_reference:
              description: Identifies the customer reference associated with the porting order.
              example: my-ref-001
              type: string
            deleted_at:
              description: ISO 8601 formatted date indicating when the porting order was deleted.
              example: '2021-03-19T10:07:15.527Z'
              format: date-time
              type: string
            id:
              description: Identifies the porting order that was deleted.
              example: 96dfa9e4-c753-4fd3-97cd-42d66f26cf0c
              format: uuid
              type: string
            record_type:
              description: Identifies the type of the resource.
              example: porting_event
              readOnly: true
              type: string
            updated_at:
              description: ISO 8601 formatted date indicating when the resource was updated.
              example: '2021-03-19T10:07:15.527000Z'
              format: date-time
              type: string
          type: object
        payload_status:
          description: The status of the payload generation.
          enum:
          - created
          - completed
          example: created
          type: string
        porting_order_id:
          description: Identifies the porting order associated with the event.
          example: 9471c873-e3eb-4ca1-957d-f9a451334d52
          format: uuid
          type: string
      type: object
    PortingOrdersExceptionType:
      properties:
        code:
          description: Identifier of an exception type
          enum:
          - ACCOUNT_NUMBER_MISMATCH
          - AUTH_PERSON_MISMATCH
          - BTN_ATN_MISMATCH
          - ENTITY_NAME_MISMATCH
          - FOC_EXPIRED
          - FOC_REJECTED
          - LOCATION_MISMATCH
          - LSR_PENDING
          - MAIN_BTN_PORTING
          - OSP_IRRESPONSIVE
          - OTHER
          - PASSCODE_PIN_INVALID
          - PHONE_NUMBER_HAS_SPECIAL_FEATURE
          - PHONE_NUMBER_MISMATCH
          - PHONE_NUMBER_NOT_PORTABLE
          - PORT_TYPE_INCORRECT
          - PORTING_ORDER_SPLIT_REQUIRED
          - POSTAL_CODE_MISMATCH
          - RATE_CENTER_NOT_PORTABLE
          - SV_CONFLICT
          - SV_UNKNOWN_FAILURE
          example: ENTITY_NAME_MISMATCH
          type: string
        description:
          description: Description of an exception type
          example: Entity name does not match that on the CSR
          type: string
      type: object
    PortingOrderActivationStatus:
      description: Activation status
      enum:
      - New
      - Pending
      - Conflict
      - Cancel Pending
      - Failed
      - Concurred
      - Activate RDY
      - Disconnect Pending
      - Concurrence Sent
      - Old
      - Sending
      - Active
      - Cancelled
      example: Active
      type: string
    UpdatePortingOrderRequirement:
      description: Specifies a value for a requirement on the Porting Order.
      properties:
        field_value:
          description: identifies the document or provides the text value that satisfies this requirement
          example: 9787fb5f-cbe5-4de4-b765-3303774ee9fe
          type: string
        requirement_type_id:
          description: Identifies the requirement type that the `field_value` fulfills
          example: 59b0762a-b274-4f76-ac32-4d5cf0272e66
          type: string
      required:
      - field_value
      - requirement_type_id
      type: object
    PortingEventMessagingChangedPayload:
      properties:
        available_notification_methods:
          description: Indicates the notification methods used.
          items:
            enum:
            - email
            - webhook
            - webhook_v1
            type: string
          type: array
        created_at:
          description: ISO 8601 formatted date indicating when the resource was created.
          example: '2021-03-19T10:07:15.527000Z'
          format: date-time
          type: string
        event_type:
          description: Identifies the event type
          enum:
          - porting_order.messaging_changed
          example: porting_order.messaging_changed
          type: string
        id:
          description: Uniquely identifies the event.
          example: eef3340b-8903-4466-b445-89b697315a3a
          format: uuid
          type: string
        payload:
          description: The webhook payload for the porting_order.messaging_changed event
          properties:
            customer_reference:
              description: Identifies the customer reference associated with the porting order.
              example: my-ref-001
              type: string
            id:
              description: Identifies the porting order that was moved.
              example: 96dfa9e4-c753-4fd3-97cd-42d66f26cf0c
              format: uuid
              type: string
            messaging:
              description: The messaging portability status of the porting order.
              properties:
                enable_messaging:
                  description: Indicates whether Telnyx will port messaging capabilities from the losing carrier. If false, any messaging capabilities will stay with their current provider.
                  example: true
                  type: boolean
                messaging_capable:
                  description: Indicates whether the porting order is messaging capable.
                  example: true
                  type: boolean
                messaging_port_completed:
                  description: Indicates whether the messaging port is completed.
                  example: true
                  type: boolean
                messaging_port_status:
                  description: Indicates the messaging port status of the porting order.
                  enum:
                  - not_applicable
                  - pending
                  - activating
                  - exception
                  - canceled
                  - partial_port_complete
                  - ported
                  example: ported
                  type: string
              type: object
            support_key:
              description: Identifies the support key associated with the porting order.
              example: sr_b1a2c3
              type: string
          type: object
        payload_status:
          description: The status of the payload generation.
          enum:
          - created
          - completed
          example: created
          type: string
        porting_order_id:
          description: Identifies the porting order associated with the event.
          example: 9471c873-e3eb-4ca1-957d-f9a451334d52
          format: uuid
          type: string
        record_type:
          description: Identifies the type of the resource.
          example: porting_event
          readOnly: true
          type: string
        updated_at:
          description: ISO 8601 formatted date indicating when the resource was updated.
          example: '2021-03-19T10:07:15.527000Z'
          format: date-time
          type: string
      type: object
    PortingOrderUserFeedback:
      properties:
        user_comment:
          description: A comment related to the customer rating.
          example: I loved my experience porting numbers with Telnyx
          type:
          - string
          - 'null'
        user_rating:
          description: Once an order is ported, cancellation is requested or the request is cancelled, the user may rate their experience
          example: 5
          type:
          - integer
          - 'null'
      type: object
    PortingEventWithoutWebhook:
      properties:
        available_notification_methods:
          description: Indicates the notification methods used.
          items:
            enum:
            - email
            - webhook
            - webhook_v1
            type: string
          type: array
        created_at:
          description: ISO 8601 formatted date indicating when the resource was created.
          example: '2021-03-19T10:07:15.527000Z'
          format: date-time
          type: string
        event_type:
          description: Identifies the event type
          enum:
          - porting_order.loa_updated
          - porting_order.sharing_token_expired
          example: porting_order.loa_updated
          type: string
        id:
          description: Uniquely identifies the event.
          example: eef3340b-8903-4466-b445-89b697315a3a
          format: uuid
          type: string
        payload:
          type: 'null'
        payload_status:
          description: The status of the payload generation.
          enum:
          - created
          - completed
          example: created
          type: string
        porting_order_id:
          description: Identifies the porting order associated with the event.
          example: 9471c873-e3eb-4ca1-957d-f9a451334d52
          format: uuid
          type: string
        record_type:
          description: Identifies the type of the resource.
          example: porting_event
          readOnly: true
          type: string
        updated_at:
          description: ISO 8601 formatted date indicating when the resource was updated.
          example: '2021-03-19T10:07:15.527000Z'
          format: date-time
          type: string
      type: object
    PortingOrdersAllowedFocWindow:
      properties:
        ended_at:
          description: ISO 8601 formatted date indicating the end of the range of foc window
          example: '2021-03-19T10:07:15.527Z'
          format: date-time
          readOnly: true
          type: string
        record_type:
          description: Identifies the type of the resource.
          example: porting_order
          readOnly: true
          type: string
        started_at:
          description: ISO 8601 formatted date indicating the start of the range of foc window.
          example: '2021-03-19T10:07:15.527Z'
          format: date-time
          readOnly: true
          type: string
      title: PortingOrdersAllowedFocWindow
      type: object
    PortingPhoneNumberConfiguration:
      properties:
        created_at:
          description: ISO 8601 formatted date indicating when the resource was created.
          example: '2021-03-19T10:07:15.527000Z'
          format: date-time
          type: string
        id:
          description: Uniquely identifies this phone number configuration
          example: eef3340b-8903-4466-b445-89b697315a3a
          format: uuid
          type: string
        porting_phone_number_id:
          description: Identifies the associated porting phone number
          example: f1486bae-f067-460c-ad43-73a92848f902
          format: uuid
          type: string
        record_type:
          description: Identifies the type of the resource.
          example: porting_phone_number_configuration
          readOnly: true
          type: string
        updated_at:
          description: ISO 8601 formatted date indicating when the resource was updated.
          example: '2021-03-19T10:07:15.527000Z'
          format: date-time
          type: string
        user_bundle_id:
          description: Identifies the associated user bundle
          example: daa4308e-742f-4867-97f2-3073db13319a
          format: uuid
          type: string
      type: object
    PortingVerificationCode:
      properties:
        created_at:
          description: ISO 8601 formatted date indicating when the resource was created.
          example: '2021-03-19T10:07:15.527000Z'
          format: date-time
          type: string
        id:
          description: Uniquely identifies this porting verification code
          example: f1486bae-f067-460c-ad43-73a92848f902
          format: uuid
          type: string
        phone_number:
          description: E164 formatted phone number
          example: '+13035550987'
          type: string
        porting_order_id:
          description: Identifies the associated porting order
          example: f1486bae-f067-460c-ad43-73a92848f902
          format: uuid
          type: string
        record_type:
          description: Identifies the type of the resource.
          example: porting_verification_code
          readOnly: true
          type: string
        updated_at:
          description: ISO 8601 formatted date indicating when the resource was updated.
          example: '2021-03-19T10:07:15.527000Z'
          format: date-time
          type: string
        verified:
          description: Indicates whether the verification code has been verified
          example: true
          type: boolean
      type: object
    PaginationMeta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      type: object
    PortingOrdersActivationJob:
      properties:
        activate_at:
          description: ISO 8601 formatted date indicating when the activation job should be executed. This time should be between some activation window.
          example: '2021-03-19T10:07:15.527Z'
          format: date-time
          type: string
        activation_type:
          description: Specifies the type of this activation job
          enum:
          - scheduled
          - on-demand
          type: string
        activation_windows:
          description: List of allowed activation windows for this activation job
          items:
            properties:
              end_at:
                description: ISO 8601 formatted date indicating when the activation window ends
                example: '2021-03-19T10:07:15.527Z'
                format: date-time
                type: string
              start_at:
                description: ISO 8601 formatted date indicating when the activation window starts
                example: '2021-03-19T10:07:15.527Z'
                format: date-time
                type: string
            type: object
          type: array
        created_at:
          description: ISO 8601 formatted date indicating when the resource was created.
          example: '2021-03-19T10:07:15.527Z'
          format: date-time
          readOnly: true
          type: string
        id:
          description: Uniquely identifies this activation job
          example: f1486bae-f067-460c-ad43-73a92848f902
          format: uuid
          readOnly: true
          type: string
        record_type:
          description: Identifies the type of the resource.
          example: porting_activation_job
          readOnly: true
          type: string
        status:
          description: Specifies the status of this activation job
          enum:
          - created
          - in-process
          - completed
          - failed
          type: string
        updated_at:
          description: ISO 8601 formatted date indicating when the resource was created.
          example: '2021-03-19T10:07:15.527Z'
          format: date-time
          readOnly: true
          type: string
      type: object
    PortabilityStatus:
[...]
