openapi: 3.2.0
info:
  title: Telnyx Voicemail API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Voicemail across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Voicemail API
  name: Voicemail
paths:
  /phone_numbers/{phone_number_id}/voicemail:
    parameters:
    - description: The ID of the phone number.
      example: '123455678900'
      in: path
      name: phone_number_id
      required: true
      schema:
        type: string
    get:
      description: Returns the voicemail settings for a phone number
      operationId: GetVoicemail
      responses:
        '200':
          $ref: '#/components/responses/VoicemailResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Get voicemail
      tags:
      - Voicemail
      x-latency-category: responsive
    patch:
      description: Update voicemail settings for a phone number
      operationId: UpdateVoicemail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoicemailRequest'
        description: Details to update
        required: true
      responses:
        '200':
          $ref: '#/components/responses/VoicemailResponse'
        '401':
          description: Unauthorized
        '404':
          description: Resource not found
        '422':
          description: Bad request
      summary: Update voicemail
      tags:
      - Voicemail
      x-latency-category: responsive
    post:
      description: Create voicemail settings for a phone number
      operationId: CreateVoicemail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoicemailRequest'
        description: Details to create
        required: true
      responses:
        '200':
          $ref: '#/components/responses/VoicemailResponse'
        '401':
          description: Unauthorized
        '404':
          description: Resource not found
        '422':
          description: Bad request
      summary: Create voicemail
      tags:
      - Voicemail
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
components:
  schemas:
    VoicemailRequest:
      properties:
        enabled:
          description: Whether voicemail is enabled.
          example: true
          type: boolean
        pin:
          description: The pin used for voicemail
          example: '1234'
          type: string
      type: object
    VoicemailPrefResponse:
      example:
        enabled: true
        pin: '1234'
      properties:
        enabled:
          description: Whether voicemail is enabled.
          example: true
          type: boolean
        pin:
          description: The pin used for the voicemail.
          example: '1234'
          type: string
      type: object
    VoicemailRequest_2:
      type: object
      properties:
        pin:
          type: string
          example: '1234'
          description: The pin used for voicemail
        enabled:
          type: boolean
          example: true
          description: Whether voicemail is enabled.
        greeting:
          type: object
          description: Controls the greeting a caller hears before leaving a voicemail. Set `mode` to `default` to play the standard system greeting, or to `custom_greeting` to play your own audio. When `mode` is `custom_greeting`, `media_name` is required and must reference an audio file already uploaded to your account through the Media Storage API.
          properties:
            mode:
              type: string
              enum:
              - default
              - custom_greeting
              default: default
              example: custom_greeting
              description: The greeting mode. `default` plays the standard system greeting. `custom_greeting` plays the audio referenced by `media_name`.
            media_name:
              type:
              - string
              - 'null'
              example: my_voicemail_greeting
              description: The name of the media file to play as the greeting. Required when `mode` is `custom_greeting`; ignored when `mode` is `default`. The value must match the `media_name` of a file you previously uploaded with the Media Storage API (`POST /v2/media`).
      example:
        enabled: true
        pin: '1234'
        greeting:
          mode: custom_greeting
          media_name: my_voicemail_greeting
    VoicemailPrefResponse_2:
      type: object
      example:
        enabled: true
        pin: '1234'
        greeting:
          mode: custom_greeting
          media_name: my_voicemail_greeting
      properties:
        enabled:
          type: boolean
          example: true
          description: Whether voicemail is enabled.
        pin:
          type: string
          example: '1234'
          description: The pin used for the voicemail.
        greeting:
          type: object
          description: Controls the greeting a caller hears before leaving a voicemail. Set `mode` to `default` to play the standard system greeting, or to `custom_greeting` to play your own audio. When `mode` is `custom_greeting`, `media_name` is required and must reference an audio file already uploaded to your account through the Media Storage API.
          properties:
            mode:
              type: string
              enum:
              - default
              - custom_greeting
              default: default
              example: custom_greeting
              description: The greeting mode. `default` plays the standard system greeting. `custom_greeting` plays the audio referenced by `media_name`.
            media_name:
              type:
              - string
              - 'null'
              example: my_voicemail_greeting
              description: The name of the media file to play as the greeting. Required when `mode` is `custom_greeting`; ignored when `mode` is `default`. The value must match the `media_name` of a file you previously uploaded with the Media Storage API (`POST /v2/media`).
  responses:
    VoicemailResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/VoicemailPrefResponse'
            type: object
      description: Successful response
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
