openapi: 3.2.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx SIM Card Group Actions API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: SIM Card Group actions operations
  name: SIM Card Group Actions
paths:
  /sim_card_group_actions:
    get:
      description: This API allows listing a paginated collection a SIM card group actions. It allows to explore a collection of existing asynchronous operation using specific filters.
      operationId: GetSimCardGroupActions
      parameters:
      - $ref: '#/components/parameters/wireless_PageNumber'
      - $ref: '#/components/parameters/wireless_PageSize'
      - $ref: '#/components/parameters/FilterSIMCardGroupId'
      - $ref: '#/components/parameters/FilterBasicStatusLifecycle'
      - description: Filter by action type.
        in: query
        name: filter[type]
        required: false
        schema:
          enum:
          - set_private_wireless_gateway
          - remove_private_wireless_gateway
          - set_wireless_blocklist
          - remove_wireless_blocklist
          example: set_private_wireless_gateway
          type: string
      responses:
        '200':
          $ref: '#/components/responses/SimCardGroupActionCollectionResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: List SIM card group actions
      tags:
      - SIM Card Group Actions
      x-latency-category: responsive
  /sim_card_group_actions/{id}:
    get:
      description: This API allows fetching detailed information about a SIM card group action resource to make follow-ups in an existing asynchronous operation.
      operationId: GetSimCardGroupAction
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/SIMCardGroupActionResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get SIM card group action details
      tags:
      - SIM Card Group Actions
      x-latency-category: responsive
components:
  parameters:
    FilterBasicStatusLifecycle:
      description: Filter by a specific status of the resource's lifecycle.
      in: query
      name: filter[status]
      required: false
      schema:
        enum:
        - in-progress
        - completed
        - failed
        example: in-progress
        type: string
    wireless_PageNumber:
      description: The page number to load.
      in: query
      name: page[number]
      schema:
        default: 1
        minimum: 1
        type: integer
    wireless_PageSize:
      description: The size of the page.
      in: query
      name: page[size]
      schema:
        default: 20
        maximum: 250
        minimum: 1
        type: integer
    FilterSIMCardGroupId:
      description: A valid SIM card group ID.
      in: query
      name: filter[sim_card_group_id]
      schema:
        example: 47a1c2b0-cc7b-4ab1-bb98-b33fb0fc61b9
        format: uuid
        type: string
    ResourceId:
      description: Identifies the resource.
      in: path
      name: id
      required: true
      schema:
        example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        format: uuid
        type: string
  schemas:
    wireless_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/wireless_Error'
          type: array
      type: object
    wireless_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    PaginationMeta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      type: object
    SIMCardGroupAction:
      description: This object represents a SIM card group action request. It allows tracking the current status of an operation that impacts the SIM card group and SIM card in it.
      properties:
        created_at:
          description: ISO 8601 formatted date-time indicating when the resource was created.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        id:
          description: Identifies the resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          readOnly: true
          type: string
        record_type:
          example: sim_card_group_action
          readOnly: true
          type: string
        settings:
          description: A JSON object representation of the action params.
          properties:
            private_wireless_gateway_id:
              description: The identification of the related Private Wireless Gateway resource.
              example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
              format: uuid
              type: string
          type: object
        sim_card_group_id:
          description: The SIM card group identification.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          type: string
        status:
          enum:
          - in-progress
          - completed
          - failed
          example: in-progress
          type: string
        type:
          description: Represents the type of the operation requested.
          enum:
          - set_private_wireless_gateway
          - remove_private_wireless_gateway
          - set_wireless_blocklist
          - remove_wireless_blocklist
          example: set_private_wireless_gateway
          type: string
        updated_at:
          description: ISO 8601 formatted date-time indicating when the resource was updated.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
      title: SIMCardGroupAction
      type: object
  responses:
    SIMCardGroupActionResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/SIMCardGroupAction'
            type: object
      description: Successful Response
    wireless_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unexpected error
    SimCardGroupActionCollectionResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/SIMCardGroupAction'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful Response
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
