openapi: 3.2.0
info:
  title: Telnyx Billing API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Billing across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Billing operations
  name: Billing
paths:
  /balance:
    get:
      operationId: GetUserBalance
      responses:
        '200':
          $ref: '#/components/responses/UserBalanceResponse'
        '403':
          $ref: '#/components/responses/billing_ForbiddenErrorResponse'
        '422':
          $ref: '#/components/responses/billing_UnprocessableEntityErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableErrorResponse'
        default:
          $ref: '#/components/responses/GenericErrorResponse'
      summary: Get user balance details
      tags:
      - Billing
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
components:
  schemas:
    billing_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/billing_Error'
          type: array
      type: object
    billing_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    UserBalance:
      example:
        available_credit: '400.00'
        balance: '300.00'
        credit_limit: '100.00'
        currency: USD
        pending: '10.00'
        record_type: balance
      properties:
        available_credit:
          description: Available amount to spend (balance + credit limit)
          example: '400.00'
          type: string
        balance:
          description: The account's current balance.
          example: '300.00'
          type: string
        credit_limit:
          description: The account's credit limit.
          example: '100.00'
          type: string
        currency:
          description: The ISO 4217 currency identifier.
          example: USD
          type: string
        pending:
          description: The account’s pending amount.
          example: '10.00'
          type: string
        record_type:
          description: Identifies the type of the resource.
          enum:
          - balance
          example: balance
          type: string
      type: object
    Errors:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/billing-group_Error'
      type: object
    billing-group_Error:
      type: object
      required:
      - code
      - title
      properties:
        code:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          properties: {}
          additionalProperties: true
  responses:
    UserBalanceResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/UserBalance'
            type: object
      description: Get user balance details
    ServiceUnavailableErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/billing_Errors'
      description: Service temporarily unavailable
    billing_UnprocessableEntityErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/billing_Errors'
      description: Invalid or missing account information
    GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/billing_Errors'
      description: Unexpected error
    billing_ForbiddenErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/billing_Errors'
      description: Insufficient permissions to access balance information
    billing_GenericErrorResponse:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10007'
              title: Unexpected error
              detail: An unexpected error occured.
    ServiceUnavailableErrorResponse_2:
      description: Service temporarily unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10037'
              title: Service unavailable
              detail: Service is unavailable.
    billing_UnprocessableEntityErrorResponse_2:
      description: Invalid or missing account information
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10027'
              title: Unprocessable Entity
              detail: The server understood the syntax of the request but was unable to process the instructions.
    billing_ForbiddenErrorResponse_2:
      description: Insufficient permissions to access balance information
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10010'
              title: Authorization failed
              detail: You do not have permission to perform the requested action on the specified resource or resources.
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
