openapi: 3.2.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx OAuth Discovery API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- name: OAuth Discovery
paths:
  /.well-known/oauth-authorization-server:
    servers:
    - url: https://api.telnyx.com
    get:
      description: OAuth 2.0 Authorization Server Metadata (RFC 8414)
      operationId: GetOAuthAuthorizationServerMetadata
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationServerMetadata'
          description: Authorization server metadata
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth_Error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth_Error'
          description: Unauthorized
      security: []
      summary: Authorization server metadata
      tags:
      - OAuth Discovery
      x-latency-category: responsive
  /.well-known/oauth-protected-resource:
    servers:
    - url: https://api.telnyx.com
    get:
      description: OAuth 2.0 Protected Resource Metadata for resource discovery
      operationId: GetOAuthProtectedResourceMetadata
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceMetadata'
          description: Protected resource metadata
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth_Error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth_Error'
          description: Unauthorized
      security: []
      summary: Protected resource metadata
      tags:
      - OAuth Discovery
      x-latency-category: responsive
components:
  schemas:
    oauth_Error:
      properties:
        error:
          description: Error code
          type: string
        error_description:
          description: Human-readable error description
          type: string
      required:
      - error
      type: object
    ResourceMetadata:
      properties:
        authorization_servers:
          description: List of authorization server URLs
          items:
            format: uri
            type: string
          type: array
        resource:
          description: Protected resource URL
          format: uri
          type: string
      type: object
    AuthorizationServerMetadata:
      properties:
        authorization_endpoint:
          description: Authorization endpoint URL
          format: uri
          type: string
        code_challenge_methods_supported:
          description: Supported PKCE code challenge methods
          items:
            type: string
          type: array
        grant_types_supported:
          description: Supported grant types
          items:
            type: string
          type: array
        introspection_endpoint:
          description: Token introspection endpoint URL
          format: uri
          type: string
        issuer:
          description: Authorization server issuer URL
          format: uri
          type: string
        jwks_uri:
          description: JWK Set endpoint URL
          format: uri
          type: string
        registration_endpoint:
          description: Dynamic client registration endpoint URL
          format: uri
          type: string
        response_types_supported:
          description: Supported response types
          items:
            type: string
          type: array
        scopes_supported:
          description: Supported OAuth scopes
          example:
          - admin
          items:
            type: string
          type: array
        token_endpoint:
          description: Token endpoint URL
          format: uri
          type: string
        token_endpoint_auth_methods_supported:
          description: Supported token endpoint authentication methods
          items:
            type: string
          type: array
      type: object
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
