openapi: 3.1.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Access Tokens MDR Detail Reports API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- name: MDR Detail Reports
paths:
  /reports/mdrs:
    get:
      description: 'Fetch all Mdr records '
      operationId: GetPaginatedMdrs
      parameters:
      - description: Pagination start date
        in: query
        name: start_date
        schema:
          type: string
      - description: Pagination end date
        in: query
        name: end_date
        schema:
          type: string
      - in: query
        name: id
        schema:
          description: Message uuid
          example: e093fbe0-5bde-11eb-ae93-0242ac130002
          type: string
      - in: query
        name: direction
        schema:
          description: Direction (inbound or outbound)
          enum:
          - INBOUND
          - OUTBOUND
          example: INBOUND
          type: string
      - in: query
        name: profile
        schema:
          description: Name of the profile
          example: My profile
          type: string
      - in: query
        name: cld
        schema:
          description: Destination number
          example: '+15551237654'
          type: string
      - in: query
        name: cli
        schema:
          description: Origination number
          example: '+15551237654'
          type: string
      - in: query
        name: status
        schema:
          description: Message status
          enum:
          - GW_TIMEOUT
          - DELIVERED
          - DLR_UNCONFIRMED
          - DLR_TIMEOUT
          - RECEIVED
          - GW_REJECT
          - FAILED
          example: DELIVERED
          type: string
      - in: query
        name: message_type
        schema:
          description: Type of message
          enum:
          - SMS
          - MMS
          example: SMS
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MdrGetDetailResponse'
          description: Successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reporting_ErrorResponse'
          description: Bad Request
      security:
      - bearerAuth: []
      summary: Fetch all Mdr records
      tags:
      - MDR Detail Reports
      x-latency-category: interactive
components:
  schemas:
    reporting_ErrorResponse:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/reporting_Error'
          type: array
      type: object
    reporting_PaginationMeta:
      properties:
        page_number:
          example: 2
          format: int32
          type: integer
        page_size:
          example: 25
          format: int32
          type: integer
        total_pages:
          example: 3
          format: int32
          type: integer
        total_results:
          example: 55
          format: int32
          type: integer
      type: object
    reporting_Error:
      properties:
        code:
          example: '10011'
          type: string
        detail:
          example: Invalid parameter value
          type: string
        title:
          example: Bad Request
          type: string
      type: object
    MdrDetailResponse:
      properties:
        cld:
          description: The destination number for a call, or the callee
          example: '+1555123456'
          type: string
        cli:
          description: The number associated with the person initiating the call, or the caller
          example: '+1555123456'
          type: string
        cost:
          description: Final cost. Cost is calculated as rate * parts
          example: '0.1'
          type: string
        created_at:
          description: Message sent time
          example: '2020-07-01T00:00:00-06:00'
          format: date-time
          type: string
        currency:
          description: Currency of the rate and cost
          enum:
          - AUD
          - CAD
          - EUR
          - GBP
          - USD
          example: USD
          type: string
        direction:
          description: Direction of message - inbound or outbound.
          example: outbound
          type: string
        id:
          description: Id of message detail record
          example: 99b637f3-07fd-45ac-b9ca-b87208c24650
          type: string
        message_type:
          description: Type of message
          enum:
          - SMS
          - MMS
          example: SMS
          type: string
        parts:
          description: Number of parts this message has. Max number of character is 160. If message contains more characters then that it will be broken down in multiple parts
          example: 2
          type: number
        profile_name:
          description: Configured profile name. New profiles can be created and configured on Telnyx portal
          example: configured-profile-name
          type: string
        rate:
          description: Rate applied to the message
          example: '0.05'
          type: string
        record_type:
          example: mdr_report
          type: string
        status:
          description: Message status
          enum:
          - GW_TIMEOUT
          - DELIVERED
          - DLR_UNCONFIRMED
          - DLR_TIMEOUT
          - RECEIVED
          - GW_REJECT
          - FAILED
          example: DELIVERED
          type: string
      type: object
    MdrGetDetailResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/MdrDetailResponse'
          type: array
        meta:
          $ref: '#/components/schemas/reporting_PaginationMeta'
      type: object
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
