openapi: 3.2.0
info:
  title: Telnyx Speech to text Usage Reports API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Speech to text Usage Reports across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Speech to text usage reports
  name: Speech to text Usage Reports
paths:
  /legacy/reporting/usage_reports/speech_to_text:
    get:
      description: Generate and fetch speech to text usage report synchronously. This endpoint will both generate and fetch the speech to text report over a specified time period.
      operationId: getSttUsageReportSync
      parameters:
      - in: query
        name: start_date
        schema:
          example: '2020-07-02T00:00:00-06:00'
          format: date-time
          type: string
      - in: query
        name: end_date
        schema:
          example: '2020-07-01T00:00:00-06:00'
          format: date-time
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SttUsageReportResponse'
          description: Successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standard_ErrorResponse'
          description: Bad Request
      security:
      - bearerAuth: []
      summary: Get speech to text usage report
      tags:
      - Speech to text Usage Reports
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /legacy_reporting/usage_reports/speech_to_text:
    get:
      tags:
      - Speech to text Usage Reports
      summary: Get speech to text usage report
      description: Generate and fetch speech to text usage report synchronously. This endpoint will both generate and fetch the speech to text report over a specified time period.
      operationId: getSttUsageReportSync_2
      parameters:
      - name: start_date
        in: query
        description: Start of the date range filter (inclusive, ISO 8601).
        schema:
          type: string
          format: date-time
          example: '2020-07-02T00:00:00-06:00'
      - name: end_date
        in: query
        description: End of the date range filter (inclusive, ISO 8601).
        schema:
          type: string
          format: date-time
          example: '2020-07-01T00:00:00-06:00'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SttUsageReportResponse'
              example: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standard_ErrorResponse'
              example:
                errors:
                - code: '10015'
                  title: Bad Request
                  detail: The request failed because it was not well-formed.
      x-latency-category: responsive
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
components:
  schemas:
    standard_ErrorResponse:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/standard_Error'
          title: Errors
          type: array
      title: ErrorResponse
      type: object
    SttUsageReportResponse:
      properties:
        data:
          type: object
      type: object
    standard_Error:
      properties:
        code:
          title: Telnyx error code
          type: string
        detail:
          title: Error details
          type: string
        title:
          title: Error title
          type: string
      required:
      - detail
      title: Error
      type: object
    standard_Error_ffba4faa88:
      type: object
      properties:
        code:
          type: string
          title: Telnyx error code
        detail:
          type: string
          title: Error details
        title:
          type: string
          title: Error title
      required:
      - detail
      title: Error
    standard_ErrorResponse_ffba4faa88:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/standard_Error_ffba4faa88'
          title: Errors
      title: ErrorResponse
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
