openapi: 3.2.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx SIM Card Actions API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: View SIM card actions, their progress and timestamps using the SIM Card Actions API
  name: SIM Card Actions
paths:
  /bulk_sim_card_actions:
    get:
      description: This API lists a paginated collection of bulk SIM card actions. A bulk SIM card action contains details about a collection of individual SIM card actions.
      operationId: ListBulkSimCardActions
      parameters:
      - $ref: '#/components/parameters/wireless_PageNumber'
      - $ref: '#/components/parameters/wireless_PageSize'
      - description: Filter by action type.
        in: query
        name: filter[action_type]
        required: false
        schema:
          enum:
          - bulk_disable_voice
          - bulk_enable_voice
          - bulk_set_public_ips
          example: bulk_set_public_ips
          type: string
      responses:
        '200':
          $ref: '#/components/responses/BulkSIMCardActionCollectionResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: List bulk SIM card actions
      tags:
      - SIM Card Actions
      x-latency-category: responsive
  /bulk_sim_card_actions/{id}:
    get:
      description: This API fetches information about a bulk SIM card action. A bulk SIM card action contains details about a collection of individual SIM card actions.
      operationId: GetBulkSimCardAction
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/BulkSIMCardActionDetailedResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get bulk SIM card action details
      tags:
      - SIM Card Actions
      x-latency-category: responsive
  /sim_card_actions:
    get:
      description: This API lists a paginated collection of SIM card actions. It enables exploring a collection of existing asynchronous operations using specific filters.
      operationId: ListSimCardActions
      parameters:
      - $ref: '#/components/parameters/FilterSIMCardActionsConsolidated'
      - $ref: '#/components/parameters/wireless_PageConsolidated'
      responses:
        '200':
          $ref: '#/components/responses/SimCardActionCollectionResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: List SIM card actions
      tags:
      - SIM Card Actions
      x-latency-category: responsive
  /sim_card_actions/{id}:
    get:
      description: This API fetches detailed information about a SIM card action to follow-up on an existing asynchronous operation.
      operationId: GetSimCardAction
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/SIMCardActionResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get SIM card action details
      tags:
      - SIM Card Actions
      x-latency-category: responsive
components:
  schemas:
    wireless_UpdatedAt:
      description: ISO 8601 formatted date-time indicating when the resource was updated.
      example: '2018-02-02T22:25:27.521Z'
      readOnly: true
      type: string
    SIMCardActionsSummary:
      properties:
        count:
          type: integer
        status:
          enum:
          - in-progress
          - completed
          - failed
          - interrupted
          example: in-progress
          type: string
      type: object
    wireless_CreatedAt:
      description: ISO 8601 formatted date-time indicating when the resource was created.
      example: '2018-02-02T22:25:27.521Z'
      readOnly: true
      type: string
    SIMCardAction:
      description: This object represents a SIM card action. It allows tracking the current status of an operation that impacts the SIM card.
      properties:
        action_type:
          description: "The operation type. It can be one of the following: <br/>\n<ul>\n <li><code>enable</code> - move the SIM card to the <code>enabled</code> status</li>\n <li><code>enable_standby_sim_card</code> - move a SIM card previously on the <code>standby</code> status to the <code>enabled</code> status after it consumes data.</li>\n <li><code>disable</code> - move the SIM card to the <code>disabled</code> status</li>\n <li><code>set_standby</code> - move the SIM card to the <code>standby</code> status</li>\n </ul>"
          enum:
          - enable
          - enable_standby_sim_card
          - disable
          - set_standby
          example: enable
          readOnly: true
          type: string
        created_at:
          $ref: '#/components/schemas/wireless_CreatedAt'
        id:
          $ref: '#/components/schemas/wireless_Id'
        record_type:
          example: sim_card_action
          readOnly: true
          type: string
        settings:
          additionalProperties: true
          description: A JSON object representation of the action params.
          example: {}
          readOnly: true
          type:
          - object
          - 'null'
        sim_card_id:
          description: The related SIM card identifier.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          readOnly: true
          type: string
        status:
          properties:
            reason:
              description: It describes why the SIM card action is in the current status. This will be <code>null</code> for self-explanatory statuses, such as <code>in-progress</code> and <code>completed</code> but will include further information on statuses like <code>interrupted</code> and <code>failed</code>.
              example: The data limit was exceeded.
              readOnly: true
              type: string
            value:
              description: The current status of the SIM card action.
              enum:
              - in-progress
              - completed
              - failed
              - interrupted
              example: completed
              readOnly: true
              type: string
          type: object
        updated_at:
          $ref: '#/components/schemas/wireless_UpdatedAt'
      title: SIMCardAction
      type: object
    BulkSIMCardActionDetailed:
      properties:
        action_type:
          description: 'The action type. It can be one of the following: <br/>

            <ul>

            <li><code>bulk_disable_voice</code> - disable voice for every SIM Card in a SIM Card Group.</li>

            <li><code>bulk_enable_voice</code> - enable voice for every SIM Card in a SIM Card Group.</li>

            <li><code>bulk_set_public_ips</code> - set a public IP for each specified SIM Card.</li>

            </ul>'
          enum:
          - bulk_disable_voice
          - bulk_enable_voice
          - bulk_set_public_ips
          example: bulk_set_public_ips
          readOnly: true
          type: string
        created_at:
          $ref: '#/components/schemas/wireless_CreatedAt'
        id:
          $ref: '#/components/schemas/wireless_Id'
        record_type:
          example: bulk_sim_card_action
          readOnly: true
          type: string
        settings:
          additionalProperties: true
          description: A JSON object representation of the bulk action payload.
          example: {}
          readOnly: true
          type: object
        sim_card_actions_summary:
          items:
            $ref: '#/components/schemas/SIMCardActionsSummary'
          type: array
        updated_at:
          $ref: '#/components/schemas/wireless_UpdatedAt'
      type: object
    PaginationMeta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      type: object
    wireless_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    wireless_Id:
      description: Identifies the resource.
      example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
      format: uuid
      readOnly: true
      type: string
    wireless_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/wireless_Error'
          type: array
      type: object
  responses:
    BulkSIMCardActionCollectionResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/BulkSIMCardActionDetailed'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful Response
    wireless_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unexpected error
    SimCardActionCollectionResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/SIMCardAction'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful Response
    BulkSIMCardActionDetailedResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/BulkSIMCardActionDetailed'
            type: object
      description: Successful Response
    SIMCardActionResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/SIMCardAction'
            type: object
      description: Successful Response
  parameters:
    ResourceId:
      description: Identifies the resource.
      in: path
      name: id
      required: true
      schema:
        example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        format: uuid
        type: string
    wireless_PageConsolidated:
      description: 'Consolidated pagination parameter (deepObject style). Originally: page[number], page[size]'
      explode: true
      in: query
      name: page
      schema:
        properties:
          number:
            default: 1
            description: The page number to load.
            minimum: 1
            type: integer
          size:
            default: 20
            description: The size of the page.
            maximum: 250
            minimum: 1
            type: integer
        type: object
    wireless_PageNumber:
      description: The page number to load.
      in: query
      name: page[number]
      schema:
        default: 1
        minimum: 1
        type: integer
    wireless_PageSize:
      description: The size of the page.
      in: query
      name: page[size]
      schema:
        default: 20
        maximum: 250
        minimum: 1
        type: integer
    FilterSIMCardActionsConsolidated:
      description: 'Consolidated filter parameter for SIM card actions (deepObject style). Originally: filter[sim_card_id], filter[status], filter[bulk_sim_card_action_id], filter[action_type]'
      explode: true
      in: query
      name: filter
      schema:
        properties:
          action_type:
            description: Filter by action type.
            enum:
            - enable
            - enable_standby_sim_card
            - disable
            - set_standby
            - remove_public_ip
            - set_public_ip
            example: disable
            type: string
          bulk_sim_card_action_id:
            description: Filter by a bulk SIM card action ID.
            example: 47a1c2b0-cc7b-4ab1-bb98-b33fb0fc61b9
            format: uuid
            type: string
          sim_card_id:
            description: A valid SIM card ID.
            example: 47a1c2b0-cc7b-4ab1-bb98-b33fb0fc61b9
            format: uuid
            type: string
          status:
            description: Filter by a specific status of the resource's lifecycle.
            enum:
            - in-progress
            - completed
            - failed
            example: in-progress
            type: string
        type: object
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
