openapi: 3.1.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Access Tokens Enum API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- name: Enum
paths:
  /10dlc/enum/{endpoint}:
    get:
      operationId: GetEnumEndpoint
      parameters:
      - in: path
        name: endpoint
        required: true
        schema:
          enum:
          - mno
          - optionalAttributes
          - usecase
          - vertical
          - altBusinessIdType
          - brandIdentityStatus
          - brandRelationship
          - campaignStatus
          - entityType
          - extVettingProvider
          - vettingStatus
          - brandStatus
          - operationStatus
          - approvedPublicCompany
          - stockExchange
          - vettingClass
          title: Endpoint
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/EnumStringListResponse'
                - $ref: '#/components/schemas/EnumObjectListResponse'
                - $ref: '#/components/schemas/EnumObjectToStringResponse'
                - $ref: '#/components/schemas/EnumObjecToObjecttResponse'
                - $ref: '#/components/schemas/EnumPaginatedResponse'
          description: Successful Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/10dlc_Errors'
          description: Resource not found
        4XX:
          $ref: '#/components/responses/10dlc_GenericErrorResponse'
      summary: Get Enum
      tags:
      - Enum
      x-latency-category: responsive
components:
  schemas:
    EnumObjecToObjecttResponse:
      additionalProperties: true
      example:
        PROFESSIONAL:
          description: Professional services.
          displayName: Professional Services
          industryId: professional-services
        REAL_ESTATE:
          description: Buying and Selling of residential and commercial properties.
          displayName: Real Estate
          industryId: real-estate
      title: EnumObjecToObjecttResponse
      type: object
    10dlc_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    EnumObjectListResponse:
      example:
      - displayName: string
        networkId: 10000
        osrBitmaskIndex: 32
      items:
        additionalProperties: true
        type: object
      title: EnumObjectListResponse
      type: array
    10dlc_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/10dlc_Error'
          type: array
      type: object
    EnumPaginatedResponse:
      example:
        page: 1
        records:
        - displayName: 1-800 FLOWERS.COM, Inc.
          exchange: NASDAQ
          isin: US68243Q1067
          iso2: US
          symbol: FLWS
        - displayName: 10X GENOMICS INC CLASS A
          exchange: NASDAQ
          isin: US88025U1097
          iso2: US
          symbol: TXG
        totalRecords: 2
      properties:
        page:
          type: integer
        records:
          items:
            additionalProperties: true
            type: object
          type: array
        totalRecords:
          type: integer
      required:
      - page
      - totalRecords
      - records
      title: EnumPaginatedResponse
      type: object
    EnumObjectToStringResponse:
      additionalProperties: true
      example:
        AREIS: AREIS
        BANDW: Bandwidth
        SINCH: Sinch
      title: EnumObjectToStringResponse
      type: object
    EnumStringListResponse:
      example:
      - BASIC_ACCOUNT
      - SMALL_ACCOUNT
      - MEDIUM_ACCOUNT
      - LARGE_ACCOUNT
      - KEY_ACCOUNT
      items:
        type: string
      title: EnumStringListResponse
      type: array
  responses:
    10dlc_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/10dlc_Errors'
      description: Generic response error
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
