openapi: 3.2.0
info:
  title: Telnyx SETI Observability API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged SETI Observability across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Observability into Telnyx platform stability and performance.
  name: SETI Observability
paths:
  /seti/black_box_test_results:
    get:
      description: Returns the results of the various black box tests
      operationId: GetBlackBoxTestResults
      parameters:
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[product]'
        explode: true
        in: query
        name: filter
        required: false
        schema:
          properties:
            product:
              description: Filter results for a specific product.
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/BlackBoxTestResultsResponse'
        '401':
          description: Unauthorized
      summary: Retrieve Black Box Test Results
      tags:
      - SETI Observability
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
components:
  schemas:
    BlackBoxTestResultSet:
      properties:
        black_box_tests:
          items:
            $ref: '#/components/schemas/BlackBoxTestResult'
          type: array
        product:
          description: The product associated with the black box test group.
          example: cloud_storage
          type: string
        record_type:
          example: black_box_test_result
          type: string
      type: object
    BlackBoxTestResult:
      properties:
        id:
          description: The name of the black box test.
          example: msg_overview_outbound_sms
          type: string
        record_type:
          example: black_box_test
          type: string
        result:
          description: The average result of the black box test over the last hour.
          example: 0.999
          type: number
      type: object
  responses:
    BlackBoxTestResultsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/BlackBoxTestResultSet'
                type: array
            type: object
      description: A list of black box test results.
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
