openapi: 3.1.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Access Tokens Reporting API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Wireless reporting operations
  name: Reporting
paths:
  /wireless/detail_records_reports:
    get:
      description: Returns the WDR Reports that match the given parameters.
      operationId: GetWdrReports
      parameters:
      - $ref: '#/components/parameters/wireless_PageNumber'
      - $ref: '#/components/parameters/wireless_PageSize'
      responses:
        '200':
          $ref: '#/components/responses/GetWdrReportsResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get all Wireless Detail Records (WDRs) Reports
      tags:
      - Reporting
      x-latency-category: responsive
    post:
      description: 'Asynchronously create a report containing Wireless Detail Records (WDRs) for the SIM cards that consumed wireless data in the given time period.

        '
      operationId: CreateWdrReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WdrReportRequest'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/CreateWdrReportResponse'
        '422':
          $ref: '#/components/responses/wireless_UnprocessableEntity'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Create a Wireless Detail Records (WDRs) Report
      tags:
      - Reporting
      x-latency-category: background
  /wireless/detail_records_reports/{id}:
    delete:
      description: Deletes one specific WDR report.
      operationId: DeleteWdrReport
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/DeleteWdrReportResponse'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Delete a Wireless Detail Record (WDR) Report
      tags:
      - Reporting
      x-latency-category: responsive
    get:
      description: Returns one specific WDR report
      operationId: GetWdrReport
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/GetWdrReportResponse'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get a Wireless Detail Record (WDR) Report
      tags:
      - Reporting
      x-latency-category: background
components:
  parameters:
    wireless_PageSize:
      description: The size of the page.
      in: query
      name: page[size]
      schema:
        default: 20
        maximum: 250
        minimum: 1
        type: integer
    wireless_PageNumber:
      description: The page number to load.
      in: query
      name: page[number]
      schema:
        default: 1
        minimum: 1
        type: integer
    ResourceId:
      description: Identifies the resource.
      in: path
      name: id
      required: true
      schema:
        example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        format: uuid
        type: string
  schemas:
    WdrReportRequest:
      example:
        end_time: '2018-02-02T22:25:27.521Z'
        start_time: '2018-02-02T22:25:27.521Z'
      properties:
        end_time:
          description: ISO 8601 formatted date-time indicating the end time.
          example: '2018-02-02T22:25:27.521Z'
          type: string
        start_time:
          description: ISO 8601 formatted date-time indicating the start time.
          example: '2018-02-02T22:25:27.521Z'
          type: string
      type: object
    wireless_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/wireless_Error'
          type: array
      type: object
    wireless_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    WdrReport:
      properties:
        created_at:
          description: ISO 8601 formatted date-time indicating when the resource was created.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        end_time:
          description: ISO 8601 formatted date-time indicating the end time.
          example: '2018-02-02T22:25:27.521Z'
          type: string
        id:
          description: Identifies the resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          readOnly: true
          type: string
        record_type:
          example: detail_records_report
          readOnly: true
          type: string
        report_url:
          description: The URL where the report content, when generated, will be published to.
          example: http://example.com
          type: string
        start_time:
          description: ISO 8601 formatted date-time indicating the start time.
          example: '2018-02-02T22:25:27.521Z'
          type: string
        status:
          description: Indicates the status of the report, which is updated asynchronously.
          enum:
          - pending
          - complete
          - failed
          - deleted
          example: pending
          type: string
        updated_at:
          description: ISO 8601 formatted date-time indicating when the resource was updated.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
      type: object
  responses:
    GetWdrReportsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/WdrReport'
                type: array
            type: object
      description: Successful response
    GetWdrReportResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/WdrReport'
            type: object
      description: Successful response
    wireless_ResourceNotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Error'
      description: Resource not found
    wireless_UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unprocessable entity. Check the 'detail' field in response for details.
    CreateWdrReportResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/WdrReport'
            type: object
      description: Successful response
    wireless_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unexpected error
    DeleteWdrReportResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/WdrReport'
            type: object
      description: Successful response
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
