openapi: 3.2.0
info:
  title: Telnyx OAuth Discovery API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged OAuth Discovery across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- name: OAuth Discovery
paths:
  /.well-known/oauth-authorization-server:
    servers:
    - url: https://api.telnyx.com
    get:
      description: OAuth 2.0 Authorization Server Metadata (RFC 8414)
      operationId: GetOAuthAuthorizationServerMetadata
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationServerMetadata'
          description: Authorization server metadata
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth_Error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth_Error'
          description: Unauthorized
      security: []
      summary: Authorization server metadata
      tags:
      - OAuth Discovery
      x-latency-category: responsive
  /.well-known/oauth-protected-resource:
    servers:
    - url: https://api.telnyx.com
    get:
      description: OAuth 2.0 Protected Resource Metadata for resource discovery
      operationId: GetOAuthProtectedResourceMetadata
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceMetadata'
          description: Protected resource metadata
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth_Error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth_Error'
          description: Unauthorized
      security: []
      summary: Protected resource metadata
      tags:
      - OAuth Discovery
      x-latency-category: responsive
components:
  schemas:
    oauth_Error:
      properties:
        error:
          description: Error code
          type: string
        error_description:
          description: Human-readable error description
          type: string
      required:
      - error
      type: object
    ResourceMetadata:
      properties:
        authorization_servers:
          description: List of authorization server URLs
          items:
            format: uri
            type: string
          type: array
        resource:
          description: Protected resource URL
          format: uri
          type: string
      type: object
    AuthorizationServerMetadata:
      properties:
        authorization_endpoint:
          description: Authorization endpoint URL
          format: uri
          type: string
        code_challenge_methods_supported:
          description: Supported PKCE code challenge methods
          items:
            type: string
          type: array
        grant_types_supported:
          description: Supported grant types
          items:
            type: string
          type: array
        introspection_endpoint:
          description: Token introspection endpoint URL
          format: uri
          type: string
        issuer:
          description: Authorization server issuer URL
          format: uri
          type: string
        jwks_uri:
          description: JWK Set endpoint URL
          format: uri
          type: string
        registration_endpoint:
          description: Dynamic client registration endpoint URL
          format: uri
          type: string
        response_types_supported:
          description: Supported response types
          items:
            type: string
          type: array
        scopes_supported:
          description: Supported OAuth scopes
          example:
          - admin
          items:
            type: string
          type: array
        token_endpoint:
          description: Token endpoint URL
          format: uri
          type: string
        token_endpoint_auth_methods_supported:
          description: Supported token endpoint authentication methods
          items:
            type: string
          type: array
      type: object
    oauth_oauth_Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        error_description:
          type: string
          description: Human-readable error description
      required:
      - error
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
