openapi: 3.1.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Access Tokens Country Coverage API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Country Coverage
  name: Country Coverage
paths:
  /country_coverage:
    get:
      description: Get country coverage
      operationId: retreiveCountryCoverage
      responses:
        '200':
          $ref: '#/components/responses/CountryCoverageResponse'
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Get country coverage
      tags:
      - Country Coverage
      x-latency-category: responsive
  /country_coverage/countries/{country_code}:
    get:
      description: Get coverage for a specific country
      operationId: retreiveSpecificCountryCoverage
      parameters:
      - description: Country ISO code.
        in: path
        name: country_code
        required: true
        schema:
          example: US
          type: string
      responses:
        '200':
          $ref: '#/components/responses/SpecificCountryResponse'
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Get coverage for a specific country
      tags:
      - Country Coverage
      x-latency-category: responsive
components:
  responses:
    CountryCoverageResponse:
      content:
        application/json:
          examples:
            example-1:
              value:
                data:
                  Afghanistan:
                    code: AF
                    features: []
                    international_sms: false
                    inventory_coverage: false
                    local: {}
                    mobile: {}
                    national: {}
                    numbers: false
                    p2p: false
                    phone_number_type: []
                    quickship: false
                    region: null
                    reservable: false
                    toll_free: {}
                  Aland Islands:
                    code: AX
                    features: []
                    international_sms: false
                    inventory_coverage: false
                    local: {}
                    mobile: {}
                    national: {}
                    numbers: false
                    p2p: false
                    phone_number_type: []
                    quickship: false
                    region: null
                    reservable: false
                    toll_free: {}
                  Albania:
                    code: AL
                    features:
                    - voice
                    - fax
                    international_sms: false
                    inventory_coverage: false
                    local:
                      features:
                      - fax
                      - voice
                      full_pstn_replacement: false
                      international_sms: false
                      p2p: false
                      quickship: false
                      reservable: false
                    mobile: {}
                    national: {}
                    numbers: true
                    p2p: false
                    phone_number_type:
                    - local
                    - toll_free
                    quickship: false
                    region: EMEA
                    reservable: false
                    shared_cost: {}
                    toll_free:
                      features:
                      - fax
                      - voice
                      full_pstn_replacement: false
                      international_sms: false
                      p2p: false
                      quickship: false
                      reservable: false
                  Algeria:
                    code: DZ
                    features: []
                    international_sms: false
                    inventory_coverage: false
                    local: {}
                    mobile: {}
                    national: {}
                    numbers: false
                    p2p: false
                    phone_number_type: []
                    quickship: false
                    region: null
                    reservable: false
                    toll_free: {}
          schema:
            properties:
              data:
                additionalProperties:
                  $ref: '#/components/schemas/CountryCoverage'
                type: object
            type: object
      description: Response for country coverage
    numbers_UnauthorizedResponse:
      content:
        application/json:
          examples:
            Authentication Failed:
              value:
                errors:
                - code: '10009'
                  detail: Could not understand the provided credentials.
                  meta:
                    url: https://developers.telnyx.com/docs/overview/errors/10009
                  title: Authentication failed
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Unauthorized
    numbers_UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Unprocessable entity. Check the 'detail' field in response for details.
    numbers_NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: The requested resource doesn't exist.
    SpecificCountryResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/CountryCoverage'
            type: object
      description: Response for specific country coverage
    numbers_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Unexpected error
    numbers_BadRequestResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Bad request, the request was unacceptable, often due to missing a required parameter.
  schemas:
    CountryCoverage:
      example:
        code: US
        features:
        - hd_voice
        - emergency
        - voice
        - mms
        - fax
        - sms
        - international_sms
        international_sms: true
        inventory_coverage: true
        local:
          features:
          - hd_voice
          - voice
          - international_sms
          - mms
          - fax
          - sms
          - emergency
          full_pstn_replacement: true
          international_sms: true
          p2p: true
          quickship: false
          reservable: true
        mobile: {}
        national: {}
        numbers: true
        p2p: true
        phone_number_type:
        - local
        - local
        - local
        - toll_free
        quickship: true
        region: AMER
        reservable: true
        shared_cost: {}
        toll_free:
          features:
          - voice
          - mms
          - fax
          - sms
          - emergency
          full_pstn_replacement: false
          international_sms: false
          p2p: false
          quickship: true
          reservable: true
      properties:
        code:
          description: Country ISO code
          type: string
        features:
          description: Set of features supported
          items:
            type: string
          type: array
        international_sms:
          type: boolean
        inventory_coverage:
          description: Indicates whether country can be queried with inventory coverage endpoint
          type: boolean
        local:
          properties:
            features:
              items:
                type: string
              type: array
            full_pstn_replacement:
              type: boolean
            international_sms:
              type: boolean
            p2p:
              type: boolean
            quickship:
              type: boolean
            reservable:
              type: boolean
          type: object
        mobile:
          additionalProperties: true
          type: object
        national:
          additionalProperties: true
          type: object
        numbers:
          type: boolean
        p2p:
          type: boolean
        phone_number_type:
          description: Phone number type
          items:
            type: string
          type: array
        quickship:
          description: Supports quickship
          type: boolean
        region:
          description: Geographic region (e.g., AMER, EMEA, APAC)
          type:
          - string
          - 'null'
        reservable:
          description: Supports reservable
          type: boolean
        shared_cost:
          additionalProperties: true
          type: object
        toll_free:
          properties:
            features:
              items:
                type: string
              type: array
            full_pstn_replacement:
              type: boolean
            international_sms:
              type: boolean
            p2p:
              type: boolean
            quickship:
              type: boolean
            reservable:
              type: boolean
          type: object
      type: object
    numbers_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/numbers_Error'
          type: array
      type: object
    numbers_Error:
      properties:
        code:
          example: '10007'
          type: string
        detail:
          example: An unexpected error occured.
          type: string
        meta:
          properties:
            url:
              description: URL with additional information on the error.
              example: https://developers.telnyx.com/docs/overview/errors/10015
              type: string
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              example: /base
              type: string
          type: object
        title:
          example: Unexpected error
          type: string
      type: object
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
