openapi: 3.2.0
info:
  title: Telnyx Enum API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Enum across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- name: Enum
paths:
  /10dlc/enum/{endpoint}:
    get:
      operationId: GetEnumEndpoint
      parameters:
      - in: path
        name: endpoint
        required: true
        schema:
          enum:
          - mno
          - optionalAttributes
          - usecase
          - vertical
          - altBusinessIdType
          - brandIdentityStatus
          - brandRelationship
          - campaignStatus
          - entityType
          - extVettingProvider
          - vettingStatus
          - brandStatus
          - operationStatus
          - approvedPublicCompany
          - stockExchange
          - vettingClass
          title: Endpoint
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/EnumStringListResponse'
                - $ref: '#/components/schemas/EnumObjectListResponse'
                - $ref: '#/components/schemas/EnumObjectToStringResponse'
                - $ref: '#/components/schemas/EnumObjecToObjecttResponse'
                - $ref: '#/components/schemas/EnumPaginatedResponse'
          description: Successful Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/10dlc_Errors'
          description: Resource not found
        4XX:
          $ref: '#/components/responses/10dlc_GenericErrorResponse'
      summary: Get Enum
      tags:
      - Enum
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
components:
  schemas:
    EnumObjectListResponse:
      example:
      - displayName: string
        networkId: 10000
        osrBitmaskIndex: 32
      items:
        additionalProperties: true
        type: object
      title: EnumObjectListResponse
      type: array
    EnumObjecToObjecttResponse:
      additionalProperties: true
      example:
        PROFESSIONAL:
          description: Professional services.
          displayName: Professional Services
          industryId: professional-services
        REAL_ESTATE:
          description: Buying and Selling of residential and commercial properties.
          displayName: Real Estate
          industryId: real-estate
      title: EnumObjecToObjecttResponse
      type: object
    EnumPaginatedResponse:
      example:
        page: 1
        records:
        - displayName: 1-800 FLOWERS.COM, Inc.
          exchange: NASDAQ
          isin: US68243Q1067
          iso2: US
          symbol: FLWS
        - displayName: 10X GENOMICS INC CLASS A
          exchange: NASDAQ
          isin: US88025U1097
          iso2: US
          symbol: TXG
        totalRecords: 2
      properties:
        page:
          type: integer
        records:
          items:
            additionalProperties: true
            type: object
          type: array
        totalRecords:
          type: integer
      required:
      - page
      - totalRecords
      - records
      title: EnumPaginatedResponse
      type: object
    10dlc_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/10dlc_Error'
          type: array
      type: object
    EnumObjectToStringResponse:
      additionalProperties: true
      example:
        AREIS: AREIS
        BANDW: Bandwidth
        SINCH: Sinch
      title: EnumObjectToStringResponse
      type: object
    10dlc_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    EnumStringListResponse:
      example:
      - BASIC_ACCOUNT
      - SMALL_ACCOUNT
      - MEDIUM_ACCOUNT
      - LARGE_ACCOUNT
      - KEY_ACCOUNT
      items:
        type: string
      title: EnumStringListResponse
      type: array
    Errors:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/billing-group_Error'
      type: object
    billing-group_Error:
      type: object
      required:
      - code
      - title
      properties:
        code:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          properties: {}
          additionalProperties: true
  responses:
    10dlc_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/10dlc_Errors'
      description: Generic response error
    10dlc_GenericErrorResponse_ca4eb0ad6f:
      description: Generic response error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: string
              title: string
              detail: string
              source:
                pointer: string
                parameter: string
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
