openapi: 3.2.0
info:
  title: Telnyx Advanced Number Orders API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Advanced Number Orders across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- name: Advanced Number Orders
paths:
  /advanced_orders:
    get:
      operationId: list_advanced_orders_v2
      responses:
        '200':
          $ref: '#/components/responses/ListAdvancedOrderResponse'
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: List Advanced Orders
      tags:
      - Advanced Number Orders
      x-latency-category: responsive
    post:
      operationId: create_advanced_order_v2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvancedOrderRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/AdvancedOrderResponse'
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Create Advanced Order
      tags:
      - Advanced Number Orders
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /advanced_orders/{advanced-order-id}/requirement_group:
    patch:
      operationId: update_advanced_order_v2
      parameters:
      - in: path
        name: advanced-order-id
        required: true
        schema:
          format: uuid
          title: Order Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvancedOrderRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/AdvancedOrderResponse'
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Update Advanced Order
      tags:
      - Advanced Number Orders
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /advanced_orders/{order_id}:
    get:
      operationId: get_advanced_order_v2
      parameters:
      - in: path
        name: order_id
        required: true
        schema:
          format: uuid
          title: Order Id
          type: string
      responses:
        '200':
          $ref: '#/components/responses/AdvancedOrderResponse'
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Get Advanced Order
      tags:
      - Advanced Number Orders
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
components:
  responses:
    numbers_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Unexpected error
    numbers_BadRequestResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Bad request, the request was unacceptable, often due to missing a required parameter.
    numbers_UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Unprocessable entity. Check the 'detail' field in response for details.
    ListAdvancedOrderResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/AdvancedOrder'
                type: array
            type: object
      description: An array of Advanced Order Responses
    numbers_NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: The requested resource doesn't exist.
    numbers_UnauthorizedResponse:
      content:
        application/json:
          examples:
            Authentication Failed:
              value:
                errors:
                - code: '10009'
                  detail: Could not understand the provided credentials.
                  meta:
                    url: https://developers.telnyx.com/docs/overview/errors/10009
                  title: Authentication failed
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Unauthorized
    AdvancedOrderResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AdvancedOrder'
      description: An Advanced Order Response
    numbers_BadRequestResponse_73c9788e53:
      description: Bad request, the request was unacceptable, often due to missing a required parameter.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    numbers_UnauthorizedResponse_73c9788e53:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            Authentication Failed:
              value:
                errors:
                - code: '10009'
                  title: Authentication failed
                  detail: Could not understand the provided credentials.
                  meta:
                    url: https://developers.telnyx.com/docs/overview/errors/10009
    GenericErrorResponse:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    numbers_UnprocessableEntity_73c9788e53:
      description: Unprocessable entity. Check the 'detail' field in response for details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    numbers_NotFoundResponse_73c9788e53:
      description: The requested resource doesn't exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
  schemas:
    numbers_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/numbers_Error'
          type: array
      type: object
    AdvancedOrder:
      properties:
        area_code:
          default: ''
          maxLength: 3
          title: Area Code
          type: string
        comments:
          default: ''
          maxLength: 255
          title: Comments
          type: string
        country_code:
          default: US
          maxLength: 2
          minLength: 2
          title: Country Code
          type: string
        customer_reference:
          default: ''
          title: Customer Reference
          type: string
        features:
          items:
            enum:
            - sms
            - mms
            - voice
            - fax
            - emergency
          title: Features
          type: array
          uniqueItems: true
        id:
          format: uuid
          title: Id
          type: string
        orders:
          items:
            format: uuid
            type: string
          title: Orders
          type: array
          uniqueItems: true
        phone_number_type:
          default: ''
          items:
            enum:
            - local
            - mobile
            - toll_free
            - shared_cost
            - national
            - landline
        quantity:
          default: 1
          maximum: 10000
          minimum: 1
          title: Quantity
          type: integer
        requirement_group_id:
          description: The ID of the requirement group associated with this advanced order
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
          format: uuid
          title: Requirement Group ID
          type: string
        status:
          items:
            enum:
            - pending
            - processing
            - ordered
            type: string
      title: Advanced Order
      type: object
    numbers_Error:
      properties:
        code:
          example: '10007'
          type: string
        detail:
          example: An unexpected error occured.
          type: string
        meta:
          properties:
            url:
              description: URL with additional information on the error.
              example: https://developers.telnyx.com/docs/overview/errors/10015
              type: string
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              example: /base
              type: string
          type: object
        title:
          example: Unexpected error
          type: string
      type: object
    AdvancedOrderRequest:
      properties:
        area_code:
          default: ''
          maxLength: 3
          title: Area Code
          type: string
        comments:
          default: ''
          maxLength: 255
          title: Comments
          type: string
        country_code:
          default: US
          maxLength: 2
          minLength: 2
          title: Country Code
          type: string
        customer_reference:
          default: ''
          title: Customer Reference
          type: string
        features:
          items:
            enum:
            - sms
            - mms
            - voice
            - fax
            - emergency
          title: Features
          type: array
          uniqueItems: true
        phone_number_type:
          default: local
          enum:
          - local
          - mobile
          - toll_free
          - shared_cost
          - national
          - landline
          type: string
        quantity:
          default: 1
          maximum: 10000
          minimum: 1
          title: Quantity
          type: integer
        requirement_group_id:
          description: The ID of the requirement group to associate with this advanced order
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
          format: uuid
          title: Requirement Group ID
          type: string
      title: AdvancedOrderRequest
      type: object
    Errors:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/billing-group_Error'
      type: object
    billing-group_Error:
      type: object
      required:
      - code
      - title
      properties:
        code:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          properties: {}
          additionalProperties: true
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
