openapi: 3.2.0
info:
  title: Telnyx Invoices API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Invoices across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- name: Invoices
paths:
  /invoices:
    get:
      description: Retrieve a paginated list of invoices.
      operationId: ListInvoices
      parameters:
      - description: Specifies the sort order for results.
        in: query
        name: sort
        required: false
        schema:
          enum:
          - period_start
          - -period_start
          example: period_start
          type: string
      - description: 'Consolidated page parameter (deepObject style). Originally: page[number], page[size]'
        explode: true
        in: query
        name: page
        schema:
          properties:
            number:
              default: 1
              description: The page number to load
              minimum: 1
              type: integer
            size:
              default: 20
              description: The size of the page
              maximum: 250
              minimum: 1
              type: integer
          type: object
        style: deepObject
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Invoice'
                    type: array
                  meta:
                    properties:
                      page_number:
                        example: 1
                        type: integer
                      page_size:
                        example: 20
                        type: integer
                      total_pages:
                        example: 1
                        type: integer
                      total_results:
                        example: 20
                        type: integer
                    type: object
                type: object
          description: List of invoices
        '403':
          $ref: '#/components/responses/invoice_ForbiddenErrorResponse'
        default:
          $ref: '#/components/responses/invoice_GenericErrorResponse'
      summary: List invoices
      x-latency-category: responsive
      tags:
      - Invoices
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /invoices/{id}:
    get:
      description: Retrieve a single invoice by its unique identifier.
      operationId: GetInvoiceById
      parameters:
      - description: Invoice UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Invoice action
        in: query
        name: action
        required: false
        schema:
          enum:
          - json
          - link
          example: json
          type: string
      responses:
        '200':
          $ref: '#/components/responses/InvoiceDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '403':
          $ref: '#/components/responses/invoice_ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/invoice_NotFoundErrorResponse'
        default:
          $ref: '#/components/responses/invoice_GenericErrorResponse'
      summary: Get invoice by ID
      x-latency-category: responsive
      tags:
      - Invoices
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
components:
  responses:
    invoice_ForbiddenErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/invoice_Errors'
      description: Insufficient permissions to access invoices
    invoice_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/invoice_Errors'
      description: Unexpected error
    invoice_NotFoundErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/invoice_Errors'
      description: Invoice not found
    InvoiceDetailResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/InvoiceDetail'
            type: object
      description: Get invoice details
    BadRequestErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/invoice_Errors'
      description: Invalid request parameters
    invoice_ForbiddenErrorResponse_2:
      description: Insufficient permissions to access invoices
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10010'
              title: Authorization failed
              detail: You do not have permission to perform the requested action on the specified resource or resources.
    invoice_GenericErrorResponse_2:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10007'
              title: Unexpected error
              detail: An unexpected error occured.
    invoice_BadRequestErrorResponse:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10015'
              title: Bad Request
              detail: The request failed because it was not well-formed.
    invoice_NotFoundErrorResponse_2:
      description: Invoice not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          example:
            errors:
            - code: '10005'
              title: Resource not found
              detail: The requested resource or URL could not be found.
  schemas:
    Invoice:
      properties:
        file_id:
          example: 454ea3b0-9eaa-4fa9-992e-6d9f31c0a37e
          format: uuid
          type: string
        invoice_id:
          example: 48eff763-ea80-4345-b688-78249eb165a8
          format: uuid
          type: string
        paid:
          example: true
          type: boolean
        period_end:
          example: '2023-11-30'
          format: date
          type: string
        period_start:
          example: '2023-11-01'
          format: date
          type: string
        url:
          example: https://api.telnyx.com:443/v2/invoices/48eff763-ea80-4345-b688-78249eb165a8
          format: uri
          type: string
      type: object
    InvoiceDetail:
      properties:
        download_url:
          description: Present only if the query parameter `action=link` is set.
          example: https://us-east-1.telnyxstorage.com/porting-documents/telnyx/...
          format: uri
          type: string
        file_id:
          example: 454ea3b0-9eaa-4fa9-992e-6d9f31c0a37e
          format: uuid
          type: string
        invoice_id:
          example: 48eff763-ea80-4345-b688-78249eb165a8
          format: uuid
          type: string
        paid:
          example: true
          type: boolean
        period_end:
          example: '2023-11-30'
          format: date
          type: string
        period_start:
          example: '2023-11-01'
          format: date
          type: string
        url:
          example: https://api.telnyx.com:443/v2/invoices/48eff763-ea80-4345-b688-78249eb165a8
          format: uri
          type: string
      type: object
    invoice_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    invoice_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/invoice_Error'
          type: array
      type: object
    Errors:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/billing-group_Error'
      type: object
    billing-group_Error:
      type: object
      required:
      - code
      - title
      properties:
        code:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          properties: {}
          additionalProperties: true
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
