openapi: 3.2.0
info:
  title: Telnyx Speech to Text Batch Reports API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Speech to Text Batch Reports across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Speech to text batch detail records
  name: Speech to Text Batch Reports
paths:
  /legacy/reporting/batch_detail_records/speech_to_text:
    get:
      description: Retrieves all Speech to Text batch report requests for the authenticated user
      operationId: getSttRequests
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SttGetDetailReportResponse'
          description: Speech to text batch report requests retrieved successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal server error
      security:
      - bearerAuth: []
      summary: Get all Speech to Text batch report requests
      tags:
      - Speech to Text Batch Reports
      x-latency-category: responsive
    post:
      description: Creates a new Speech to Text batch report request with the specified filters
      operationId: submitSttRequest
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SttDetailedRequest'
        description: Speech to Text batch report request data
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SttPostDetailReportResponse'
          description: Speech to text batch report request created successfully
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal server error
      security:
      - bearerAuth: []
      summary: Create a new Speech to Text batch report request
      tags:
      - Speech to Text Batch Reports
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /legacy/reporting/batch_detail_records/speech_to_text/{id}:
    delete:
      description: Deletes a specific Speech to Text batch report request by ID
      operationId: deleteSttRequest
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SttDeleteDetailReportResponse'
          description: Speech to text batch report request deleted successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Report not found
        '500':
          description: Internal server error
      security:
      - bearerAuth: []
      summary: Delete a Speech to Text batch report request
      tags:
      - Speech to Text Batch Reports
      x-latency-category: responsive
    get:
      description: Retrieves a specific Speech to Text batch report request by ID
      operationId: getSttRequest
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SttGetDetailReportByIdResponse'
          description: Speech to text batch report request retrieved successfully
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Report not found
        '500':
          description: Internal server error
      security:
      - bearerAuth: []
      summary: Get a specific Speech to Text batch report request
      tags:
      - Speech to Text Batch Reports
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /legacy/reporting/batch/detail/records/speech/to/text:
    get:
      tags:
      - Speech to Text Batch Reports
      summary: Get all Speech to Text batch report requests
      description: Retrieves all Speech to Text batch report requests for the authenticated user
      operationId: getLegacyReportingBatchDetailRecordsSpeechToText
      parameters: []
      responses:
        '200':
          description: Speech to text batch report requests retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SttGetDetailReportResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal server error
      x-latency-category: responsive
      x-operation-id-source: normalized
      x-operation-id-original: getSttRequests
    post:
      tags:
      - Speech to Text Batch Reports
      summary: Create a new Speech to Text batch report request
      description: Creates a new Speech to Text batch report request with the specified filters
      operationId: postLegacyReportingBatchDetailRecordsSpeechToText
      parameters: []
      requestBody:
        description: Speech to Text batch report request data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SttDetailedRequest'
        required: true
      responses:
        '200':
          description: Speech to text batch report request created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SttPostDetailReportResponse'
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal server error
      x-latency-category: responsive
      x-operation-id-source: normalized
      x-operation-id-original: submitSttRequest
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /legacy/reporting/batch/detail/records/speech/to/text/{id}:
    delete:
      tags:
      - Speech to Text Batch Reports
      summary: Delete a Speech to Text batch report request
      description: Deletes a specific Speech to Text batch report request by ID
      operationId: deleteLegacyReportingBatchDetailRecordsSpeechToTextById
      parameters:
      - name: id
        in: path
        description: Unique identifier of the resource.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Speech to text batch report request deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SttDeleteDetailReportResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Report not found
        '500':
          description: Internal server error
      x-latency-category: responsive
      x-operation-id-source: normalized
      x-operation-id-original: deleteSttRequest
    get:
      tags:
      - Speech to Text Batch Reports
      summary: Get a specific Speech to Text batch report request
      description: Retrieves a specific Speech to Text batch report request by ID
      operationId: getLegacyReportingBatchDetailRecordsSpeechToTextById
      parameters:
      - name: id
        in: path
        description: Unique identifier of the resource.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Speech to text batch report request retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SttGetDetailReportByIdResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Report not found
        '500':
          description: Internal server error
      x-latency-category: responsive
      x-operation-id-source: normalized
      x-operation-id-original: getSttRequest
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
components:
  schemas:
    SttGetDetailReportResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/SttDetailReportResponse'
          type: array
      type: object
    SttDetailReportResponse:
      properties:
        created_at:
          example: '2020-07-01T00:00:00-06:00'
          format: date-time
          type: string
        download_link:
          description: URL to download the report
          example: https://portal-cdrs-usage.s3.amazonaws.com
          type: string
        end_date:
          example: '2020-07-01T00:00:00-06:00'
          format: date-time
          type: string
        id:
          description: Identifies the resource
          example: ab76c3b6-80cd-11eb-9439-0242ac130002
          type: string
        record_type:
          example: speech_to_text_report
          type: string
        start_date:
          example: '2020-07-01T00:00:00-06:00'
          format: date-time
          type: string
        status:
          enum:
          - PENDING
          - COMPLETE
          - FAILED
          - EXPIRED
          type: string
      type: object
    SttGetDetailReportByIdResponse:
      properties:
        data:
          $ref: '#/components/schemas/SttDetailReportResponse'
      type: object
    SttDetailedRequest:
      description: Request object for Speech to Text detailed report
      properties:
        end_date:
          description: End date in ISO format with timezone (date range must be up to one month)
          example: '2020-07-01T00:00:00-06:00'
          format: date-time
          type: string
        start_date:
          description: Start date in ISO format with timezone
          example: '2020-07-01T00:00:00-06:00'
          format: date-time
          type: string
      required:
      - start_date
      - end_date
      type: object
    SttDeleteDetailReportResponse:
      properties:
        data:
          $ref: '#/components/schemas/SttDetailReportResponse'
      type: object
    SttPostDetailReportResponse:
      properties:
        data:
          $ref: '#/components/schemas/SttDetailReportResponse'
      type: object
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
