openapi: 3.1.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Access Tokens Public Internet Gateways API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Public Internet Gateway operations
  name: Public Internet Gateways
paths:
  /public_internet_gateways:
    get:
      description: List all Public Internet Gateways.
      operationId: ListPublicInternetGateways
      parameters:
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[network_id]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            network_id:
              description: The associated network id to filter on.
              example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
              type: string
          type: object
        style: deepObject
      - $ref: '#/components/parameters/PageConsolidated'
      responses:
        '200':
          $ref: '#/components/responses/PublicInternetGatewayListResponse'
        '422':
          $ref: '#/components/responses/netapps_GenericErrorResponse'
        default:
          $ref: '#/components/responses/netapps_GenericErrorResponse'
      summary: List all Public Internet Gateways
      tags:
      - Public Internet Gateways
      x-latency-category: responsive
    post:
      description: Create a new Public Internet Gateway.
      operationId: CreatePublicInternetGateway
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicInternetGatewayCreate'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/PublicInternetGatewayResponse'
        '422':
          $ref: '#/components/responses/netapps_UnprocessableEntity'
        default:
          $ref: '#/components/responses/netapps_GenericErrorResponse'
      summary: Create a Public Internet Gateway
      tags:
      - Public Internet Gateways
      x-latency-category: responsive
  /public_internet_gateways/{id}:
    delete:
      description: Delete a Public Internet Gateway.
      operationId: DeletePublicInternetGateway
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/PublicInternetGatewayResponse'
        '422':
          $ref: '#/components/responses/netapps_GenericErrorResponse'
        default:
          $ref: '#/components/responses/netapps_GenericErrorResponse'
      summary: Delete a Public Internet Gateway
      tags:
      - Public Internet Gateways
      x-latency-category: responsive
    get:
      description: Retrieve a Public Internet Gateway.
      operationId: GetPublicInternetGateway
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/PublicInternetGatewayResponse'
        '422':
          $ref: '#/components/responses/netapps_GenericErrorResponse'
        default:
          $ref: '#/components/responses/netapps_GenericErrorResponse'
      summary: Retrieve a Public Internet Gateway
      tags:
      - Public Internet Gateways
      x-latency-category: responsive
components:
  schemas:
    netapps_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    PublicInternetGateway:
      allOf:
      - $ref: '#/components/schemas/Record'
      - $ref: '#/components/schemas/Interface'
      - properties:
          public_ip:
            description: The publically accessible ip for this interface.
            example: 127.0.0.1
            readOnly: true
            type: string
          record_type:
            description: Identifies the type of the resource.
            example: public_internet_gateway
            readOnly: true
            type: string
          region_code:
            description: The region interface is deployed to.
            example: ashburn-va
            type: string
        title: PublicInternetGateway
        type: object
    PaginationMeta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      type: object
    Interface:
      properties:
        name:
          description: A user specified name for the interface.
          example: test interface
          type: string
        network_id:
          description: The id of the network associated with the interface.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          type: string
        status:
          $ref: '#/components/schemas/InterfaceStatus'
      type: object
    InterfaceStatus:
      description: The current status of the interface deployment.
      enum:
      - created
      - provisioning
      - provisioned
      - deleting
      example: provisioned
      readOnly: true
      type: string
    PublicInternetGatewayRead:
      allOf:
      - $ref: '#/components/schemas/PublicInternetGateway'
    PublicInternetGatewayCreate:
      allOf:
      - $ref: '#/components/schemas/PublicInternetGateway'
      - title: PublicInternetGatewayCreate
        type: object
    netapps_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/netapps_Error'
          type: array
      type: object
    Record:
      properties:
        created_at:
          description: ISO 8601 formatted date-time indicating when the resource was created.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        id:
          description: Identifies the resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          readOnly: true
          type: string
        record_type:
          description: Identifies the type of the resource.
          example: sample_record_type
          readOnly: true
          type: string
        updated_at:
          description: ISO 8601 formatted date-time indicating when the resource was updated.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
      type: object
  parameters:
    ResourceId:
      description: Identifies the resource.
      in: path
      name: id
      required: true
      schema:
        example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        format: uuid
        type: string
    PageConsolidated:
      description: 'Consolidated page parameter (deepObject style). Originally: page[number], page[size]'
      explode: true
      in: query
      name: page
      schema:
        properties:
          number:
            default: 1
            description: The page number to load
            minimum: 1
            type: integer
          size:
            default: 20
            description: The size of the page
            maximum: 250
            minimum: 1
            type: integer
        type: object
      style: deepObject
  responses:
    PublicInternetGatewayResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PublicInternetGatewayRead'
            type: object
      description: Successful response
    netapps_UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/netapps_Errors'
      description: Unprocessable entity. Check the 'detail' field in response for details.
    PublicInternetGatewayListResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PublicInternetGatewayRead'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    netapps_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/netapps_Errors'
      description: Unexpected error
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
