openapi: 3.1.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Access Tokens WDR Detail Reports API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- name: WDR Detail Reports
paths:
  /reports/wdrs:
    get:
      description: 'Fetch all Wdr records '
      operationId: GetPaginatedWdrs
      parameters:
      - description: Start date
        in: query
        name: start_date
        schema:
          example: '2021-05-01T00:00:00Z'
          type: string
      - description: End date
        in: query
        name: end_date
        schema:
          example: '2021-06-01T00:00:00Z'
          type: string
      - in: query
        name: id
        schema:
          description: WDR uuid
          example: e093fbe0-5bde-11eb-ae93-0242ac130002
          type: string
      - in: query
        name: mcc
        schema:
          description: Mobile country code
          example: '204'
          type: string
      - in: query
        name: mnc
        schema:
          description: Mobile network code
          example: '01'
          type: string
      - in: query
        name: imsi
        schema:
          description: International mobile subscriber identity
          example: '123456'
          type: string
      - in: query
        name: sim_group_name
        schema:
          description: Sim group name
          example: sim name
          type: string
      - in: query
        name: sim_group_id
        schema:
          description: Sim group unique identifier
          example: f05a189f-7c46-4531-ac56-1460dc465a42
          type: string
      - in: query
        name: sim_card_id
        schema:
          description: Sim card unique identifier
          example: 877f80a6-e5b2-4687-9a04-88076265720f
          type: string
      - in: query
        name: phone_number
        schema:
          description: Phone number
          example: '+12345678910'
          type: string
      - in: query
        name: sort
        schema:
          default:
          - created_at
          description: Field used to order the data. If no field is specified, default value is 'created_at'
          example:
          - created_at
          items:
            type: string
          type: array
      - description: 'Consolidated page parameter (deepObject style). Originally: page[number], page[size]'
        explode: true
        in: query
        name: page
        schema:
          properties:
            number:
              default: 1
              description: Page number
              format: int32
              type: integer
            size:
              default: 20
              description: Size of the page
              format: int32
              type: integer
          type: object
        style: deepObject
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalWdrGetDetailResponse'
          description: Successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wireless-public_ErrorResponse'
          description: Bad Request
      summary: Fetches all Wdr records
      tags:
      - WDR Detail Reports
      x-latency-category: interactive
components:
  schemas:
    WirelessRate:
      properties:
        amount:
          description: Rate from which cost is calculated
          example: '0.1'
          type: string
        currency:
          description: Currency of the rate and cost
          enum:
          - AUD
          - CAD
          - EUR
          - GBP
          - USD
          example: USD
          type: string
      type: object
    wireless-public_ErrorResponse:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/wireless-public_Error'
          type: array
      type: object
    wireless-public_Error:
      properties:
        code:
          example: '10011'
          type: string
        detail:
          example: Invalid parameter value
          type: string
        title:
          example: Bad Request
          type: string
      type: object
    wireless-public_PaginationMeta:
      properties:
        page_number:
          example: 2
          format: int32
          type: integer
        page_size:
          example: 25
          format: int32
          type: integer
        total_pages:
          example: 3
          format: int32
          type: integer
        total_results:
          example: 55
          format: int32
          type: integer
      type: object
    ExternalWdrDetailRecordDto:
      properties:
        cost:
          $ref: '#/components/schemas/WirelessCost'
        created_at:
          description: Record created time
          example: '2020-07-01T00:00:00-06:00'
          format: date-time
          type: string
        downlink_data:
          $ref: '#/components/schemas/DownlinkData'
        duration_seconds:
          description: Session duration in seconds.
          example: 1
          type: number
        id:
          description: WDR id
          example: 3ca7bd3d-7d82-4e07-9df4-009123068320
          type: string
        imsi:
          description: International mobile subscriber identity.
          example: '123'
          type: string
        mcc:
          description: Mobile country code.
          example: '204'
          type: string
        mnc:
          description: Mobile network code.
          example: '01'
          type: string
        phone_number:
          description: Phone number
          example: '+12345678910'
          type: string
        rate:
          $ref: '#/components/schemas/WirelessRate'
        record_type:
          example: wdr
          type: string
        sim_card_id:
          description: Sim card unique identifier
          example: 877f80a6-e5b2-4687-9a04-88076265720f
          type: string
        sim_group_id:
          description: Sim group unique identifier
          example: f05a189f-7c46-4531-ac56-1460dc465a42
          type: string
        sim_group_name:
          description: Defined sim group name
          example: sim name
          type: string
        uplink_data:
          $ref: '#/components/schemas/UplinkData'
      type: object
    ExternalWdrGetDetailResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ExternalWdrDetailRecordDto'
          type: array
        meta:
          $ref: '#/components/schemas/wireless-public_PaginationMeta'
      type: object
    UplinkData:
      properties:
        amount:
          description: Uplink data
          example: 1
          type: number
        unit:
          default: MB
          description: Transmission unit
          enum:
          - B
          - KB
          - MB
          type: string
      type: object
    WirelessCost:
      properties:
        amount:
          description: Final cost. Cost is calculated as rate * unit
          example: '0.1'
          type: string
        currency:
          description: Currency of the rate and cost
          enum:
          - AUD
          - CAD
          - EUR
          - GBP
          - USD
          example: USD
          type: string
      type: object
    DownlinkData:
      properties:
        amount:
          description: Downlink data
          example: 1
          type: number
        unit:
          default: MB
          description: Transmission unit
          enum:
          - B
          - KB
          - MB
          type: string
      type: object
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
