openapi: 3.1.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Access Tokens Private Wireless Gateways API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Private Wireless Gateways operations
  name: Private Wireless Gateways
paths:
  /private_wireless_gateways:
    get:
      description: Get all Private Wireless Gateways belonging to the user.
      operationId: GetPrivateWirelessGateways
      parameters:
      - $ref: '#/components/parameters/wireless_PageNumber'
      - $ref: '#/components/parameters/wireless_PageSize'
      - description: The name of the Private Wireless Gateway.
        example: my private gateway
        in: query
        name: filter[name]
        required: false
        schema:
          type: string
      - description: The IP address range of the Private Wireless Gateway.
        example: 192.168.0.0/24
        in: query
        name: filter[ip_range]
        required: false
        schema:
          type: string
      - description: The name of the region where the Private Wireless Gateway is deployed.
        example: dc2
        in: query
        name: filter[region_code]
        required: false
        schema:
          type: string
      - description: Private Wireless Gateway resource creation date.
        example: '2018-02-02T22:25:27.521Z'
        in: query
        name: filter[created_at]
        required: false
        schema:
          type: string
      - description: When the Private Wireless Gateway was last updated.
        example: '2018-02-02T22:25:27.521Z'
        in: query
        name: filter[updated_at]
        required: false
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/GetAllPrivateWirelessGatewaysResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get all Private Wireless Gateways
      tags:
      - Private Wireless Gateways
      x-latency-category: responsive
    post:
      description: Asynchronously create a Private Wireless Gateway for SIM cards for a previously created network. This operation may take several minutes so you can check the Private Wireless Gateway status at the section Get a Private Wireless Gateway.
      operationId: CreatePrivateWirelessGateway
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The private wireless gateway name.
                  example: My private wireless gateway
                  type: string
                network_id:
                  description: The identification of the related network resource.
                  example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
                  format: uuid
                  type: string
                region_code:
                  description: The code of the region where the private wireless gateway will be assigned. A list of available regions can be found at the regions endpoint
                  example: dc2
                  type: string
              required:
              - network_id
              - name
              type: object
        required: true
      responses:
        '202':
          $ref: '#/components/responses/CreatePrivateWirelessGatewayResponse'
        '422':
          $ref: '#/components/responses/wireless_UnprocessableEntity'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Create a Private Wireless Gateway
      tags:
      - Private Wireless Gateways
      x-latency-category: background
  /private_wireless_gateways/{id}:
    delete:
      description: Deletes the Private Wireless Gateway.
      operationId: DeleteWirelessGateway
      parameters:
      - $ref: '#/components/parameters/PrivateWirelessGatewayId'
      responses:
        '200':
          $ref: '#/components/responses/DeletePrivateWirelessGatewayResponse'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Delete a Private Wireless Gateway
      tags:
      - Private Wireless Gateways
      x-latency-category: responsive
    get:
      description: Retrieve information about a Private Wireless Gateway.
      operationId: GetPrivateWirelessGateway
      parameters:
      - $ref: '#/components/parameters/PrivateWirelessGatewayId'
      responses:
        '200':
          $ref: '#/components/responses/GetPrivateWirelessGatewayResponse'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get a Private Wireless Gateway
      tags:
      - Private Wireless Gateways
      x-latency-category: responsive
components:
  parameters:
    wireless_PageSize:
      description: The size of the page.
      in: query
      name: page[size]
      schema:
        default: 20
        maximum: 250
        minimum: 1
        type: integer
    wireless_PageNumber:
      description: The page number to load.
      in: query
      name: page[number]
      schema:
        default: 1
        minimum: 1
        type: integer
    PrivateWirelessGatewayId:
      description: Identifies the private wireless gateway.
      in: path
      name: id
      required: true
      schema:
        example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        format: uuid
        type: string
  schemas:
    PWGAssignedResourcesSummary:
      description: The summary of the resource that have been assigned to the Private Wireless Gateway.
      properties:
        count:
          description: The current count of a resource type assigned to the Private Wireless Gateway.
          example: 1
          readOnly: true
          type: integer
        record_type:
          description: The type of the resource assigned to the Private Wireless Gateway.
          example: sim_card_group
          readOnly: true
          type: string
      type: object
    wireless_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/wireless_Error'
          type: array
      type: object
    wireless_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    PrivateWirelessGatewayStatus:
      description: The current status or failure details of the Private Wireless Gateway.
      properties:
        error_code:
          default: null
          description: This attribute is an [error code](https://developers.telnyx.com/development/api-fundamentals/api-errors) related to the failure reason.
          example: null
          readOnly: true
          type:
          - string
          - 'null'
        error_description:
          default: null
          description: This attribute provides a human-readable explanation of why a failure happened.
          example: null
          readOnly: true
          type:
          - string
          - 'null'
        value:
          default: provisioning
          description: "The current status or failure details of the Private Wireless Gateway. <ul>\n <li><code>provisioning</code> - the Private Wireless Gateway is being provisioned.</li>\n <li><code>provisioned</code> - the Private Wireless Gateway was provisioned and able to receive connections.</li>\n <li><code>failed</code> - the provisioning had failed for a reason and it requires an intervention.</li>\n <li><code>decommissioning</code> - the Private Wireless Gateway is being removed from the network.</li>\n </ul>\n Transitioning between the provisioning and provisioned states may take some time."
          enum:
          - provisioning
          - provisioned
          - failed
          - decommissioning
          example: provisioned
          readOnly: true
          type: string
      type: object
    PaginationMeta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      type: object
    PrivateWirelessGateway:
      properties:
        assigned_resources:
          description: A list of the resources that have been assigned to the Private Wireless Gateway.
          items:
            $ref: '#/components/schemas/PWGAssignedResourcesSummary'
          type: array
        created_at:
          description: ISO 8601 formatted date-time indicating when the resource was created.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        id:
          description: Identifies the resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          readOnly: true
          type: string
        ip_range:
          default: null
          description: IP block used to assign IPs to the SIM cards in the Private Wireless Gateway.
          example: 100.64.1.0/24
          readOnly: true
          type: string
        name:
          description: The private wireless gateway name.
          example: My private wireless gateway
          type: string
        network_id:
          description: The identification of the related network resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          type: string
        record_type:
          example: private_wireless_gateway
          readOnly: true
          type: string
        region_code:
          default: null
          description: The name of the region where the Private Wireless Gateway is deployed.
          example: dc2
          type: string
        status:
          $ref: '#/components/schemas/PrivateWirelessGatewayStatus'
        updated_at:
          description: ISO 8601 formatted date-time indicating when the resource was updated.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
      type: object
  responses:
    wireless_ResourceNotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Error'
      description: Resource not found
    GetAllPrivateWirelessGatewaysResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PrivateWirelessGateway'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful Response
    wireless_UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unprocessable entity. Check the 'detail' field in response for details.
    GetPrivateWirelessGatewayResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PrivateWirelessGateway'
            type: object
      description: Successful Response
    wireless_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unexpected error
    DeletePrivateWirelessGatewayResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PrivateWirelessGateway'
            type: object
      description: Successful Response
    CreatePrivateWirelessGatewayResponse:
      content:
        application/json:
          schema:
            example:
              data:
                assigned_resources:
                - count: 1
                  record_type: sim_card_group
                created_at: '2018-02-02T22:25:27.521Z'
                id: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
                ip_range: 100.64.1.0/24
                name: My private wireless gateway
                network_id: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
                record_type: private_wireless_gateway
                region_code: dc2
                status:
                  error_code: null
                  error_description: null
                  value: provisioning
                updated_at: '2018-02-02T22:25:27.521Z'
            properties:
              data:
                $ref: '#/components/schemas/PrivateWirelessGateway'
            type: object
      description: Successful Response
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
