openapi: 3.2.0
info:
  title: Telnyx Stored Payment Transactions API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Stored Payment Transactions across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Operations for managing stored payment transactions.
  name: Stored Payment Transactions
paths:
  /v2/payment/stored_payment_transactions:
    post:
      operationId: createStoredPaymentTransaction
      requestBody:
        content:
          application/json:
            example:
              amount: '120.00'
            schema:
              $ref: '#/components/schemas/StoredPaymentTransactionRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                  amount_cents: 12000
                  amount_currency: USD
                  auto_recharge: false
                  created_at: '2026-02-25T10:00:00Z'
                  id: de06811a-2e43-4561-af5a-7d0a26e20aaa
                  processor_status: submitted_for_settlement
                  record_type: transaction
                  transaction_processing_type: stored_payment
              schema:
                $ref: '#/components/schemas/StoredPaymentTransactionResponse'
          description: Stored payment transaction created successfully
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden - insufficient permissions
        '422':
          content:
            application/json:
              example:
                errors:
                - code: '10027'
                  detail: Amount must include dollars and cents (e.g. "120.00").
                  meta:
                    url: https://developers.telnyx.com/docs/overview/errors/10027
                  source:
                    pointer: /
                  title: Invalid amount format
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unprocessable entity
      summary: Create a stored payment transaction
      tags:
      - Stored Payment Transactions
      x-endpoint-cost: light
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
components:
  schemas:
    StoredPaymentTransactionResponse:
      properties:
        data:
          properties:
            amount_cents:
              type: integer
            amount_currency:
              type: string
            auto_recharge:
              type: boolean
            created_at:
              format: date-time
              type: string
            id:
              type: string
            processor_status:
              type: string
            record_type:
              enum:
              - transaction
              type: string
            transaction_processing_type:
              enum:
              - stored_payment
              type: string
          type: object
      type: object
    StoredPaymentTransactionRequest:
      properties:
        amount:
          description: Amount in dollars and cents, e.g. "120.00"
          example: '120.00'
          type: string
      required:
      - amount
      type: object
    ErrorResponse:
      properties:
        errors:
          items:
            properties:
              code:
                type: string
              detail:
                type: string
              meta:
                properties:
                  url:
                    format: uri
                    type: string
                type: object
              source:
                properties:
                  pointer:
                    type: string
                type: object
              title:
                type: string
            type: object
          type: array
      type: object
    stored-payment-transactions_ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              detail:
                type: string
              code:
                type: string
              meta:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
              source:
                type: object
                properties:
                  pointer:
                    type: string
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
