openapi: 3.2.0
info:
  title: Telnyx Private Wireless Gateways API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Private Wireless Gateways across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Private Wireless Gateways operations
  name: Private Wireless Gateways
paths:
  /private_wireless_gateways:
    get:
      description: Get all Private Wireless Gateways belonging to the user.
      operationId: GetPrivateWirelessGateways
      parameters:
      - $ref: '#/components/parameters/wireless_PageNumber'
      - $ref: '#/components/parameters/wireless_PageSize'
      - description: The name of the Private Wireless Gateway.
        example: my private gateway
        in: query
        name: filter[name]
        required: false
        schema:
          type: string
      - description: The IP address range of the Private Wireless Gateway.
        example: 192.168.0.0/24
        in: query
        name: filter[ip_range]
        required: false
        schema:
          type: string
      - description: The name of the region where the Private Wireless Gateway is deployed.
        example: dc2
        in: query
        name: filter[region_code]
        required: false
        schema:
          type: string
      - description: Private Wireless Gateway resource creation date.
        example: '2018-02-02T22:25:27.521Z'
        in: query
        name: filter[created_at]
        required: false
        schema:
          type: string
      - description: When the Private Wireless Gateway was last updated.
        example: '2018-02-02T22:25:27.521Z'
        in: query
        name: filter[updated_at]
        required: false
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/GetAllPrivateWirelessGatewaysResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get all Private Wireless Gateways
      tags:
      - Private Wireless Gateways
      x-latency-category: responsive
    post:
      description: Asynchronously create a Private Wireless Gateway for SIM cards for a previously created network. This operation may take several minutes so you can check the Private Wireless Gateway status at the section Get a Private Wireless Gateway.
      operationId: CreatePrivateWirelessGateway
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The private wireless gateway name.
                  example: My private wireless gateway
                  type: string
                network_id:
                  description: The identification of the related network resource.
                  example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
                  format: uuid
                  type: string
                region_code:
                  description: The code of the region where the private wireless gateway will be assigned. A list of available regions can be found at the regions endpoint
                  example: dc2
                  type: string
              required:
              - network_id
              - name
              type: object
        required: true
      responses:
        '202':
          $ref: '#/components/responses/CreatePrivateWirelessGatewayResponse'
        '422':
          $ref: '#/components/responses/wireless_UnprocessableEntity'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Create a Private Wireless Gateway
      tags:
      - Private Wireless Gateways
      x-latency-category: background
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /private_wireless_gateways/{id}:
    delete:
      description: Deletes the Private Wireless Gateway.
      operationId: DeleteWirelessGateway
      parameters:
      - $ref: '#/components/parameters/PrivateWirelessGatewayId'
      responses:
        '200':
          $ref: '#/components/responses/DeletePrivateWirelessGatewayResponse'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Delete a Private Wireless Gateway
      tags:
      - Private Wireless Gateways
      x-latency-category: responsive
    get:
      description: Retrieve information about a Private Wireless Gateway.
      operationId: GetPrivateWirelessGateway
      parameters:
      - $ref: '#/components/parameters/PrivateWirelessGatewayId'
      responses:
        '200':
          $ref: '#/components/responses/GetPrivateWirelessGatewayResponse'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get a Private Wireless Gateway
      tags:
      - Private Wireless Gateways
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
components:
  responses:
    DeletePrivateWirelessGatewayResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PrivateWirelessGateway'
            type: object
      description: Successful Response
    wireless_UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unprocessable entity. Check the 'detail' field in response for details.
    CreatePrivateWirelessGatewayResponse:
      content:
        application/json:
          schema:
            example:
              data:
                assigned_resources:
                - count: 1
                  record_type: sim_card_group
                created_at: '2018-02-02T22:25:27.521Z'
                id: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
                ip_range: 100.64.1.0/24
                name: My private wireless gateway
                network_id: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
                record_type: private_wireless_gateway
                region_code: dc2
                status:
                  error_code: null
                  error_description: null
                  value: provisioning
                updated_at: '2018-02-02T22:25:27.521Z'
            properties:
              data:
                $ref: '#/components/schemas/PrivateWirelessGateway'
            type: object
      description: Successful Response
    GetAllPrivateWirelessGatewaysResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/PrivateWirelessGateway'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful Response
    GetPrivateWirelessGatewayResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PrivateWirelessGateway'
            type: object
      description: Successful Response
    wireless_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unexpected error
    wireless_ResourceNotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Error'
      description: Resource not found
    wireless_GenericErrorResponse_c5290d5308:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            unexpectedError:
              summary: Unexpected API error
              value:
                errors:
                - code: '10007'
                  title: Unexpected error
                  detail: An unexpected error occured.
    wireless_UnprocessableEntity_c5290d5308:
      description: Unprocessable entity. Check the 'detail' field in response for details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            unprocessableEntity:
              summary: Request could not be processed
              value:
                errors:
                - code: '10027'
                  title: Unprocessable Entity
                  detail: The server understood the syntax of the request but was unable to process the instructions.
    ResourceNotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/documents_Error'
  schemas:
    wireless_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    PaginationMeta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      type: object
    PWGAssignedResourcesSummary:
      description: The summary of the resource that have been assigned to the Private Wireless Gateway.
      properties:
        count:
          description: The current count of a resource type assigned to the Private Wireless Gateway.
          example: 1
          readOnly: true
          type: integer
        record_type:
          description: The type of the resource assigned to the Private Wireless Gateway.
          example: sim_card_group
          readOnly: true
          type: string
      type: object
    PrivateWirelessGatewayStatus:
      description: The current status or failure details of the Private Wireless Gateway.
      properties:
        error_code:
          default: null
          description: This attribute is an [error code](https://developers.telnyx.com/development/api-fundamentals/api-errors) related to the failure reason.
          example: null
          readOnly: true
          type:
          - string
          - 'null'
        error_description:
          default: null
          description: This attribute provides a human-readable explanation of why a failure happened.
          example: null
          readOnly: true
          type:
          - string
          - 'null'
        value:
          default: provisioning
          description: "The current status or failure details of the Private Wireless Gateway. <ul>\n <li><code>provisioning</code> - the Private Wireless Gateway is being provisioned.</li>\n <li><code>provisioned</code> - the Private Wireless Gateway was provisioned and able to receive connections.</li>\n <li><code>failed</code> - the provisioning had failed for a reason and it requires an intervention.</li>\n <li><code>decommissioning</code> - the Private Wireless Gateway is being removed from the network.</li>\n </ul>\n Transitioning between the provisioning and provisioned states may take some time."
          enum:
          - provisioning
          - provisioned
          - failed
          - decommissioning
          example: provisioned
          readOnly: true
          type: string
      type: object
    wireless_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/wireless_Error'
          type: array
      type: object
    PrivateWirelessGateway:
      properties:
        assigned_resources:
          description: A list of the resources that have been assigned to the Private Wireless Gateway.
          items:
            $ref: '#/components/schemas/PWGAssignedResourcesSummary'
          type: array
        created_at:
          description: ISO 8601 formatted date-time indicating when the resource was created.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        id:
          description: Identifies the resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          readOnly: true
          type: string
        ip_range:
          default: null
          description: IP block used to assign IPs to the SIM cards in the Private Wireless Gateway.
          example: 100.64.1.0/24
          readOnly: true
          type: string
        name:
          description: The private wireless gateway name.
          example: My private wireless gateway
          type: string
        network_id:
          description: The identification of the related network resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          type: string
        record_type:
          example: private_wireless_gateway
          readOnly: true
          type: string
        region_code:
          default: null
          description: The name of the region where the Private Wireless Gateway is deployed.
          example: dc2
          type: string
        status:
          $ref: '#/components/schemas/PrivateWirelessGatewayStatus'
        updated_at:
          description: ISO 8601 formatted date-time indicating when the resource was updated.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
      type: object
    PrivateWirelessGatewayStatus_2:
      type: object
      description: The current status or failure details of the Private Wireless Gateway.
      properties:
        value:
          type: string
          description: "The current status or failure details of the Private Wireless Gateway. <ul>\n <li><code>provisioning</code> - the Private Wireless Gateway is being provisioned.</li>\n <li><code>provisioned</code> - the Private Wireless Gateway was provisioned and able to receive connections.</li>\n <li><code>failed</code> - the provisioning had failed for a reason and it requires an intervention.</li>\n <li><code>decommissioning</code> - the Private Wireless Gateway is being removed from the network.</li>\n </ul>\n Transitioning between the provisioning and provisioned states may take some time."
          enum:
          - provisioning
          - provisioned
          - failed
          - decommissioning
          readOnly: true
          default: provisioning
          example: provisioned
        error_description:
          type:
          - string
          - 'null'
          description: This attribute provides a human-readable explanation of why a failure happened.
          readOnly: true
          default: null
          example: null
        error_code:
          type:
          - string
          - 'null'
          description: This attribute is an [error code](https://developers.telnyx.com/docs/development/api-fundamentals/api-errors) related to the failure reason.
          readOnly: true
          default: null
          example: null
    documents_Error:
      required:
      - code
      - title
      properties:
        code:
          type: string
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          additionalProperties: true
      type: object
    Errors:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/billing-group_Error'
      type: object
    wireless_PrivateWirelessGateway:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Identifies the resource.
          readOnly: true
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        network_id:
          type: string
          format: uuid
          description: The identification of the related network resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        record_type:
          type: string
          readOnly: true
          example: private_wireless_gateway
        created_at:
          type: string
          description: ISO 8601 formatted date-time indicating when the resource was created.
          readOnly: true
          example: '2018-02-02T22:25:27.521Z'
        updated_at:
          type: string
          description: ISO 8601 formatted date-time indicating when the resource was updated.
          readOnly: true
          example: '2018-02-02T22:25:27.521Z'
        name:
          description: The private wireless gateway name.
          type: string
          example: My private wireless gateway
        address_mode:
          description: The address mode of the private wireless gateway. With static, each SIM card gets a fixed IP address from the gateway's IP range that is preserved across sessions. With dynamic, IP addresses are assigned by the network at attach time and may change between sessions.
          type: string
          enum:
          - static
          - dynamic
          example: dynamic
        region_code:
          description: The name of the region where the Private Wireless Gateway is deployed.
          type: string
          example: dc2
          default: null
        status:
          $ref: '#/components/schemas/PrivateWirelessGatewayStatus_2'
        ip_range:
          type: string
          description: IP block used to assign IPs to the SIM cards in the Private Wireless Gateway.
          example: 100.64.1.0/24
          readOnly: true
          default: null
        assigned_resources:
          type: array
          description: A list of the resources that have been assigned to the Private Wireless Gateway.
          items:
            $ref: '#/components/schemas/PWGAssignedResourcesSummary'
    billing-group_Error:
      type: object
      required:
      - code
      - title
      properties:
        code:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          properties: {}
          additionalProperties: true
  parameters:
    wireless_PageSize:
      description: The size of the page.
      in: query
      name: page[size]
      schema:
        default: 20
        maximum: 250
        minimum: 1
        type: integer
    wireless_PageNumber:
      description: The page number to load.
      in: query
      name: page[number]
      schema:
        default: 1
        minimum: 1
        type: integer
    PrivateWirelessGatewayId:
      description: Identifies the private wireless gateway.
      in: path
      name: id
      required: true
      schema:
        example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        format: uuid
        type: string
    wireless_PageSize_c5290d5308:
      name: page[size]
      in: query
      description: The size of the page.
      schema:
        type: integer
        minimum: 1
        maximum: 250
        default: 20
    wireless_PageNumber_c5290d5308:
      name: page[number]
      in: query
      description: The page number to load.
      schema:
        type: integer
        minimum: 1
        default: 1
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
