openapi: 3.2.0
info:
  title: Telnyx Reporting API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Reporting across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Wireless reporting operations
  name: Reporting
paths:
  /wireless/detail_records_reports:
    get:
      description: Returns the WDR Reports that match the given parameters.
      operationId: GetWdrReports
      parameters:
      - $ref: '#/components/parameters/wireless_PageNumber'
      - $ref: '#/components/parameters/wireless_PageSize'
      responses:
        '200':
          $ref: '#/components/responses/GetWdrReportsResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get all Wireless Detail Records (WDRs) Reports
      tags:
      - Reporting
      x-latency-category: responsive
    post:
      description: Asynchronously create a report containing Wireless Detail Records (WDRs) for the SIM cards that consumed wireless data in the given time period.
      operationId: CreateWdrReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WdrReportRequest'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/CreateWdrReportResponse'
        '422':
          $ref: '#/components/responses/wireless_UnprocessableEntity'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Create a Wireless Detail Records (WDRs) Report
      tags:
      - Reporting
      x-latency-category: background
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /wireless/detail_records_reports/{id}:
    delete:
      description: Deletes one specific WDR report.
      operationId: DeleteWdrReport
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/DeleteWdrReportResponse'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Delete a Wireless Detail Record (WDR) Report
      tags:
      - Reporting
      x-latency-category: responsive
    get:
      description: Returns one specific WDR report
      operationId: GetWdrReport
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/GetWdrReportResponse'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get a Wireless Detail Record (WDR) Report
      tags:
      - Reporting
      x-latency-category: background
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /wireless/detail/records/reports:
    get:
      summary: Get all Wireless Detail Records (WDRs) Reports
      description: Returns the WDR Reports that match the given parameters.
      operationId: getWirelessDetailRecordsReports
      tags:
      - Reporting
      parameters:
      - $ref: '#/components/parameters/wireless_PageNumber'
      - $ref: '#/components/parameters/wireless_PageSize'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WdrReport'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/sim-cards-monitoring_wireless_GenericErrorResponse'
      x-latency-category: responsive
      x-operation-id-source: normalized
      x-operation-id-original: GetWdrReports
    post:
      x-latency-category: background
      summary: Create a Wireless Detail Records (WDRs) Report
      description: Asynchronously create a report containing Wireless Detail Records (WDRs) for the SIM cards that consumed wireless data in the given time period.
      operationId: postWirelessDetailRecordsReports
      tags:
      - Reporting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WdrReportRequest'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WdrReport'
        '422':
          $ref: '#/components/responses/sim-cards-monitoring_wireless_UnprocessableEntity'
        default:
          $ref: '#/components/responses/sim-cards-monitoring_wireless_GenericErrorResponse'
      x-operation-id-source: normalized
      x-operation-id-original: CreateWdrReport
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /wireless/detail/records/reports/{id}:
    delete:
      summary: Delete a Wireless Detail Record (WDR) Report
      description: Permanently deletes the specified Wireless Detail Record (WDR) report.
      operationId: deleteWirelessDetailRecordsReportsById
      tags:
      - Reporting
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WdrReport'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/sim-cards-monitoring_wireless_GenericErrorResponse'
      x-latency-category: responsive
      x-operation-id-source: normalized
      x-operation-id-original: DeleteWdrReport
    get:
      x-latency-category: background
      summary: Get a Wireless Detail Record (WDR) Report
      description: Returns a single Wireless Detail Record (WDR) report by its identifier, including its parameters and current status.
      operationId: getWirelessDetailRecordsReportsById
      tags:
      - Reporting
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WdrReport'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/sim-cards-monitoring_wireless_GenericErrorResponse'
      x-operation-id-source: normalized
      x-operation-id-original: GetWdrReport
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
components:
  responses:
    GetWdrReportResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/WdrReport'
            type: object
      description: Successful response
    wireless_UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unprocessable entity. Check the 'detail' field in response for details.
    wireless_ResourceNotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Error'
      description: Resource not found
    GetWdrReportsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/WdrReport'
                type: array
            type: object
      description: Successful response
    DeleteWdrReportResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/WdrReport'
            type: object
      description: Successful response
    wireless_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unexpected error
    CreateWdrReportResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/WdrReport'
            type: object
      description: Successful response
    wireless_GenericErrorResponse_c5290d5308:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            unexpectedError:
              summary: Unexpected API error
              value:
                errors:
                - code: '10007'
                  title: Unexpected error
                  detail: An unexpected error occured.
    wireless_UnprocessableEntity_c5290d5308:
      description: Unprocessable entity. Check the 'detail' field in response for details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            unprocessableEntity:
              summary: Request could not be processed
              value:
                errors:
                - code: '10027'
                  title: Unprocessable Entity
                  detail: The server understood the syntax of the request but was unable to process the instructions.
    ResourceNotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/documents_Error'
    sim-cards-monitoring_wireless_UnprocessableEntity:
      description: Unprocessable entity. Check the 'detail' field in response for details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
          example:
            errors:
            - code: '10027'
              title: Unprocessable Entity
              detail: The server understood the syntax of the request but was unable to process the instructions.
    sim-cards-monitoring_wireless_GenericErrorResponse:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
          example:
            errors:
            - code: '10007'
              title: Unexpected error
              detail: An unexpected error occured.
  schemas:
    wireless_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    WdrReport:
      properties:
        created_at:
          description: ISO 8601 formatted date-time indicating when the resource was created.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        end_time:
          description: ISO 8601 formatted date-time indicating the end time.
          example: '2018-02-02T22:25:27.521Z'
          type: string
        id:
          description: Identifies the resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          readOnly: true
          type: string
        record_type:
          example: detail_records_report
          readOnly: true
          type: string
        report_url:
          description: The URL where the report content, when generated, will be published to.
          example: http://example.com
          type: string
        start_time:
          description: ISO 8601 formatted date-time indicating the start time.
          example: '2018-02-02T22:25:27.521Z'
          type: string
        status:
          description: Indicates the status of the report, which is updated asynchronously.
          enum:
          - pending
          - complete
          - failed
          - deleted
          example: pending
          type: string
        updated_at:
          description: ISO 8601 formatted date-time indicating when the resource was updated.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
      type: object
    wireless_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/wireless_Error'
          type: array
      type: object
    WdrReportRequest:
      example:
        end_time: '2018-02-02T22:25:27.521Z'
        start_time: '2018-02-02T22:25:27.521Z'
      properties:
        end_time:
          description: ISO 8601 formatted date-time indicating the end time.
          example: '2018-02-02T22:25:27.521Z'
          type: string
        start_time:
          description: ISO 8601 formatted date-time indicating the start time.
          example: '2018-02-02T22:25:27.521Z'
          type: string
      type: object
    billing-group_Error:
      type: object
      required:
      - code
      - title
      properties:
        code:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          properties: {}
          additionalProperties: true
    documents_Error:
      required:
      - code
      - title
      properties:
        code:
          type: string
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          additionalProperties: true
      type: object
    Errors:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/billing-group_Error'
      type: object
  parameters:
    wireless_PageSize:
      description: The size of the page.
      in: query
      name: page[size]
      schema:
        default: 20
        maximum: 250
        minimum: 1
        type: integer
    wireless_PageNumber:
      description: The page number to load.
      in: query
      name: page[number]
      schema:
        default: 1
        minimum: 1
        type: integer
    ResourceId:
      description: Identifies the resource.
      in: path
      name: id
      required: true
      schema:
        example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        format: uuid
        type: string
    wireless_PageSize_c5290d5308:
      name: page[size]
      in: query
      description: The size of the page.
      schema:
        type: integer
        minimum: 1
        maximum: 250
        default: 20
    wireless_PageNumber_c5290d5308:
      name: page[number]
      in: query
      description: The page number to load.
      schema:
        type: integer
        minimum: 1
        default: 1
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
