openapi: 3.2.0
info:
  title: Telnyx Whatsapp Phone Numbers API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Whatsapp Phone Numbers across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Manage Whatsapp phone numbers
  name: Whatsapp Phone Numbers
paths:
  /v2/whatsapp/business_accounts/{id}/phone_numbers:
    post:
      operationId: InitializeWhatsappVerification
      parameters:
      - $ref: '#/components/parameters/WabaId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappPhoneNumberVerificationRequest'
        required: true
      responses:
        '204':
          description: Verification initiated
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: Initialize Whatsapp phone number verification
      tags:
      - Whatsapp Phone Numbers
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /v2/whatsapp/phone_numbers:
    get:
      operationId: ListPhoneNumbers
      parameters:
      - $ref: '#/components/parameters/PageConsolidated'
      responses:
        '200':
          $ref: '#/components/responses/WhatsappPhonesListResponse'
          description: Phone numbers
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: List Whatsapp phone numbers
      tags:
      - Whatsapp Phone Numbers
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /v2/whatsapp/phone_numbers/{phone_number}:
    delete:
      operationId: DeleteWhatsappPhoneNumber
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      responses:
        '204':
          description: Phone number was successfully deleted
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: Delete a Whatsapp phone number
      tags:
      - Whatsapp Phone Numbers
      x-latency-category: responsive
    get:
      tags:
      - Whatsapp Phone Numbers
      x-hidden: true
      summary: Retrieve a WhatsApp phone number
      operationId: GetWhatsappPhoneNumber
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      responses:
        '200':
          $ref: '#/components/responses/WhatsappPhoneSingleResponse'
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse_0b38e7044b'
      description: Returns one WhatsApp phone number linked to the authenticated Telnyx account. For a coexistence number in the `syncing` state, the response includes `sync_progress`.
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /v2/whatsapp/phone_numbers/{phone_number}/calling_settings:
    get:
      operationId: GetWhatsappCallingSettings
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      responses:
        '200':
          $ref: '#/components/responses/WhatsappCallingSettingsResponse'
          description: Calling settings
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: Get calling settings for a phone number
      tags:
      - Whatsapp Phone Numbers
      x-latency-category: responsive
    patch:
      operationId: PatchWhatsappCallingSettings
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappPatchCallingSettingsRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/WhatsappCallingSettingsResponse'
          description: Updated calling settings
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: Enable or disable Whatsapp calling for a phone number
      tags:
      - Whatsapp Phone Numbers
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /v2/whatsapp/phone_numbers/{phone_number}/profile:
    get:
      operationId: GetWhatsappProfile
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      responses:
        '200':
          $ref: '#/components/responses/WhatsappProfileSingleResponse'
          description: Profile
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: Get phone number business profile
      tags:
      - Whatsapp Phone Numbers
      x-latency-category: responsive
    patch:
      operationId: PatchWhatsappProfile
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappUpdateProfileRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/WhatsappProfileSingleResponse'
          description: Updated profile
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: Update phone number business profile
      tags:
      - Whatsapp Phone Numbers
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /v2/whatsapp/phone_numbers/{phone_number}/profile/photo:
    delete:
      operationId: DeleteWhatsappProfilePhoto
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      responses:
        '204':
          description: Photo deleted
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: Delete Whatsapp profile photo
      tags:
      - Whatsapp Phone Numbers
      x-latency-category: responsive
    get:
      operationId: GetWhatsappProfilePhoto
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappProfilePhotoResponse'
          description: Profile photo
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: Get Whatsapp profile photo
      tags:
      - Whatsapp Phone Numbers
      x-latency-category: responsive
    post:
      operationId: PostWhatsappProfilePhoto
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: Image file (JPEG recommended, max 10 MB)
                  format: binary
                  type: string
              required:
              - file
              type: object
        required: true
      responses:
        '200':
          $ref: '#/components/responses/WhatsappProfileSingleResponse'
          description: Profile with updated photo
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: Upload Whatsapp profile photo
      tags:
      - Whatsapp Phone Numbers
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /v2/whatsapp/phone_numbers/{phone_number}/resend_verification:
    post:
      operationId: ResendWhatsappVerification
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappResendVerificationRequest'
        required: true
      responses:
        '204':
          description: Code resent
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: Resend verification code
      tags:
      - Whatsapp Phone Numbers
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /v2/whatsapp/phone_numbers/{phone_number}/verify:
    post:
      operationId: VerifyWhatsappPhoneNumber
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappVerifyCodeRequest'
        required: true
      responses:
        '204':
          description: Verified successfully
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse'
      summary: Submit verification code for a phone number
      tags:
      - Whatsapp Phone Numbers
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /v2/whatsapp/phone_numbers/{phone_number}/conversation_window:
    get:
      tags:
      - Whatsapp Phone Numbers
      summary: Get conversation window status for a phone number
      description: Returns whether the 24-hour conversation window is currently open for a given source/destination pair. If window_active is false, only template messages may be sent.
      operationId: GetWhatsappConversationWindow
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      - name: destination_number
        in: query
        required: true
        schema:
          type: string
          example: '+353894650851'
        description: Destination phone number in E.164 format
      responses:
        '200':
          $ref: '#/components/responses/WhatsappConversationWindowResponse'
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse_0b38e7044b'
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /v2/whatsapp/phone_numbers/{phone_number}/conversational_components:
    get:
      tags:
      - Whatsapp Phone Numbers
      summary: Get phone number conversational components
      operationId: GetWhatsappConversationalComponents
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      responses:
        '200':
          description: Conversational Components
          $ref: '#/components/responses/WhatsappConversationalComponentSingleResponse'
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse_0b38e7044b'
      description: Returns the conversational components configured for the specified WhatsApp phone number.
    patch:
      tags:
      - Whatsapp Phone Numbers
      summary: Update phone number conversational components
      operationId: PatchWhatsappConversationalComponents
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappUpdateConversationalComponentRequest'
            example:
              commands:
              - command: string
                description: string
              ice_breakers:
              - string
      responses:
        '200':
          description: Updated profile
          $ref: '#/components/responses/WhatsappConversationalComponentSingleResponse'
        4XX:
          $ref: '#/components/responses/messaging_GenericErrorResponse_0b38e7044b'
      description: Updates the conversational components configured for the specified WhatsApp phone number.
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /whatsapp/business_accounts/{id}/phone_numbers:
    post:
      tags:
      - Whatsapp Phone Numbers
      summary: Initialize Whatsapp phone number verification
      operationId: InitializeWhatsappVerification_2
      parameters:
      - $ref: '#/components/parameters/WabaId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappPhoneNumberVerificationRequest'
            example:
              phone_number: string
              display_name: string
              verification_method: sms
              language: en_US
      responses:
        '204':
          description: Verification initiated
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Start the verification process to register a phone number with a WhatsApp Business Account.
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /whatsapp/phone_numbers:
    get:
      tags:
      - Whatsapp Phone Numbers
      summary: List Whatsapp phone numbers
      operationId: ListPhoneNumbers_2
      parameters:
      - $ref: '#/components/parameters/PageConsolidated'
      responses:
        '200':
          description: Phone numbers
          $ref: '#/components/responses/WhatsappPhonesListResponse'
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Retrieve a list of the phone numbers registered for WhatsApp on your account.
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /whatsapp/phone_numbers/{phone_number}:
    delete:
      tags:
      - Whatsapp Phone Numbers
      summary: Delete a Whatsapp phone number
      operationId: DeleteWhatsappPhoneNumber_2
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      responses:
        '204':
          description: Phone number was successfully deleted
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Delete a phone number's WhatsApp registration from your account.
    get:
      tags:
      - Whatsapp Phone Numbers
      summary: Retrieve a WhatsApp phone number
      operationId: GetWhatsappPhoneNumber_2
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      responses:
        '200':
          $ref: '#/components/responses/WhatsappPhoneSingleResponse'
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Returns one WhatsApp phone number linked to the authenticated Telnyx account. For a coexistence number in the `syncing` state, the response includes `sync_progress`.
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /whatsapp/phone_numbers/{phone_number}/calling_settings:
    get:
      tags:
      - Whatsapp Phone Numbers
      summary: Get calling settings for a phone number
      operationId: GetWhatsappCallingSettings_2
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      responses:
        '200':
          description: Calling settings
          $ref: '#/components/responses/WhatsappCallingSettingsResponse'
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Retrieve the WhatsApp calling settings for a phone number.
    patch:
      tags:
      - Whatsapp Phone Numbers
      summary: Enable or disable Whatsapp calling for a phone number
      operationId: PatchWhatsappCallingSettings_2
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappPatchCallingSettingsRequest'
            example:
              enabled: false
      responses:
        '200':
          description: Updated calling settings
          $ref: '#/components/responses/WhatsappCallingSettingsResponse'
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Enable or disable WhatsApp calling for a phone number and manage its calling configuration.
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /whatsapp/phone_numbers/{phone_number}/conversation_window:
    get:
      tags:
      - Whatsapp Phone Numbers
      summary: Get conversation window status for a phone number
      description: Returns whether the 24-hour conversation window is currently open for a given source/destination pair. If window_active is false, only template messages may be sent.
      operationId: GetWhatsappConversationWindow_2
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      - name: destination_number
        in: query
        required: true
        schema:
          type: string
          example: '+353894650851'
        description: Destination phone number in E.164 format
      responses:
        '200':
          $ref: '#/components/responses/WhatsappConversationWindowResponse'
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /whatsapp/phone_numbers/{phone_number}/conversational_components:
    get:
      tags:
      - Whatsapp Phone Numbers
      summary: Get phone number conversational components
      operationId: GetWhatsappConversationalComponents_2
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      responses:
        '200':
          description: Conversational Components
          $ref: '#/components/responses/WhatsappConversationalComponentSingleResponse'
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Retrieve the conversational components configuration for a WhatsApp phone number.
    patch:
      tags:
      - Whatsapp Phone Numbers
      summary: Update phone number conversational components
      operationId: PatchWhatsappConversationalComponents_2
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappUpdateConversationalComponentRequest'
            example:
              commands:
              - command: string
                description: string
              ice_breakers:
              - string
      responses:
        '200':
          description: Updated profile
          $ref: '#/components/responses/WhatsappConversationalComponentSingleResponse'
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Update the conversational components configuration, such as welcome messages and commands, for a WhatsApp phone number.
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /whatsapp/phone_numbers/{phone_number}/profile:
    get:
      tags:
      - Whatsapp Phone Numbers
      summary: Get phone number business profile
      operationId: GetWhatsappProfile_2
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      responses:
        '200':
          description: Profile
          $ref: '#/components/responses/WhatsappProfileSingleResponse'
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Retrieve the WhatsApp business profile associated with a phone number.
    patch:
      tags:
      - Whatsapp Phone Numbers
      summary: Update phone number business profile
      operationId: PatchWhatsappProfile_2
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappUpdateProfileRequest'
            example:
              display_name: string
              about: string
              description: string
              category: string
              email: string
              website: string
              address: string
              profile_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: Updated profile
          $ref: '#/components/responses/WhatsappProfileSingleResponse'
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Update the WhatsApp business profile associated with a phone number.
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /whatsapp/phone_numbers/{phone_number}/profile/photo:
    delete:
      tags:
      - Whatsapp Phone Numbers
      summary: Delete Whatsapp profile photo
      operationId: DeleteWhatsappProfilePhoto_2
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      responses:
        '204':
          description: Photo deleted
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Delete the profile photo of a WhatsApp phone number.
    get:
      tags:
      - Whatsapp Phone Numbers
      summary: Get Whatsapp profile photo
      operationId: GetWhatsappProfilePhoto_2
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      responses:
        '200':
          description: Profile photo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappProfilePhotoResponse'
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Retrieve the profile photo of a WhatsApp phone number.
    post:
      tags:
      - Whatsapp Phone Numbers
      summary: Upload Whatsapp profile photo
      operationId: PostWhatsappProfilePhoto_2
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Image file (JPEG recommended, max 10 MB)
            example:
              file: string
      responses:
        '200':
          description: Profile with updated photo
          $ref: '#/components/responses/WhatsappProfileSingleResponse'
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Upload a new profile photo for a WhatsApp phone number.
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /whatsapp/phone_numbers/{phone_number}/resend_verification:
    post:
      tags:
      - Whatsapp Phone Numbers
      summary: Resend verification code
      operationId: ResendWhatsappVerification_2
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappResendVerificationRequest'
            example:
              verification_method: sms
      responses:
        '204':
          description: Code resent
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Resend the verification code for a phone number that is being registered with WhatsApp.
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /whatsapp/phone_numbers/{phone_number}/verify:
    post:
      tags:
      - Whatsapp Phone Numbers
      summary: Submit verification code for a phone number
      operationId: VerifyWhatsappPhoneNumber_2
      parameters:
      - $ref: '#/components/parameters/WhatsappPhoneNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappVerifyCodeRequest'
            example:
              code: string
      responses:
        '204':
          description: Verified successfully
        4XX:
          $ref: '#/components/responses/management_messaging_GenericErrorResponse'
      x-latency-category: responsive
      description: Submit the verification code to complete WhatsApp registration of a phone number.
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
components:
  schemas:
    messaging_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/messaging_Error'
          type: array
    WhatsappVerifyCodeRequest:
      properties:
        code:
          type: string
      required:
      - code
      type: object
    WhatsappCallingSettingsData:
      properties:
        enabled:
          description: True if calling is enabled on the phone
          type: boolean
        phone_number:
          description: Phone number in E164 format
          type: string
        record_type:
          example: whatsapp_calling_settings
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    WhatsappProfileData:
      properties:
        about:
          maxLength: 139
          type: string
        address:
          type: string
        category:
          type: string
        created_at:
          format: date-time
          type: string
        description:
          maxLength: 512
          type: string
        display_name:
          type: string
        email:
          type: string
        id:
          type: string
        phone_number_id:
          description: Whatsapp phone number ID
          type: string
        profile_id:
          type: string
        profile_photo_url:
          type: string
        record_type:
          example: whatsapp_phone_number_profiles
          type: string
        updated_at:
          format: date-time
          type: string
        website:
          type: string
      type: object
    WhatsappResendVerificationRequest:
      properties:
        verification_method:
          default: sms
          enum:
          - sms
          - voice
          type: string
      type: object
    WhatsappPatchCallingSettingsRequest:
      properties:
        enabled:
          type: boolean
      required:
      - enabled
      type: object
    messaging_PaginationMeta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      required:
      - total_pages
      - total_results
      - page_size
      - page_number
      type: object
    WhatsappProfilePhotoResponse:
      properties:
        data:
          $ref: '#/components/schemas/WhatsappProfilePhotoData'
      type: object
    WhatsappPhoneResponse:
      properties:
        calling_enabled:
          type: boolean
        created_at:
          format: date-time
          type: string
        display_name:
          type: string
        enabled:
          type: boolean
        phone_number:
          description: Phone number in E164 format
          type: string
        phone_number_id:
          description: Whatsapp phone number ID
          type: string
        quality_rating:
          description: Whatsapp quality rating
          type: string
        record_type:
          example: whatsapp_business_phone_number
          type: string
        status:
          type: string
        user_id:
          description: User ID
          type: string
        waba_id:
          description: WABA ID of Whatsapp business account
          type: string
      type: object
    WhatsappPhoneNumberVerificationRequest:
      properties:
        display_name:
          type: string
        language:
          default: en_US
          type: string
        phone_number:
          type: string
        verification_method:
          default: sms
          enum:
          - sms
          - voice
          type: string
      required:
      - phone_number
      - display_name
      type: object
    WhatsappProfilePhotoData:
      properties:
        phone_number_id:
          description: Meta phone number ID
          type: string
        profile_photo_url:
          description: URL of the business profile photo (served by Meta's CDN). May be empty if no photo is set.
          type: string
        record_type:
          example: whatsapp_phone_number_profile_photos
          type: string
      type: object
    messaging_Error:
      properties:
        code:
          type: string
          x-format: integer
        detail:
          type: string
        meta:
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              format: json-pointer
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
    WhatsappUpdateProfileRequest:
      properties:
        about:
          maxLength: 139
          type: string
        address:
          type: string
        category:
          type: string
        description:
          maxLength: 512
          type: string
        display_name:
          type: string
        email:
          type: string
        profile_id:
          description: Messaging profile ID for inbound messages
          format: uuid
          type: string
        website:
          type: string
      type: object
    messaging_Error_0b38e7044b:
      required:
      - code
      - title
      properties:
        code:
          type: string
          x-format: integer
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
              format: json-pointer
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
    WhatsappPhoneResponse_2:
      type: object
      properties:
        record_type:
          type: string
          example: whatsapp_business_phone_number
        phone_number:
          type: string
          description: Phone number in E164 format
        phone_number_id:
          type: string
          description: Whatsapp phone number ID
        waba_id:
          type: string
          description: WABA ID of Whatsapp business account
        user_id:
          type: string
          description: User ID
        display_name:
          type: string
        quality_rating:
          type: string
          description: Whatsapp quality rating
        status:
          type: string
        created_at:
          type: string
          format: date-time
        enabled:
          type: boolean
        calling_enabled:
          type: boolean
        is_on_biz_app:
          type: boolean
          description: Indicates whether the number is connected to both the WhatsApp Business app and Cloud API through WhatsApp Coexistence.
        coexistence_state:
          type:
          - string
          - 'null'
          enum:
          - pending_onboarding
          - sync_pending
          - syncing
          - sync_complete
          - active
          - history_declined
          - sync_deadline_expired
          - offboarded
          - disconnected
          - null
          description: Current lifecycle state for a coexistence number. This is null for a standard Cloud API number.
        sync_deadline:
          type:
          - string
          - 'null'
          format: date-time
          description: Deadline for initiating the current coexistence synchronization cycle. This is null when no deadline applies.
        sync_progress:
          type:
          - object
          - 'null'
          description: Synchronization progress. This object is returned only while a coexistence number is synchronizing.
          properties:
            contacts_status:
              type: string
            history_status:
              type: string
            history_phase:
              type:
              - integer
              - 'null'
            history_chunk_order:
              type:
              - integer
              - 'null'
            history_progress:
              type:
              - integer
              - 'null'
              minimum: 0
              maximum: 100
    WhatsappConversationWindowData:
      type: object
      properties:
        window_active:
          type: boolean
          description: Whether the 24-hour conversation window is currently open
          example: true
        window_expires_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the window closes. Null if no active window.
          example: '2026-06-30T16:00:00Z'
        last_user_message_at:
          type: string
          format: date-time
          description: Timestamp of the last inbound message that opened the window
          example: '2026-06-29T15:53:00Z'
        window_type:
          type: string
          description: Window type. Currently always 24h when present.
          example: 24h
    messaging_Errors_0b38e7044b:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/messaging_Error_0b38e7044b'
    WhatsappConversationalComponent:
      type: object
      properties:
        record_type:
          type: string
          example: whatsapp_conversational_component
        phone_number:
          type: string
          description: Phone number in E164 format
        ice_breakers:
          type: array
          description: List of ice breakers
          items:
            type: string
        commands:
          type: array
          description: List of commands
          items:
            type: object
            properties:
              command:
                type: string
              description:
                type: string
    WhatsappUpdateConversationalComponentRequest:
      type: object
      properties:
        commands:
          type: array
          description: List of commands
          items:
            type: object
            properties:
              command:
                type: string
              description:
                type: string
        ice_breakers:
          type: array
          description: List of ice breakers
          items:
            type: string
    messaging_PaginationMeta_0b38e7044b:
      type: object
      required:
      - total_pages
      - total_results
      - page_size
      - page_number
      properties:
        total_pages:
          type: integer
          example: 3
        total_results:
          type: integer
          example: 55
        page_number:
          type: integer
          example: 2
        page_size:
          type: integer
          example: 25
  responses:
    messaging_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/messaging_Errors'
      description: Unexpected error
    WhatsappPhonesListResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/WhatsappPhoneResponse'
                type: array
              meta:
                $ref: '#/components/schemas/messaging_PaginationMeta'
            type: object
      description: Successful response with Whatsapp phone numbers
    WhatsappProfileSingleResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/WhatsappProfileData'
            type: object
      description: Successful response with Whatsapp profile
    WhatsappCallingSettingsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/WhatsappCallingSettingsData'
            type: object
      description: Successful response with Whatsapp calling settings
    WhatsappPhoneSingleResponse:
      description: Successful response with one WhatsApp phone number
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                $ref: '#/components/schemas/WhatsappPhoneResponse_2'
            required:
            - data
    WhatsappConversationWindowResponse:
      description: Successful response with Whatsapp conversation window status
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                $ref: '#/components/schemas/WhatsappConversationWindowData'
    management_messaging_GenericErrorResponse:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/messaging_Errors'
          example:
            errors:
            - code: string
              title: string
              detail: string
              source:
                pointer: /data/attributes/phone_number
                parameter: string
    messaging_WhatsappPhonesListResponse:
      description: Successful response with Whatsapp phone numbers
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/WhatsappPhoneResponse_2'
              meta:
                $ref: '#/components/schemas/messaging_PaginationMeta_0b38e7044b'
    WhatsappConversationalComponentSingleResponse:
      description: Successful response with Whatsapp conversational components
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                $ref: '#/components/schemas/WhatsappConversationalComponent'
    messaging_GenericErrorResponse_0b38e7044b:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/messaging_Errors_0b38e7044b'
          example:
            errors:
            - code: string
              title: string
              detail: string
              source:
                pointer: /data/attributes/phone_number
                parameter: string
  parameters:
    PageConsolidated:
      description: 'Consolidated page parameter (deepObject style). Originally: page[number], page[size]'
      explode: true
      in: query
      name: page
      schema:
        properties:
          number:
            default: 1
            description: The page number to load
            minimum: 1
            type: integer
          size:
            default: 20
            description: The size of the page
            maximum: 250
            minimum: 1
            type: integer
        type: object
      style: deepObject
    WabaId:
      description: Whatsapp Business Account ID
      in: path
      name: id
      required: true
      schema:
        type: string
    WhatsappPhoneNumber:
      description: Phone number (E.164 format)
      in: path
      name: phone_number
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
