openapi: 3.1.0
info:
  contact:
    email: support@telnyx.com
  description: Telnyx provides global communications and connectivity APIs for developers — including SIP trunking, programmable voice, SMS, MMS, WhatsApp Business Messaging, Call Control, Fax, Wireless (IoT & eSIM), Phone Numbers (DID provisioning & porting), Emergency Services, and Network APIs for private interconnects and edge connectivity. Build, scale, and manage voice, messaging, and data networks with Telnyx's carrier-grade global infrastructure and API-first platform.
  title: Telnyx Access Tokens Integration Secrets API
  version: 2.0.0
  x-endpoint-cost: light
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Store and retrieve integration secrets
  name: Integration Secrets
paths:
  /integration_secrets:
    get:
      description: Retrieve a list of all integration secrets configured by the user.
      operationId: list_integration_secrets
      parameters:
      - description: 'Consolidated page parameter (deepObject style). Originally: page[size], page[number]'
        examples:
          page[number]=1&page[size]=20:
            summary: First page with 20 results per page
            value:
              number: 1
              size: 20
          page[number]=1&page[size]=50:
            summary: First page with 50 results per page
            value:
              number: 1
              size: 50
          page[number]=2&page[size]=20:
            summary: Second page with 20 results per page
            value:
              number: 2
              size: 20
        explode: true
        in: query
        name: page
        schema:
          properties:
            number:
              example: 1
              title: Page Number
              type: integer
            size:
              example: 25
              title: Page Size
              type: integer
          type: object
        style: deepObject
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[type]'
        examples:
          filter[type]=basic:
            summary: Filter results to only show basic authentication type secrets
            value:
              type: basic
          filter[type]=bearer:
            summary: Filter results to only show bearer type secrets
            value:
              type: bearer
        explode: true
        in: query
        name: filter
        schema:
          properties:
            type:
              enum:
              - bearer
              - basic
              example: bearer
              title: Filter by type
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationSecretsListData'
          description: Successful Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/integration-secrets_ErrorResponse'
          description: Bad Request
      summary: List integration secrets
      tags:
      - Integration Secrets
      x-latency-category: responsive
    post:
      description: Create a new secret with an associated identifier that can be used to securely integrate with other services.
      operationId: create_integration_secret
      requestBody:
        content:
          application/json:
            examples:
              basic:
                value:
                  identifier: my_secret
                  password: my_password
                  type: basic
                  username: my_username
              bearer:
                value:
                  identifier: my_secret
                  token: my_secret_value
                  type: bearer
            schema:
              $ref: '#/components/schemas/CreateIntegrationSecretRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationSecretCreatedResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/integration-secrets_ErrorResponse'
          description: Validation Error
      summary: Create a secret
      tags:
      - Integration Secrets
      x-latency-category: responsive
  /integration_secrets/{id}:
    delete:
      description: Delete an integration secret given its ID.
      operationId: delete_integration_secret
      parameters:
      - in: path
        name: id
        required: true
        schema:
          title: Secret Id
          type: string
      responses:
        '204':
          description: The resource was deleted successfully.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/integration-secrets_ErrorResponse'
          description: Secret Not found
      summary: Delete an integration secret
      tags:
      - Integration Secrets
      x-latency-category: responsive
components:
  schemas:
    CreateIntegrationSecretRequest:
      properties:
        identifier:
          description: The unique identifier of the secret.
          title: Identifier
          type: string
        password:
          description: The password for the secret. Required for basic type secrets, ignored otherwise.
          title: Password
          type: string
        token:
          description: The token for the secret. Required for bearer type secrets, ignored otherwise.
          title: Token
          type: string
        type:
          description: The type of secret.
          enum:
          - bearer
          - basic
          title: Type
          type: string
        username:
          description: The username for the secret. Required for basic type secrets, ignored otherwise.
          title: Username
          type: string
      required:
      - identifier
      - type
      title: CreateIntegrationSecretRequest
      type: object
    integration-secrets_ErrorResponse:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/integration-secrets_Error'
          title: Errors
          type: array
      title: ErrorResponse
      type: object
    integration-secrets_Error:
      properties:
        code:
          title: Telnyx error code
          type: string
        detail:
          title: Error details
          type: string
        title:
          title: Error title
          type: string
      required:
      - detail
      title: Error
      type: object
    integration-secrets_Metadata:
      properties:
        page_number:
          example: 1
          title: Page Number
          type: integer
        page_size:
          example: 25
          title: Page Size
          type: integer
        total_pages:
          example: 10
          title: Total Pages
          type: integer
        total_results:
          example: 250
          title: Total Items
          type: integer
      required:
      - page_size
      - page_number
      - total_pages
      - total_results
      title: Metadata
      type: object
    IntegrationSecretCreatedResponse:
      properties:
        data:
          $ref: '#/components/schemas/IntegrationSecret'
      required:
      - data
      title: IntegrationSecretCreatedResponse
      type: object
    IntegrationSecret:
      properties:
        created_at:
          format: date-time
          title: Created At
          type: string
        id:
          title: Id
          type: string
        identifier:
          title: Identifier
          type: string
        record_type:
          example: integration_secret
          title: Record Type
          type: string
        updated_at:
          format: date-time
          title: Updated At
          type: string
      required:
      - record_type
      - id
      - identifier
      - created_at
      title: IntegrationSecret
      type: object
    IntegrationSecretsListData:
      properties:
        data:
          items:
            $ref: '#/components/schemas/IntegrationSecret'
          title: Data
          type: array
        meta:
          $ref: '#/components/schemas/integration-secrets_Metadata'
      required:
      - data
      - meta
      title: SecretsListData
      type: object
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
