openapi: 3.2.0
info:
  title: Telnyx SIM Cards API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged SIM Cards across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: SIM Cards operations
  name: SIM Cards
paths:
  /actions/purchase/esims:
    post:
      description: 'Purchases and registers the specified amount of eSIMs to the current user''s account.


        If sim_card_group_id is provided, the eSIMs will be associated with that group. Otherwise, the default group for the current user will be used.'
      operationId: PurchaseESim
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ESimPurchase'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/RegisterSimCardsResponse'
        '401':
          description: Unauthorized
      summary: Purchase eSIMs
      tags:
      - SIM Cards
      x-latency-category: background
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /actions/register/sim_cards:
    post:
      description: 'Register the SIM cards associated with the provided registration codes to the current user''s account.


        If sim_card_group_id is provided, the SIM cards will be associated with that group. Otherwise, the default group for the current user will be used.'
      operationId: RegisterSimCards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SIMCardRegistration'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/RegisterSimCardsResponse'
        '401':
          description: Unauthorized
      summary: Register SIM cards
      tags:
      - SIM Cards
      x-latency-category: background
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_card_data_usage_notifications:
    get:
      description: Lists a paginated collection of SIM card data usage notifications. It enables exploring the collection using specific filters.
      operationId: ListDataUsageNotifications
      parameters:
      - $ref: '#/components/parameters/wireless_PageNumber'
      - $ref: '#/components/parameters/wireless_PageSize'
      - $ref: '#/components/parameters/FilterSIMCardId'
      responses:
        '200':
          $ref: '#/components/responses/SimCardDataUsageNotificationCollectionResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: List SIM card data usage notifications
      tags:
      - SIM Cards
      x-latency-category: background
    post:
      description: Creates a new SIM card data usage notification.
      operationId: PostSimCardDataUsageNotification
      requestBody:
        content:
          application/json:
            schema:
              properties:
                sim_card_id:
                  description: The identification UUID of the related SIM card resource.
                  example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
                  format: uuid
                  type: string
                threshold:
                  description: Data usage threshold that will trigger the notification.
                  properties:
                    amount:
                      example: '2048.1'
                      type: string
                    unit:
                      enum:
                      - MB
                      - GB
                      example: MB
                      type: string
                  type: object
              required:
              - sim_card_id
              - threshold
              type: object
        required: true
      responses:
        '201':
          $ref: '#/components/responses/CreateSimCardDataUsageNotificationResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Create a new SIM card data usage notification
      tags:
      - SIM Cards
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_card_data_usage_notifications/{id}:
    delete:
      description: Delete the SIM Card Data Usage Notification.
      operationId: DeleteSimCardDataUsageNotifications
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/DeleteSimCardDataUsageNotificationResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Delete SIM card data usage notifications
      tags:
      - SIM Cards
      x-latency-category: responsive
    get:
      description: Get a single SIM Card Data Usage Notification.
      operationId: GetSimCardDataUsageNotification
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/GetSimCardDataUsageNotificationResponse'
        '404':
          $ref: '#/components/responses/wireless_ResourceNotFound'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get a single SIM card data usage notification
      tags:
      - SIM Cards
      x-latency-category: background
    patch:
      description: Updates information for a SIM Card Data Usage Notification.
      operationId: PatchSimCardDataUsageNotification
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimCardDataUsageNotification'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/UpdateSimCardDataUsageNotificationResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Updates information for a SIM Card Data Usage Notification
      tags:
      - SIM Cards
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_cards:
    get:
      description: Get all SIM cards belonging to the user that match the given filters.
      operationId: GetSimCards
      parameters:
      - $ref: '#/components/parameters/FilterSIMCardConsolidated'
      - $ref: '#/components/parameters/wireless_PageConsolidated'
      - $ref: '#/components/parameters/IncludeSIMCardGroup'
      - $ref: '#/components/parameters/FilterSIMCardGroupId'
      - description: Sorts SIM cards by the given field. Defaults to ascending order unless field is prefixed with a minus sign.
        example: -current_billing_period_consumed_data.amount
        in: query
        name: sort
        required: false
        schema:
          enum:
          - current_billing_period_consumed_data.amount
          - -current_billing_period_consumed_data.amount
          type: string
      responses:
        '200':
          $ref: '#/components/responses/SearchSimCardsResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get all SIM cards
      tags:
      - SIM Cards
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_cards/actions/bulk_disable_voice:
    post:
      description: 'This API triggers an asynchronous operation to disable voice on SIM cards belonging to a specified SIM Card Group.


        For each SIM Card a SIM Card Action will be generated. The status of the SIM Card Actions can be followed through the List SIM Card Action API.


        The overall status of the Bulk SIM Card Action can be followed through the List Bulk SIM Card Action API.'
      operationId: DisableVoiceBulk
      requestBody:
        content:
          application/json:
            schema:
              properties:
                sim_card_group_id:
                  example: 6b14e151-8493-4fa1-8664-1cc4e6d14158
                  type: string
              required:
              - sim_card_group_id
              type: object
      responses:
        '202':
          $ref: '#/components/responses/BulkSIMCardActionResponse'
        '422':
          $ref: '#/components/responses/wireless_UnprocessableEntity'
      summary: Request bulk disabling voice on SIM cards
      tags:
      - SIM Cards
      x-latency-category: background
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_cards/actions/bulk_enable_voice:
    post:
      description: 'This API triggers an asynchronous operation to enable voice on SIM cards belonging to a specified SIM Card Group.


        For each SIM Card a SIM Card Action will be generated. The status of the SIM Card Actions can be followed through the List SIM Card Action API.


        The overall status of the Bulk SIM Card Action can be followed through the List Bulk SIM Card Action API.'
      operationId: EnableVoiceBulk
      requestBody:
        content:
          application/json:
            schema:
              properties:
                sim_card_group_id:
                  example: 6b14e151-8493-4fa1-8664-1cc4e6d14158
                  type: string
              required:
              - sim_card_group_id
              type: object
      responses:
        '202':
          $ref: '#/components/responses/BulkSIMCardActionResponse'
        '422':
          $ref: '#/components/responses/wireless_UnprocessableEntity'
      summary: Request bulk enabling voice on SIM cards
      tags:
      - SIM Cards
      x-latency-category: background
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_cards/actions/bulk_set_public_ips:
    post:
      description: 'This API triggers an asynchronous operation to set a public IP for each of the specified SIM cards.


        For each SIM Card a SIM Card Action will be generated. The status of the SIM Card Action can be followed through the List SIM Card Action API.'
      operationId: SetPublicIPsBulk
      requestBody:
        content:
          application/json:
            schema:
              properties:
                sim_card_ids:
                  example:
                  - 6b14e151-8493-4fa1-8664-1cc4e6d14158
                  items:
                    $ref: '#/components/schemas/wireless_Id'
                  type: array
              required:
              - sim_card_ids
              type: object
      responses:
        '202':
          $ref: '#/components/responses/BulkSIMCardActionResponse'
        '422':
          $ref: '#/components/responses/wireless_UnprocessableEntity'
      summary: Request bulk setting SIM card public IPs
      tags:
      - SIM Cards
      x-latency-category: background
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_cards/actions/validate_registration_codes:
    post:
      description: It validates whether SIM card registration codes are valid or not.
      operationId: ValidateRegistrationCodes
      requestBody:
        content:
          application/json:
            schema:
              description: The object containing the Array of SIM card registration codes.
              example:
                registration_codes:
                - '123456780'
                - '1231231230'
              properties:
                registration_codes:
                  items:
                    type: string
                  type: array
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SIMCardRegistrationCodeValidations'
          description: Successful
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Validate SIM cards registration codes
      tags:
      - SIM Cards
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_cards/{id}:
    delete:
      description: 'The SIM card will be decommissioned, removed from your account and you will stop being charged.

        The SIM card won''t be able to connect to the network after the deletion is completed, thus making it impossible to consume data.


        Transitioning to the disabled state may take a period of time.

        Until the transition is completed, the SIM card status will be disabling disabling.

        In order to re-enable the SIM card, you will need to re-register it.'
      operationId: DeleteSimCard
      parameters:
      - $ref: '#/components/parameters/SIMCardId'
      - description: Enables deletion of disabled eSIMs that can't be uninstalled from a device. This is irreversible and the eSIM cannot be re-registered.
        in: query
        name: report_lost
        required: false
        schema:
          default: false
          type: boolean
      responses:
        '200':
          $ref: '#/components/responses/DeleteSimCardResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Deletes a SIM card
      tags:
      - SIM Cards
      x-latency-category: responsive
    get:
      description: Returns the details regarding a specific SIM card.
      operationId: GetSimCard
      parameters:
      - $ref: '#/components/parameters/SIMCardId'
      - $ref: '#/components/parameters/IncludeSIMCardGroup'
      - description: When set to true, includes the PIN and PUK codes in the response. These codes are used for SIM card security and unlocking purposes. Available for both physical SIM cards and eSIMs.
        in: query
        name: include_pin_puk_codes
        required: false
        schema:
          default: false
          type: boolean
      responses:
        '200':
          $ref: '#/components/responses/GetSimCardResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get SIM card
      tags:
      - SIM Cards
      x-latency-category: responsive
    patch:
      description: Updates SIM card data
      operationId: UpdateSimCard
      parameters:
      - $ref: '#/components/parameters/SIMCardId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SIMCard'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/UpdateSimCardResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Update a SIM card
      tags:
      - SIM Cards
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_cards/{id}/actions/disable:
    post:
      description: 'This API disables a SIM card, disconnecting it from the network and making it impossible to consume data.


        The API will trigger an asynchronous operation called a SIM Card Action. Transitioning to the disabled state may take a period of time. The status of the SIM Card Action can be followed through the List SIM Card Action API.'
      operationId: DisableSimCard
      parameters:
      - $ref: '#/components/parameters/SIMCardId'
      responses:
        '202':
          $ref: '#/components/responses/SIMCardActionResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Request a SIM card disable
      tags:
      - SIM Cards
      x-latency-category: background
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_cards/{id}/actions/enable:
    post:
      description: 'This API enables a SIM card, connecting it to the network and making it possible to consume data.


        To enable a SIM card, it must be associated with a SIM card group.


        The API will trigger an asynchronous operation called a SIM Card Action. Transitioning to the enabled state may take a period of time. The status of the SIM Card Action can be followed through the List SIM Card Action API.'
      operationId: EnableSimCard
      parameters:
      - $ref: '#/components/parameters/SIMCardId'
      responses:
        '202':
          $ref: '#/components/responses/SIMCardActionResponse'
        '422':
          $ref: '#/components/responses/wireless_UnprocessableEntity'
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Request a SIM card enable
      tags:
      - SIM Cards
      x-latency-category: background
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_cards/{id}/actions/remove_public_ip:
    post:
      description: 'This API removes an existing public IP from a SIM card.


        The API will trigger an asynchronous operation called a SIM Card Action. The status of the SIM Card Action can be followed through the List SIM Card Action API.'
      operationId: RemoveSimCardPublicIp
      parameters:
      - $ref: '#/components/parameters/SIMCardId'
      responses:
        '202':
          $ref: '#/components/responses/SIMCardActionResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Request removing a SIM card public IP
      tags:
      - SIM Cards
      x-latency-category: background
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_cards/{id}/actions/set_public_ip:
    post:
      description: 'This API makes a SIM card reachable on the public internet by mapping a random public IP to the SIM card.


        The API will trigger an asynchronous operation called a SIM Card Action. The status of the SIM Card Action can be followed through the List SIM Card Action API.


        Setting a Public IP to a SIM Card incurs a charge and will only succeed if the account has sufficient funds.'
      operationId: SetSimCardPublicIp
      parameters:
      - $ref: '#/components/parameters/SIMCardId'
      - description: The code of the region where the public IP should be assigned. A list of available regions can be found at the regions endpoint
        in: query
        name: region_code
        required: false
        schema:
          example: dc2
          type: string
      responses:
        '202':
          $ref: '#/components/responses/SIMCardActionResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Request setting a SIM card public IP
      tags:
      - SIM Cards
      x-latency-category: background
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_cards/{id}/actions/set_standby:
    post:
      description: 'The SIM card will be able to connect to the network once the process to set it to standby has been completed, thus making it possible to consume data.


        To set a SIM card to standby, it must be associated with SIM card group.


        The API will trigger an asynchronous operation called a SIM Card Action. Transitioning to the standby state may take a period of time. The status of the SIM Card Action can be followed through the List SIM Card Action API.'
      operationId: SetSimCardStandby
      parameters:
      - $ref: '#/components/parameters/SIMCardId'
      responses:
        '202':
          $ref: '#/components/responses/SIMCardActionResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Request setting a SIM card to standby
      tags:
      - SIM Cards
      x-latency-category: background
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_cards/{id}/activation_code:
    get:
      description: 'It returns the activation code for an eSIM.


        This API is only available for eSIMs. If the given SIM is a physical SIM card, or has already been installed, an error will be returned.'
      operationId: GetSimCardActivationCode
      parameters:
      - $ref: '#/components/parameters/SIMCardId'
      responses:
        '200':
          $ref: '#/components/responses/SIMCardActivationCodeResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get activation code for an eSIM
      tags:
      - SIM Cards
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_cards/{id}/device_details:
    get:
      description: It returns the device details where a SIM card is currently being used.
      operationId: GetSimCardDeviceDetails
      parameters:
      - $ref: '#/components/parameters/SIMCardId'
      responses:
        '200':
          $ref: '#/components/responses/SIMCardDeviceDetailsResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get SIM card device details
      tags:
      - SIM Cards
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_cards/{id}/public_ip:
    get:
      description: It returns the public IP requested for a SIM card.
      operationId: GetSimCardPublicIp
      parameters:
      - $ref: '#/components/parameters/SIMCardId'
      responses:
        '200':
          $ref: '#/components/responses/SIMCardPublicIPResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: Get SIM card public IP definition
      tags:
      - SIM Cards
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_cards/{id}/wireless_connectivity_logs:
    get:
      description: This API allows listing a paginated collection of Wireless Connectivity Logs associated with a SIM Card, for troubleshooting purposes.
      operationId: GetWirelessConnectivityLogs
      parameters:
      - $ref: '#/components/parameters/wireless_PageNumber'
      - $ref: '#/components/parameters/wireless_PageSize'
      - $ref: '#/components/parameters/SIMCardId'
      responses:
        '200':
          $ref: '#/components/responses/WirelessConnectivityLogCollectionResponse'
        '401':
          description: Unauthorized
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse'
      summary: List wireless connectivity logs
      tags:
      - SIM Cards
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sim_cards/{id}/actions/disable_voice:
    post:
      x-latency-category: background
      summary: Request disabling voice on a SIM card
      description: 'This API disables voice calling on a SIM card. The SIM card will no longer be able to make or receive calls.


        The API will trigger an asynchronous operation called a SIM Card Action. The status of the SIM Card Action can be followed through the List SIM Card Action API.'
      operationId: DisableVoiceSimCard
      tags:
      - SIM Cards
      parameters:
      - $ref: '#/components/parameters/SIMCardId'
      responses:
        '202':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/wireless_SIMCardAction'
          description: Action accepted. The response contains a SIM card action; poll GET /sim_card_actions/{id} with the action id to track progress.
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                SIM card not found:
                  value:
                    errors:
                    - code: '404'
                      title: Resource not found
                      detail: The SIM card was not found.
                      source:
                        pointer: /id
                      meta:
                        url: https://developers.telnyx.com/docs/overview/errors/404
          description: Unprocessable Entity
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse_c5290d5308'
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
  /sim_cards/{id}/actions/enable_voice:
    post:
      x-latency-category: background
      summary: Request enabling voice on a SIM card
      description: 'This API enables voice calling on a SIM card. When a connection_id is provided, the SIM is associated with the specified Mobile Voice Connection. The connection must be owned by the same user and of type mobile_voice.


        The API will trigger an asynchronous operation called a SIM Card Action. The status of the SIM Card Action can be followed through the List SIM Card Action API.'
      operationId: EnableVoiceSimCard
      tags:
      - SIM Cards
      parameters:
      - $ref: '#/components/parameters/SIMCardId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                connection_id:
                  type: string
                  description: The identifier of the Mobile Voice Connection to associate with this SIM card. The connection must be owned by the same user and of type <code>mobile_voice</code>. If omitted, voice is enabled without a connection association.
                  example: '123456789'
      responses:
        '202':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/wireless_SIMCardAction'
          description: Action accepted. The response contains a SIM card action; poll GET /sim_card_actions/{id} with the action id to track progress.
        '400':
          description: Bad Request — invalid connection_id format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                Invalid connection_id format:
                  value:
                    errors:
                    - code: '10015'
                      title: Invalid connection_id
                      detail: The provided connection_id is not a valid connection ID.
                      source:
                        pointer: /connection_id
                      meta:
                        url: https://developers.telnyx.com/docs/overview/errors/10015
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                SIM card not found:
                  value:
                    errors:
                    - code: '404'
                      title: Resource not found
                      detail: The SIM card was not found.
                      source:
                        pointer: /id
                      meta:
                        url: https://developers.telnyx.com/docs/overview/errors/404
                Connection does not belong to SIM card:
                  value:
                    errors:
                    - code: '10015'
                      title: Invalid connection
                      detail: The provided connection_id does not belong to this SIM card or is not a mobile voice connection.
                      source:
                        pointer: /connection_id
                      meta:
                        url: https://developers.telnyx.com/docs/overview/errors/10015
          description: Unprocessable Entity
        default:
          $ref: '#/components/responses/wireless_GenericErrorResponse_c5290d5308'
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
components:
  parameters:
    wireless_PageConsolidated:
      description: 'Consolidated pagination parameter (deepObject style). Originally: page[number], page[size]'
      explode: true
      in: query
      name: page
      schema:
        properties:
          number:
            default: 1
            description: The page number to load.
            minimum: 1
            type: integer
          size:
            default: 20
            description: The size of the page.
            maximum: 250
            minimum: 1
            type: integer
        type: object
    wireless_PageNumber:
      description: The page number to load.
      in: query
      name: page[number]
      schema:
        default: 1
        minimum: 1
        type: integer
    ResourceId:
      description: Identifies the resource.
      in: path
      name: id
      required: true
      schema:
        example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        format: uuid
        type: string
    FilterSIMCardGroupId:
      description: A valid SIM card group ID.
      in: query
      name: filter[sim_card_group_id]
      schema:
        example: 47a1c2b0-cc7b-4ab1-bb98-b33fb0fc61b9
        format: uuid
        type: string
    IncludeSIMCardGroup:
      description: It includes the associated SIM card group object in the response when present.
      in: query
      name: include_sim_card_group
      schema:
        default: false
        example: true
        type: boolean
    FilterSIMCardId:
      description: A valid SIM card ID.
      in: query
      name: filter[sim_card_id]
      schema:
        example: 47a1c2b0-cc7b-4ab1-bb98-b33fb0fc61b9
        format: uuid
        type: string
    wireless_PageSize:
      description: The size of the page.
      in: query
      name: page[size]
      schema:
        default: 20
        maximum: 250
        minimum: 1
        type: integer
    SIMCardId:
      description: Identifies the SIM.
      in: path
      name: id
      required: true
      schema:
        example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        format: uuid
        type: string
    FilterSIMCardConsolidated:
      description: 'Consolidated filter parameter for SIM cards (deepObject style). Originally: filter[iccid], filter[msisdn], filter[status], filter[tags]'
      explode: true
      in: query
      name: filter
      schema:
        properties:
          iccid:
            description: A search string to partially match for the SIM card's ICCID.
            example: '89310410106543789301'
            type: string
          msisdn:
            description: A search string to match for the SIM card's MSISDN.
            example: '+13109976224'
            type: string
          status:
            description: Filter by a SIM card's status.
            items:
              enum:
              - enabled
              - disabled
              - standby
              - data_limit_exceeded
              - unauthorized_imei
              type: string
            type: array
          tags:
            description: "A list of SIM card tags to filter on.<br/><br/>\n If the SIM card contains <b><i>all</i></b> of the given <code>tags</code> they will be found.<br/><br/>\nFor example, if the SIM cards have the following tags: <ul>\n  <li><code>['customers', 'staff', 'test']</code>\n  <li><code>['test']</code></li>\n  <li><code>['customers']</code></li>\n</ul>\nSearching for <code>['customers', 'test']</code> returns only the first because it's the only one with both tags.<br/> Searching for <code>test</code> returns the first two SIMs, because both of them have such tag.<br/> Searching for <code>customers</code> returns the first and last SIMs.<br/>\n"
            example:
            - personal
            - customers
            - active-customers
            items:
              type: string
            type: array
        type: object
    wireless_PageSize_c5290d5308:
      name: page[size]
      in: query
      description: The size of the page.
      schema:
        type: integer
        minimum: 1
        maximum: 250
        default: 20
    wireless_PageConsolidated_c5290d5308:
      name: page
      in: query
      explode: true
      description: 'Consolidated pagination parameter (deepObject style). Originally: page[number], page[size]'
      schema:
        type: object
        properties:
          number:
            type: integer
            minimum: 1
            default: 1
            description: The page number to load.
          size:
            type: integer
            minimum: 1
            maximum: 250
            default: 20
            description: The size of the page.
    wireless_PageNumber_c5290d5308:
      name: page[number]
      in: query
      description: The page number to load.
      schema:
        type: integer
        minimum: 1
        default: 1
  responses:
    BulkSIMCardActionResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/BulkSIMCardAction'
            type: object
      description: Successful Response
    SIMCardPublicIPResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/SIMCardPublicIP'
            type: object
      description: Successful response
    UpdateSimCardResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/SIMCard'
            type: object
      description: Successful response
    SearchSimCardsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/SimpleSIMCard'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful response
    SIMCardActionResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/SIMCardAction'
            type: object
      description: Successful Response
    CreateSimCardDataUsageNotificationResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/SimCardDataUsageNotification'
            type: object
      description: Successful Response
    GetSimCardDataUsageNotificationResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/SimCardDataUsageNotification'
            type: object
      description: Successful Response
    GetSimCardResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/SIMCard'
            type: object
      description: Successful response
    DeleteSimCardResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/SIMCard'
            type: object
      description: Successful response
    UpdateSimCardDataUsageNotificationResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/SimCardDataUsageNotification'
            type: object
      description: Successful Response
    SimCardDataUsageNotificationCollectionResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/SimCardDataUsageNotification'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful Response
    wireless_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unexpected error
    wireless_ResourceNotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Error'
      description: Resource not found
    WirelessConnectivityLogCollectionResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                items:
                  $ref: '#/components/schemas/WirelessConnectivityLog'
                type: array
              meta:
                $ref: '#/components/schemas/PaginationMeta'
            type: object
      description: Successful Response
    SIMCardActivationCodeResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/SIMCardActivationCode'
            type: object
      description: Successful response
    wireless_UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/wireless_Errors'
      description: Unprocessable entity. Check the 'detail' field in response for details.
    DeleteSimCardDataUsageNotificationResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/SimCardDataUsageNotification'
            type: object
      description: Successful Response
    RegisterSimCardsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                description: Successfully registered SIM cards.
                items:
                  $ref: '#/components/schemas/SimpleSIMCard'
                type: array
              errors:
                items:
                  $ref: '#/components/schemas/wireless_Error'
                type: array
            type: object
      description: Successful response
    SIMCardDeviceDetailsResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/SIMCardDeviceDetails'
            type: object
      description: Successful response
    wireless_UnprocessableEntity_c5290d5308:
      description: Unprocessable entity. Check the 'detail' field in response for details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            unprocessableEntity:
              summary: Request could not be processed
              value:
                errors:
                - code: '10027'
                  title: Unprocessable Entity
                  detail: The server understood the syntax of the request but was unable to process the instructions.
    wireless_GenericErrorResponse_c5290d5308:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            unexpectedError:
              summary: Unexpected API error
              value:
                errors:
                - code: '10007'
                  title: Unexpected error
                  detail: An unexpected error occured.
    ResourceNotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/documents_Error'
    wireless_Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            authenticationFailed:
              summary: Authentication failed
              value:
                errors:
                - code: '10009'
                  title: Authentication failed
                  detail: The required authentication headers were either invalid or not included in the request.
  schemas:
    SIMCardActivationCode:
      properties:
        activation_code:
          description: Contents of the eSIM activation QR code.
          example: LPA:1$....
          readOnly: true
          type: string
        record_type:
          example: sim_card_activation_code
          readOnly: true
          type: string
      title: SIMCardActivationCode
      type: object
    wireless_Id:
      description: Identifies the resource.
      example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
      format: uuid
      readOnly: true
      type: string
    wireless_Error:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          additionalProperties: true
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
          type: object
        title:
          type: string
      required:
      - code
      - title
      type: object
    BulkSIMCardAction:
      description: This object represents a bulk SIM card action. It groups SIM card actions created through a bulk endpoint under a single resource for further lookup.
      properties:
        action_type:
          description: 'The action type. It can be one of the following: <br/>

            <ul>

            <li><code>bulk_disable_voice</code> - disable voice for every SIM Card in a SIM Card Group.</li>

            <li><code>bulk_enable_voice</code> - enable voice for every SIM Card in a SIM Card Group.</li>

            <li><code>bulk_set_public_ips</code> - set a public IP for each specified SIM Card.</li>

            </ul>'
          enum:
          - bulk_disable_voice
          - bulk_enable_voice
          - bulk_set_public_ips
          example: bulk_set_public_ips
          readOnly: true
          type: string
        created_at:
          $ref: '#/components/schemas/wireless_CreatedAt'
        id:
          $ref: '#/components/schemas/wireless_Id'
        record_type:
          example: bulk_sim_card_action
          readOnly: true
          type: string
        settings:
          additionalProperties: true
          description: A JSON object representation of the bulk action payload.
          example: {}
          readOnly: true
          type: object
        updated_at:
          $ref: '#/components/schemas/wireless_UpdatedAt'
      type: object
    SIMCardAction:
      description: This object represents a SIM card action. It allows tracking the current status of an operation that impacts the SIM card.
      properties:
        action_type:
          description: "The operation type. It can be one of the following: <br/>\n<ul>\n <li><code>enable</code> - move the SIM card to the <code>enabled</code> status</li>\n <li><code>enable_standby_sim_card</code> - move a SIM card previously on the <code>standby</code> status to the <code>enabled</code> status after it consumes data.</li>\n <li><code>disable</code> - move the SIM card to the <code>disabled</code> status</li>\n <li><code>set_standby</code> - move the SIM card to the <code>standby</code> status</li>\n </ul>"
          enum:
          - enable
          - enable_standby_sim_card
          - disable
          - set_standby
          example: enable
          readOnly: true
          type: string
        created_at:
          $ref: '#/components/schemas/wireless_CreatedAt'
        id:
          $ref: '#/components/schemas/wireless_Id'
        record_type:
          example: sim_card_action
          readOnly: true
          type: string
        settings:
          additionalProperties: true
          description: A JSON object representation of the action params.
          example: {}
          readOnly: true
          type:
          - object
          - 'null'
        sim_card_id:
          description: The related SIM card identifier.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          readOnly: true
          type: string
        status:
          properties:
            reason:
              description: It describes why the SIM card action is in the current status. This will be <code>null</code> for self-explanatory statuses, such as <code>in-progress</code> and <code>completed</code> but will include further information on statuses like <code>interrupted</code> and <code>failed</code>.
              example: The data limit was exceeded.
              readOnly: true
              type: string
            value:
              description: The current status of the SIM card action.
              enum:
              - in-progress
              - completed
              - failed
              - interrupted
              example: completed
              readOnly: true
              type: string
          type: object
        updated_at:
          $ref: '#/components/schemas/wireless_UpdatedAt'
      title: SIMCardAction
      type: object
    SIMCardRegistration:
      properties:
        registration_codes:
          example:
          - '0000000001'
          - '0000000002'
          - '0000000003'
          items:
            type: string
          type: array
        sim_card_group_id:
          description: The group SIMCardGroup identification. This attribute can be <code>null</code> when it's present in an associated resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          type: string
        status:
          default: enabled
          description: Status on which the SIM card will be set after being successful registered.
          enum:
          - enabled
          - disabled
          - standby
          example: standby
          type: string
        tags:
          description: Searchable tags associated with the SIM card
          example:
          - personal
          - customers
          - active-customers
          items:
            type: string
          type: array
      required:
      - registration_codes
      title: SIMCardRegistration
      type: object
    SIMCardStatus:
      properties:
        reason:
          description: It describes why the SIM card is in the current status.
          example: The SIM card is active, ready to connect to networks and consume data.
          readOnly: true
          type: string
        value:
          description: "The current status of the SIM card. It will be one of the following: <br/>\n<ul>\n <li><code>registering</code> - the card is being registered</li>\n <li><code>enabling</code> - the card is being enabled</li>\n <li><code>enabled</code> - the card is enabled and ready for use</li>\n <li><code>disabling</code> - the card is being disabled</li>\n <li><code>disabled</code> - the card has been disabled and cannot be used</li>\n <li><code>data_limit_exceeded</code> - the card has exceeded its data consumption limit</li>\n <li><code>setting_standby</code> - the process to set the card in stand by is in progress</li>\n <li><code>standby</code> - the card is in stand by</li>\n</ul>\nTransitioning between the enabled and disabled states may take a period of time.\n"
          enum:
          - registering
          - enabling
          - enabled
          - disabling
          - disabled
          - data_limit_exceeded
          - setting_standby
          - standby
          example: enabled
          readOnly: true
          type: string
      type: object
    SIMCardRegistrationCodeValidation:
      properties:
        invalid_detail:
          description: The validation message
          example: This code has already been used.
          type:
          - string
          - 'null'
        record_type:
          example: sim_card_registration_code_validation
          type: string
        registration_code:
          description: The 10-digit SIM card registration code
          example: 0123456789
          type: string
        valid:
          description: The attribute that denotes whether the code is valid or not
          example: false
          type: boolean
      type: object
    ESimPurchase:
      properties:
        amount:
          description: The amount of eSIMs to be purchased.
          example: 10
          minimum: 1
          type: integer
        product:
          description: Type of product to be purchased, specify "whitelabel" to use a custom SPN
          example: whitelabel
          type: string
        sim_card_group_id:
          description: The group SIMCardGroup identification. This attribute can be <code>null</code> when it's present in an associated resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          type: string
        status:
          default: enabled
          description: Status on which the SIM cards will be set after being successfully registered.
          enum:
          - enabled
          - disabled
          - standby
          example: standby
          type: string
        tags:
          description: Searchable tags associated with the SIM cards
          example:
          - personal
          - customers
          - active-customers
          items:
            type: string
          type: array
        whitelabel_name:
          description: Service Provider Name (SPN) for the Whitelabel eSIM product. It will be displayed as the mobile service name by operating systems of smartphones. This parameter must only contain letters, numbers and whitespaces.
          example: Custom SPN
          type: string
      required:
      - amount
      title: SIMCardRegistration
      type: object
    PaginationMeta:
      properties:
        page_number:
          example: 2
          type: integer
        page_size:
          example: 25
          type: integer
        total_pages:
          example: 3
          type: integer
        total_results:
          example: 55
          type: integer
      type: object
    WirelessConnectivityLog:
      description: This object represents a wireless connectivity session log that happened through a SIM card. It aids in finding out potential problems when the SIM is not able to attach properly.
      properties:
        apn:
          description: The Access Point Name (APN) identifies the packet data network that a mobile data user wants to communicate with.
          example: data00.telnyx
          readOnly: true
          type: string
        cell_id:
          description: The cell ID to which the SIM connected.
          example: 311210-6813
          readOnly: true
          type: string
        created_at:
          description: ISO 8601 formatted date-time indicating when the record was created.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        id:
          description: Uniquely identifies the session.
          example: 137509451
          readOnly: true
          type: integer
        imei:
          description: The International Mobile Equipment Identity (or IMEI) is a number, usually unique, that identifies the device currently being used connect to the network.
          example: '490154203237518'
          readOnly: true
          type: string
        imsi:
          description: 'SIM cards are identified on their individual network operators by a unique International Mobile Subscriber Identity (IMSI). <br/>

            Mobile network operators connect mobile phone calls and communicate with their market SIM cards using their IMSIs. The IMSI is stored in the Subscriber  Identity Module (SIM) inside the device and is sent by the device to the appropriate network. It is used to acquire the details of the device in the Home  Location Register (HLR) or the Visitor Location Register (VLR).

            '
          example: 081932214823362973
          readOnly: true
          type: string
        ipv4:
          description: 'The SIM''s address in the currently connected network. This IPv4 address is usually obtained dynamically, so it may vary according to the location or new connections.

            '
          example: 192.168.0.0
          readOnly: true
          type: string
        ipv6:
          description: 'The SIM''s address in the currently connected network. This IPv6 address is usually obtained dynamically, so it may vary according to the location or new connections.

            '
          example: 2001:cdba:0000:0000:0000:0000:3257:9652
          readOnly: true
          type: string
        last_seen:
          description: ISO 8601 formatted date-time indicating when the last heartbeat to the device was successfully recorded.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        log_type:
          description: The type of the session, 'registration' being the initial authentication session and 'data' the actual data transfer sessions.
          enum:
          - registration
          - data
          example: registration
          readOnly: true
          type: string
        mobile_country_code:
          description: 'It''s a three decimal digit that identifies a country.<br/><br/>

            This code is commonly seen joined with a Mobile Network Code (MNC) in a tuple that allows identifying a carrier known as PLMN (Public Land Mobile Network) code.'
          example: '310'
          readOnly: true
          type: string
        mobile_network_code:
          description: "It's a two to three decimal digits that identify a network.<br/><br/>\n This code is commonly seen joined with a Mobile Country Code (MCC) in a tuple that allows identifying a carrier known as PLMN (Public Land Mobile Network) code."
          example: '410'
          readOnly: true
          type: string
        radio_access_technology:
          description: The radio technology the SIM card used during the session.
          example: LTE
          readOnly: true
          type: string
        record_type:
          example: wireless_connectivity_log
          readOnly: true
          type: string
        sim_card_id:
          description: The identification UUID of the related SIM card resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          type: string
        start_time:
          description: ISO 8601 formatted date-time indicating when the session started.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        state:
          description: The state of the SIM card after when the session happened.
          example: provisioned
          readOnly: true
          type: string
        stop_time:
          description: ISO 8601 formatted date-time indicating when the session ended.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
      title: WirelessConnectivityLog
      type: object
    SIMCardRegistrationCodeValidations:
      properties:
        data:
          items:
            $ref: '#/components/schemas/SIMCardRegistrationCodeValidation'
          type: array
      type: object
    SIMCard:
      properties:
        actions_in_progress:
          default: false
          description: Indicate whether the SIM card has any pending (in-progress) actions.
          example: true
          readOnly: true
          type: boolean
        authorized_imeis:
          description: List of IMEIs authorized to use a given SIM card.
          example:
          - '106516771852751'
          - '534051870479563'
          - '508821468377961'
          items:
            type: string
          type:
          - array
          - 'null'
        created_at:
          description: ISO 8601 formatted date-time indicating when the resource was created.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        current_billing_period_consumed_data:
          description: The SIM card consumption so far in the current billing cycle.
          properties:
            amount:
              example: '2049.0'
              type: string
            unit:
              default: MB
              example: MB
              type: string
          readOnly: true
          type: object
        current_device_location:
          description: Current physical location data of a given SIM card. Accuracy is given in meters.
          properties:
            accuracy:
              example: 1250
              type: integer
            accuracy_unit:
              default: m
              example: m
              type: string
            latitude:
              example: '41.143'
              type: string
            longitude:
              example: '-8.605'
              type: string
          readOnly: true
          type: object
        current_imei:
          description: IMEI of the device where a given SIM card is currently being used.
          example: '457032284023794'
          readOnly: true
          type: string
        current_mcc:
          description: 'Mobile Country Code of the current network to which the SIM card is connected. It''s a three decimal digit that identifies a country.<br/><br/>

            This code is commonly seen joined with a Mobile Network Code (MNC) in a tuple that allows identifying a carrier known as PLMN (Public Land Mobile Network) code.'
          example: '410'
          readOnly: true
          type: string
        current_mnc:
          description: "Mobile Network Code of the current network to which the SIM card is connected. It's a two to three decimal digits that identify a network.<br/><br/>\n This code is commonly seen joined with a Mobile Country Code (MCC) in a tuple that allows identifying a carrier known as PLMN (Public Land Mobile Network) code."
          example: '260'
          readOnly: true
          type: string
        data_limit:
          description: The SIM card individual data limit configuration.
          properties:
            amount:
              example: '2048.1'
              type: string
            unit:
              enum:
              - MB
              - GB
              example: MB
              type: string
          type: object
        eid:
          description: The Embedded Identity Document (eID) for eSIM cards.
          example: null
          readOnly: true
          type:
          - string
          - 'null'
        esim_installation_status:
          description: The installation status of the eSIM. Only applicable for eSIM cards.
          enum:
          - released
          - disabled
          example: released
          readOnly: true
          type:
          - string
          - 'null'
        iccid:
          description: 'The ICCID is the identifier of the specific SIM card/chip. Each SIM is internationally identified by its integrated circuit card identifier (ICCID). ICCIDs are stored in the SIM card''s memory and are also engraved or printed on the SIM card body during a process called personalization.

            '
          example: '89310410106543789301'
          readOnly: true
          type: string
        id:
          description: Identifies the resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          readOnly: true
          type: string
        imsi:
          description: 'SIM cards are identified on their individual network operators by a unique International Mobile Subscriber Identity (IMSI). <br/>

            Mobile network operators connect mobile phone calls and communicate with their market SIM cards using their IMSIs. The IMSI is stored in the Subscriber  Identity Module (SIM) inside the device and is sent by the device to the appropriate network. It is used to acquire the details of the device in the Home  Location Register (HLR) or the Visitor Location Register (VLR).

            '
          example: 081932214823362973
          readOnly: true
          type: string
        ipv4:
          description: 'The SIM''s address in the currently connected network. This IPv4 address is usually obtained dynamically, so it may vary according to the location or new connections.

            '
          example: 192.168.0.0
          readOnly: true
          type: string
        ipv6:
          description: 'The SIM''s address in the currently connected network. This IPv6 address is usually obtained dynamically, so it may vary according to the location or new connections.

            '
          example: 2001:cdba:0000:0000:0000:0000:3257:9652
          readOnly: true
          type: string
        live_data_session:
          description: Indicates whether the device is actively connected to a network and able to run data.
          enum:
          - connected
          - disconnected
          - unknown
          example: connected
          readOnly: true
          type: string
        msisdn:
          description: 'Mobile Station International Subscriber Directory Number (MSISDN) is a number used to identify a mobile phone number internationally. <br/>

            MSISDN is defined by the E.164 numbering plan. It includes a country code and a National Destination Code which identifies the subscriber''s operator.

            '
          example: '+13109976224'
          readOnly: true
          type: string
        pin_puk_codes:
          description: PIN and PUK codes for the SIM card. Only available when include_pin_puk_codes=true is set in the request.
          properties:
            pin1:
              description: The primary Personal Identification Number (PIN) for the SIM card. This is a 4-digit code used to protect the SIM card from unauthorized use.
              example: '1234'
              readOnly: true
              type: string
            pin2:
              description: The secondary Personal Identification Number (PIN2) for the SIM card. This is a 4-digit code used for additional security features.
              example: '5678'
              readOnly: true
              type: string
            puk1:
              description: The primary Personal Unblocking Key (PUK1) for the SIM card. This is an 8-digit code used to unlock the SIM card if PIN1 is entered incorrectly multiple times.
              example: '12345678'
              readOnly: true
              type: string
            puk2:
              description: The secondary Personal Unblocking Key (PUK2) for the SIM card. This is an 8-digit code used to unlock the SIM card if PIN2 is entered incorrectly multiple times.
              example: '87654321'
              readOnly: true
              type: string
          readOnly: true
          type: object
        record_type:
          example: sim_card
          readOnly: true
          type: string
        resources_with_in_progress_actions:
          description: List of resources with actions in progress.
          example: []
          items:
            type: object
          readOnly: true
          type: array
        sim_card_group_id:
          description: The group SIMCardGroup identification. This attribute can be <code>null</code> when it's present in an associated resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          type: string
        status:
          $ref: '#/components/schemas/SIMCardStatus'
        tags:
          description: Searchable tags associated with the SIM card
          example:
          - personal
          - customers
          - active-customers
          items:
            type: string
          type: array
        type:
          description: The type of SIM card
          enum:
          - physical
          - esim
          example: physical
          readOnly: true
          type: string
        updated_at:
          description: ISO 8601 formatted date-time indicating when the resource was updated.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        version:
          description: The version of the SIM card.
          example: '4.3'
          readOnly: true
          type: string
        voice_enabled:
          default: false
          description: Indicates whether voice services are enabled for the SIM card.
          example: false
          readOnly: true
          type: boolean
      title: SIMCard
      type: object
    SimCardDataUsageNotification:
      description: The SIM card individual data usage notification information.
      example:
        created_at: '2018-02-02T22:25:27.521Z'
        id: 79228acc-3f08-4e70-ac68-cb5aae8b537a
        sim_card_id: b34c1683-cd85-4493-b9a5-315eb4bc5e19
        threshold:
          amount: '2048.0'
          unit: MB
        updated_at: '2018-02-02T22:25:27.521Z'
      properties:
        created_at:
          description: ISO 8601 formatted date-time indicating when the resource was created.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        id:
          description: Identifies the resource.
          example: 79228acc-3f08-4e70-ac68-cb5aae8b537a
          format: uuid
          readOnly: true
          type: string
        record_type:
          example: sim_card_data_usage_notification
          readOnly: true
          type: string
        sim_card_id:
          description: The identification UUID of the related SIM card resource.
          example: b34c1683-cd85-4493-b9a5-315eb4bc5e19
          format: uuid
          type: string
        threshold:
          description: Data usage threshold that will trigger the notification.
          properties:
            amount:
              example: '2048.1'
              type: string
            unit:
              enum:
              - MB
              - GB
              example: MB
              type: string
          type: object
        updated_at:
          description: ISO 8601 formatted date-time indicating when the resource was updated.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
      type: object
    wireless_UpdatedAt:
      description: ISO 8601 formatted date-time indicating when the resource was updated.
      example: '2018-02-02T22:25:27.521Z'
      readOnly: true
      type: string
    SIMCardPublicIP:
      properties:
        created_at:
          description: ISO 8601 formatted date-time indicating when the resource was created.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        ip:
          default: null
          description: The provisioned IP address. This attribute will only be available when underlying resource status is in a "provisioned" status.
          example: 192.168.0.0
          readOnly: true
          type: string
        record_type:
          example: sim_card_public_ip
          readOnly: true
          type: string
        region_code:
          example: dc2
          readOnly: true
          type: string
        sim_card_id:
          example: 6b14e151-8493-4fa1-8664-1cc4e6d14158
          format: uuid
          type: string
        type:
          default: ipv4
          enum:
          - ipv4
          example: ipv4
          readOnly: true
          type: string
        updated_at:
          description: ISO 8601 formatted date-time indicating when the resource was updated.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
      title: SIMCardPublicIP
      type: object
    SIMCardDeviceDetails:
      properties:
        brand_name:
          description: Brand of the device where the SIM card is being used in.
          example: Apple
          readOnly: true
          type: string
        device_type:
          description: Type of the device where the SIM card is being used in.
          example: Tablet
          readOnly: true
          type: string
        imei:
          description: IMEI of the device where the SIM card is being used in.
          example: '457032284023794'
          readOnly: true
          type: string
        model_name:
          description: Brand of the device where the SIM card is being used in.
          example: iPad Pro 11 2020 Cellular
          readOnly: true
          type: string
        operating_system:
          description: Operating system of the device where the SIM card is being used in.
          example: iOS 12
          readOnly: true
          type: string
        record_type:
          example: device_details
          readOnly: true
          type: string
      title: SIMCardDeviceDetails
      type: object
    wireless_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/wireless_Error'
          type: array
      type: object
    wireless_CreatedAt:
      description: ISO 8601 formatted date-time indicating when the resource was created.
      example: '2018-02-02T22:25:27.521Z'
      readOnly: true
      type: string
    SimpleSIMCard:
      properties:
        actions_in_progress:
          default: false
          description: Indicate whether the SIM card has any pending (in-progress) actions.
          example: true
          readOnly: true
          type: boolean
        authorized_imeis:
          description: List of IMEIs authorized to use a given SIM card.
          example:
          - '106516771852751'
          - '534051870479563'
          - '508821468377961'
          items:
            type: string
          type:
          - array
          - 'null'
        created_at:
          description: ISO 8601 formatted date-time indicating when the resource was created.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        current_billing_period_consumed_data:
          description: The SIM card consumption so far in the current billing cycle.
          properties:
            amount:
              example: '2049.0'
              type: string
            unit:
              default: MB
              example: MB
              type: string
          readOnly: true
          type: object
        data_limit:
          description: The SIM card individual data limit configuration.
          properties:
            amount:
              example: '2048.0'
              type: string
            unit:
              enum:
              - MB
              - GB
              example: MB
              type: string
          readOnly: true
          type: object
        eid:
          description: The Embedded Identity Document (eID) for eSIM cards.
          example: null
          readOnly: true
          type:
          - string
          - 'null'
        esim_installation_status:
          description: The installation status of the eSIM. Only applicable for eSIM cards.
          enum:
          - released
          - disabled
          example: released
          readOnly: true
          type:
          - string
          - 'null'
        iccid:
          description: 'The ICCID is the identifier of the specific SIM card/chip. Each SIM is internationally identified by its integrated circuit card identifier (ICCID). ICCIDs are stored in the SIM card''s memory and are also engraved or printed on the SIM card body during a process called personalization.

            '
          example: '89310410106543789301'
          readOnly: true
          type: string
        id:
          description: Identifies the resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          readOnly: true
          type: string
        imsi:
          description: 'SIM cards are identified on their individual network operators by a unique International Mobile Subscriber Identity (IMSI). <br/>

            Mobile network operators connect mobile phone calls and communicate with their market SIM cards using their IMSIs. The IMSI is stored in the Subscriber  Identity Module (SIM) inside the device and is sent by the device to the appropriate network. It is used to acquire the details of the device in the Home  Location Register (HLR) or the Visitor Location Register (VLR).

            '
          example: 081932214823362973
          readOnly: true
          type: string
        msisdn:
          description: 'Mobile Station International Subscriber Directory Number (MSISDN) is a number used to identify a mobile phone number internationally. <br/>

            MSISDN is defined by the E.164 numbering plan. It includes a country code and a National Destination Code which identifies the subscriber''s operator.

            '
          example: '+13109976224'
          readOnly: true
          type: string
        record_type:
          example: sim_card
          readOnly: true
          type: string
        resources_with_in_progress_actions:
          description: List of resources with actions in progress.
          example: []
          items:
            type: object
          readOnly: true
          type: array
        sim_card_group_id:
          description: The group SIMCardGroup identification. This attribute can be <code>null</code> when it's present in an associated resource.
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
          format: uuid
          type: string
        status:
          $ref: '#/components/schemas/SIMCardStatus'
        tags:
          description: Searchable tags associated with the SIM card
          example:
          - personal
          - customers
          - active-customers
          items:
            type: string
          type: array
        type:
          description: The type of SIM card
          enum:
          - physical
          - esim
          example: physical
          readOnly: true
          type: string
        updated_at:
          description: ISO 8601 formatted date-time indicating when the resource was updated.
          example: '2018-02-02T22:25:27.521Z'
          readOnly: true
          type: string
        version:
          description: The version of the SIM card.
          example: '4.3'
          readOnly: true
          type: string
        voice_enabled:
          default: false
          description: Indicates whether voice services are enabled for the SIM card.
          example: false
          readOnly: true
          type: boolean
      title: SIMCard
      type: object
    wireless_CreatedAt_c5290d5308:
      type: string
      description: ISO 8601 formatted date-time indicating when the resource was created.
      readOnly: true
      example: '2018-02-02T22:25:27.521Z'
    wireless_Id_c5290d5308:
      type: string
      format: uuid
      description: Identifies the resource.
      readOnly: true
      example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
    BulkSIMCardAction_2:
      type: object
      description: This object represents a bulk SIM card action. It groups SIM card actions created through a bulk endpoint under a single resource for further lookup.
      properties:
        id:
          $ref: '#/components/schemas/wireless_Id_c5290d5308'
        record_type:
          type: string
          example: bulk_sim_card_action
          readOnly: true
        action_type:
          type: string
          description: 'The action type. It can be one of the following: <br/>

            <ul>

            <li><code>bulk_disable_voice</code> - disable voice for every SIM Card in a SIM Card Group.</li>

            <li><code>bulk_enable_voice</code> - enable voice for every SIM Card in a SIM Card Group.</li>

            <li><code>bulk_set_public_ips</code> - set a public IP for each specified SIM Card.</li>

            </ul>'
          enum:
          - bulk_disable_voice
          - bulk_enable_voice
          - bulk_set_public_ips
          readOnly: true
          example: bulk_set_public_ips
        settings:
          type: object
          description: A JSON object representation of the bulk action payload.
          example: {}
          readOnly: true
          additionalProperties: true
        created_at:
          $ref: '#/components/schemas/wireless_CreatedAt_c5290d5308'
        updated_at:
          $ref: '#/components/schemas/wireless_UpdatedAt_c5290d5308'
    Errors:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/billing-group_Error'
      type: object
    wireless_SIMCardAction:
      type: object
      title: SIMCardAction
      description: This object represents a SIM card action. It allows tracking the current status of an operation that impacts the SIM card.
      properties:
        id:
          $ref: '#/components/schemas/wireless_Id_c5290d5308'
        record_type:
          type: string
          example: sim_card_action
          readOnly: true
        sim_card_id:
          type: string
          format: uuid
          description: The related SIM card identifier.
          readOnly: true
          example: 6a09cdc3-8948-47f0-aa62-74ac943d6c58
        action_type:
          type: string
          description: "The operation type. It can be one of the following: <br/>\n<ul>\n <li><code>enable</code> - move the SIM card to the <code>enabled</code> status</li>\n <li><code>enable_standby_sim_card</code> - move a SIM card previously on the <code>standby</code> status to the <code>enabled</code> status after it consumes data.</li>\n <li><code>disable</code> - move the SIM card to the <code>disabled</code> status</li>\n <li><code>set_standby</code> - move the SIM card to the <code>standby</code> status</li>\n <li><code>enable_voice</code> - enable voice calling on the SIM card</li>\n <li><code>disable_voice</code> - disable voice calling on the SIM card</li>\n </ul>"
          enum:
          - enable
          - enable_standby_sim_card
          - disable
          - set_standby
          - enable_voice
          - disable_voice
          readOnly: true
          example: enable
        status:
          type: object
          properties:
            value:
              type: string
              description: The current status of the SIM card action.
              enum:
              - in-progress
              - completed
              - failed
              - interrupted
              readOnly: true
              example: completed
            reason:
              type: string
              description: It describes why the SIM card action is in the current status. This will be <code>null</code> for self-explanatory statuses, such as <code>in-progress</code> and <code>completed</code> but will include further information on statuses like <code>interrupted</code> and <code>failed</code>.
              readOnly: true
              example: The data limit was exceeded.
        settings:
          type:
          - object
          - 'null'
          description: A JSON object representation of the action params.
          example: {}
          readOnly: true
          additionalProperties: true
        created_at:
          $ref: '#/components/schemas/wireless_CreatedAt_c5290d5308'
        updated_at:
          $ref: '#/components/schemas/wireless_UpdatedAt_c5290d5308'
    billing-group_Error:
      type: object
      required:
      - code
      - title
      properties:
        code:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          properties: {}
          additionalProperties: true
    wireless_UpdatedAt_c5290d5308:
      type: string
      description: ISO 8601 formatted date-time indicating when the resource was updated.
      readOnly: true
      example: '2018-02-02T22:25:27.521Z'
    wireless_Error_c5290d5308:
      required:
      - code
      - title
      properties:
        code:
          type: string
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          additionalProperties: true
      type: object
    documents_Error:
      required:
      - code
      - title
      properties:
        code:
          type: string
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          additionalProperties: true
      type: object
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
