openapi: 3.2.0
info:
  version: 2.0.0
  x-latency-category: responsive
  x-endpoint-cost: light
  title: Telnyx Noise Suppression Engines API
  description: SIP trunking, SMS, MMS, Call Control and Telephony Data Services.
  contact:
    email: support@telnyx.com
servers:
- url: https://api.telnyx.com/v2
  description: Version 2.0.0 of the Telnyx API
security:
- bearerAuth: []
tags:
- name: Noise Suppression Engines
  description: Noise suppression engines that can be selected when configuring noise suppression on voice connections.
paths:
  /noise_suppression_engines:
    get:
      summary: List available noise suppression engines
      description: Returns all noise suppression engines available to the authenticated user. Engines gated behind a feature flag are included only when the flag is enabled for the user's account. Results are not paginated; the number of engines is expected to remain small.
      operationId: listNoiseSuppressionEngines
      tags:
      - Noise Suppression Engines
      x-endpoint-cost: light
      x-latency-category: responsive
      responses:
        '200':
          description: A list of noise suppression engines available to the authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoiseSuppressionEnginesListResponse'
              example:
                data:
                - value: denoiser
                  label: Denoiser
                  default_attenuation_level: 0
                - value: deep_filter_net
                  label: DeepFilterNet
                  default_attenuation_level: 80
        '401':
          description: Unauthorized — the request did not carry valid Telnyx API credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                - code: '10009'
                  title: Authentication failed
                  detail: The required authentication headers were either invalid or not included in the request.
components:
  schemas:
    noise-suppression-engines_NoiseSuppressionEngine:
      type: object
      description: A noise suppression engine available to the authenticated user.
      properties:
        value:
          type: string
          description: Machine-readable identifier of the engine, used when configuring noise suppression.
          example: denoiser
        label:
          type: string
          description: Human-readable name of the engine.
          example: Denoiser
        default_attenuation_level:
          type: integer
          description: Default attenuation level of the engine (0-100, in multiples of ten).
          minimum: 0
          maximum: 100
          multipleOf: 10
          example: 0
      required:
      - value
      - label
      - default_attenuation_level
    NoiseSuppressionEnginesListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/noise-suppression-engines_NoiseSuppressionEngine'
      required:
      - data
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            required:
            - code
            - title
            properties:
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              meta:
                type: object
                properties:
                  url:
                    type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
      required:
      - errors
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    bearerAuth:
      type: http
      scheme: bearer
    branded-calling_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    oauthClientAuth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          tokenUrl: https://api.telnyx.com/v2/oauth/token
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
    outbound-voice-profiles_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    pronunciation-dicts_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    stored-payment-transactions_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-service-info:
  categories:
  - communication
  - developer-tools
  docs:
    apiReference: https://developers.telnyx.com
    homepage: https://telnyx.com
    llms: https://telnyx.com/llms.txt
