openapi: 3.2.0
info:
  title: Telnyx Requirement Groups API
  version: 2.0.0
  contact:
    email: support@telnyx.com
  x-endpoint-cost: light
  x-refined-note:
  - x-latency-category differs across the merged source definitions and was not carried
  description: 'Operations tagged Requirement Groups across 2 of this provider''s published API definitions: telnyx-openapi.yml, telnyx-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Version 2.0.0 of the Telnyx API
  url: https://api.telnyx.com/v2
security:
- bearerAuth: []
tags:
- description: Requirement Groups
  name: Requirement Groups
paths:
  /number_order_phone_numbers/{id}/requirement_group:
    post:
      operationId: updateNumberOrderPhoneNumberRequirementGroup
      parameters:
      - description: The unique identifier of the number order phone number
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                requirement_group_id:
                  description: The ID of the requirement group to associate
                  format: uuid
                  type: string
              required:
              - requirement_group_id
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/NumberOrderPhoneNumberRequirementGroupResponse'
                type: object
          description: Successful response with updated phone number order details
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Update requirement group for a phone number order
      tags:
      - Requirement Groups
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /requirement_groups:
    get:
      operationId: GetRequirementGroups
      parameters:
      - description: 'Consolidated filter parameter (deepObject style). Originally: filter[country_code], filter[phone_number_type], filter[action], filter[status], filter[customer_reference]'
        explode: true
        in: query
        name: filter
        schema:
          properties:
            action:
              description: Filter requirement groups by action type
              enum:
              - ordering
              - porting
              - action
              type: string
            country_code:
              description: Filter requirement groups by country code (iso alpha 2)
              type: string
            customer_reference:
              description: Filter requirement groups by customer reference
              type: string
            phone_number_type:
              description: Filter requirement groups by phone number type.
              enum:
              - local
              - toll_free
              - mobile
              - national
              - shared_cost
              type: string
            status:
              description: Filter requirement groups by status
              enum:
              - approved
              - unapproved
              - pending-approval
              - declined
              - expired
              type: string
          type: object
        style: deepObject
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RequirementGroup'
                type: array
          description: List requirement groups
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: List requirement groups
      tags:
      - Requirement Groups
      x-latency-category: responsive
    post:
      operationId: CreateRequirementGroup
      requestBody:
        content:
          application/json:
            schema:
              properties:
                action:
                  enum:
                  - ordering
                  - porting
                  example: ordering
                  type: string
                country_code:
                  description: ISO alpha 2 country code
                  example: US
                  type: string
                customer_reference:
                  example: My Requirement Group
                  type: string
                phone_number_type:
                  enum:
                  - local
                  - toll_free
                  - mobile
                  - national
                  - shared_cost
                  example: local
                  type: string
                regulatory_requirements:
                  items:
                    properties:
                      field_value:
                        type: string
                      requirement_id:
                        type: string
                    type: object
                  type: array
              required:
              - country_code
              - phone_number_type
              - action
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequirementGroup'
          description: Requirement group created
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Create a new requirement group
      tags:
      - Requirement Groups
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /requirement_groups/{id}:
    delete:
      operationId: DeleteRequirementGroup
      parameters:
      - description: ID of the requirement group
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequirementGroup'
          description: Deleted requirement group
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Delete a requirement group by ID
      tags:
      - Requirement Groups
      x-latency-category: responsive
    get:
      operationId: GetRequirementGroup
      parameters:
      - description: ID of the requirement group to retrieve
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequirementGroup'
          description: A single requirement group
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Get a single requirement group by ID
      tags:
      - Requirement Groups
      x-latency-category: responsive
    patch:
      operationId: UpdateRequirementGroup
      parameters:
      - description: ID of the requirement group
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                customer_reference:
                  description: Reference for the customer
                  example: '0002'
                  type: string
                regulatory_requirements:
                  items:
                    properties:
                      field_value:
                        description: New value for the regulatory requirement
                        example: new requirement value
                        type: string
                      requirement_id:
                        description: Unique identifier for the regulatory requirement
                        example: 53970723-fbff-4f46-a975-f62be6c1a585
                        type: string
                    type: object
                  type: array
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequirementGroup'
          description: Updated requirement group
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Update requirement values in requirement group
      tags:
      - Requirement Groups
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /requirement_groups/{id}/submit_for_approval:
    post:
      operationId: SubmitRequirementGroup
      parameters:
      - description: ID of the requirement group to submit
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequirementGroup'
          description: A single requirement group
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Submit a Requirement Group for Approval
      tags:
      - Requirement Groups
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /sub_number_orders/{id}/requirement_group:
    post:
      operationId: updateSubNumberOrderRequirementGroup
      parameters:
      - description: The ID of the sub number order
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            example:
              requirement_group_id: a4b201f9-8646-4e54-a7d2-b2e403eeaf8c
            schema:
              properties:
                requirement_group_id:
                  description: The ID of the requirement group to associate
                  format: uuid
                  type: string
              required:
              - requirement_group_id
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubNumberOrderRequirementGroupResponse'
          description: Sub number order requirement group updated successfully
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity'
        '500':
          $ref: '#/components/responses/numbers_GenericErrorResponse'
      summary: Update requirement group for a sub number order
      tags:
      - Requirement Groups
      x-latency-category: responsive
    servers:
    - description: Version 2.0.0 of the Telnyx API
      url: https://api.telnyx.com/v2
  /external_requirements/{regulatory_requirement_id}/sub_number_orders/{sub_number_order_id}:
    get:
      summary: Get action requirement details for a sub number order
      description: Returns the input fields an action requirement needs and the current requirement action for a sub number order. Action requirements are fulfilled by an external step rather than by uploading documents. Australia mobile ID verification is currently the only action requirement. Once a verification link has been generated, it is returned in `requirement_action.value`.
      operationId: getExternalRequirement
      tags:
      - Requirement Groups
      parameters:
      - name: regulatory_requirement_id
        in: path
        required: true
        description: The ID of the regulatory (action) requirement. For Australia mobile ID verification this is `b7c72fb8-fa08-4529-aaf6-b9117d3f3698`.
        schema:
          type: string
          format: uuid
      - name: sub_number_order_id
        in: path
        required: true
        description: The ID of the sub number order the requirement belongs to.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Action requirement details retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      regulatory_requirement_id:
                        type: string
                        format: uuid
                      fields_required:
                        type: array
                        description: The fields the end user must provide to fulfill this requirement.
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: The field name to send inside the `requirement` object on the POST.
                              example: first_name
                            type:
                              type: string
                              example: string
                            description:
                              type: string
                              example: First Name
                            value:
                              type:
                              - string
                              - 'null'
                              description: The value already stored for this field, or null if not yet provided.
                      requirement_action:
                        type: object
                        properties:
                          type:
                            type: string
                            description: The type of action the end user must complete.
                          value:
                            type:
                            - string
                            - 'null'
                            description: The action value. For ID verification this is the verification link URL, or null until it has been generated.
              example:
                data:
                  regulatory_requirement_id: a5b8f1d2-3c4e-4f6a-8b9c-0d1e2f3a4b5c
                  fields_required:
                  - name: first_name
                    type: string
                    description: First Name
                    value: null
                  - name: last_name
                    type: string
                    description: Last Name
                    value: null
                  requirement_action:
                    type: id_verification
                    value: null
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse_73c9788e53'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse_73c9788e53'
        '500':
          $ref: '#/components/responses/GenericErrorResponse'
    post:
      summary: Fulfill an action requirement for a sub number order
      description: Submits the end user's details to the external verification provider and returns the requirement action. Australia mobile ID verification is currently the only action requirement. It generates a unique Onfido verification link, returned in `requirement_action.value`, which you share with the end user. The end user's `first_name` and `last_name` must be nested inside a `requirement` object; sending them at the top level is rejected.
      operationId: createExternalRequirement
      tags:
      - Requirement Groups
      parameters:
      - name: regulatory_requirement_id
        in: path
        required: true
        description: The ID of the regulatory (action) requirement. For Australia mobile ID verification this is `b7c72fb8-fa08-4529-aaf6-b9117d3f3698`.
        schema:
          type: string
          format: uuid
      - name: sub_number_order_id
        in: path
        required: true
        description: The ID of the sub number order the requirement belongs to.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - requirement
              properties:
                requirement:
                  type: object
                  description: The end user's identity details for the action requirement. Australia mobile ID verification is currently the only action requirement. It requires `first_name` and `last_name`, the same fields the corresponding GET lists in `fields_required`.
                  required:
                  - first_name
                  - last_name
                  properties:
                    first_name:
                      type: string
                      description: The end user's first name.
                    last_name:
                      type: string
                      description: The end user's last name.
            example:
              requirement:
                first_name: Jane
                last_name: Doe
      responses:
        '200':
          description: Action requirement submitted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      sub_order_id:
                        type: string
                        format: uuid
                      regulatory_requirement_id:
                        type: string
                        format: uuid
                      requirement_action:
                        type: object
                        properties:
                          type:
                            type: string
                          value:
                            type:
                            - string
                            - 'null'
                            description: For Australia mobile ID verification, the unique Onfido verification link to share with the end user.
              example:
                data:
                  sub_order_id: 5f8e6b1a-2d3c-4e5f-9a0b-1c2d3e4f5a6b
                  regulatory_requirement_id: a5b8f1d2-3c4e-4f6a-8b9c-0d1e2f3a4b5c
                  requirement_action:
                    type: id_verification
                    value: https://verify.onfido.com/v/8f3c2a1b-9d4e-4f6a-8b9c-0d1e2f3a4b5c
        '400':
          $ref: '#/components/responses/numbers_BadRequestResponse_73c9788e53'
        '401':
          $ref: '#/components/responses/numbers_UnauthorizedResponse_73c9788e53'
        '404':
          $ref: '#/components/responses/numbers_NotFoundResponse_73c9788e53'
        '422':
          $ref: '#/components/responses/numbers_UnprocessableEntity_73c9788e53'
        '500':
          $ref: '#/components/responses/GenericErrorResponse'
    servers:
    - url: https://api.telnyx.com/v2
      description: Version 2.0.0 of the Telnyx API
components:
  schemas:
    RegulatoryRequirement:
      properties:
        field_type:
          type: string
        record_type:
          type: string
        requirement_id:
          format: uuid
          type: string
      type: object
    NumberOrderPhoneNumberRequirementGroupResponse:
      properties:
        bundle_id:
          format: uuid
          type:
          - string
          - 'null'
        country_code:
          example: AT
          type: string
        deadline:
          format: date-time
          type: string
        id:
          example: 613d517a-0432-4bae-a785-c11033bd0985
          format: uuid
          type: string
        is_block_number:
          example: false
          type: boolean
        locality:
          example: AUSTRIA
          type: string
        order_request_id:
          example: a11d58fe-88a4-494a-b752-8dea411993c6
          format: uuid
          type: string
        phone_number:
          example: '+43800300238'
          type: string
        phone_number_type:
          example: toll_free
          type: string
        record_type:
          example: number_order_phone_number
          type: string
        regulatory_requirements:
          items:
            properties:
              field_type:
                example: textual
                type: string
              field_value:
                example: '1234567890'
                type: string
              requirement_id:
                format: uuid
                type: string
              status:
                example: pending-approval
                type: string
            type: object
          type: array
        requirements_met:
          example: false
          type: boolean
        requirements_status:
          example: requirement-info-under-review
          type: string
        status:
          example: pending
          type: string
        sub_number_order_id:
          example: f826ed66-b27c-4340-9dc0-57dc3459f1bd
          format: uuid
          type: string
      type: object
    RequirementGroup:
      properties:
        action:
          type: string
        country_code:
          type: string
        created_at:
          format: date-time
          type: string
        customer_reference:
          type: string
        id:
          type: string
        phone_number_type:
          type: string
        record_type:
          example: requirement_group
          type: string
        regulatory_requirements:
          items:
            $ref: '#/components/schemas/UserRequirement'
          type: array
        status:
          enum:
          - approved
          - unapproved
          - pending-approval
          - declined
          - expired
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    UserRequirement:
      properties:
        created_at:
          format: date-time
          type: string
        expires_at:
          format: date-time
          type: string
        field_type:
          type: string
        field_value:
          type: string
        requirement_id:
          type: string
        status:
          enum:
          - approved
          - unapproved
          - pending-approval
          - declined
          - expired
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    numbers_Errors:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/numbers_Error'
          type: array
      type: object
    numbers_Error:
      properties:
        code:
          example: '10007'
          type: string
        detail:
          example: An unexpected error occured.
          type: string
        meta:
          properties:
            url:
              description: URL with additional information on the error.
              example: https://developers.telnyx.com/docs/overview/errors/10015
              type: string
          type: object
        source:
          properties:
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              example: /base
              type: string
          type: object
        title:
          example: Unexpected error
          type: string
      type: object
    SubNumberOrderRequirementGroupResponse:
      example:
        data:
          country_code: AT
          created_at: '2018-01-01T00:00:00.000000Z'
          customer_reference: missing
          id: f826ed66-b27c-4340-9dc0-57dc3459f1bd
          is_block_sub_number_order: false
          order_request_id: a11d58fe-88a4-494a-b752-8dea411993c6
          phone_number_type: toll_free
          phone_numbers:
          - bundle_id: a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d
            country_code: AT
            id: 613d517a-0432-4bae-a785-c11033bd0985
            phone_number: '+43800300238'
            phone_number_type: toll_free
            record_type: number_order_phone_number
            regulatory_requirements:
            - field_type: textual
              field_value: '4804570924'
              requirement_id: 2708e569-696a-4fc7-9305-5fdb3eb9c7dd
              status: pending-approval
            requirements_met: false
            requirements_status: requirement-info-under-review
            status: pending
          phone_numbers_count: 1
          record_type: sub_number_order
          regulatory_requirements:
          - field_type: textual
            record_type: phone_number_regulatory_requirement
            requirement_id: 2708e569-696a-4fc7-9305-5fdb3eb9c7dd
          requirements_met: false
          status: pending
          updated_at: '2018-01-01T00:00:00.000000Z'
      properties:
        data:
          properties:
            country_code:
              type: string
            created_at:
              format: date-time
              type: string
            customer_reference:
              type: string
            id:
              format: uuid
              type: string
            is_block_sub_number_order:
              type: boolean
            order_request_id:
              format: uuid
              type: string
            phone_number_type:
              type: string
            phone_numbers:
              items:
                $ref: '#/components/schemas/SubNumberOrderPhoneNumber'
              type: array
            phone_numbers_count:
              type: integer
            record_type:
              type: string
            regulatory_requirements:
              items:
                $ref: '#/components/schemas/RegulatoryRequirement'
              type: array
            requirements_met:
              type: boolean
            status:
              type: string
            updated_at:
              format: date-time
              type: string
          type: object
      type: object
    SubNumberOrderPhoneNumber:
      properties:
        bundle_id:
          format: uuid
          type:
          - string
          - 'null'
        country_code:
          type: string
        id:
          format: uuid
          type: string
        phone_number:
          type: string
        phone_number_type:
          type: string
        record_type:
          type: string
        regulatory_requirements:
          items:
            properties:
              field_type:
                type: string
              field_value:
                type: string
              requirement_id:
                format: uuid
                type: string
              status:
                type: string
            type: object
          type: array
        requirements_met:
          type: boolean
        requirements_status:
          type: string
        status:
          type: string
      type: object
    Errors:
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/billing-group_Error'
      type: object
    billing-group_Error:
      type: object
      required:
      - code
      - title
      properties:
        code:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              description: JSON pointer (RFC6901) to the offending entity.
              type: string
            parameter:
              description: Indicates which query parameter caused the error.
              type: string
        meta:
          type: object
          properties: {}
          additionalProperties: true
  responses:
    numbers_GenericErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Unexpected error
    numbers_BadRequestResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Bad request, the request was unacceptable, often due to missing a required parameter.
    numbers_UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Unprocessable entity. Check the 'detail' field in response for details.
    numbers_NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: The requested resource doesn't exist.
    numbers_UnauthorizedResponse:
      content:
        application/json:
          examples:
            Authentication Failed:
              value:
                errors:
                - code: '10009'
                  detail: Could not understand the provided credentials.
                  meta:
                    url: https://developers.telnyx.com/docs/overview/errors/10009
                  title: Authentication failed
          schema:
            $ref: '#/components/schemas/numbers_Errors'
      description: Unauthorized
    numbers_BadRequestResponse_73c9788e53:
      description: Bad request, the request was unacceptable, often due to missing a required parameter.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    numbers_UnauthorizedResponse_73c9788e53:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
          examples:
            Authentication Failed:
              value:
                errors:
                - code: '10009'
                  title: Authentication failed
                  detail: Could not understand the provided credentials.
                  meta:
                    url: https://developers.telnyx.com/docs/overview/errors/10009
    GenericErrorResponse:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    numbers_UnprocessableEntity_73c9788e53:
      description: Unprocessable entity. Check the 'detail' field in response for details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    numbers_NotFoundResponse_73c9788e53:
      description: The requested resource doesn't exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
    branded-calling_bearerAuth:
      description: API key passed as a Bearer token in the Authorization header
      scheme: bearer
      type: http
    oauthClientAuth:
      description: OAuth 2.0 authentication for Telnyx API and MCP integrations
      flows:
        authorizationCode:
          authorizationUrl: https://api.telnyx.com/v2/oauth/authorize
          refreshUrl: https://api.telnyx.com/v2/oauth/token
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
        clientCredentials:
          scopes:
            admin: Administrative access to Telnyx resources
          tokenUrl: https://api.telnyx.com/v2/oauth/token
      type: oauth2
    outbound-voice-profiles_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    pronunciation-dicts_bearerAuth:
      description: Telnyx API v2 key. Obtain from https://portal.telnyx.com
      scheme: bearer
      type: http
    stored-payment-transactions_bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: 'Telnyx API key supplied as `Authorization: Bearer <token>`. In production, auth may be validated by the API gateway and forwarded via Telnyx auth headers.'
    Payment:
      type: apiKey
      in: header
      name: Authorization
      description: 'Machine Payment Protocol credential used on paid retries, sent as `Authorization: Payment ...`. Obtained by paying a challenge returned in the `WWW-Authenticate` header of a 402 response. This is not a Telnyx API key; initial challenge requests use standard bearer authentication instead.'
    agent-memory_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
    collections_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Collections and results are automatically scoped to the authenticated user's organization.
    number-reputation_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Generate one at https://portal.telnyx.com/#/app/api-keys.
    rcs-registration_bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
    transcriptions-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key. Results are automatically scoped to the authenticated user's organization.
    web-search_bearerAuth:
      type: http
      scheme: bearer
      description: Telnyx API key
x-refined-from:
- telnyx-openapi.yml
- telnyx-openapi.json
